Repository dianlight/srat: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-go-mod-replace, update-frontend-package-version, validate-links-format, check-changelog-format, format-markdown-basic, lint-markdown-basic

remove-go-mod-replace:
  name: Remove go.mod replace lines
  stages:
  - pre-commit
  entry: ./scripts/remove-go-mod-replace.sh
  language: system
  pass_filenames: true

update-frontend-package-version:
  name: Update frontend package.json version from git tag
  stages:
  - pre-commit
  entry: ./scripts/update-frontend-version.sh
  language: system
  pass_filenames: false

validate-links-format:
  name: Validate link formats
  entry: bash
  language: system
  args:
  - -c
  ...

check-changelog-format:
  name: Check CHANGELOG.md format
  entry: bash
  language: system
  args:
  - -c
  ...

format-markdown-basic:
  name: Basic markdown formatting
  entry: bash
  language: system
  args:
  - -c
  ...

lint-markdown-basic:
  name: Basic markdown linting
  entry: bash
  language: system
  args:
  - -c
  ...

feat: add SMB over QUIC support and system capabilities endpoint
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  backend/src/api/setting_test.go
  backend/src/api/system.go
  backend/src/api/system_test.go
  backend/src/dto/eventtypes_enums.go
  backend/src/dto/issueseverities_enums.go
  backend/src/dto/settings.go
  backend/src/dto/smartattributecodes_enums.go
  backend/src/dto/system_capabilities.go
  backend/src/dto/telemetrymodes_enums.go
  backend/src/dto/timemachinesupports_enums.go
  backend/src/dto/updatechannels_enums.go
  backend/src/dto/updateprocessstates_enums.go
  backend/src/internal/osutil/osutil.go
  backend/src/internal/osutil/osutil_test.go
  backend/src/templates/smb.gtpl
  backend/test/data/image.dmg
Due: none

✨ feat(fe+doc): add SMB over QUIC support and documentation
  CHANGELOG.md
  README.md
  docs/SMB_OVER_QUIC.md
  docs/SMB_OVER_QUIC_IMPLEMENTATION.md
  frontend/RTK_QUERY_CODEGEN_ISSUE.md
  frontend/src/pages/settings/Settings.tsx
  frontend/src/pages/settings/__tests__/Settings.test.tsx
  frontend/src/store/sratApi.ts
Due: validate-links-format, check-changelog-format, format-markdown-basic, lint-markdown-basic

Add QUIC capabilities to OpenAPI spec and update system tests
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  backend/src/api/system_test.go
Due: none

✨ feat(be+doc): enhance SMB over QUIC support and detection
  CHANGELOG.md
  backend/src/api/system.go
  backend/src/dto/eventtypes_enums.go
  backend/src/dto/issueseverities_enums.go
  backend/src/dto/smartattributecodes_enums.go
  backend/src/dto/system_capabilities.go
  backend/src/dto/telemetrymodes_enums.go
  backend/src/dto/timemachinesupports_enums.go
  backend/src/dto/updatechannels_enums.go
  backend/src/dto/updateprocessstates_enums.go
  backend/src/internal/osutil/osutil.go
  backend/src/internal/osutil/osutil_test.go
  backend/test/data/image.dmg
  docs/SMB_OVER_QUIC.md
  docs/SMB_OVER_QUIC_IMPLEMENTATION.md
  frontend/src/pages/settings/Settings.tsx
  frontend/src/store/sratApi.ts
Due: validate-links-format, check-changelog-format, format-markdown-basic, lint-markdown-basic

🔧 chore(dto): update generated comments in enum files
  backend/src/dto/eventtypes_enums.go
  backend/src/dto/issueseverities_enums.go
  backend/src/dto/smartattributecodes_enums.go
  backend/src/dto/telemetrymodes_enums.go
  backend/src/dto/timemachinesupports_enums.go
  backend/src/dto/updatechannels_enums.go
  backend/src/dto/updateprocessstates_enums.go
Due: none

🔧 chore(script): comment out unused gemini commands
  .devcontainer/updateContentCommand.sh
Due: none

fix: reorder X-Trace-Id parameter in OpenAPI documentation
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  backend/src/api/system.go
  frontend/bun.lockb
  frontend/package.json
Due: update-frontend-package-version

🔧 chore(fe): update API capabilities and fix codegen issue
  .devcontainer/updateContentCommand.sh
  README.md
  frontend/README.md
  frontend/RTK_QUERY_CODEGEN_ISSUE.md
  frontend/package.json
  frontend/src/store/sratApi.ts
Due: update-frontend-package-version, validate-links-format, format-markdown-basic, lint-markdown-basic

✨ feat(smb): add SMB over QUIC support and configuration
  backend/src/templates/smb.gtpl
  backend/test/data/smb.conf
Due: none

chore(docs): update TOC
  README.md
  docs/SMB_OVER_QUIC.md
  docs/SMB_OVER_QUIC_IMPLEMENTATION.md
Due: validate-links-format, format-markdown-basic, lint-markdown-basic

🎯 test: update coverage badges [skip ci]
  README.md
Due: validate-links-format, format-markdown-basic, lint-markdown-basic

Refactor SMB over QUIC support to remove libngtcp2 dependency
  CHANGELOG.md
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  backend/src/api/system.go
  backend/src/api/system_test.go
  backend/src/dto/system_capabilities.go
  backend/src/internal/osutil/osutil.go
  backend/src/internal/osutil/osutil_test.go
  docs/SMB_OVER_QUIC.md
  docs/SMB_OVER_QUIC_IMPLEMENTATION.md
  frontend/src/pages/settings/Settings.tsx
  frontend/src/store/sratApi.ts
Due: validate-links-format, check-changelog-format, format-markdown-basic, lint-markdown-basic

✨ feat(fe): add tests for DashboardActions and Volumes components
  frontend/src/pages/dashboard/__tests__/DashboardActions.test.tsx
  frontend/src/pages/volumes/__tests__/Volumes.test.tsx
Due: none

Add unit tests for DTOs and Home Assistant components
  backend/src/dto/disk_test.go
  backend/src/dto/enums_test.go
  backend/src/dto/issue_test.go
  backend/src/dto/mount_point_data_test.go
  backend/src/dto/settings_test.go
  backend/src/dto/smart_test.go
  backend/src/homeassistant/addons/addons_extended_test.go
  backend/src/homeassistant/core/core_extended_test.go
Due: none

Add extended tests for core API, host, mount, and resolution packages
  backend/src/homeassistant/core_api/core_api_extended_test.go
  backend/src/homeassistant/host/host_extended_test.go
  backend/src/homeassistant/mount/mount_extended_test.go
  backend/src/homeassistant/resolution/resolution_extended_test.go
Due: none

Add comprehensive tests for DTOs and repositories
  backend/src/api/shares_test.go
  backend/src/converter/converter_test.go
  backend/src/dto/additional_dto_test.go
  backend/src/dto/samba_status_test.go
  backend/src/dto/simple_dto_test.go
  backend/src/repository/mount_point_path_repository.go
  backend/src/repository/mount_point_path_repository_test.go
  backend/src/repository/property_repository_test.go
Due: none

✨ feat(be): add tests for Samba and User handlers
  backend/src/api/samba_test.go
  backend/src/api/system_test.go
  backend/src/api/users_test.go
Due: none

chore(docs): update TOC
  docs/SMB_OVER_QUIC.md
Due: validate-links-format, format-markdown-basic, lint-markdown-basic

✨ feat(be): enhance test coverage reporting
  .gitignore
  backend/Makefile
Due: none

✨ feat(doc): update coverage badges in README.md
  README.md
  scripts/update-coverage-badges.sh
Due: validate-links-format, format-markdown-basic, lint-markdown-basic

✨ feat(doc): add detailed test coverage report in TEST_COVERAGE.md
  README.md
  docs/TEST_COVERAGE.md
  scripts/update-coverage-badges.sh
Due: validate-links-format, format-markdown-basic, lint-markdown-basic

chore(docs): update TOC
  docs/TEST_COVERAGE.md
Due: validate-links-format, format-markdown-basic, lint-markdown-basic

✨ feat(doc): add backend test coverage improvement roadmap
  docs/COVERAGE_IMPROVEMENT_ROADMAP.md
  docs/TEST_COVERAGE.md
Due: validate-links-format, format-markdown-basic, lint-markdown-basic

✨ feat(be): add issue handler test suite
  backend/src/api/issue_test.go
Due: none

✨ feat(be): update issue resolution output and add telemetry tests
  backend/src/api/issue.go
  backend/src/api/issue_test.go
  backend/src/api/telemetry_test.go
Due: none

✨ feat(be): add upgrade handler test suite
  backend/src/api/upgrade_test.go
Due: none

✨ feat(be): add volume handler test suite
  backend/src/api/volumes_test.go
Due: none

✨ feat(be): add SSE and WebSocket handler test suites
  backend/src/api/sse_test.go
  backend/src/api/ws_test.go
Due: none

✨ feat(be): add volume handler test suite
  backend/src/api/volumes_extra_test.go
Due: none

✨ feat(be): add tests for UpdateHandler and GetUpdateChannels
  backend/src/api/upgrade_extra_test.go
Due: none

✨ feat(be): add WebSocket handler tests
  backend/src/api/upgrade_extra_test.go
  backend/src/api/ws_extra_test.go
Due: none

✨ feat(be): add health check and status handler tests
  backend/src/api/health_extra_test.go
  backend/src/api/volumes_extra_test.go
Due: none

chore: update documentation to improve table of contents formatting and consistency
  .cspell.json
  .github/copilot-instructions.md
  PRIVACY.md
  README.md
  SECURITY.md
  backend/NOTES.md
  backend/README.md
  backend/src/tlog/ENHANCEMENTS.md
  backend/src/tlog/LOGGER_USAGE.md
  backend/src/tlog/README.md
  backend/src/tlog/example/README.md
  docs/BUN_COMPATIBILITY.md
  docs/BUN_NODE_ALTERNATIVE.md
  docs/COVERAGE_IMPROVEMENT_ROADMAP.md
  docs/DOCUMENTATION_GUIDELINES.md
  docs/DOCUMENTATION_VALIDATION_SETUP.md
  docs/ENHANCED_BUN_MAKE_TARGETS.md
  docs/HOME_ASSISTANT_INTEGRATION.md
  docs/PPROF.md
  docs/REFACTOR_DISKVOLUME.md
  docs/ROLLBAR_REACT_MIGRATION.md
  docs/SMB_OVER_QUIC.md
  docs/SMB_OVER_QUIC_IMPLEMENTATION.md
  docs/TELEMETRY_CONFIGURATION.md
  docs/TELEMETRY_IMPLEMENTATION.md
  docs/TEST_COVERAGE.md
  docs/implementation/IMPLEMENTATION_PERSISTENT_NOTIFICATIONS.md
  docs/implementation/IMPLEMENTATION_REMOVED_DISKS.md
  docs/implementation/IMPLEMENTATION_SUMMARY.md
  docs/implementation/README.md
  frontend/GEMINI.md
  frontend/README.md
Due: validate-links-format, format-markdown-basic, lint-markdown-basic

✨ feat(be): add internal health run loop tests
  backend/src/api/health_run_internal_test.go
Due: none

✨ feat(be): add test hook for UpgradeHandler synchronization
  backend/src/api/upgrade.go
  backend/src/api/upgrade_extra_test.go
Due: none

✨ feat(ci): restructure documentation validation workflow
  .github/workflows/documentation.yml
Due: none

chore(docs): update TOC
  PRIVACY.md
  README.md
  SECURITY.md
  backend/NOTES.md
  backend/README.md
  backend/src/tlog/ENHANCEMENTS.md
  backend/src/tlog/LOGGER_USAGE.md
  backend/src/tlog/README.md
  backend/src/tlog/example/README.md
  docs/BUN_COMPATIBILITY.md
  docs/BUN_NODE_ALTERNATIVE.md
  docs/COVERAGE_IMPROVEMENT_ROADMAP.md
  docs/DOCUMENTATION_GUIDELINES.md
  docs/DOCUMENTATION_VALIDATION_SETUP.md
  docs/ENHANCED_BUN_MAKE_TARGETS.md
  docs/HOME_ASSISTANT_INTEGRATION.md
  docs/PPROF.md
  docs/REFACTOR_DISKVOLUME.md
  docs/ROLLBAR_REACT_MIGRATION.md
  docs/SMB_OVER_QUIC.md
  docs/SMB_OVER_QUIC_IMPLEMENTATION.md
  docs/TELEMETRY_CONFIGURATION.md
  docs/TELEMETRY_IMPLEMENTATION.md
  docs/TEST_COVERAGE.md
  docs/implementation/IMPLEMENTATION_PERSISTENT_NOTIFICATIONS.md
  docs/implementation/IMPLEMENTATION_REMOVED_DISKS.md
  docs/implementation/IMPLEMENTATION_SUMMARY.md
  docs/implementation/README.md
  frontend/GEMINI.md
  frontend/README.md
Due: validate-links-format, format-markdown-basic, lint-markdown-basic

✨ feat(be): add unit tests for ResolutionService
  README.md
  backend/src/service/resolution_service_test.go
  docs/TEST_COVERAGE.md
Due: validate-links-format, format-markdown-basic, lint-markdown-basic

Path conditions:
  remove-go-mod-replace: any of: ^backend/src/go\.mod$
  update-frontend-package-version: any of: ^frontend/package\.json$
  validate-links-format: any of: \.md$
  check-changelog-format: any of: ^CHANGELOG\.md$
  format-markdown-basic: any of: \.md$
  lint-markdown-basic: any of: \.md$
