Repository dianlight/srat: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-go-mod-replace, update-frontend-package-version, validate-links-format, check-changelog-format, format-markdown-basic, lint-markdown-basic

remove-go-mod-replace:
  name: Remove go.mod replace lines
  stages:
  - pre-commit
  entry: ./scripts/remove-go-mod-replace.sh
  language: system
  pass_filenames: true

update-frontend-package-version:
  name: Update frontend package.json version from git tag
  stages:
  - pre-commit
  entry: ./scripts/update-frontend-version.sh
  language: system
  pass_filenames: false

validate-links-format:
  name: Validate link formats
  entry: bash
  language: system
  args:
  - -c
  ...

check-changelog-format:
  name: Check CHANGELOG.md format
  entry: bash
  language: system
  args:
  - -c
  ...

format-markdown-basic:
  name: Basic markdown formatting
  entry: bash
  language: system
  args:
  - -c
  ...

lint-markdown-basic:
  name: Basic markdown linting
  entry: bash
  language: system
  args:
  - -c
  ...

✨ feat(be): add xfs specific mount flags support
  backend/src/service/filesystem_service.go
  backend/src/service/filesystem_service_test.go
Due: none

✨ feat(fe): update dependencies in package.json
  frontend/bun.lockb
  frontend/package.json
Due: update-frontend-package-version

🔧 fix(fe+test): update expectation for mount point visibility
  frontend/src/pages/shares/__tests__/ShareDetailsPanel.test.tsx
Due: none

🔧 fix(fe+test): mock fetch globally to prevent network calls
  frontend/test/setup.ts
Due: none

🔧 fix(be): remove unused `slog-http` patch and related commands
  backend/Makefile
  backend/patches/slog-http.patch
Due: none

🔧 fix(fe+test): wrap `render` calls in `act` for proper testing
  frontend/src/pages/shares/__tests__/ShareDetailsPanel.test.tsx
Due: none

🔧 fix(fe+test): simplify import of `ShareDetailsPanel`
  frontend/src/pages/shares/__tests__/ShareDetailsPanel.test.tsx
Due: none

🔧 fix(fe+test): update import path for `ShareDetailsPanel`
  frontend/src/pages/shares/__tests__/ShareDetailsPanel.test.tsx
Due: none

🔧 test(fe+test): add unit tests for `PartitionActions` component
  frontend/src/pages/users/__tests__/Users.test.tsx
  frontend/src/pages/volumes/components/__tests__/PartitionActions.test.tsx
Due: none

✨ feat(fe+test): add tests for `NavBar` and `Users` components
  frontend/src/components/__tests__/NavBar.test.tsx
  frontend/src/pages/users/__tests__/Users.test.tsx
  frontend/src/pages/volumes/__tests__/utils.test.ts
  frontend/src/store/__tests__/mdcSlice.test.ts
Due: none

Add unit tests for ExportedShare, Property, SambaUser, and SharedResource
  backend/src/dbom/exported_share_test.go
  backend/src/dbom/property_test.go
  backend/src/dbom/samba_user_test.go
  backend/src/dto/error_code_test.go
  backend/src/dto/shared_resource_test.go
  backend/src/dto/user_test.go
  backend/src/internal/osutil/osutil_test.go
  backend/src/server/http_server_test.go
  backend/src/tempio/template_test.go
  backend/test/data/image.dmg
Due: none

🔧 fix(be): update test command to use `-cover` flag
  backend/Makefile
Due: none

✨ feat(doc): add testing and coverage section to README
  README.md
  scripts/update-coverage-badges.sh
Due: validate-links-format, format-markdown-basic, lint-markdown-basic

🎯 feat(ci): add coverage badge update workflow
  .github/workflows/coverage-badges.yml
  .github/workflows/documentation.yml
Due: none

📝 chore: remove auto-generated Table of Contents from CHANGELOG
  CHANGELOG.md
Due: validate-links-format, check-changelog-format, format-markdown-basic, lint-markdown-basic

chore(docs): update TOC
  CHANGELOG.md
  README.md
Due: validate-links-format, check-changelog-format, format-markdown-basic, lint-markdown-basic

🔧 chore: update CHANGELOG and remove empty lines in GEMINI.md
  CHANGELOG.md
  README.md
  frontend/GEMINI.md
Due: validate-links-format, check-changelog-format, format-markdown-basic, lint-markdown-basic

📝 chore(docs): remove auto-generated Table of Contents from CHANGELOG
  CHANGELOG.md
Due: validate-links-format, check-changelog-format, format-markdown-basic, lint-markdown-basic

chore(docs): update TOC
  CHANGELOG.md
  frontend/GEMINI.md
Due: validate-links-format, check-changelog-format, format-markdown-basic, lint-markdown-basic

🔧 chore(ci): improve coverage badge update workflow
  .github/workflows/coverage-badges.yml
  .github/workflows/documentation.yml
Due: none

Revert "chore(docs): update TOC"
  CHANGELOG.md
  frontend/GEMINI.md
Due: validate-links-format, check-changelog-format, format-markdown-basic, lint-markdown-basic

📝 chore(doc): correct DOCTOC comment in CHANGELOG
  CHANGELOG.md
Due: validate-links-format, check-changelog-format, format-markdown-basic, lint-markdown-basic

chore(docs): update TOC
  frontend/GEMINI.md
Due: validate-links-format, format-markdown-basic, lint-markdown-basic

🔧 chore(ci): update workflows for improved build and coverage
  .github/workflows/build.yaml
  .github/workflows/coverage-badges.yml
  .github/workflows/documentation.yml
  AGENTS.md
  frontend/package.json
Due: update-frontend-package-version, validate-links-format, format-markdown-basic, lint-markdown-basic

🎯 test: update coverage badges [skip ci]
  README.md
Due: validate-links-format, format-markdown-basic, lint-markdown-basic

🔧 chore(fe): update Container maxWidth to false
  frontend/src/App.tsx
  frontend/src/components/NavBar.tsx
Due: none

🎉 feat(fe): enhance uptime metric display
  frontend/src/pages/dashboard/metrics/SystemMetricsAccordion.tsx
Due: none

🎨 feat(fe): improve layout of Samba Status metrics display
  frontend/src/pages/dashboard/metrics/SambaStatusMetricsAccordion.tsx
Due: none

🎨 feat(fe): enhance Process Metrics display with aggregation
  frontend/src/pages/dashboard/metrics/ProcessMetricsAccordion.tsx
Due: none

🎨 feat(fe): enhance VolumeDetailsPanel file system display
  frontend/src/pages/volumes/components/VolumeDetailsPanel.tsx
Due: none

🎨 feat(fe): remove view settings functionality from partitions
  frontend/src/pages/volumes/Volumes.tsx
  frontend/src/pages/volumes/components/PartitionActions.tsx
  frontend/src/pages/volumes/components/VolumesTreeView.tsx
  frontend/src/pages/volumes/components/__tests__/PartitionActions.test.tsx
  frontend/src/store/locationState.ts
Due: none

🎨 feat(fe): enhance button accessibility for collapsible sections
  frontend/src/pages/dashboard/__tests__/CollapsibleSections.test.tsx
Due: none

🎨 feat(fe): add mount point preview functionality
  frontend/src/pages/shares/components/ShareDetailsPanel.tsx
Due: none

🎨 feat(fe): add PreviewDialog functionality for StorageIcon
  frontend/src/pages/shares/__tests__/ShareDetailsPanel.test.tsx
Due: none

🎨 feat(fe): enhance ShareDetailsPanel with disabled state visuals
  frontend/src/pages/shares/__tests__/ShareDetailsPanel.test.tsx
  frontend/src/pages/shares/components/ShareDetailsPanel.tsx
Due: none

🎨 feat(fe): enhance ShareEditForm for internal share handling
  frontend/src/pages/shares/components/ShareEditForm.tsx
  frontend/src/pages/shares/components/__tests__/ShareEditForm.test.tsx
Due: none

🎨 feat(fe): enhance SharesTreeView to conditionally render share actions
  frontend/src/pages/shares/components/SharesTreeView.tsx
Due: none

🎨 feat(be): enhance share conversion logic for empty paths
  backend/src/api/shares_test.go
  backend/src/converter/converter_test.go
  backend/src/converter/dto_to_dbom_conv.go
Due: none

🎨 feat(fe+doc): update API integration instructions in documentation
  .github/copilot-instructions.md
Due: validate-links-format, format-markdown-basic, lint-markdown-basic

🎨 feat(doc): update API integration instructions for clarity
  .github/copilot-instructions.md
Due: validate-links-format, format-markdown-basic, lint-markdown-basic

Path conditions:
  remove-go-mod-replace: any of: ^backend/src/go\.mod$
  update-frontend-package-version: any of: ^frontend/package\.json$
  validate-links-format: any of: \.md$
  check-changelog-format: any of: ^CHANGELOG\.md$
  format-markdown-basic: any of: \.md$
  lint-markdown-basic: any of: \.md$
