Repository dianlight/srat: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-go-mod-replace, update-frontend-package-version, validate-links-format, check-changelog-format, format-markdown-basic, lint-markdown-basic

Path conditions:
  remove-go-mod-replace: any of: ^backend/src/go\.mod$
  update-frontend-package-version: any of: ^frontend/package\.json$
  validate-links-format: any of: \.md$
  check-changelog-format: any of: ^CHANGELOG\.md$
  format-markdown-basic: any of: \.md$
  lint-markdown-basic: any of: \.md$

✨ feat(tlog): reinitialize logger on log level change
  backend/src/cmd/srat-cli/main-cli.go
  backend/src/tlog/tlog.go
Due: none

✨ feat(hardware): add filesystem attributes to API
  backend/src/homeassistant/hardware.yaml
  backend/src/homeassistant/hardware/client.gen.go
Due: none

✨ feat(migrations): add device ID migration and update script
  .devcontainer/updateContentCommand.sh
  backend/src/dbom/db_config.go
  backend/src/dbom/migrations/00004_migrate_deviceid.go
  backend/src/dbom/migrations/00005_migrate_deviceid.sql
Due: none

✨ feat(db): log migration errors with detailed context
  backend/src/dbom/db_config.go
  backend/src/dbom/migrations/00004_migrate_deviceid.go
  docs/REFACTOR_DISKVOLUME.md
Due: validate-links-format, format-markdown-basic, lint-markdown-basic

✨ feat(migrations): add migration to drop `device` column
  backend/src/dbom/migrations/00005_migrate_deviceid.sql
  backend/src/dbom/migrations/00006_migrate_deviceid_drop_device.go
Due: none

🛠️ refactor(hardware): remove `PARTNAME` attribute from schema
  backend/src/homeassistant/hardware.yaml
  backend/src/homeassistant/hardware/client.gen.go
  backend/src/service/hardware_service.go
Due: none

🐛 fix(volumes): improve error logging in `UmountVolume`
  backend/src/api/volumes.go
Due: none

✨ feat(be): update logging and data handling in services
  backend/src/server/http_server.go
  backend/src/service/broadcaster_service.go
  backend/src/service/disk_stats_service.go
  backend/src/service/filesystem_service.go
  backend/src/service/volume_service.go
  backend/test/data/image.dmg
  frontend/bun.build.ts
  frontend/src/pages/volumes/Volumes.tsx
  frontend/src/pages/volumes/components/VolumeMountDialog.tsx
  frontend/src/store/sratApi.ts
Due: none

feat: Enhance disk stats and API documentation
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  backend/src/dto/disk_stats.go
  backend/src/service/disk_stats_service.go
  frontend/src/components/PreviewDialog.tsx
  frontend/src/pages/dashboard/metrics/DiskHealthMetrics.tsx
  frontend/src/pages/dashboard/metrics/SystemMetricsAccordion.tsx
  frontend/src/store/sratApi.ts
Due: none

✨ feat(doc): Add overview of agents and automated systems
  .github/copilot-instructions.md
  AGENTS.md
Due: validate-links-format, format-markdown-basic, lint-markdown-basic

Refactor OpenAPI documentation to reorder parameters and ensure consistency
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  backend/src/cmd/srat-cli/main-cli.go
  backend/src/cmd/srat-server/main-server.go
  backend/src/converter/config_to_dto.go
  backend/src/converter/mount_to_dbom.go
  backend/src/converter/mount_to_dbom_conv_gen.go
  backend/src/dto/filesystem_type.go
  backend/src/dto/filesystem_type_test.go
  backend/src/service/volume_service.go
  backend/src/service/volume_service_test.go
  frontend/src/pages/volumes/components/VolumeMountDialog.tsx
Due: none

🔄 chore(data): update binary image file
  backend/test/data/image.dmg
Due: none

✨ feat(fe): improve state handling and UI updates in shares
  frontend/src/components/NavBar.tsx
  frontend/src/pages/shares/ShareActions.tsx
  frontend/src/pages/shares/ShareEditDialog.tsx
  frontend/src/pages/shares/Shares.tsx
  frontend/src/pages/shares/utils.ts
Due: none

🔄 chore(fe+api): clean up console logs and improve code readability
  frontend/src/pages/shares/ShareEditDialog.tsx
  frontend/src/pages/volumes/components/VolumeMountDialog.tsx
  frontend/src/store/sseApi.ts
Due: none

🔄 chore(fe): update button variants to outlined style
  frontend/src/components/IssueCard.tsx
  frontend/src/components/PreviewDialog.tsx
  frontend/src/components/TelemetryModal.tsx
  frontend/src/pages/dashboard/components/ActionableItemsList.tsx
  frontend/src/pages/settings/Settings.tsx
  frontend/src/pages/shares/ShareEditDialog.tsx
  frontend/src/pages/users/UserEditDialog.tsx
  frontend/src/pages/volumes/components/VolumeMountDialog.tsx
Due: none

feat: Add ShareDetailsPanel, ShareEditForm, and SharesTreeView components
  frontend/src/pages/shares/ShareActions.tsx
  frontend/src/pages/shares/ShareEditDialog.tsx
  frontend/src/pages/shares/Shares.tsx
  frontend/src/pages/shares/components/ShareActions.tsx
  frontend/src/pages/shares/components/ShareDetailsPanel.tsx
  frontend/src/pages/shares/components/ShareEditForm.tsx
  frontend/src/pages/shares/components/SharesTreeView.tsx
  frontend/src/pages/shares/components/index.ts
Due: none

✨ feat(fe): update MUI Grid usage in documentation
  .github/copilot-instructions.md
Due: validate-links-format, format-markdown-basic, lint-markdown-basic

feat: Add VolumeDetailsPanel and VolumesTreeView components
  frontend/src/pages/volumes/Volumes.tsx
  frontend/src/pages/volumes/components/VolumeDetailsPanel.tsx
  frontend/src/pages/volumes/components/VolumesTreeView.tsx
  frontend/src/pages/volumes/components/index.ts
  frontend/src/pages/volumes/hooks/useVolumeAccordion.ts
Due: none

✨ feat(fe): enhance VolumeDetailsPanel with collapsible disk info
  frontend/src/pages/volumes/components/VolumeDetailsPanel.tsx
Due: none

✨ feat(fe): update ShareEditDialog and ShareEditForm
  frontend/src/pages/shares/ShareEditDialog.tsx
  frontend/src/pages/shares/Shares.tsx
  frontend/src/pages/shares/components/ShareEditForm.tsx
Due: none

✨ feat(fe): enhance ShareDetailsPanel and ShareEditForm
  frontend/src/pages/shares/components/ShareDetailsPanel.tsx
  frontend/src/pages/shares/components/ShareEditForm.tsx
Due: none

✨ feat(fe): enhance VolumeDetailsPanel with preview functionality
  frontend/src/pages/volumes/components/VolumeDetailsPanel.tsx
Due: none

🔧 chore(fe): update lint script for consistency
  frontend/package.json
Due: update-frontend-package-version

✨ feat(fe): enhance VolumeDetailsPanel with card layout
  frontend/src/pages/volumes/components/VolumeDetailsPanel.tsx
Due: none

✨ feat(fe): add test setup enforcement and shared setup files
  frontend/README.md
  frontend/bun.lockb
  frontend/package.json
  frontend/scripts/add-test-setup.js
  frontend/test/setup.cjs
  frontend/test/setup.ts
Due: update-frontend-package-version, validate-links-format, format-markdown-basic, lint-markdown-basic

✨ feat(fe): add test setup configuration and dependencies
  frontend/bun.lockb
  frontend/bunfig.toml
  frontend/package.json
  frontend/test/setup.ts
Due: update-frontend-package-version

✨ feat(fe): add additional extensions to devcontainer configuration
  .devcontainer/devcontainer.json
Due: none

✨ feat(fe): enhance Volumes component with localStorage support
  frontend/src/pages/volumes/Volumes.tsx
  frontend/src/pages/volumes/__tests__/Volumes.restore.test.tsx
  frontend/src/pages/volumes/components/VolumeMountDialog.tsx
  frontend/src/pages/volumes/components/VolumesTreeView.tsx
Due: none

🔧 chore(fe): update package dependencies
  frontend/bun.lockb
  frontend/package.json
Due: update-frontend-package-version

✨ feat(fe): enhance Shares component with localStorage support
  frontend/src/pages/shares/Shares.tsx
  frontend/src/pages/shares/__tests__/Shares.localStorage.test.tsx
  frontend/src/pages/shares/components/SharesTreeView.tsx
Due: none

✨ feat(doc): enhance testing documentation for frontend
  .github/copilot-instructions.md
Due: validate-links-format, format-markdown-basic, lint-markdown-basic

✨ feat(fe): enhance VolumeDetailsPanel with navigation to shares
  frontend/src/pages/volumes/components/VolumeDetailsPanel.tsx
Due: none

🔧 chore(fe): remove body-scroll-lock dependency
  frontend/bun.lockb
  frontend/package.json
  frontend/src/index.tsx
Due: update-frontend-package-version

✨ feat(fe): add MCP server configurations to devcontainer
  .devcontainer/devcontainer.json
Due: none

✨ feat(fe): add test coverage script to package.json
  frontend/package.json
Due: update-frontend-package-version

✨ feat(fe): add tests for FontAwesomeSvgIcon component
  frontend/src/components/FontAwesomeSvgIcon.tsx
  frontend/src/components/__tests__/FontAwesomeSvgIcon.test.tsx
Due: none

✨ feat(fe): add tests for IssueCard component
  frontend/src/components/__tests__/IssueCard.test.tsx
Due: none

✨ feat(fe): add initial state image for dashboard
  .playwright-mcp/dashboard-initial-state.png
Due: none

✨ feat(fe): add tests for Footer component
  frontend/src/components/__tests__/Footer.test.tsx
Due: none
