Repository dianlight/srat: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-go-mod-replace, update-frontend-package-version, validate-links-format, check-changelog-format, format-markdown-basic, lint-markdown-basic

remove-go-mod-replace:
  name: Remove go.mod replace lines
  stages:
  - pre-commit
  entry: ./scripts/remove-go-mod-replace.sh
  language: system
  pass_filenames: true

update-frontend-package-version:
  name: Update frontend package.json version from git tag
  stages:
  - pre-commit
  entry: ./scripts/update-frontend-version.sh
  language: system
  pass_filenames: false

validate-links-format:
  name: Validate link formats
  entry: bash
  language: system
  args:
  - -c
  ...

check-changelog-format:
  name: Check CHANGELOG.md format
  entry: bash
  language: system
  args:
  - -c
  ...

format-markdown-basic:
  name: Basic markdown formatting
  entry: bash
  language: system
  args:
  - -c
  ...

lint-markdown-basic:
  name: Basic markdown linting
  entry: bash
  language: system
  args:
  - -c
  ...

build: inline sourcemap for rollbar and minified for optimization
  frontend/bun.build.ts
Due: none

ci(backend): don't run test in parallel
  backend/Makefile
Due: none

ci(backend): test timeout
  backend/Makefile
Due: none

✨ feat(be): enhance SSE and OpenAPI configurations
  backend/Makefile
  backend/docs/openapi.yaml
  backend/src/api/sse.go
  backend/src/dto/event_type.go
  backend/src/dto/eventtypes_enums.go
  backend/src/dto/welcome.go
  backend/src/go.mod
  backend/src/go.sum
  backend/src/server/http_server.go
Due: remove-go-mod-replace

✨ feat: enhance SSE implementation and API documentation
  backend/Makefile
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  backend/src/go.mod
  backend/src/service/broadcaster_service.go
  frontend/src/index.tsx
  frontend/src/store/sratApi.ts
Due: remove-go-mod-replace

✨ feat(fe): update dependencies and enhance telemetry config
  frontend/bun.lockb
  frontend/package.json
  frontend/src/services/telemetryService.ts
Due: update-frontend-package-version

✨ feat(be): add WebSocket support and enhance broadcaster
  backend/src/api/ws.go
  backend/src/cmd/srat-server/main-server.go
  backend/src/homeassistant/ingress_ci_test.go
  backend/src/lsblk/lsblk.go
  backend/src/server/http_server.go
  backend/src/service/broadcaster_service.go
  backend/src/service/upgrade_service_test.go
Due: none

✨ feat(fe): improve utility functions and telemetry config
  frontend/src/pages/dashboard/metrics/utils.ts
  frontend/src/services/telemetryService.ts
  frontend/src/store/emptyApi.ts
Due: none

Refactor event handling and remove unused event types
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  backend/src/dto/event_type.go
  backend/src/dto/eventtypes_enums.go
  backend/src/dto/welcome.go
  backend/src/service/upgrade_service_test.go
  frontend/bun.lockb
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/NavBar.tsx
  frontend/src/hooks/healthHook.ts
  frontend/src/hooks/shareHook.ts
  frontend/src/hooks/volumeHook.ts
  frontend/src/index.tsx
  frontend/src/store/sratApi.ts
  frontend/src/store/sseApi.ts
  frontend/src/store/sseSlice.ts
  frontend/src/store/store.ts
Due: update-frontend-package-version

feat: integrate server-sent events (SSE) for real-time updates
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  backend/src/api/health.go
  backend/src/api/health_test.go
  backend/src/dto/context.go
  backend/src/dto/health_ping.go
  backend/src/dto/welcome.go
  backend/src/service/broadcaster_service.go
  frontend/bun.lockb
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/Footer.tsx
  frontend/src/components/NavBar.tsx
  frontend/src/components/RollbarPersonUpdater.tsx
  frontend/src/hooks/healthHook.ts
  frontend/src/hooks/readonlyHook.ts
  frontend/src/hooks/shareHook.ts
  frontend/src/hooks/volumeHook.ts
  frontend/src/pages/dashboard/DashboardActions.tsx
  frontend/src/pages/dashboard/metrics/SystemMetricsAccordion.tsx
  frontend/src/pages/dashboard/metrics/utils.ts
  frontend/src/pages/settings/Settings.tsx
  frontend/src/pages/shares/Shares.tsx
  frontend/src/pages/users/Users.tsx
  frontend/src/pages/volumes/Volumes.tsx
  frontend/src/store/sratApi.ts
  frontend/src/store/sseApi.ts
Due: update-frontend-package-version

✨ feat(be): add WebSocket broker to API routes
  backend/src/cmd/srat-openapi/main-openapi.go
  backend/src/server/http_server.go
Due: none

✨ feat(fe): enhance telemetry and event handling
  frontend/src/App.tsx
  frontend/src/components/Footer.tsx
  frontend/src/components/NavBar.tsx
  frontend/src/components/RollbarPersonUpdater.tsx
  frontend/src/components/TelemetryModal.tsx
  frontend/src/hooks/healthHook.ts
  frontend/src/hooks/shareHook.ts
  frontend/src/hooks/useRollbarTelemetry.ts
  frontend/src/hooks/useTelemetryInitialization.ts
  frontend/src/hooks/volumeHook.ts
  frontend/src/index.tsx
  frontend/src/pages/dashboard/DashboardActions.tsx
  frontend/src/pages/dashboard/metrics/utils.ts
  frontend/src/pages/settings/Settings.tsx
  frontend/src/pages/shares/Shares.tsx
  frontend/src/pages/users/Users.tsx
  frontend/src/pages/volumes/Volumes.tsx
  frontend/src/services/telemetryService.ts
  frontend/src/store/sseApi.ts
Due: none

✨ feat(be+fe): implement WebSocket support and refactor health checks
  backend/src/api/health.go
  backend/src/api/health_test.go
  backend/src/api/ws.go
  backend/src/server/http_server.go
  backend/src/server/ws/ws.go
  backend/src/service/broadcaster_service.go
  backend/src/service/disk_stats_service.go
  backend/src/service/hardware_service.go
  backend/src/service/upgrade_service.go
  backend/src/service/volume_service.go
  frontend/bun.build.ts
  frontend/src/store/sseApi.ts
  frontend/src/store/store.ts
Due: none

✨ feat(be): update build process and enhance remote build
  backend/Makefile
  backend/src/.air.toml
Due: none

refactor: update logging package and enhance settings UI
  backend/src/go.mod
  backend/src/go.sum
  backend/src/server/http_server.go
  frontend/src/pages/settings/Settings.tsx
Due: remove-go-mod-replace

✨ feat(fe): update version to 2025.9.0-dev.0
  frontend/package.json
Due: update-frontend-package-version

🔧 chore(go.mod): remove unused dependency and update replace
  backend/src/go.mod
Due: remove-go-mod-replace

Refactor code structure and remove redundant functions for improved readability
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  backend/src/go.mod
  backend/src/go.sum
Due: remove-go-mod-replace

🔧 chore(dto): update generated comments in enum files
  backend/src/dto/eventtypes_enums.go
  backend/src/dto/telemetrymodes_enums.go
  backend/src/dto/timemachinesupports_enums.go
  backend/src/dto/updatechannels_enums.go
  backend/src/dto/updateprocessstates_enums.go
Due: none

🔧 chore(makefile): update patches for goenums and overseer
  backend/Makefile
  backend/patches/goenums.patch
  backend/patches/slog-http.patch
  backend/src/go.mod
Due: remove-go-mod-replace

🔧 fix(dump): improve body truncation logic
  backend/patches/slog-http.patch
Due: none

🔧 chore(patch): update gohack patches for dependencies
  backend/Makefile
Due: none

🔧 fix(main): simplify log message for update check
  backend/src/cmd/srat-cli/main-cli.go
Due: none

Refactor AddonsService: Remove CheckProtectedMode method and related caching logic
  CHANGELOG.md
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  backend/src/api/ws.go
  backend/src/cmd/srat-cli/main-cli.go
  backend/src/cmd/srat-server/main-server.go
  backend/src/converter/dto_to_dbom.go
  backend/src/converter/dto_to_dbom_conv_gen.go
  backend/src/converter/ha_supervisor_to_dto.go
  backend/src/converter/ha_supervisor_to_dto_conv_gen.go
  backend/src/converter/issue_converter.go
  backend/src/converter/issue_to_dto_conv_gen.go
  backend/src/dbom/issue.go
  backend/src/dto/issue.go
  backend/src/dto/issue_severity.go
  backend/src/dto/issueseverities_enums.go
  backend/src/service/addons_service.go
  backend/src/service/addons_service_test.go
  backend/src/service/broadcaster_service.go
  backend/src/service/samba_service.go
  backend/src/service/share_service.go
  backend/src/service/supervisor_service.go
  backend/src/service/upgrade_service.go
  backend/src/service/volume_service.go
  frontend/src/components/IssueCard.tsx
  frontend/src/pages/dashboard/DashboardActions.tsx
  frontend/src/pages/dashboard/components/ActionableItemsList.tsx
  frontend/src/store/sratApi.ts
Due: validate-links-format, check-changelog-format, format-markdown-basic, lint-markdown-basic

🔧 fix(wsApi): improve WebSocket connection handling
  frontend/src/store/sseApi.ts
Due: none

🔧 refactor(converter): streamline directory path checks
  backend/src/converter/dto_to_dbom.go
  backend/src/converter/goverter.go
  backend/src/service/addons_service_test.go
  backend/src/service/samba_service.go
  backend/src/service/samba_service_test.go
  backend/src/service/share_service_test.go
  backend/test/data/smb.conf
Due: none

🔧 refactor(fe): enhance IssueCard and ShareActions components
  frontend/src/components/IssueCard.tsx
  frontend/src/pages/dashboard/DashboardActions.tsx
  frontend/src/pages/shares/ShareActions.tsx
  frontend/src/pages/shares/Shares.tsx
Due: none

✨ feat(fe): enhance `PreviewDialog` with tree view display
  CHANGELOG.md
  frontend/bun.lockb
  frontend/package.json
  frontend/src/components/PreviewDialog.tsx
Due: update-frontend-package-version, validate-links-format, check-changelog-format, format-markdown-basic, lint-markdown-basic

🔧 refactor(fe+volumes): update `PartitionActions` to use `protected_mode`
  frontend/src/pages/settings/Settings.tsx
  frontend/src/pages/volumes/Volumes.tsx
  frontend/src/pages/volumes/components/PartitionActions.tsx
Due: none

⬆️ chore(be): update pre-commit-hooks to v6.0.0
  .pre-commit-config.yaml
Due: none

📝 chore(be): update generated comments in goenums
  backend/patches/goenums.patch
  backend/patches/overseer.patch
Due: none

feat: add srat process status to SambaProcessStatus and update related components
  .cspell.json
  CHANGELOG.md
  SECURITY.md
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  backend/src/dto/samba_process_status.go
  backend/src/service/homeassistant_service_test.go
  backend/src/service/samba_service.go
  docs/PPROF.md
  frontend/src/components/Footer.tsx
  frontend/src/store/sratApi.ts
Due: validate-links-format, check-changelog-format, format-markdown-basic, lint-markdown-basic

🔧 fix(fe): correct `semver.inc` argument order in version update
  frontend/version.ts
Due: none

Remove commented GitHub CLI installation steps
  .github/workflows/build.yaml
Due: none

Fix formatting and update cleanup workflow
  .github/workflows/clean-prerelease.yaml
Due: none

Disable frontend package version update hook
  .pre-commit-config.yaml
Due: none

feat: Enhance SMART data handling and improve API documentation
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  backend/src/dto/smart.go
  backend/src/dto/smart_attribute.go
  backend/src/dto/smartattributecodes_enums.go
  backend/src/service/smart_service.go
  backend/src/service/smart_service_test.go
  frontend/src/components/PreviewDialog.tsx
  frontend/src/pages/dashboard/metrics/DiskHealthMetrics.tsx
Due: none

✨ feat(be): enhance logging and configuration management
  backend/Makefile
  backend/src/cmd/srat-cli/main-cli.go
  backend/src/cmd/srat-openapi/main-openapi.go
  backend/src/cmd/srat-server/main-server.go
  backend/src/internal/banner.go
  backend/src/service/samba_service.go
  frontend/src/store/sratApi.ts
Due: none

Path conditions:
  remove-go-mod-replace: any of: ^backend/src/go\.mod$
  update-frontend-package-version: any of: ^frontend/package\.json$
  validate-links-format: any of: \.md$
  check-changelog-format: any of: ^CHANGELOG\.md$
  format-markdown-basic: any of: \.md$
  lint-markdown-basic: any of: \.md$
