Repository dianlight/srat: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-go-mod-replace, update-frontend-package-version, validate-links-format, check-changelog-format, format-markdown-basic, lint-markdown-basic

Path conditions:
  remove-go-mod-replace: any of: ^backend/src/go\.mod$
  update-frontend-package-version: any of: ^frontend/package\.json$
  validate-links-format: any of: \.md$
  check-changelog-format: any of: ^CHANGELOG\.md$
  format-markdown-basic: any of: \.md$
  lint-markdown-basic: any of: \.md$

🐛 fix(be): update HealthCheck and HealthStatus handlers
  backend/src/api/health_extra_test.go
Due: none

🐛 fix(be): remove unused `TestCheck_Disabled` test
  backend/src/homeassistant/resolution/resolution_extended_test.go
  backend/src/service/telemetry_service_test.go
Due: none

✨ feat(be): add `TestMountFlagsToSyscallFlagAndData` test
  backend/src/service/filesystem_service_test.go
  backend/src/service/telemetry_service_test.go
Due: none

🐛 fix(be): flush pending Rollbar events before tests
  backend/src/service/telemetry_service_test.go
Due: none

🎯 test: update coverage badges [skip ci]
  README.md
Due: validate-links-format, format-markdown-basic, lint-markdown-basic

🐛 fix(ci): correct array syntax for deleting pre-releases
  .github/workflows/clean-prerelease.yaml
Due: none

✨ feat(ci): enhance GitHub Actions workflows
  .github/workflows/build.yaml
  .github/workflows/coverage-badges.yml
Due: none

🔧 fix(fe): update TypeScript types for React dependencies
  .devcontainer/updateContentCommand.sh
  frontend/bun.lockb
  frontend/package.json
Due: update-frontend-package-version

🔧 fix(doc): update test coverage badges in README and docs
  README.md
  docs/TEST_COVERAGE.md
  scripts/update-coverage-badges.sh
Due: validate-links-format, format-markdown-basic, lint-markdown-basic

📝 chore(doc): update README structure and content
  README.md
Due: validate-links-format, format-markdown-basic, lint-markdown-basic

🔧 fix(doc): remove unnecessary comment in README
  README.md
Due: validate-links-format, format-markdown-basic, lint-markdown-basic

chore(docs): update TOC
  README.md
Due: validate-links-format, format-markdown-basic, lint-markdown-basic

✨ feat(doc): enhance README with detailed installation and usage
  README.md
Due: validate-links-format, format-markdown-basic, lint-markdown-basic

🔧 fix(doc): update coverage badges in README
  README.md
  scripts/update-coverage-badges.sh
Due: validate-links-format, format-markdown-basic, lint-markdown-basic

✨ feat(devcontainer): add GH_TOKEN and update extensions
  .devcontainer/devcontainer.json
  .devcontainer/updateContentCommand.sh
  .vscode/settings.json
Due: none

✨ feat(db): integrate `slog` with Goose for better logging
  backend/src/dbom/db_config.go
  backend/src/go.mod
  backend/src/go.sum
Due: remove-go-mod-replace

✨ feat(doc): enhance documentation with Table of Contents
  PRIVACY.md
  README.md
  SECURITY.md
  backend/NOTES.md
  backend/README.md
  backend/src/tlog/ENHANCEMENTS.md
  backend/src/tlog/LOGGER_USAGE.md
  backend/src/tlog/README.md
  backend/src/tlog/example/README.md
  docs/BUN_COMPATIBILITY.md
  docs/BUN_NODE_ALTERNATIVE.md
  docs/COVERAGE_IMPROVEMENT_ROADMAP.md
  docs/DOCUMENTATION_GUIDELINES.md
  docs/DOCUMENTATION_VALIDATION_SETUP.md
  docs/ENHANCED_BUN_MAKE_TARGETS.md
  docs/HOME_ASSISTANT_INTEGRATION.md
  docs/PPROF.md
  docs/REFACTOR_DISKVOLUME.md
  docs/ROLLBAR_REACT_MIGRATION.md
  docs/SMB_OVER_QUIC.md
  docs/SMB_OVER_QUIC_IMPLEMENTATION.md
  docs/TELEMETRY_CONFIGURATION.md
  docs/TELEMETRY_IMPLEMENTATION.md
  docs/TEST_COVERAGE.md
  docs/implementation/IMPLEMENTATION_PERSISTENT_NOTIFICATIONS.md
  docs/implementation/IMPLEMENTATION_REMOVED_DISKS.md
  docs/implementation/IMPLEMENTATION_SUMMARY.md
  docs/implementation/README.md
  frontend/GEMINI.md
  frontend/README.md
  scripts/detect_outer_fences.py
  scripts/list_files_with_first_fence.py
Due: validate-links-format, format-markdown-basic, lint-markdown-basic

✨ test(telemetry): improve Rollbar event handling in tests
  backend/src/service/telemetry_service_test.go
Due: none

chore(docs): update TOC
  PRIVACY.md
  README.md
  SECURITY.md
  backend/NOTES.md
  backend/README.md
  backend/src/tlog/ENHANCEMENTS.md
  backend/src/tlog/LOGGER_USAGE.md
  backend/src/tlog/README.md
  backend/src/tlog/example/README.md
  docs/BUN_COMPATIBILITY.md
  docs/BUN_NODE_ALTERNATIVE.md
  docs/COVERAGE_IMPROVEMENT_ROADMAP.md
  docs/DOCUMENTATION_GUIDELINES.md
  docs/DOCUMENTATION_VALIDATION_SETUP.md
  docs/ENHANCED_BUN_MAKE_TARGETS.md
  docs/HOME_ASSISTANT_INTEGRATION.md
  docs/PPROF.md
  docs/REFACTOR_DISKVOLUME.md
  docs/ROLLBAR_REACT_MIGRATION.md
  docs/SMB_OVER_QUIC.md
  docs/SMB_OVER_QUIC_IMPLEMENTATION.md
  docs/TELEMETRY_CONFIGURATION.md
  docs/TELEMETRY_IMPLEMENTATION.md
  docs/TEST_COVERAGE.md
  docs/implementation/IMPLEMENTATION_PERSISTENT_NOTIFICATIONS.md
  docs/implementation/IMPLEMENTATION_REMOVED_DISKS.md
  docs/implementation/IMPLEMENTATION_SUMMARY.md
  docs/implementation/README.md
  frontend/GEMINI.md
  frontend/README.md
Due: validate-links-format, format-markdown-basic, lint-markdown-basic

✨ feat(test): add unit tests for `NetworkStatsService` and `UserService`
  backend/src/service/network_stats_service.go
  backend/src/service/network_stats_service_test.go
  backend/src/service/user_service_test.go
Due: none

🐛 fix(be): filter out `veth` interfaces from NICs response
  backend/src/api/system.go
  backend/src/api/system_test.go
  backend/src/service/network_stats_service.go
  backend/src/service/network_stats_service_test.go
Due: none

🎯 test: update coverage badges [skip ci]
  README.md
  backend/src/go.mod
  docs/TEST_COVERAGE.md
Due: remove-go-mod-replace, validate-links-format, format-markdown-basic, lint-markdown-basic

✨ feat(devcontainer): add 'bierner.markdown-mermaid' extension
  .devcontainer/devcontainer.json
Due: none

🎨 refactor(doc): update mermaid chart themes for coverage graphs
  docs/TEST_COVERAGE.md
  scripts/update-coverage-badges.sh
Due: validate-links-format, format-markdown-basic, lint-markdown-basic

🎨 refactor(doc): resolve merge conflict in coverage badges
  README.md
Due: validate-links-format, format-markdown-basic, lint-markdown-basic

✨ feat(service): enhance Rollbar management in telemetry
  backend/src/service/telemetry_service.go
  backend/src/service/telemetry_service_test.go
Due: none

🔧 fix(go.mod): update replace paths for goenums and overseer
  backend/src/go.mod
Due: remove-go-mod-replace

🎯 test: improve assertions in various test cases
  backend/src/config/addon_json_config_test.go
  backend/src/converter/converter_test.go
  backend/src/converter/dto_to_dbom_conv.go
  backend/src/dbom/exported_share_test.go
  backend/src/dbom/issue_test.go
  backend/src/dbom/mount_point_path_test.go
  backend/src/dto/additional_dto_test.go
  backend/src/dto/context_test.go
  backend/src/dto/error_code_test.go
  backend/src/dto/simple_dto_test.go
  backend/src/dto/user_test.go
  backend/src/go.sum
  backend/src/internal/osutil/osutil_test.go
  backend/src/repository/property_repository_test.go
  backend/src/server/huma_api_test.go
  backend/src/service/hardware_service_test.go
  backend/src/service/issue_service_test.go
  backend/src/service/supervisor_service_test.go
  backend/src/tempio/template_test.go
Due: none

✨ feat(service): implement persistent notification tracking
  backend/src/service/homeassistant_service.go
  backend/src/service/homeassistant_service_test.go
Due: none

🔧 fix(service): enhance validation and error handling in `MountVolume`
  backend/src/service/volume_service.go
Due: none

🐛 fix(service): enhance retry logic for mount creation/update
  CHANGELOG.md
  backend/src/service/supervisor_service.go
  backend/src/service/supervisor_service_test.go
  docs/ISSUE_221_ANALYSIS.md
Due: validate-links-format, check-changelog-format, format-markdown-basic, lint-markdown-basic

chore(docs): update TOC
  docs/ISSUE_221_ANALYSIS.md
Due: validate-links-format, format-markdown-basic, lint-markdown-basic

Create issue to track and resolve CI build failure due to Provider component usage
  issues/CI-Build-Failure-Provider-Component.md
Due: validate-links-format, format-markdown-basic, lint-markdown-basic
