Repository dianlight/srat: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-go-mod-replace, update-frontend-package-version, validate-links-format, check-changelog-format, format-markdown-basic, lint-markdown-basic

remove-go-mod-replace:
  name: Remove go.mod replace lines
  stages:
  - pre-commit
  entry: ./scripts/remove-go-mod-replace.sh
  language: system
  pass_filenames: true

update-frontend-package-version:
  name: Update frontend package.json version from git tag
  stages:
  - pre-commit
  entry: ./scripts/update-frontend-version.sh
  language: system
  pass_filenames: false

validate-links-format:
  name: Validate link formats
  entry: bash
  language: system
  args:
  - -c
  ...

check-changelog-format:
  name: Check CHANGELOG.md format
  entry: bash
  language: system
  args:
  - -c
  ...

format-markdown-basic:
  name: Basic markdown formatting
  entry: bash
  language: system
  args:
  - -c
  ...

lint-markdown-basic:
  name: Basic markdown linting
  entry: bash
  language: system
  args:
  - -c
  ...

✨ feat(devcontainer): add ROLLBAR_MCP_ACCESS_TOKEN to remote environment variables
  .devcontainer/devcontainer.json
Due: none

✨ feat(database): enhance SQLite configuration for concurrency
  .cspell.json
  CHANGELOG.md
  README.md
  backend/src/dbom/db_config.go
  backend/src/repository/mount_point_path_repository.go
  backend/src/repository/mount_point_path_repository_test.go
Due: validate-links-format, check-changelog-format, format-markdown-basic, lint-markdown-basic

✨ feat(telemetry_service): enhance error reporting with Rollbar integration
  backend/src/service/telemetry_service.go
  backend/src/service/telemetry_service_test.go
Due: none

🔧 fix(telemetry_service_test): update assertions for empty checks
  backend/src/go.mod
  backend/src/service/telemetry_service_test.go
Due: remove-go-mod-replace

🔧 fix(telemetry_service): skip nil values in registerTlogCallbacks
  backend/src/service/telemetry_service.go
Due: none

✨ feat(security): add gosec security scanning to Makefile
  .github/copilot-instructions.md
  Makefile
  README.md
  backend/Makefile
Due: validate-links-format, format-markdown-basic, lint-markdown-basic

🔧 fix(disk_stats_service): prevent integer overflow/underflow in disk stats calculation
  backend/src/cmd/srat-openapi/main-openapi.go
  backend/src/service/disk_stats_service.go
Due: none

✨ feat(settings): add maxRequests configuration for chat agent
  .vscode/settings.json
Due: none

✨ feat(http_server): enhance logging configuration and middleware integration
  backend/src/server/http_server.go
Due: none

feat: Implement MDC middleware and slice for tracing
  backend/.redocly.lint-ignore.yaml
  backend/Makefile
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  backend/src/api/issue.go
  backend/src/dto/eventtypes_enums.go
  backend/src/server/http_server.go
  backend/src/server/huma_api.go
  backend/src/tlog/tlog.go
  frontend/api.config.js
  frontend/api.config.json
  frontend/biome.json
  frontend/package.json
  frontend/src/components/ConsoleErrorToRollbar.tsx
  frontend/src/components/Footer.tsx
  frontend/src/components/NavBar.tsx
  frontend/src/components/TelemetryModal.tsx
  frontend/src/hooks/healthHook.ts
  frontend/src/hooks/shareHook.ts
  frontend/src/hooks/useRollbarTelemetry.ts
  frontend/src/hooks/useTelemetryInitialization.ts
  frontend/src/hooks/useTelemetryModal.ts
  frontend/src/hooks/volumeHook.ts
  frontend/src/pages/Settings.tsx
  frontend/src/pages/Shares.tsx
  frontend/src/pages/SmbConf.tsx
  frontend/src/pages/Users.tsx
  frontend/src/pages/Volumes.tsx
  frontend/src/services/telemetryService.ts
  frontend/src/store/emptyApi.ts
  frontend/src/store/mdcMiddleware.ts
  frontend/src/store/mdcSlice.ts
  frontend/src/store/sratApi.ts
  frontend/src/store/store.ts
Due: update-frontend-package-version

✨ feat(Swagger): integrate openapi-explorer for API documentation
  frontend/bun.lockb
  frontend/package.json
  frontend/src/index.tsx
  frontend/src/pages/Shares.tsx
  frontend/src/pages/Swagger.tsx
  frontend/src/store/emptyApi.ts
Due: update-frontend-package-version

✨ feat(index): integrate `normalize-url` for SSE source URL normalization
  frontend/bun.lockb
  frontend/package.json
  frontend/src/index.tsx
Due: update-frontend-package-version

✨ feat(Swagger): declare global JSX interface for `<openapi-explorer>` component
  frontend/src/pages/Swagger.tsx
Due: none

✨ feat(Swagger): refactor `<openapi-explorer>` component usage
  frontend/src/pages/Swagger.tsx
Due: none

✨ feat(volumes): enhance error handling and logging in volume mounting
  backend/src/api/volumes.go
  backend/src/service/telemetry_service.go
  frontend/src/pages/Volumes.tsx
Due: none

🛠️ fix(health): prevent infinite loop by setting OutputEventsInterleave to max duration
  backend/src/api/health.go
Due: none

✨ feat(health): add `/status` endpoint for health status check
  backend/src/api/health.go
Due: none

feat(api): Update OpenAPI definitions and add new /api/status endpoint
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  backend/src/dto/eventtypes_enums.go
  backend/src/dto/telemetrymodes_enums.go
  backend/src/dto/updatechannels_enums.go
  backend/src/dto/updateprocessstates_enums.go
  backend/src/homeassistant/addons.yaml
  backend/src/homeassistant/generate.go
  backend/src/homeassistant/root.yaml
  backend/src/homeassistant/root/client.gen.go
  backend/src/internal/appsetup/appsetup.go
  backend/src/service/ha_root_service.go
  backend/src/service/telemetry_service.go
  backend/src/service/telemetry_service_test.go
Due: none

✨ feat(repo): add repository information overview
  .devcontainer/devcontainer.json
  .zencoder/rules/repo.md
Due: validate-links-format, format-markdown-basic, lint-markdown-basic

feat: Add machine_id to health ping and telemetry integration
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  backend/src/api/health.go
  backend/src/api/health_test.go
  backend/src/dto/health_ping.go
  frontend/src/App.tsx
  frontend/src/components/RollbarPersonUpdater.tsx
  frontend/src/hooks/healthHook.ts
  frontend/src/hooks/useRollbarTelemetry.ts
  frontend/src/hooks/volumeHook.ts
  frontend/src/services/telemetryService.ts
  frontend/src/store/emptyApi.ts
  frontend/src/store/mdcSlice.ts
  frontend/src/store/sratApi.ts
Due: none

🔧 fix(pre-commit): disable end-of-file fixer hook
  .pre-commit-config.yaml
Due: none

📚 chore(workflow): update documentation validation workflow
  .github/workflows/documentation.yml
Due: none

✨ feat(workflow): add Python setup to documentation validation jobs
  .github/workflows/documentation.yml
Due: none

🔧 fix(docs): improve security scanning instructions and pre-commit hook usage
  .github/copilot-instructions.md
  .zencoder/rules/repo.md
  Makefile
  backend/README.md
Due: validate-links-format, format-markdown-basic, lint-markdown-basic

✨ feat(cspell): add new words to spell check
  .cspell.json
Due: none

🔧 fix(workflow): update pre-commit action configuration
  .github/workflows/documentation.yml
Due: none

✨ chore: enable documentation validation step
  .github/workflows/documentation.yml
Due: none

🗑️ chore: update cleanup workflow to use `isPrerelease` field
  .github/workflows/clean-prerelease.yaml
  .github/workflows/golangci-lint.yml
Due: none

✨ chore: rename workflow to 'RollBar Create Release Announcement'
  .github/workflows/rollbar.yaml
Due: none

✨ chore: update Rollbar deploy version reference
  .github/workflows/rollbar.yaml
Due: none

✨ feat(Swagger): update OpenApiExplorer to use normalized spec-url
  frontend/src/pages/Swagger.tsx
  frontend/src/store/emptyApi.ts
Due: none

🔧 fix(db): improve filesystem permission checks and error handling
  backend/src/dbom/db_config.go
Due: none

🛠️ refactor(Shares, Volumes): clean up commented code and improve partition filtering
  frontend/src/pages/Shares.tsx
  frontend/src/pages/Volumes.tsx
Due: none

✨ feat(README): add frontend component organization rules
  .github/copilot-instructions.md
  frontend/README.md
Due: validate-links-format, format-markdown-basic, lint-markdown-basic

🔧 fix(Volumes): improve partition filtering logic
  frontend/src/pages/Volumes.tsx
Due: none

✨ feat(devcontainer): add google.geminicodeassist extension
  .devcontainer/devcontainer.json
Due: none

✨ feat(geminicodeassist): add agentYoloMode and updateChannel settings
  .vscode/settings.json
Due: none

✨ feat(GEMINI): add guidelines for making changes
  frontend/GEMINI.md
Due: validate-links-format, format-markdown-basic, lint-markdown-basic

Path conditions:
  remove-go-mod-replace: any of: ^backend/src/go\.mod$
  update-frontend-package-version: any of: ^frontend/package\.json$
  validate-links-format: any of: \.md$
  check-changelog-format: any of: ^CHANGELOG\.md$
  format-markdown-basic: any of: \.md$
  lint-markdown-basic: any of: \.md$
