Repository dianlight/srat: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-go-mod-replace, update-frontend-package-version, validate-links-format, check-changelog-format, format-markdown-basic, lint-markdown-basic

remove-go-mod-replace:
  name: Remove go.mod replace lines
  stages:
  - pre-commit
  entry: ./scripts/remove-go-mod-replace.sh
  language: system
  pass_filenames: true

update-frontend-package-version:
  name: Update frontend package.json version from git tag
  stages:
  - pre-commit
  entry: ./scripts/update-frontend-version.sh
  language: system
  pass_filenames: false

validate-links-format:
  name: Validate link formats
  entry: bash
  language: system
  args:
  - -c
  ...

check-changelog-format:
  name: Check CHANGELOG.md format
  entry: bash
  language: system
  args:
  - -c
  ...

format-markdown-basic:
  name: Basic markdown formatting
  entry: bash
  language: system
  args:
  - -c
  ...

lint-markdown-basic:
  name: Basic markdown linting
  entry: bash
  language: system
  args:
  - -c
  ...

✨ feat(fe): enhance Footer tests for structure and layout
  frontend/src/components/__tests__/Footer.test.tsx
Due: none

✨ feat(fe): add tests for ErrorBoundary component
  frontend/src/components/__tests__/ErrorBoundary.test.tsx
Due: none

Add comprehensive tests for Dashboard components and Swagger integration
  frontend/src/components/__tests__/ErrorBoundary.test.tsx
  frontend/src/components/__tests__/NavBar.test.tsx
  frontend/src/components/__tests__/NotificationCenter.test.tsx
  frontend/src/hooks/__tests__/shareHook.test.tsx
  frontend/src/pages/__tests__/SmbConf.test.tsx
  frontend/src/pages/__tests__/Swagger.test.tsx
  frontend/src/pages/dashboard/__tests__/ActionableItems.test.tsx
  frontend/src/pages/dashboard/__tests__/BasicDashboard.test.tsx
  frontend/src/pages/dashboard/__tests__/CollapsibleSections.test.tsx
  frontend/src/pages/dashboard/__tests__/Dashboard.test.tsx
  frontend/src/pages/dashboard/__tests__/SystemMetrics.test.tsx
Due: none

✨ feat(fe): enhance tests for NavBar and NotificationCenter
  frontend/src/components/__tests__/NavBar.test.tsx
  frontend/src/components/__tests__/NotificationCenter.test.tsx
  frontend/src/hooks/__tests__/shareHook.test.tsx
Due: none

✨ feat(fe): add tests for DashboardTourStep and Settings components
  frontend/src/pages/dashboard/__tests__/DashboardTourStep.test.tsx
  frontend/src/pages/settings/__tests__/Settings.test.tsx
  frontend/src/store/__tests__/errorSlice.test.ts
Due: none

🔧 fix(ci): remove conditional for Frontend test step
  .github/workflows/build.yaml
Due: none

✨ feat(doc): update Copilot instructions for clarity
  .github/.copilot-commit-message-instructions.md
  .github/copilot-instructions.md
Due: validate-links-format, format-markdown-basic, lint-markdown-basic

feat: add IP and netmask fields to network statistics
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  backend/src/dto/network_stats.go
  backend/src/service/network_stats_service.go
  backend/test/data/image.dmg
  frontend/src/pages/dashboard/metrics/NetworkHealthMetrics.tsx
  frontend/src/store/sratApi.ts
Due: none

✨ feat(fe): update bun version and dependencies
  .devcontainer/updateContentCommand.sh
  frontend/bun.lockb
  frontend/package.json
  frontend/src/hooks/useRollbarTelemetry.ts
Due: update-frontend-package-version

Refactor OpenAPI documentation to standardize parameter order and improve consistency
  .cspell.json
  .github/copilot-instructions.md
  AGENTS.md
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  docs/REFACTOR_DISKVOLUME.md
Due: validate-links-format, format-markdown-basic, lint-markdown-basic

🔧 fix(test): update assertions for volume mount tests
  backend/src/dto/filesystem_type_test.go
  backend/src/go.mod
  backend/src/go.sum
  backend/src/service/volume_service_test.go
Due: remove-go-mod-replace

🔧 fix(fe): remove sudo from frontend test command
  .github/workflows/build.yaml
Due: none

🔧 fix(test): skip test if no loop device is available
  backend/src/service/volume_service_test.go
  frontend/bun.lockb
  frontend/package.json
Due: update-frontend-package-version

[ImgBot] Optimize images
  .playwright-mcp/dashboard-initial-state.png
  frontend/src/img/github.svg
Due: none

✨ feat(workflow): add automated locking for closed issues
  .github/workflows/lock-closed-issues.yml
Due: none

✨ feat(doc): add Table of Contents generation to documentation
  .github/workflows/documentation.yml
  PRIVACY.md
  README.md
  SECURITY.md
  backend/NOTES.md
  backend/README.md
  backend/src/tlog/ENHANCEMENTS.md
  backend/src/tlog/LOGGER_USAGE.md
  backend/src/tlog/README.md
  backend/src/tlog/example/README.md
  docs/BUN_COMPATIBILITY.md
  docs/BUN_NODE_ALTERNATIVE.md
  docs/DOCUMENTATION_GUIDELINES.md
  docs/DOCUMENTATION_VALIDATION_SETUP.md
  docs/ENHANCED_BUN_MAKE_TARGETS.md
  docs/HOME_ASSISTANT_INTEGRATION.md
  docs/PPROF.md
  docs/REFACTOR_DISKVOLUME.md
  docs/ROLLBAR_REACT_MIGRATION.md
  docs/TELEMETRY_CONFIGURATION.md
  docs/TELEMETRY_IMPLEMENTATION.md
  docs/implementation/IMPLEMENTATION_PERSISTENT_NOTIFICATIONS.md
  docs/implementation/IMPLEMENTATION_REMOVED_DISKS.md
  docs/implementation/IMPLEMENTATION_SUMMARY.md
  docs/implementation/README.md
  frontend/README.md
Due: validate-links-format, format-markdown-basic, lint-markdown-basic

✨ feat(doc): update documentation for Home Assistant integration
  AGENTS.md
  README.md
  SECURITY.md
  backend/NOTES.md
  backend/src/tlog/ENHANCEMENTS.md
  frontend/README.md
Due: validate-links-format, format-markdown-basic, lint-markdown-basic

✨ feat(tlog): improve error logging with stack trace inclusion
  backend/src/service/telemetry_service_test.go
  backend/src/tlog/tlog.go
Due: none

chore(docs): update TOC
  AGENTS.md
  CHANGELOG.md
  PRIVACY.md
  README.md
  SECURITY.md
  backend/NOTES.md
  backend/README.md
  backend/src/tlog/ENHANCEMENTS.md
  backend/src/tlog/LOGGER_USAGE.md
  backend/src/tlog/README.md
  backend/src/tlog/example/README.md
  docs/BUN_COMPATIBILITY.md
  docs/BUN_NODE_ALTERNATIVE.md
  docs/DOCUMENTATION_GUIDELINES.md
  docs/DOCUMENTATION_VALIDATION_SETUP.md
  docs/ENHANCED_BUN_MAKE_TARGETS.md
  docs/HOME_ASSISTANT_INTEGRATION.md
  docs/PPROF.md
  docs/REFACTOR_DISKVOLUME.md
  docs/ROLLBAR_REACT_MIGRATION.md
  docs/TELEMETRY_CONFIGURATION.md
  docs/TELEMETRY_IMPLEMENTATION.md
  docs/implementation/IMPLEMENTATION_PERSISTENT_NOTIFICATIONS.md
  docs/implementation/IMPLEMENTATION_REMOVED_DISKS.md
  docs/implementation/IMPLEMENTATION_SUMMARY.md
  docs/implementation/README.md
  frontend/GEMINI.md
  frontend/README.md
Due: validate-links-format, check-changelog-format, format-markdown-basic, lint-markdown-basic

📝 chore(doc): remove redundant Table of Contents section
  backend/src/tlog/ENHANCEMENTS.md
Due: validate-links-format, format-markdown-basic, lint-markdown-basic

✨ feat(tlog): enhance logging with improved callback handling
  backend/src/service/telemetry_service_test.go
  backend/src/tlog/tlog.go
Due: none

✨ feat(tests): add OpenAPI generation test suite
  backend/src/cmd/srat-openapi/main-openapi_test.go
Due: none

✨ feat(tests): add integration tests for CLI and server
  backend/src/cmd/srat-cli/main-cli_test.go
  backend/src/cmd/srat-server/main-server_test.go
Due: none

Add unit tests for converter and migrations, implement mock HTTP clients
  backend/src/converter/converter_test.go
  backend/src/dbom/migrations/00004_migrate_deviceid.go
  backend/src/dbom/migrations/00004_migrate_deviceid_test.go
  backend/src/go.mod
  backend/src/go.sum
  backend/src/homeassistant/addons/client_test.go
  backend/src/homeassistant/core/client_test.go
  backend/src/homeassistant/core_api/client_test.go
  backend/src/homeassistant/hardware/client_test.go
  backend/src/homeassistant/host/client_test.go
  backend/src/homeassistant/ingress/client_test.go
  backend/src/homeassistant/mount/client_test.go
  backend/src/homeassistant/resolution/client_test.go
  backend/src/homeassistant/root/client_test.go
  backend/src/internal/appsetup/appsetup_test.go
  backend/src/internal/banner_test.go
  backend/src/internal/no_embed_test.go
  backend/src/tempio/template_test.go
  backend/test/data/image.dmg
Due: remove-go-mod-replace

🗑️ refactor(ws): remove unused code and comments
  backend/src/server/ws/ws.go
Due: none

✨ feat(api): enhance SystemHandler with filesystems path
  backend/src/api/system.go
  backend/src/api/system_test.go
  backend/src/tlog/tlog.go
  backend/src/tlog/tlog_error_formatter.go
  backend/src/tlog/tozd_formatter_test.go
Due: none

✨ feat(service): enhance DiskStatsService with fsck checks
  backend/src/service/disk_stats_service.go
  backend/src/service/disk_stats_service_test.go
Due: none

✨ feat(go.mod): add DATA-DOG/go-sqlmock dependency
  backend/src/go.mod
Due: remove-go-mod-replace

Refactor osutil imports and implement internal osutil package
  CHANGELOG.md
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  backend/src/converter/config_to_dto.go
  backend/src/converter/dto_to_dbom.go
  backend/src/converter/dto_to_dbom_conv_gen.go
  backend/src/dbom/main_test.go
  backend/src/dto/eventtypes_enums.go
  backend/src/dto/issueseverities_enums.go
  backend/src/dto/smartattributecodes_enums.go
  backend/src/dto/telemetrymodes_enums.go
  backend/src/dto/timemachinesupports_enums.go
  backend/src/dto/updatechannels_enums.go
  backend/src/dto/updateprocessstates_enums.go
  backend/src/go.mod
  backend/src/go.sum
  backend/src/internal/osutil/osutil.go
  backend/src/repository/exported_share_repository_test.go
  backend/src/service/samba_service_test.go
  backend/src/service/volume_service.go
  backend/src/service/volume_service_test.go
  backend/test/data/image.dmg
Due: remove-go-mod-replace, validate-links-format, check-changelog-format, format-markdown-basic, lint-markdown-basic

✨ feat(tests): add unit tests for mount info and parsing
  backend/src/internal/osutil/osutil_test.go
Due: none

✨ feat(cli): add upgrade channel normalization and version formatting
  backend/src/cmd/srat-cli/main-cli.go
  backend/src/cmd/srat-cli/main-cli_test.go
  backend/src/cmd/srat-openapi/main-openapi.go
  backend/src/cmd/srat-openapi/main-openapi_test.go
  backend/src/cmd/srat-server/main-server.go
  backend/src/cmd/srat-server/main-server_test.go
  backend/src/converter/converter_test.go
Due: none

✨ feat(cli+server): enhance CLI and server context management
  backend/src/cmd/srat-cli/main-cli.go
  backend/src/cmd/srat-cli/main-cli_test.go
  backend/src/cmd/srat-server/main-server.go
  backend/src/cmd/srat-server/main-server_test.go
  backend/src/converter/converter_test.go
  backend/src/dto/filesystem_type_test.go
Due: none

✨ feat(test): enhance test setup with React Testing Library
  frontend/README.md
  frontend/test/setup.ts
Due: validate-links-format, format-markdown-basic, lint-markdown-basic

✨ feat(tests): add setup imports to test files
  frontend/src/components/__tests__/ErrorBoundary.test.tsx
  frontend/src/components/__tests__/FontAwesomeSvgIcon.test.tsx
  frontend/src/components/__tests__/IssueCard.test.tsx
  frontend/src/components/__tests__/NotificationCenter.test.tsx
  frontend/src/components/__tests__/PreviewDialog.test.tsx
  frontend/src/pages/dashboard/__tests__/DashboardTourStep.test.tsx
  frontend/src/pages/shares/__tests__/Shares.localStorage.test.tsx
  frontend/src/store/__tests__/errorSlice.test.ts
Due: none

✨ feat(settings): increase chat agent max requests
  .vscode/settings.json
  frontend/bunfig.toml
Due: none

✨ feat(doc): update testing patterns and coverage requirements
  .github/.copilot-commit-message-instructions.md
  .github/copilot-instructions.md
Due: validate-links-format, format-markdown-basic, lint-markdown-basic

Add comprehensive tests for shares and users components
  frontend/src/pages/settings/__tests__/SettingsTourStep.test.tsx
  frontend/src/pages/shares/__tests__/ShareActions.test.tsx
  frontend/src/pages/shares/__tests__/ShareDetailsPanel.test.tsx
  frontend/src/pages/shares/__tests__/ShareEditDialog.test.tsx
  frontend/src/pages/shares/__tests__/Shares.test.tsx
  frontend/src/pages/shares/__tests__/SharesTourStep.test.tsx
  frontend/src/pages/shares/__tests__/utils.test.ts
  frontend/src/pages/shares/components/ShareEditForm.tsx
  frontend/src/pages/shares/components/SharesTreeView.tsx
  frontend/src/pages/shares/components/__tests__/ShareEditForm.test.tsx
  frontend/src/pages/shares/components/__tests__/SharesTreeView.test.tsx
  frontend/src/pages/users/__tests__/UserActions.test.tsx
  frontend/src/pages/users/__tests__/UserEditDialog.test.tsx
  frontend/src/pages/users/__tests__/UsersSteps.test.tsx
  frontend/src/pages/volumes/__tests__/VolumesTourStep.test.tsx
Due: none

✨ feat(fe): wrap IconButton in Box for better layout
  frontend/src/components/NotificationCenter.tsx
Due: none

✨ feat(be): auto-determine ROLLBAR_ENVIRONMENT based on VERSION
  .github/workflows/rollbar.yaml
  backend/Makefile
  backend/src/service/telemetry_service.go
  docs/TELEMETRY_CONFIGURATION.md
Due: validate-links-format, format-markdown-basic, lint-markdown-basic

chore(docs): update TOC
  docs/TELEMETRY_CONFIGURATION.md
Due: validate-links-format, format-markdown-basic, lint-markdown-basic

Path conditions:
  remove-go-mod-replace: any of: ^backend/src/go\.mod$
  update-frontend-package-version: any of: ^frontend/package\.json$
  validate-links-format: any of: \.md$
  check-changelog-format: any of: ^CHANGELOG\.md$
  format-markdown-basic: any of: \.md$
  lint-markdown-basic: any of: \.md$
