Repository dianlight/srat: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-go-mod-replace, update-frontend-package-version, validate-links-format, check-changelog-format, format-markdown-basic, lint-markdown-basic

remove-go-mod-replace:
  name: Remove go.mod replace lines
  stages:
  - pre-commit
  entry: ./scripts/remove-go-mod-replace.sh
  language: system
  pass_filenames: true

update-frontend-package-version:
  name: Update frontend package.json version from git tag
  stages:
  - pre-commit
  entry: ./scripts/update-frontend-version.sh
  language: system
  pass_filenames: false

validate-links-format:
  name: Validate link formats
  entry: bash
  language: system
  args:
  - -c
  ...

check-changelog-format:
  name: Check CHANGELOG.md format
  entry: bash
  language: system
  args:
  - -c
  ...

format-markdown-basic:
  name: Basic markdown formatting
  entry: bash
  language: system
  args:
  - -c
  ...

lint-markdown-basic:
  name: Basic markdown linting
  entry: bash
  language: system
  args:
  - -c
  ...

chore(docs): update TOC
  issues/CI-Build-Failure-Provider-Component.md
Due: validate-links-format, format-markdown-basic, lint-markdown-basic

chore(docs): update TOC
  backend/README.md
Due: validate-links-format, format-markdown-basic, lint-markdown-basic

fix for merge
  backend/src/go.mod
Due: remove-go-mod-replace

fix
  backend/src/go.mod
Due: remove-go-mod-replace

chore(docs): update TOC
  docs/ABANDONED_DEPENDENCIES_ANALYSIS.md
Due: validate-links-format, format-markdown-basic, lint-markdown-basic

🎨 chore: update CHANGELOG.md for release
  .github/workflows/build.yaml
Due: none

🔧 fix(settings): update `go.disableConcurrentTests` to false
  .vscode/settings.json
Due: none

🎯 test: update coverage badges [skip ci]
  README.md
Due: validate-links-format, format-markdown-basic, lint-markdown-basic

✨ feat(doc): update documentation and improve formatting
  .cspell.json
  CHANGELOG.md
  Makefile
  PRIVACY.md
  README.md
  SECURITY.md
  backend/NOTES.md
  backend/README.md
  backend/src/tlog/ENHANCEMENTS.md
  backend/src/tlog/LOGGER_USAGE.md
  backend/src/tlog/README.md
  backend/src/tlog/example/README.md
  docs/ABANDONED_DEPENDENCIES_ANALYSIS.md
  docs/BUN_COMPATIBILITY.md
  docs/BUN_NODE_ALTERNATIVE.md
  docs/COVERAGE_IMPROVEMENT_ROADMAP.md
  docs/DOCUMENTATION_GUIDELINES.md
  docs/DOCUMENTATION_VALIDATION_SETUP.md
  docs/ENHANCED_BUN_MAKE_TARGETS.md
  docs/HOME_ASSISTANT_INTEGRATION.md
  docs/ISSUE_221_ANALYSIS.md
  docs/PPROF.md
  docs/REFACTOR_DISKVOLUME.md
  docs/ROLLBAR_REACT_MIGRATION.md
  docs/SMB_OVER_QUIC.md
  docs/SMB_OVER_QUIC_IMPLEMENTATION.md
  docs/TELEMETRY_CONFIGURATION.md
  docs/TELEMETRY_IMPLEMENTATION.md
  docs/TEST_COVERAGE.md
  docs/implementation/IMPLEMENTATION_PERSISTENT_NOTIFICATIONS.md
  docs/implementation/IMPLEMENTATION_REMOVED_DISKS.md
  docs/implementation/IMPLEMENTATION_SUMMARY.md
  docs/implementation/README.md
  frontend/GEMINI.md
  frontend/README.md
  issues/CI-Build-Failure-Provider-Component.md
Due: validate-links-format, check-changelog-format, format-markdown-basic, lint-markdown-basic

✨ feat(app): enhance HA client dependency management
  backend/src/cmd/srat-cli/main-cli.go
  backend/src/go.mod
  backend/src/internal/appsetup/appsetup.go
Due: remove-go-mod-replace

chore(docs): update TOC
  PRIVACY.md
  README.md
  SECURITY.md
  backend/NOTES.md
  backend/README.md
  backend/src/tlog/ENHANCEMENTS.md
  backend/src/tlog/LOGGER_USAGE.md
  backend/src/tlog/README.md
  backend/src/tlog/example/README.md
  docs/ABANDONED_DEPENDENCIES_ANALYSIS.md
  docs/BUN_COMPATIBILITY.md
  docs/BUN_NODE_ALTERNATIVE.md
  docs/COVERAGE_IMPROVEMENT_ROADMAP.md
  docs/DOCUMENTATION_GUIDELINES.md
  docs/DOCUMENTATION_VALIDATION_SETUP.md
  docs/ENHANCED_BUN_MAKE_TARGETS.md
  docs/HOME_ASSISTANT_INTEGRATION.md
  docs/ISSUE_221_ANALYSIS.md
  docs/PPROF.md
  docs/REFACTOR_DISKVOLUME.md
  docs/ROLLBAR_REACT_MIGRATION.md
  docs/SMB_OVER_QUIC.md
  docs/SMB_OVER_QUIC_IMPLEMENTATION.md
  docs/TELEMETRY_CONFIGURATION.md
  docs/TELEMETRY_IMPLEMENTATION.md
  docs/TEST_COVERAGE.md
  docs/implementation/IMPLEMENTATION_PERSISTENT_NOTIFICATIONS.md
  docs/implementation/IMPLEMENTATION_REMOVED_DISKS.md
  docs/implementation/IMPLEMENTATION_SUMMARY.md
  docs/implementation/README.md
  frontend/GEMINI.md
  frontend/README.md
  issues/CI-Build-Failure-Provider-Component.md
Due: validate-links-format, format-markdown-basic, lint-markdown-basic

🗑️ chore(devcontainer): remove unused extensions from config
  .devcontainer/devcontainer.json
Due: none

🗑️ chore(doc): remove obsolete documentation files
  docs/COVERAGE_IMPROVEMENT_ROADMAP.md
  docs/REFACTOR_DISKVOLUME.md
  docs/ROLLBAR_REACT_MIGRATION.md
  docs/TEST_COVERAGE.md
  docs/TODO.km
Due: validate-links-format, format-markdown-basic, lint-markdown-basic

✨ feat(ci): enhance documentation workflows
  .github/workflows/coverage-badges.yml
  .github/workflows/documentation.yml
Due: none

✨ feat(doc): update TOC in multiple documentation files
  backend/NOTES.md
  backend/README.md
  backend/src/tlog/ENHANCEMENTS.md
  backend/src/tlog/LOGGER_USAGE.md
  backend/src/tlog/README.md
  backend/src/tlog/example/README.md
Due: validate-links-format, format-markdown-basic, lint-markdown-basic

✨ feat(doc): update Table of Contents in multiple documentation files
  PRIVACY.md
  README.md
  SECURITY.md
  docs/ABANDONED_DEPENDENCIES_ANALYSIS.md
  docs/BUN_COMPATIBILITY.md
  docs/BUN_NODE_ALTERNATIVE.md
  docs/DOCUMENTATION_GUIDELINES.md
  docs/DOCUMENTATION_VALIDATION_SETUP.md
  docs/ENHANCED_BUN_MAKE_TARGETS.md
  docs/HOME_ASSISTANT_INTEGRATION.md
  docs/ISSUE_221_ANALYSIS.md
  docs/PPROF.md
  docs/SMB_OVER_QUIC.md
  docs/SMB_OVER_QUIC_IMPLEMENTATION.md
  docs/TELEMETRY_CONFIGURATION.md
  docs/TELEMETRY_IMPLEMENTATION.md
  docs/implementation/IMPLEMENTATION_PERSISTENT_NOTIFICATIONS.md
  docs/implementation/IMPLEMENTATION_REMOVED_DISKS.md
  docs/implementation/IMPLEMENTATION_SUMMARY.md
  docs/implementation/README.md
  frontend/GEMINI.md
  frontend/README.md
  issues/CI-Build-Failure-Provider-Component.md
Due: validate-links-format, format-markdown-basic, lint-markdown-basic

📚 docs: auto-fix documentation formatting and linting issues
  .github/ISSUE_TEMPLATE/documentation.md
  .github/copilot-instructions.md
  .github/pull_request_template.md
  .zencoder/rules/repo.md
  PRIVACY.md
  README.md
  SECURITY.md
  backend/NOTES.md
  backend/README.md
  backend/src/tlog/ENHANCEMENTS.md
  backend/src/tlog/LOGGER_USAGE.md
  backend/src/tlog/README.md
  backend/src/tlog/example/README.md
  docs/ABANDONED_DEPENDENCIES_ANALYSIS.md
  docs/BUN_COMPATIBILITY.md
  docs/BUN_NODE_ALTERNATIVE.md
  docs/DOCUMENTATION_GUIDELINES.md
  docs/DOCUMENTATION_VALIDATION_SETUP.md
  docs/ENHANCED_BUN_MAKE_TARGETS.md
  docs/HOME_ASSISTANT_INTEGRATION.md
  docs/ISSUE_221_ANALYSIS.md
  docs/PPROF.md
  docs/SMB_OVER_QUIC.md
  docs/SMB_OVER_QUIC_IMPLEMENTATION.md
  docs/TELEMETRY_CONFIGURATION.md
  docs/TELEMETRY_IMPLEMENTATION.md
  docs/implementation/IMPLEMENTATION_PERSISTENT_NOTIFICATIONS.md
  docs/implementation/IMPLEMENTATION_REMOVED_DISKS.md
  docs/implementation/IMPLEMENTATION_SUMMARY.md
  docs/implementation/README.md
  frontend/README.md
  issues/CI-Build-Failure-Provider-Component.md
Due: validate-links-format, format-markdown-basic, lint-markdown-basic

✨ feat(service+test): enhance share verification logic
  backend/src/api/shares_test.go
  backend/src/service/share_service.go
  backend/src/service/share_service_test.go
  docs/SHARE_VOLUME_VERIFICATION.md
Due: validate-links-format, format-markdown-basic, lint-markdown-basic

📚 docs: auto-fix documentation formatting and linting issues
  .github/copilot-instructions.md
  .zencoder/rules/repo.md
  docs/SHARE_VOLUME_VERIFICATION.md
Due: validate-links-format, format-markdown-basic, lint-markdown-basic

📚 docs: auto-fix documentation formatting and linting issues
  docs/SHARE_VOLUME_VERIFICATION.md
Due: validate-links-format, format-markdown-basic, lint-markdown-basic

🔧 chore(fe): update bun.lockb to reflect dependency changes
  frontend/bun.lockb
Due: none

📚 docs: auto-fix documentation formatting and linting issues
  frontend/docs/REDUX_DEVTOOLS.md
Due: validate-links-format, format-markdown-basic, lint-markdown-basic

🔧 chore(fe): update lockfile to reflect dependency changes
  frontend/bun.lockb
Due: none

🔧 chore(fe): update lockfile for dependency changes
  frontend/bun.lockb
Due: none

🔧 chore(fe): add config to RollbarProvider
  frontend/src/index.tsx
Due: none

Remove bun.lockb file from the frontend directory
  frontend/bun.lock
  frontend/bun.lockb
Due: none

✨ feat(fe): enhance environment handling and API integration
  frontend/bun.build.ts
  frontend/package.json
  frontend/src/components/ErrorBoundaryWrapper.tsx
  frontend/src/components/Footer.tsx
  frontend/src/components/NavBar.tsx
  frontend/src/hooks/useRollbarTelemetry.ts
  frontend/src/index.html
  frontend/src/index.tsx
  frontend/src/macro/Environment.ts
  frontend/src/macro/GitCommitHash.ts
  frontend/src/pages/settings/Settings.tsx
  frontend/src/store/emptyApi.ts
  frontend/src/store/sseApi.ts
Due: update-frontend-package-version

🔧 chore(fe): remove unused API context URL and clean up build config
  frontend/bun.build.ts
  frontend/package.json
Due: update-frontend-package-version

🔧 chore(fe): fix Window initialization settings
  frontend/test/setup.ts
Due: none

🔧 chore(fe): update localStorage and API URL in tests
  frontend/src/pages/__tests__/Swagger.test.tsx
  frontend/test/setup.ts
Due: none

📚 docs: auto-fix documentation formatting and linting issues
  docs/HDIDLE_SERVICE.md
Due: validate-links-format, format-markdown-basic, lint-markdown-basic

🔧 chore(go): update replace paths for goenums and overseer
  backend/src/go.mod
Due: remove-go-mod-replace

📚 docs: auto-fix documentation formatting and linting issues
  docs/SMART_SERVICE.md
Due: validate-links-format, format-markdown-basic, lint-markdown-basic

🔧 chore(go): update generated comment format in goenums
  backend/patches/goenums.patch
Due: none

✨ feat(service): add AbortSelfTest method and update documentation
  backend/Makefile
  backend/patches/smart.go.patch
  backend/src/go.mod
  backend/src/go.sum
  backend/src/service/smart_ioctl_linux.go
  backend/src/service/smart_service.go
  backend/src/service/smart_service_example_test.go
  backend/src/service/smart_service_test.go
  docs/SMART_SERVICE.md
Due: remove-go-mod-replace, validate-links-format, format-markdown-basic, lint-markdown-basic

feat: Add S.M.A.R.T. Status Panel to Volume Details
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  backend/src/api/smart.go
  backend/src/api/smart_test.go
  backend/src/cmd/srat-openapi/main-openapi.go
  backend/src/cmd/srat-server/main-server.go
  docs/SMART_FRONTEND_ARCHITECTURE.md
  frontend/src/hooks/useSmartOperations.ts
  frontend/src/pages/volumes/__tests__/utils.test.ts
  frontend/src/pages/volumes/components/SmartStatusPanel.tsx
  frontend/src/pages/volumes/components/VolumeDetailsPanel.tsx
  frontend/src/pages/volumes/components/__tests__/SmartStatusPanel.test.tsx
  frontend/src/pages/volumes/components/__tests__/VolumeDetailsPanel.test.tsx
  frontend/src/pages/volumes/components/index.ts
  frontend/src/store/sratApi.ts
Due: validate-links-format, format-markdown-basic, lint-markdown-basic

Path conditions:
  remove-go-mod-replace: any of: ^backend/src/go\.mod$
  update-frontend-package-version: any of: ^frontend/package\.json$
  validate-links-format: any of: \.md$
  check-changelog-format: any of: ^CHANGELOG\.md$
  format-markdown-basic: any of: \.md$
  lint-markdown-basic: any of: \.md$
