Repository dianlight/srat: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-go-mod-replace, update-frontend-package-version

remove-go-mod-replace:
  name: Remove go.mod replace lines
  stages:
  - pre-commit
  entry: ./scripts/remove-go-mod-replace.sh
  language: system
  pass_filenames: true

update-frontend-package-version:
  name: Update frontend package.json version from git tag
  stages:
  - pre-commit
  entry: ./scripts/update-frontend-version.sh
  language: system
  pass_filenames: false

✨ feat(volume-service): Implement HandleRemovedDisks feature
  IMPLEMENTATION_REMOVED_DISKS.md
  backend/src/service/volume_service.go
Due: none

✨ feat(homeassistant): Implement persistent notifications for automount partitions
  IMPLEMENTATION_PERSISTENT_NOTIFICATIONS.md
  backend/src/cmd/srat-cli/main-cli.go
  backend/src/dto/eventtypes_enums.go
  backend/src/dto/updatechannels_enums.go
  backend/src/dto/updateprocessstates_enums.go
  backend/src/homeassistant/core_api.yaml
  backend/src/homeassistant/core_api/client.gen.go
  backend/src/service/homeassistant_service.go
  backend/src/service/volume_service.go
Due: none

🧹 refactor: remove unused variables in `main-cli.go`
  backend/src/cmd/srat-cli/main-cli.go
Due: none

✨ test: add unit tests for `SambaUserRepository.GetAdmin`
  backend/src/repository/samba_user_repository_test.go
Due: none

🐛 fix(SambaUserRepository): correct user retrieval in `GetAdmin`
  backend/src/repository/samba_user_repository.go
Due: none

✨ chore(go.mod): add SQLite driver and update dependencies
  backend/src/go.mod
  backend/src/go.sum
  backend/src/service/homeassistant_service_test.go
Due: remove-go-mod-replace

🧹 chore: remove obsolete documentation and configuration files
  .continue/docs/continuedev.yaml
  .continue/docs/gofx.yaml
  .continue/docs/mui.yaml
  .continue/docs/react.yaml
  .continue/mcpServers/browser-mcp.yaml
  .continue/mcpServers/playwright-mcp.yaml
  .continue/prompts/check.yaml
  .continue/prompts/commit.yaml
  .continue/rules/solid_code.md
  .continue/rules/srat.md
  .gemini/settings.json
Due: none

✨ feat(shares): add ShareHandler and related tests
  .github/copilot-instructions.md
  backend/src/api/shares_test.go
Due: none

🧹 chore: update generated code comments in enum files
  backend/src/dto/eventtypes_enums.go
  backend/src/dto/updatechannels_enums.go
  backend/src/dto/updateprocessstates_enums.go
Due: none

🐛 fix(shares): log error when share creation fails
  backend/src/api/shares.go
Due: none

🐛 fix(shares): log error when checking for existing share Fix dianlight/hassio-addons#448
  backend/src/repository/exported_share_repository.go
  backend/src/service/share_service.go
Due: none

🧹 chore: update CHANGELOG for version 2025.08
  CHANGELOG.md
Due: none

✨ feat(repository): refactor SambaUserRepository tests to use suite pattern
  backend/src/go.mod
  backend/src/go.sum
  backend/src/repository/samba_user_repository_test.go
Due: remove-go-mod-replace

🐛 fix(exported_share_repository): update error handling for share not found
  backend/src/repository/exported_share_repository_test.go
Due: none

🐛 fix(db_config): enhance database readonly checks and error handling
  backend/src/dbom/db_config.go
Due: none

feat: Enhance documentation validation with bun support
  .github/ISSUE_TEMPLATE/documentation.md
  .github/copilot-instructions.md
  .github/copilot-rules.md
  .github/pull_request_template.md
  .github/workflows/documentation.yml
  .markdownlint.yaml
  .pre-commit-config.yaml
  CHANGELOG.md
  DOCUMENTATION_VALIDATION_SETUP.md
  GEMINI.md
  IMPLEMENTATION_PERSISTENT_NOTIFICATIONS.md
  IMPLEMENTATION_REMOVED_DISKS.md
  IMPLEMENTATION_SUMMARY.md
  Makefile
  README.md
  backend/NOTES.md
  docs/BUN_COMPATIBILITY.md
  docs/BUN_NODE_ALTERNATIVE.md
  docs/DOCUMENTATION_GUIDELINES.md
  docs/ENHANCED_BUN_MAKE_TARGETS.md
  docs/HOME_ASSISTANT_INTEGRATION.md
  frontend/package.json
  frontend/src/hooks/issueHooks.ts
  scripts/validate-docs.sh
Due: update-frontend-package-version

🐛 fix(cleanup): correct property name for filtering pre-releases
  .github/workflows/clean-prerelease.yaml
Due: none

✨ feat(docs): enhance implementation documentation and add new files
  .github/workflows/documentation.yml
  backend/NOTES.md
  docs/BUN_COMPATIBILITY.md
  docs/BUN_NODE_ALTERNATIVE.md
  docs/DOCUMENTATION_VALIDATION_SETUP.md
  docs/implementation/IMPLEMENTATION_PERSISTENT_NOTIFICATIONS.md
  docs/implementation/IMPLEMENTATION_REMOVED_DISKS.md
  docs/implementation/IMPLEMENTATION_SUMMARY.md
  docs/implementation/README.md
Due: none

✨ feat(volumes): add SHA-1 hash generation with fallback Fix: dianlight/hassio-addons#447
  frontend/bun.lockb
  frontend/package.json
  frontend/src/pages/Volumes.tsx
Due: update-frontend-package-version

🔧 fix(volumes): update import statement for `sha1` function
  frontend/src/pages/Volumes.tsx
Due: none

🐛 fix(changelog): add missing fix for unable to mount external drive
  CHANGELOG.md
Due: none

Create rollbar.yaml
  .github/workflows/rollbar.yaml
Due: none

feat: Implement Rollbar telemetry with configurable privacy modes
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  backend/src/api/setting.go
  backend/src/api/telemetry.go
  backend/src/cmd/srat-openapi/main-openapi.go
  backend/src/cmd/srat-server/main-server.go
  backend/src/config/addon_json_config.go
  backend/src/converter/config_to_dto.go
  backend/src/converter/config_to_dto_conv_gen.go
  backend/src/dto/eventtypes_enums.go
  backend/src/dto/settings.go
  backend/src/dto/telemetry_mode.go
  backend/src/dto/telemetrymodes_enums.go
  backend/src/dto/updatechannels_enums.go
  backend/src/dto/updateprocessstates_enums.go
  backend/src/go.mod
  backend/src/go.sum
  backend/src/internal/appsetup/appsetup.go
  backend/src/service/telemetry_service.go
  docs/TELEMETRY_IMPLEMENTATION.md
  frontend/bun.lockb
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/ErrorBoundaryWrapper.tsx
  frontend/src/components/TelemetryModal.tsx
  frontend/src/hooks/useTelemetryInitialization.ts
  frontend/src/hooks/useTelemetryModal.ts
  frontend/src/pages/Settings.tsx
  frontend/src/services/telemetryService.ts
  frontend/src/store/sratApi.ts
Due: remove-go-mod-replace, update-frontend-package-version

🐛 fix(changelog): correct typos and update CHANGELOG.md format
  .github/copilot-rules.md
  CHANGELOG.md
Due: none

✨ feat(telemetry): integrate Rollbar configuration and documentation
  .github/workflows/build.yaml
  Makefile
  backend/Makefile
  backend/src/config/version.go
  backend/src/internal/appsetup/appsetup.go
  docs/TELEMETRY_CONFIGURATION.md
  docs/TELEMETRY_IMPLEMENTATION.md
  frontend/bun.build.ts
  frontend/src/hooks/useTelemetryInitialization.ts
  frontend/src/services/telemetryService.ts
Due: none

🐛 fix(.gitignore): add .env.example to ignored files
  .gitignore
Due: none

✨ feat(telemetry): migrate to @rollbar/react for improved error handling
  docs/ROLLBAR_REACT_MIGRATION.md
  frontend/bun.lockb
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/ErrorBoundaryWrapper.tsx
  frontend/src/hooks/useRollbarTelemetry.ts
  frontend/src/hooks/useTelemetryInitialization.ts
  frontend/src/index.tsx
  frontend/src/services/telemetryService.ts
Due: update-frontend-package-version

✨ feat(env): add prompts for HOMEASSISTANT_IP and ROLLBAR_CLIENT_ACCESS_TOKEN
  .devcontainer/devcontainer.json
  .devcontainer/postCreateCommand.sh
Due: none

✨ feat(telemetry): implement Rollbar integration and update privacy policy
  PRIVACY.md
  docs/ROLLBAR_REACT_MIGRATION.md
  frontend/bun.lockb
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/index.tsx
Due: update-frontend-package-version

✨ feat(telemetry): enable source map generation for Rollbar
  frontend/src/services/telemetryService.ts
Due: none

feat(tlog): Add demonstration application for TLog package
  .github/copilot-instructions.md
  backend/Makefile
  backend/src/go.mod
  backend/src/tlog/README.md
  backend/src/tlog/example/main.go
  backend/src/tlog/tlog.go
  backend/src/tlog/tlog_test.go
Due: remove-go-mod-replace

✨ feat(tlog): Introduce `Logger` struct with enhanced logging features
  backend/src/go.sum
  backend/src/tlog/LOGGER_USAGE.md
  backend/src/tlog/example_logger.go
  backend/src/tlog/example_test.go
  backend/src/tlog/tlog.go
  backend/src/tlog/tlog_test.go
Due: none

🧹 chore(settings): remove unused configuration options
  .vscode/settings.json
Due: none

✨ feat(tlog): Add examples and tests for `Logger` struct
  backend/Makefile
  backend/src/tlog/example/README.md
  backend/src/tlog/example/examples_test.go
  backend/src/tlog/example/go.mod
  backend/src/tlog/example/go.sum
  backend/src/tlog/example/logger_demo.go
  backend/src/tlog/example/main.go
Due: none

feat(tlog): Enhance logging with formatter integration and color support
  backend/src/go.mod
  backend/src/go.sum
  backend/src/tlog/ENHANCEMENTS.md
  backend/src/tlog/README.md
  backend/src/tlog/example/formatter_demo.go
  backend/src/tlog/example/go.mod
  backend/src/tlog/example/go.sum
  backend/src/tlog/example/main.go
  backend/src/tlog/tlog.go
  backend/src/tlog/tlog_test.go
Due: remove-go-mod-replace

✨ feat(tlog): Add Tozd error formatting with colored stack traces
  backend/src/tlog/doc_tozd.go
  backend/src/tlog/example/formatter_demo.go
  backend/src/tlog/example/go.mod
  backend/src/tlog/example/go.sum
  backend/src/tlog/example/main.go
  backend/src/tlog/tlog.go
  backend/src/tlog/tlog_tozd_example_test.go
  backend/src/tlog/tozd_formatter_test.go
Due: none

✨ feat(tlog): Add Tozd error formatting with tree stack traces
  backend/src/tlog/README.md
  backend/src/tlog/example/main.go
  backend/src/tlog/example/tree_demo.go
  backend/src/tlog/tlog.go
  backend/src/tlog/tlog_tozd_example_test.go
  backend/src/tlog/tozd_formatter_test.go
Due: none

✨ feat(tlog): Add multiline stacktrace support
  backend/src/tlog/README.md
  backend/src/tlog/example/main.go
  backend/src/tlog/example/multiline_demo.go
  backend/src/tlog/tlog.go
  backend/src/tlog/tlog_tozd_example_test.go
  backend/src/tlog/tozd_formatter_test.go
Due: none

Path conditions:
  remove-go-mod-replace: any of: ^backend/src/go\.mod$
  update-frontend-package-version: any of: ^frontend/package\.json$
