Repository dianlight/srat: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-go-mod-replace, update-frontend-package-version, validate-links-format, check-changelog-format, format-markdown-basic, lint-markdown-basic

remove-go-mod-replace:
  name: Remove go.mod replace lines
  stages:
  - pre-commit
  entry: ./scripts/remove-go-mod-replace.sh
  language: system
  pass_filenames: true

update-frontend-package-version:
  name: Update frontend package.json version from git tag
  stages:
  - pre-commit
  entry: ./scripts/update-frontend-version.sh
  language: system
  pass_filenames: false

validate-links-format:
  name: Validate link formats
  entry: bash
  language: system
  args:
  - -c
  ...

check-changelog-format:
  name: Check CHANGELOG.md format
  entry: bash
  language: system
  args:
  - -c
  ...

format-markdown-basic:
  name: Basic markdown formatting
  entry: bash
  language: system
  args:
  - -c
  ...

lint-markdown-basic:
  name: Basic markdown linting
  entry: bash
  language: system
  args:
  - -c
  ...

fix(test): update test command with timeout and embedallowed_no tag
  backend/Makefile
Due: none

fix(gitignore): allow tracking of config directory
  .gitignore
Due: none

🛠️ docs: update Gitmoji guideline with link to gitmoji.dev
  .github/.copilot-commit-message-instructions.md
Due: validate-links-format, format-markdown-basic, lint-markdown-basic

🛠️ docs: update commit message guidelines for clarity and structure
  .github/.copilot-commit-message-instructions.md
Due: validate-links-format, format-markdown-basic, lint-markdown-basic

Refactor error handling across services to use custom error type
  backend/src/api/health.go
  backend/src/api/shares_test.go
  backend/src/config/addon_json_config.go
  backend/src/converter/config_to_dbom.go
  backend/src/converter/config_to_dbom_conv.go
  backend/src/converter/dto_to_dbom_conv.go
  backend/src/converter/issue_to_dto_conv_gen.go
  backend/src/dto/error_code.go
  backend/src/dto/eventtypes_enums.go
  backend/src/dto/telemetrymodes_enums.go
  backend/src/dto/timemachinesupports_enums.go
  backend/src/dto/updatechannels_enums.go
  backend/src/dto/updateprocessstates_enums.go
  backend/src/repository/exported_share_repository.go
  backend/src/repository/mount_point_path_repository.go
  backend/src/repository/property_repository.go
  backend/src/repository/samba_user_repository.go
  backend/src/repository/samba_user_repository_test.go
  backend/src/service/addons_service.go
  backend/src/service/dirty_data_service.go
  backend/src/service/dirty_data_service_test.go
  backend/src/service/disk_stats_service.go
  backend/src/service/network_stats_service.go
  backend/src/service/samba_service.go
  backend/src/service/samba_service_test.go
  backend/src/service/share_service.go
  backend/src/service/supervisor_service.go
  backend/src/service/telemetry_service.go
  backend/src/service/upgrade_service.go
  backend/src/service/upgrade_service_test.go
  backend/src/service/user_service.go
  backend/src/service/volume_service.go
  backend/src/service/volume_service_test.go
  backend/src/tempio/template.go
  backend/src/unixsamba/unixsamba.go
Due: none

🛠️ docs: update commit message guidelines to limit important changes to 3 and bullet length to 60 chars
  .github/.copilot-commit-message-instructions.md
Due: validate-links-format, format-markdown-basic, lint-markdown-basic

feat: add repeating field to Issue type and update OpenAPI specification
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  frontend/src/store/sratApi.ts
Due: none

🛠️ docs: update instructions for clarity and organization
  .github/.copilot-commit-message-instructions.md
  .github/copilot-instructions.md
Due: validate-links-format, format-markdown-basic, lint-markdown-basic

feat: add GitHub.remotehub extension to development container
  .devcontainer/devcontainer.json
Due: none

feat: Implement HaWsService for Home Assistant WebSocket events
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  backend/src/cmd/srat-cli/main-cli.go
  backend/src/cmd/srat-openapi/main-openapi.go
  backend/src/dto/context.go
  backend/src/dto/eventtypes_enums.go
  backend/src/dto/telemetrymodes_enums.go
  backend/src/dto/timemachinesupports_enums.go
  backend/src/dto/updatechannels_enums.go
  backend/src/dto/updateprocessstates_enums.go
  backend/src/go.mod
  backend/src/go.sum
  backend/src/homeassistant/websocket/client.go
  backend/src/homeassistant/websocket/client_events_test.go
  backend/src/homeassistant/websocket/client_test.go
  backend/src/internal/appsetup/appsetup.go
  backend/src/service/addons_service.go
  backend/src/service/addons_service_test.go
  backend/src/service/broadcaster_service.go
  backend/src/service/ha_root_service.go
  backend/src/service/ha_root_service_test.go
  backend/src/service/ha_ws_service.go
  backend/src/service/homeassistant_service.go
  backend/src/service/homeassistant_service_test.go
  backend/src/service/host_service.go
  backend/src/service/host_service_test.go
  backend/src/service/resolution_service.go
  backend/src/service/samba_service.go
  backend/src/service/samba_service_test.go
  backend/src/service/supervisor_service.go
Due: remove-go-mod-replace

fix: update build process and remote configuration checks in Makefile
  backend/Makefile
Due: none

feat: update health check handler to include ProtectedMode status
  backend/src/api/health.go
Due: none

feat: Refactor hardware service integration and update OpenAPI documentation
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  backend/src/dto/eventtypes_enums.go
  backend/src/dto/telemetrymodes_enums.go
  backend/src/dto/timemachinesupports_enums.go
  backend/src/dto/updatechannels_enums.go
  backend/src/dto/updateprocessstates_enums.go
  backend/src/internal/appsetup/appsetup.go
  backend/src/service/hardware_service.go
  backend/src/service/volume_service.go
  backend/src/service/volume_service_test.go
Due: none

style: Reformat SharedResource struct for improved readability
  backend/src/dto/shared_resource.go
Due: none

fix: update format target to include vet and ensure proper order of commands
  backend/Makefile
Due: none

feat: add websocket support and caching for hardware info retrieval
  backend/src/go.mod
  backend/src/homeassistant/websocket/client.go
  backend/src/service/disk_stats_service_test.go
  backend/src/service/ha_ws_service.go
  backend/src/service/hardware_service.go
  backend/src/service/volume_service.go
  backend/src/service/volume_service_test.go
Due: remove-go-mod-replace

fix: update array declaration for prerelease tags in cleanup workflow
  .github/workflows/clean-prerelease.yaml
Due: none

feat: enhance websocket authentication flow and improve logging in tests
  backend/src/homeassistant/websocket/client.go
  backend/src/homeassistant/websocket/client_test.go
Due: none

fix: reorder format target commands for improved clarity and execution
  backend/Makefile
Due: none

feat: add issue repository tests and enhance FindOpen method to return recent issues
  backend/src/go.mod
  backend/src/go.sum
  backend/src/repository/issue_repository.go
  backend/src/repository/issue_repository_test.go
Due: remove-go-mod-replace

🔧 fix(settings): correct path for Copilot commit message instructions
  .vscode/settings.json
Due: none

✨ feat(db): add Goose migration support and update dependencies
  backend/src/dbom/db_config.go
  backend/src/dbom/migrations/00001_issue_title_index.sql
  backend/src/dbom/migrations/00002_normalize_mount_point_paths.sql
  backend/src/go.mod
  backend/src/go.sum
Due: remove-go-mod-replace

🔧 fix(doc): update commit message instructions format
  .github/.copilot-commit-message-instructions.md
Due: validate-links-format, format-markdown-basic, lint-markdown-basic

🔧 fix(samba_service): improve error handling in service reload
  backend/src/service/samba_service.go
Due: none

🔧 fix(supervisor_service): update mount filtering logic
  backend/src/service/supervisor_service.go
Due: none

🔧 fix(supervisor_service): improve error logging in mount creation
  backend/src/service/supervisor_service.go
Due: none

🔧 fix(hardware_service): enhance partition handling logic
  backend/src/service/hardware_service.go
Due: none

Add abandonmentThreshold to Renovate configuration
  .github/renovate.json
Due: none

Add pprof support for performance profiling
  backend/src/pprof.go
Due: none

Update build commands in Makefile for profiling
  backend/Makefile
Due: none

Add pprof targets for local and remote profiling
  backend/Makefile
Due: none

Refactor pprof targets in Makefile
  backend/Makefile
Due: none

Fix pprof_cpu_remote command syntax
  backend/Makefile
Due: none

Add Dependabot configuration file
  .github/dependabot.yml
Due: none

Update supported versions in SECURITY.md
  SECURITY.md
Due: validate-links-format, format-markdown-basic, lint-markdown-basic

Fix pprof command syntax in Makefile
  backend/Makefile
Due: none

feat: add export_stats_to_ha setting and related functionality
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  backend/src/converter/config_to_dto.go
  backend/src/dbom/migrations/00003_properties_ExportStatsToHA.sql
  backend/src/dto/settings.go
  backend/src/service/homeassistant_service.go
  backend/src/service/homeassistant_service_test.go
  frontend/src/pages/settings/Settings.tsx
  frontend/src/store/sratApi.ts
Due: none

✨ feat(be): enhance pprof integration and documentation
  .devcontainer/updateContentCommand.sh
  backend/Makefile
  backend/src/go.mod
  backend/src/pprof.go
  backend/src/server/http_server.go
  backend/src/server/pprof.go
  backend/src/service/samba_service.go
  backend/src/service/upgrade_service.go
  docs/PPROF.md
Due: remove-go-mod-replace, validate-links-format, format-markdown-basic, lint-markdown-basic

🐛 fix(fe): improve error handling in SSE client
  frontend/src/hooks/volumeHook.ts
  frontend/src/index.tsx
  frontend/src/store/emptyApi.ts
Due: none

✨ feat(be): set default heartbeat in staticConfig
  backend/src/cmd/srat-server/main-server.go
Due: none

Path conditions:
  remove-go-mod-replace: any of: ^backend/src/go\.mod$
  update-frontend-package-version: any of: ^frontend/package\.json$
  validate-links-format: any of: \.md$
  check-changelog-format: any of: ^CHANGELOG\.md$
  format-markdown-basic: any of: \.md$
  lint-markdown-basic: any of: \.md$
