Repository dianlight/srat: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-go-mod-replace, update-frontend-package-version, validate-links-format, check-changelog-format, format-markdown-basic, lint-markdown-basic

remove-go-mod-replace:
  name: Remove go.mod replace lines
  stages:
  - pre-commit
  entry: ./scripts/remove-go-mod-replace.sh
  language: system
  pass_filenames: true

update-frontend-package-version:
  name: Update frontend package.json version from git tag
  stages:
  - pre-commit
  entry: ./scripts/update-frontend-version.sh
  language: system
  pass_filenames: false

validate-links-format:
  name: Validate link formats
  entry: bash
  language: system
  args:
  - -c
  ...

check-changelog-format:
  name: Check CHANGELOG.md format
  entry: bash
  language: system
  args:
  - -c
  ...

format-markdown-basic:
  name: Basic markdown formatting
  entry: bash
  language: system
  args:
  - -c
  ...

lint-markdown-basic:
  name: Basic markdown linting
  entry: bash
  language: system
  args:
  - -c
  ...

feat: Add partition management components and hooks
  frontend/src/components/NavBar.tsx
  frontend/src/pages/Shares.tsx
  frontend/src/pages/Volumes.tsx
  frontend/src/pages/volumes/Volumes.tsx
  frontend/src/pages/volumes/components/PartitionActions.tsx
  frontend/src/pages/volumes/components/VolumeMountDialog.tsx
  frontend/src/pages/volumes/hooks/useVolumeAccordion.ts
  frontend/src/pages/volumes/utils.ts
Due: none

✨ feat(Settings): add key prop to Component for unique identification
  frontend/src/pages/Settings.tsx
Due: none

✨ feat(changelog): update changelog with new features and remove completed tasks
  CHANGELOG.md
Due: validate-links-format, check-changelog-format, format-markdown-basic, lint-markdown-basic

📝 docs: update Copilot instructions and README for clarity
  .github/copilot-instructions.md
  frontend/README.md
Due: validate-links-format, format-markdown-basic, lint-markdown-basic

✨ feat(navbar): integrate guided tour functionality
  frontend/bun.lockb
  frontend/package.json
  frontend/src/components/NavBar.tsx
  frontend/src/index.tsx
  frontend/src/pages/dashboard/DashboardTourStep.tsx
Due: update-frontend-package-version

✨ feat(dashboard): enhance guided tour steps and add tutorial data attributes
  frontend/src/components/NavBar.tsx
  frontend/src/pages/dashboard/Dashboard.tsx
  frontend/src/pages/dashboard/DashboardActions.tsx
  frontend/src/pages/dashboard/DashboardIntro.tsx
  frontend/src/pages/dashboard/DashboardTourStep.tsx
  frontend/src/pages/dashboard/metrics/DiskHealthMetricsAccordion.tsx
  frontend/src/pages/dashboard/metrics/MetricDetails.tsx
  frontend/src/pages/dashboard/metrics/NetworkHealthMetricsAccordion.tsx
  frontend/src/pages/dashboard/metrics/ProcessMetricsAccordion.tsx
  frontend/src/pages/dashboard/metrics/SambaStatusMetricsAccordion.tsx
  frontend/src/pages/dashboard/metrics/SystemMetricsAccordion.tsx
Due: none

✨ feat(tour): implement guided tour functionality with event handling
  frontend/bun.lockb
  frontend/package.json
  frontend/src/components/NavBar.tsx
  frontend/src/index.tsx
  frontend/src/pages/dashboard/Dashboard.tsx
  frontend/src/pages/dashboard/DashboardActions.tsx
  frontend/src/pages/dashboard/DashboardTourStep.tsx
  frontend/src/pages/dashboard/metrics/MetricDetails.tsx
  frontend/src/utils/TourEvents.ts
Due: update-frontend-package-version

✨ feat(shares): implement guided tour steps for Shares component
  frontend/src/components/NavBar.tsx
  frontend/src/pages/Shares.tsx
  frontend/src/pages/SharesTourStep.tsx
  frontend/src/utils/TourEvents.ts
Due: none

🔧 fix(sse): change error logging from console.error to console.warn
  frontend/src/index.tsx
Due: none

📝 chore: consolidate and update project development guidelines
  .github/copilot-instructions.md
  .github/copilot-rules.md
Due: validate-links-format, format-markdown-basic, lint-markdown-basic

🔧 fix(GEMINI): correct file reference in change instructions
  frontend/GEMINI.md
Due: validate-links-format, format-markdown-basic, lint-markdown-basic

🔧 fix(geminicodeassist): change update channel from "Insiders" to "Default"
  .vscode/settings.json
Due: none

🔧 fix(copilot-instructions): update issue reference format in required information
  .github/copilot-instructions.md
Due: validate-links-format, format-markdown-basic, lint-markdown-basic

feat(shares): add SharesTourStep component and implement share management features
  frontend/src/components/NavBar.tsx
  frontend/src/pages/Shares.tsx
  frontend/src/pages/shares/ShareActions.tsx
  frontend/src/pages/shares/ShareEditDialog.tsx
  frontend/src/pages/shares/SharesTourStep.tsx
  frontend/src/pages/shares/index.tsx
  frontend/src/pages/shares/types.ts
  frontend/src/pages/shares/utils.ts
Due: none

✨ feat(volumes): add VolumesTourStep and integrate tour steps
  frontend/src/components/NavBar.tsx
  frontend/src/index.tsx
  frontend/src/pages/dashboard/DashboardTourStep.tsx
  frontend/src/pages/shares/SharesTourStep.tsx
  frontend/src/pages/shares/index.tsx
  frontend/src/pages/shares/utils.ts
  frontend/src/pages/volumes/Volumes.tsx
  frontend/src/pages/volumes/VolumesTourStep.tsx
  frontend/src/pages/volumes/hooks/useVolumeAccordion.ts
  frontend/src/store/emptyApi.ts
  frontend/src/utils/TourEvents.ts
Due: none

✨ feat(settings): add tutorial steps for Settings configuration
  frontend/src/components/NavBar.tsx
  frontend/src/pages/Settings.tsx
  frontend/src/pages/settings/SettingsTourStep.tsx
  frontend/src/utils/TourEvents.ts
Due: none

✨ feat(users): add tutorial steps for user management
  frontend/src/components/NavBar.tsx
  frontend/src/pages/Users.tsx
  frontend/src/pages/users/UsersSteps.tsx
  frontend/src/utils/TourEvents.ts
Due: none

🔧 chore(bun.lockb): update lockfile to reflect dependency changes
  frontend/bun.lockb
Due: none

✨ feat(users): add Users management component
  frontend/src/components/NavBar.tsx
  frontend/src/pages/settings/Settings.tsx
  frontend/src/pages/users/Users.tsx
Due: none

✨ feat(shares): add guest access and time machine settings to ShareEditDialog
  backend/docs/openapi.yaml
  backend/src/config/addon_json_config.go
  backend/src/converter/config_to_dbom_conv_gen.go
  backend/src/converter/config_to_dto_conv_gen.go
  backend/src/converter/dto_to_dbom_conv_gen.go
  backend/src/dbom/exported_share.go
  backend/src/dto/shared_resource.go
  backend/src/homeassistant/hardware.yaml
  backend/src/homeassistant/hardware/client.gen.go
  backend/src/service/volume_service.go
  backend/src/service/volume_service_test.go
  backend/src/templates/smb.gtpl
  frontend/src/pages/shares/ShareEditDialog.tsx
Due: none

feat: Add Time Machine support and write capability checks for filesystems
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  backend/src/api/system.go
  backend/src/config/main_test.go
  backend/src/converter/config_to_dto.go
  backend/src/converter/config_to_dto_conv_gen.go
  backend/src/converter/dto_to_dbom.go
  backend/src/converter/dto_to_dbom_conv_gen.go
  backend/src/converter/lsblk_to_dto.go
  backend/src/converter/lsblk_to_dto_conv_gen.go
  backend/src/dto/filesystem_type.go
  backend/src/dto/mount_point_data.go
  backend/src/dto/samba_process_status.go
  backend/src/dto/time_machine_support.go
  backend/src/dto/timemachinesupports_enums.go
  backend/src/service/filesystem_service.go
  backend/src/service/homeassistant_service.go
  backend/src/service/homeassistant_service_test.go
  backend/src/service/samba_service.go
  backend/src/templates/smb.gtpl
  backend/test/data/smb.conf
  frontend/src/pages/shares/ShareEditDialog.tsx
  frontend/src/store/sratApi.ts
Due: none

feat: Enhance MountPointData with disk information and update related components
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  backend/src/api/shares.go
  backend/src/converter/config_to_dto.go
  backend/src/converter/config_to_dto_conv_gen.go
  backend/src/converter/dto_to_dbom.go
  backend/src/converter/dto_to_dbom_conv_gen.go
  backend/src/converter/lsblk_to_dto.go
  backend/src/converter/lsblk_to_dto_conv_gen.go
  backend/src/dto/eventtypes_enums.go
  backend/src/dto/filesystem_type.go
  backend/src/dto/mount_point_data.go
  backend/src/dto/telemetrymodes_enums.go
  backend/src/dto/timemachinesupports_enums.go
  backend/src/dto/updatechannels_enums.go
  backend/src/dto/updateprocessstates_enums.go
  backend/src/repository/exported_share_repository.go
  backend/src/service/samba_service.go
  frontend/src/components/Footer.tsx
  frontend/src/index.tsx
  frontend/src/pages/shares/ShareEditDialog.tsx
  frontend/src/pages/shares/index.tsx
  frontend/src/store/sratApi.ts
Due: none

✨ feat(shares): update Shares component to utilize `filesize` for disk size representation
  frontend/src/components/NavBar.tsx
  frontend/src/pages/dashboard/metrics/DiskHealthMetrics.tsx
  frontend/src/pages/dashboard/metrics/NetworkHealthMetrics.tsx
  frontend/src/pages/dashboard/metrics/SystemMetricsAccordion.tsx
  frontend/src/pages/dashboard/metrics/utils.ts
  frontend/src/pages/shares/ShareEditDialog.tsx
  frontend/src/pages/shares/Shares.tsx
  frontend/src/pages/volumes/Volumes.tsx
Due: none

refactor(frontend): reorganize users page to match shares structure
  frontend/src/pages/users/UserActions.tsx
  frontend/src/pages/users/UserEditDialog.tsx
  frontend/src/pages/users/Users.tsx
  frontend/src/pages/users/types.tsx
Due: none

🎨 refactor(users): enhance ListItemButton styling with theme support
  frontend/src/pages/users/Users.tsx
Due: none

🎨 refactor(settings): enhance Stack component styling with theme support
  frontend/src/pages/settings/Settings.tsx
Due: none

🐛 fix(broacaster): improve error handling in ProcessHttpChannel
  backend/src/go.mod
  backend/src/service/broacaster_service.go
Due: remove-go-mod-replace

🎨 refactor(SystemMetricsAccordion): enhance metric visibility structure
  frontend/src/pages/dashboard/metrics/MetricCard.tsx
  frontend/src/pages/dashboard/metrics/SystemMetricsAccordion.tsx
Due: none

🔧 refactor(pre-commit): comment out go build+test hook
  .pre-commit-config.yaml
Due: none

feat: Add local master configuration option and update related components
  CHANGELOG.md
  backend/Makefile
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  backend/src/api/setting_test.go
  backend/src/config/addon_json_config.go
  backend/src/converter/config_to_dto_conv_gen.go
  backend/src/dto/eventtypes_enums.go
  backend/src/dto/settings.go
  backend/src/dto/telemetrymodes_enums.go
  backend/src/dto/timemachinesupports_enums.go
  backend/src/dto/updatechannels_enums.go
  backend/src/dto/updateprocessstates_enums.go
  backend/src/homeassistant/supervisor_ci_test.go
  frontend/src/pages/settings/Settings.tsx
  frontend/src/store/sratApi.ts
Due: validate-links-format, check-changelog-format, format-markdown-basic, lint-markdown-basic

feat: Update OpenAPI documentation and settings handling
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  backend/src/converter/config_to_dto_conv_gen.go
  backend/src/converter/dto_to_dbom_conv.go
  backend/src/dto/settings.go
  backend/src/templates/smb.gtpl
  backend/test/data/smb.conf
Due: none

🐛 fix(PropertiesToSettings): improve error message for type mismatch
  backend/src/converter/dto_to_dbom_conv.go
Due: none

🐛 fix(PropertiesToConfig): improve error handling for type mismatches
  backend/src/converter/config_to_dbom_conv.go
  backend/src/service/samba_service.go
Due: none

✨ feat(samba_service): set default values for Samba configuration
  backend/src/go.mod
  backend/src/go.sum
  backend/src/service/samba_service.go
Due: remove-go-mod-replace

Refactor OpenAPI parameters order, update generated enum files, upgrade Go version to 1.25.0, and update documentation references
  .devcontainer/updateContentCommand.sh
  .github/copilot-instructions.md
  .github/workflows/build.yaml
  .zencoder/rules/repo.md
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  backend/src/dto/eventtypes_enums.go
  backend/src/dto/telemetrymodes_enums.go
  backend/src/dto/timemachinesupports_enums.go
  backend/src/dto/updatechannels_enums.go
  backend/src/dto/updateprocessstates_enums.go
  backend/src/go.mod
  backend/src/go.sum
  backend/src/tlog/example/go.mod
  backend/src/tlog/example/go.sum
  docs/DOCUMENTATION_VALIDATION_SETUP.md
  frontend/GEMINI.md
Due: remove-go-mod-replace, validate-links-format, format-markdown-basic, lint-markdown-basic

feat: Implement BroadcasterService for SSE and Home Assistant integration
  .github/copilot-instructions.md
  backend/src/api/issue.go
  backend/src/dbom/issue.go
  backend/src/dto/issue.go
  backend/src/homeassistant/ingress_ci_test.go
  backend/src/homeassistant/supervisor_ci_test.go
  backend/src/repository/issue_repository.go
  backend/src/server/ha_middleware_test.go
  backend/src/service/broadcaster_service.go
  backend/src/service/broadcaster_service_test.go
  backend/src/service/disk_stats_service.go
  backend/src/service/disk_stats_service_test.go
  backend/src/service/ha_root_service_test.go
  backend/src/service/issue_service.go
  backend/src/service/issue_service_test.go
  backend/src/service/volume_service.go
  backend/src/service/volume_service_test.go
  frontend/src/index.tsx
Due: validate-links-format, format-markdown-basic, lint-markdown-basic

✨ feat(telemetry_service): add error session limiter for improved error reporting
  backend/src/service/telemetry_service.go
Due: none

🛠️ refactor(validate-docs): streamline documentation validation script
  .github/copilot-instructions.md
  .markdown-link-check.json
  scripts/validate-docs.sh
Due: validate-links-format, format-markdown-basic, lint-markdown-basic

✨ feat: add commit message guidelines for Conventional Commits format
  .github/.copilot-commit-message-instructions.md
  .github/copilot-instructions.md
Due: validate-links-format, format-markdown-basic, lint-markdown-basic

🛠️ refactor(settings): remove detailed commit message guidelines and link to instructions file
  .vscode/settings.json
Due: none

Path conditions:
  remove-go-mod-replace: any of: ^backend/src/go\.mod$
  update-frontend-package-version: any of: ^frontend/package\.json$
  validate-links-format: any of: \.md$
  check-changelog-format: any of: ^CHANGELOG\.md$
  format-markdown-basic: any of: \.md$
  lint-markdown-basic: any of: \.md$
