Repository dianlight/srat: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-go-mod-replace, update-frontend-package-version, validate-links-format, check-changelog-format, format-markdown-basic, lint-markdown-basic

remove-go-mod-replace:
  name: Remove go.mod replace lines
  stages:
  - pre-commit
  entry: ./scripts/remove-go-mod-replace.sh
  language: system
  pass_filenames: true

update-frontend-package-version:
  name: Update frontend package.json version from git tag
  stages:
  - pre-commit
  entry: ./scripts/update-frontend-version.sh
  language: system
  pass_filenames: false

validate-links-format:
  name: Validate link formats
  entry: bash
  language: system
  args:
  - -c
  ...

check-changelog-format:
  name: Check CHANGELOG.md format
  entry: bash
  language: system
  args:
  - -c
  ...

format-markdown-basic:
  name: Basic markdown formatting
  entry: bash
  language: system
  args:
  - -c
  ...

lint-markdown-basic:
  name: Basic markdown linting
  entry: bash
  language: system
  args:
  - -c
  ...

feat: add enabled field to SmartInfo and update related components
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  backend/src/dto/smart.go
  backend/src/service/smart_service.go
  frontend/src/pages/volumes/components/SmartStatusPanel.tsx
  frontend/src/pages/volumes/components/__tests__/SmartStatusPanel.test.tsx
  frontend/src/store/sratApi.ts
Due: none

✨ feat(smart): enhance SMART functionality and add REST API
  CHANGELOG.md
Due: validate-links-format, check-changelog-format, format-markdown-basic, lint-markdown-basic

📚 docs: auto-fix documentation formatting and linting issues
  frontend/README.md
Due: validate-links-format, format-markdown-basic, lint-markdown-basic

Update go.mod
  backend/src/go.mod
Due: remove-go-mod-replace

📚 docs: auto-fix documentation formatting and linting issues
  docs/HDIDLE_SERVICE.md
Due: validate-links-format, format-markdown-basic, lint-markdown-basic

Remove replace directives from go.mod
  backend/src/go.mod
Due: remove-go-mod-replace

Remove local replace directives in go.mod
  backend/src/go.mod
Due: remove-go-mod-replace

🔧 fix(samba_service): improve error handling in GetSambaStatus
  backend/src/go.mod
  backend/src/service/samba_service.go
Due: remove-go-mod-replace

Implement Samba Version Checks and Testing Infrastructure
  CHANGELOG.md
  backend/src/go.mod
  backend/src/internal/osutil/osutil.go
  backend/src/service/samba_service.go
  backend/src/service/samba_service_test.go
  backend/src/tempio/template.go
  backend/src/templates/smb.gtpl
  backend/test/data/smb.conf
  docs/IMPLEMENTATION_SAMBA_VERSION_CHECKS.md
  docs/INDEX_VERSION_TESTS.md
  docs/SAMBA_VERSION_CHECKS.md
  docs/TESTING_SAMBA_VERSION_CHECKS.md
  docs/TEST_VERSION_CHECKS_IMPLEMENTATION.md
  docs/VERSION_TESTS_QUICK_REFERENCE.md
Due: remove-go-mod-replace, validate-links-format, check-changelog-format, format-markdown-basic, lint-markdown-basic

🔧 fix(volume_service): replace slog with tlog for tracing
  .pre-commit-config.yaml
  backend/src/service/volume_service.go
Due: none

🔧 fix(fe): update ShareEditForm to use `watch` for usage check
  frontend/src/pages/shares/components/ShareEditForm.tsx
  frontend/src/pages/shares/components/__tests__/ShareEditForm.test.tsx
Due: none

🔧 fix(converter): replace `slog` with `tlog` for tracing
  backend/src/converter/config_to_dto.go
Due: none

Refactor SMART command handling and update OpenAPI documentation
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  backend/src/go.mod
  backend/src/go.sum
  backend/src/service/samba_service_test.go
  backend/src/service/smart_ioctl_linux.go
  backend/src/service/smart_ioctl_other.go
  backend/src/service/smart_service.go
Due: remove-go-mod-replace

🔧 fix(go.mod): update module replacements for local development
  backend/src/go.sum
Due: none

🔧 fix(service): update `TestGetHealthStatus` for non-existent device
  backend/src/service/smart_service_test.go
Due: none

Enhance Samba Version Testing Documentation and Implementation
  .cspell.json
  .github/copilot-instructions.md
  CHANGELOG.md
  docs/IMPLEMENTATION_SAMBA_VERSION_CHECKS.md
  docs/INDEX_VERSION_TESTS.md
  docs/SAMBA_VERSION_CHECKS.md
  docs/SMART_FRONTEND_ARCHITECTURE.md
  docs/SMART_SERVICE.md
  docs/TESTING_SAMBA_VERSION_CHECKS.md
  docs/TEST_VERSION_CHECKS_IMPLEMENTATION.md
  docs/VERSION_TESTS_QUICK_REFERENCE.md
Due: validate-links-format, check-changelog-format, format-markdown-basic, lint-markdown-basic

✨ feat(cspell): add new words to spell checker configuration
  .cspell.json
Due: none

Refactor HDIdle configuration handling and enhance SMART status checks
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  backend/src/api/hdidle_handler.go
  backend/src/cmd/srat-cli/main-cli.go
  backend/src/cmd/srat-server/main-server.go
  backend/src/converter/dto_to_dbom_conv_gen.go
  backend/src/dbom/exported_share_test.go
  backend/src/dbom/hdidle_config.go
  backend/src/dto/event_type.go
  backend/src/dto/eventtypes_enums.go
  backend/src/dto/hdidle_config.go
  backend/src/go.mod
  backend/src/service/hdidle_service.go
  backend/src/service/smart_ioctl_linux.go
  backend/src/service/smart_service.go
Due: remove-go-mod-replace

🔧 fix(service): improve SMART status check error handling
  backend/src/service/smart_ioctl_linux.go
Due: none

✨ feat(fe+test): enhance HDIdleDiskSettings component
  frontend/src/pages/volumes/components/HDIdleDiskSettings.tsx
  frontend/src/pages/volumes/components/VolumeDetailsPanel.tsx
  frontend/src/pages/volumes/components/__tests__/HDIdleDiskSettings.test.tsx
Due: none

🔧 fix(service): update `checkSMARTStatus` to use read/write access
  backend/src/service/smart_ioctl_linux.go
Due: none

🗑️ refactor(fe): remove `HDIdleGeneralSettings` component
  frontend/src/pages/settings/HDIdleGeneralSettings.tsx
  frontend/src/pages/settings/Settings.tsx
  frontend/src/pages/settings/__tests__/HDIdleGeneralSettings.test.tsx
Due: none

✨ feat(fe): update HDIdle Disk Spin-Down settings UI
  frontend/src/pages/settings/Settings.tsx
Due: none

✨ feat(fe): add configuration for `mui-mcp` server
  .vscode/mcp.json
Due: none

Refactor Settings component tests to improve layout validation and add Basic settings panel field checks
  frontend/src/pages/settings/Settings.tsx
  frontend/src/pages/settings/__tests__/Settings.test.tsx
Due: none

🔧 refactor(fe): update settings categories and improve layout
  frontend/src/pages/settings/Settings.tsx
Due: none

Refactor HDIdleService and related components
  backend/Makefile
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  backend/src/api/hdidle_handler.go
  backend/src/api/smart.go
  backend/src/cmd/srat-cli/main-cli.go
  backend/src/cmd/srat-gormgen/main-gormgen.go
  backend/src/cmd/srat-openapi/main-openapi.go
  backend/src/cmd/srat-server/main-server.go
  backend/src/converter/dto_to_dbom.go
  backend/src/converter/dto_to_dbom_conv_gen.go
  backend/src/dbom/db_config.go
  backend/src/dbom/exported_share_test.go
  backend/src/dbom/hdidle_config.go
  backend/src/dbom/hdidle_device_config.go
  backend/src/dbom/migrations/00007_properties_HDIdleDefaultIdleTime.sql
  backend/src/dbom/property_test.go
  backend/src/dbom/samba_user_test.go
  backend/src/dto/hdidle_command.go
  backend/src/dto/hdidle_config.go
  backend/src/dto/hdidlecommands_enums.go
  backend/src/dto/settings.go
  backend/src/dto/shared_resource_test.go
  backend/src/dto/user_test.go
  backend/src/go.mod
  backend/src/go.sum
  backend/src/internal/appsetup/appsetup.go
  backend/src/repository/dao/gen.go
  backend/src/repository/dao/gen_test.go
  backend/src/repository/dao/hd_idle_devices.gen.go
  backend/src/repository/dao/hd_idle_devices.gen_test.go
  backend/src/repository/hdidle_config_repository.go
  backend/src/repository/hdidle_device_repository.go
  backend/src/repository/property_repository.go
  backend/src/service/hdidle_service.go
  backend/src/service/hdidle_service_test.go
  backend/src/service/issue_service.go
  backend/src/service/setting_service.go
  backend/src/service/smart_ioctl_linux.go
Due: remove-go-mod-replace

🔧 chore(go.mod): update module replacements
  backend/src/go.mod
Due: remove-go-mod-replace

🔧 chore(go.mod): remove unused tool dependencies
  backend/src/go.mod
  backend/src/go.sum
Due: remove-go-mod-replace

feat: Add HDIdle configuration options and update related services
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  backend/src/dbom/migrations/00007_properties_HDIdleDefaultIdleTime.sql
  backend/src/dto/settings.go
  backend/src/service/hdidle_service.go
  backend/test/data/image.dmg
  frontend/src/pages/settings/Settings.tsx
  frontend/src/store/sratApi.ts
Due: none

🔧 refactor(fe): add type annotation for settings in TelemetryModal
  frontend/src/components/TelemetryModal.tsx
Due: none

Refactor tests and improve setup for mdcMiddleware, mdcSlice, and store
  frontend/src/components/__tests__/NotificationCenter.test.tsx
  frontend/src/hooks/__tests__/githubNewsHook.test.ts
  frontend/src/hooks/__tests__/healthHook.test.ts
  frontend/src/hooks/__tests__/issueHooks.test.ts
  frontend/src/hooks/__tests__/useConsoleErrorCallback.test.ts
  frontend/src/hooks/__tests__/useTelemetryModal.test.ts
  frontend/src/hooks/__tests__/volumeHook.test.ts
  frontend/src/hooks/useRollbarTelemetry.ts
  frontend/src/hooks/useSmartOperations.ts
  frontend/src/macro/Environment.ts
  frontend/src/pages/dashboard/metrics/__tests__/utils.test.ts
  frontend/src/pages/settings/__tests__/Settings.test.tsx
  frontend/src/pages/shares/__tests__/utils.test.ts
  frontend/src/pages/users/Users.tsx
  frontend/src/pages/volumes/__tests__/utils.test.ts
  frontend/src/pages/volumes/components/__tests__/HDIdleDiskSettings.test.tsx
  frontend/src/pages/volumes/components/__tests__/SmartStatusPanel.test.tsx
  frontend/src/store/__tests__/errorSlice.test.ts
  frontend/src/store/__tests__/mdcMiddleware.test.ts
  frontend/src/store/__tests__/mdcSlice.test.ts
  frontend/src/store/__tests__/store.test.ts
  frontend/src/store/emptyApi.ts
  frontend/src/store/sseApi.ts
  frontend/src/utils/TourEvents.ts
  frontend/test/setup.ts
Due: none

🔧 chore(fe): format test callback in useConsoleErrorCallback test
  frontend/src/hooks/__tests__/useConsoleErrorCallback.test.ts
Due: none

🔧 chore(fe): update dependencies in package.json and bun.lock
  frontend/bun.lock
  frontend/package.json
Due: update-frontend-package-version

🔧 chore(fe): update dependencies and configuration
  frontend/api.config.js
  frontend/bun.lock
  frontend/package.json
Due: update-frontend-package-version

🔧 chore(fe): add auto-approve settings for terminal commands
  .vscode/settings.json
Due: none

🔧 chore(fe): update dependencies and add toposort
  .github/copilot-instructions.md
  frontend/bun.lock
  frontend/package.json
Due: update-frontend-package-version, validate-links-format, format-markdown-basic, lint-markdown-basic

🔧 chore(fe): refactor tests to use `within` for better querying
  frontend/src/pages/shares/__tests__/ShareDetailsPanel.test.tsx
  frontend/src/pages/shares/__tests__/ShareEditDialog.test.tsx
  frontend/src/pages/shares/__tests__/Shares.test.tsx
  frontend/src/pages/shares/components/__tests__/ShareEditForm.test.tsx
  frontend/src/pages/shares/components/__tests__/SharesTreeView.test.tsx
  frontend/src/pages/users/__tests__/UserActions.test.tsx
  frontend/src/pages/users/__tests__/UserEditDialog.test.tsx
  frontend/src/pages/volumes/components/__tests__/PartitionActions.test.tsx
  frontend/src/pages/volumes/components/__tests__/SmartStatusPanel.test.tsx
Due: none

🔧 chore(fe): add test script with timeout configuration
  frontend/package.json
Due: update-frontend-package-version

🔧 chore(fe): improve error handling and type safety
  frontend/src/hooks/useSmartOperations.ts
  frontend/src/hooks/useTelemetryModal.ts
  frontend/src/pages/dashboard/metrics/__tests__/utils.test.ts
  frontend/src/pages/dashboard/metrics/utils.ts
  frontend/src/pages/shares/__tests__/utils.test.ts
  frontend/src/pages/shares/utils.ts
  frontend/src/pages/volumes/__tests__/utils.test.ts
  frontend/src/pages/volumes/utils.ts
  frontend/src/store/__tests__/errorSlice.test.ts
  frontend/src/store/mdcSlice.ts
Due: none

Path conditions:
  remove-go-mod-replace: any of: ^backend/src/go\.mod$
  update-frontend-package-version: any of: ^frontend/package\.json$
  validate-links-format: any of: \.md$
  check-changelog-format: any of: ^CHANGELOG\.md$
  format-markdown-basic: any of: \.md$
  lint-markdown-basic: any of: \.md$
