Repository dianlight/srat: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

# Codecov configuration for SRAT project
# Documentation: https://docs.codecov.io/docs/codecov-yaml

codecov:
  require_ci_to_pass: no
  notify:
    after_n_builds: 2  # Wait for both backend and frontend coverage

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        # Don't fail the build if coverage decreases slightly
        informational: true
    patch:
      default:
        target: 60%
        informational: true

  precision: 2
  round: down
  range: "50...100"

# Component-based coverage tracking
flag_management:
  default_rules:
    carryforward: true

flags:
  backend:
    paths:
      - backend/src/
    carryforward: true
  frontend:
    paths:
      - frontend/src/
    carryforward: true

# Ignore patterns
ignore:
  - "backend/src/vendor/**"
  - "backend/src/**/*_test.go"
  - "backend/src/**/test/**"
  - "frontend/src/**/*.test.ts"
  - "frontend/src/**/*.test.tsx"
  - "frontend/test/**"
  - "frontend/out/**"
  - "frontend/coverage/**"
  - "**/node_modules/**"
  - "**/__tests__/**"

# Comment settings
comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

Concurrency fix
  backend/src/service/volume_service.go
  backend/src/service/volume_service_udev.go
  backend/src/service/volume_service_udev_channels_test.go
  backend/src/service/volume_service_udev_linux.go
  frontend/package.json
Due: backend

🐛 fix(be): cache side-effecting SCSI probes to break udev event storm
  .docsignore
  .opencode/agents/ha-testing.agent.md
  backend/src/service/hdidle_service.go
  backend/src/service/hdidle_support_cache_test.go
  backend/src/service/smart_service.go
  backend/src/service/smart_service_cache_test.go
  memories/repo/cache-protection-degraded-upstream-snapshots.md
  memories/repo/flapping-hardware-vs-software-bug.md
  memories/repo/hot-swap-deploy-remote-addon.md
  memories/repo/phase-scripted-fakes-flaky-upstream-tests.md
  opencode.json
Due: backend

agetm improve
  .opencode/agents/ha-testing.agent.md
Due: none

🐛 fix(be): update DiskMap cache before emitting event on unmount
  backend/src/service/volume_mount_manager.go
  backend/src/service/volume_mount_manager_test.go
Due: backend

🐛 fix(fe): always offer unmount actions for mounted partitions
  frontend/src/pages/volumes/components/PartitionActionItems.ts
  frontend/src/pages/volumes/components/__tests__/PartitionActions.test.tsx
Due: frontend

📝 docs(be): emit events only after state mutation completes (#971)
  .opencode/instructions/go.instructions.md
Due: none

⚡️ perf(fe): upgrade to Bun 1.4 and speed up test runtime
  .mise.toml
  .opencode/instructions/frontend_test.instructions.md
  .opencode/instructions/typescript-7-es2022.instructions.md
  AGENTS.md
  docs/bun_1_4_upgrade_report.md
  frontend/.mise.toml
  frontend/README.md
  frontend/bun.lock
  frontend/package.json
Due: none

🐛 fix(doc): resolve Vale errors blocking docs validation
  docs/GO_1_27_MIGRATION.md
Due: none

⬆️ Lock file maintenance
  frontend/bun.lock
  frontend/package.json
Due: none

⬆️ chore(fe): update dependencies
  frontend/bun.lock
  frontend/package.json
Due: none

New rule for user loop
  .opencode/instructions/go.instructions.md
Due: none

:green_heart: ci: add CodeQL workflow
  .github/workflows/codeql.yml
Due: none

:bug: fix(ci): validate release commit version before tagging
  .github/workflows/build.yaml
Due: none

:green_heart: ci: add frontend TypeScript check to CodeQL
  .github/workflows/codeql.yml
Due: none

🐛 fix(be): use external linkmode for musl build to enable dlopen
  backend/.mise.toml
Due: none

🐛 fix(be): use external linkmode for musl build to enable dlopen (#982)
  backend/.mise.toml
Due: none

🔧 ci(fe+be): fix CodeQL Go build mode and add frontend TS check
  .github/workflows/codeql.yml
Due: none

🔧 ci(fe): enable mise experimental mode in CodeQL workflow
  .github/workflows/codeql.yml
Due: none

✅ test(be): cover codecov patch gaps under 50% on PR 978
  backend/src/api/system_test.go
  backend/src/converter/dto_to_dbom_rclone_link_test.go
  backend/src/dbom/rclone_link_test.go
  backend/src/dto/webevent_type_test.go
  backend/src/service/broadcaster_service_internal_test.go
Due: none

🐛 fix(fe+be): allow user update without re-entering password
  backend/src/service/user_service.go
  backend/src/service/user_service_test.go
  frontend/src/pages/users/Users.tsx
Due: backend, frontend

🐛 fix(fe+be): allow user update without re-entering password (#992)
  backend/src/service/user_service.go
  backend/src/service/user_service_test.go
  frontend/src/pages/users/Users.tsx
Due: backend, frontend

🐛 fix(fe): prevent Enter key from submitting share edit form
  frontend/src/pages/shares/components/ShareEditForm.tsx
  frontend/src/pages/shares/components/__tests__/ShareEditForm.test.tsx
Due: frontend

🐛 fix(fe): prevent Enter key from submitting share edit form (#994)
  frontend/src/pages/shares/components/ShareEditForm.tsx
  frontend/src/pages/shares/components/__tests__/ShareEditForm.test.tsx
Due: frontend

🐛 fix(fe): resolve RovingTabIndex crash after backend restart
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/components/ErrorBoundaryWrapper.tsx
  frontend/src/components/ErrorRecoveryContext.tsx
  frontend/src/components/NavBar.tsx
Due: frontend

🐛 fix(fe): resolve RovingTabIndex crash after backend restart (#995)
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/components/ErrorBoundaryWrapper.tsx
  frontend/src/components/ErrorRecoveryContext.tsx
  frontend/src/components/NavBar.tsx
Due: frontend

🐛 fix(fe): stabilize volumeHook disk reference to prevent render loop
  frontend/src/hooks/__tests__/volumeHook.test.ts
  frontend/src/hooks/volumeHook.ts
Due: frontend

Refine create-pr skill
  .agents/skills/create-pr/SKILL.md
Due: none

🐛 fix(fe): stabilize volumeHook disk reference to prevent render loop (#996)
  frontend/src/hooks/__tests__/volumeHook.test.ts
  frontend/src/hooks/volumeHook.ts
Due: frontend

✨ feat(be): add scheduled auto-sync worker for rclone links
  .vale/styles/config/vocabularies/SRAT/accept.txt
  backend/.mise.toml
  backend/src/dto/disk_map_test.go
  backend/src/service/rclone_service.go
  backend/src/service/rclone_service_autosync_internal_test.go
  backend/src/service/rclone_service_test.go
  backend/src/service/volume_service_udev_channels_test.go
  docs/tasks/049_rclone-cloud-sync-lab-feature.md
Due: backend

🐛 fix(be): dedupe smb.conf valid users and fix template keys
  backend/src/tempio/template_test.go
  backend/src/templates/smb.gtpl
Due: backend

🐛 fix(be): dedupe smb.conf valid users and fix template keys (#997)
  backend/src/tempio/template_test.go
  backend/src/templates/smb.gtpl
Due: backend

🐛 fix(fe): dedupe problem toasts by toastId and reconcile dismiss
  frontend/src/App.tsx
  frontend/src/__tests__/App.problemNotifications.test.tsx
Due: frontend

🐛 fix(fe): dedupe problem toasts by toastId and reconcile dismiss (#998)
  frontend/src/App.tsx
  frontend/src/__tests__/App.problemNotifications.test.tsx
Due: frontend

🐛 fix(be): log anomalous partition count jumps per drive
  backend/src/service/hardware_service.go
  backend/src/service/hardware_service_internal_test.go
  backend/src/service/hardware_service_test.go
Due: backend

🐛 fix(be): log anomalous partition count jumps per drive (#999)
  backend/src/service/hardware_service.go
  backend/src/service/hardware_service_internal_test.go
  backend/src/service/hardware_service_test.go
Due: backend

🐛 fix(build): generate metadata constants before go vet in hook
  hk.pkl
Due: none

✨ feat(be+fe+hac): reuse HA Dropbox integration OAuth and sync broker docs to #1002
  .vale/styles/config/vocabularies/SRAT/accept.txt
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  backend/src/api/rclone_handler.go
  backend/src/api/rclone_handler_test.go
  backend/src/api/ws.go
  backend/src/dbom/rclone_link.go
  backend/src/dbom/rclone_link_migration_test.go
  backend/src/dto/clientevent_type.go
  backend/src/dto/clienteventtypes_enums.go
  backend/src/dto/ha_dropbox_token.go
  backend/src/dto/rclone.go
  backend/src/service/rclone/broker.go
  backend/src/service/rclone/broker_test.go
  backend/src/service/rclone/driver_dropbox.go
  backend/src/service/rclone_service.go
  backend/src/service/rclone_service_test.go
  custom_components/srat/__init__.py
  custom_components/srat/ha_dropbox.py
  custom_components/srat/websocket_client.py
  docs/tasks/049_rclone-cloud-sync-lab-feature.md
  docs/tasks/050_reuse-ha-dropbox-oauth.md
  docs/test/01_install.md
  docs/test/02_mount.md
  docs/test/03_umount.md
  docs/test/04_share.md
  docs/test/05_user.md
  docs/test/status.md
  frontend/package.json
  frontend/src/mocks/customHandlers.ts
  frontend/src/pages/volumes/components/__tests__/CloudLinkWizardDialog.test.tsx
  frontend/src/pages/volumes/components/__tests__/CloudSyncPanel.test.tsx
  frontend/src/pages/volumes/components/__tests__/CloudSyncProgressDialog.test.tsx
  frontend/src/pages/volumes/components/rclone/CloudLinkWizardDialog.tsx
  frontend/src/pages/volumes/components/rclone/CloudSyncPanel.tsx
  frontend/src/pages/volumes/components/rclone/CloudSyncProgressDialog.tsx
  frontend/src/pages/volumes/components/rclone/apiErrors.ts
  frontend/src/store/sratApi.ts
Due: backend, frontend
