Repository dianlight/srat: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

🔧 chore: update changelog to reflect recent changes
  CHANGELOG.md
Due: none

📝 docs: update TOC formatting in multiple markdown files
  .prettierignore
  docs/CORPORATE_PROXY_PKL_FIX.md
  docs/RELEASE_PROCESS.md
  docs/memory-index.md
  docs/quick-reference.md
Due: none

🔧 chore(ci): comment out auto-approve for PRs in workflow
  .github/workflows/documentation.yml
Due: none

📝 docs: update CHANGELOG.md to migrate Thanks/Notes sections
  scripts/release.sh
Due: none

♻️ refactor: migrate Rollbar integration to Sentry
  docs/tasks/040_migrate-rollbar-to-sentry.md
Due: none

♻️ refactor(doc): update documentation for Rollbar to Sentry migration
  docs/tasks/037_frontend-data-correctness-fixes.md
  docs/tasks/040_migrate-rollbar-to-sentry.md
Due: none

🐛 fix(be): ensure Home Assistant internal shares are auto-created on startup
  docs/tasks/041_fix-ha-internal-shares-not-autocreated.md
Due: none

♻️ refactor(doc): update task list for Rollbar to Sentry migration
  docs/tasks/040_migrate-rollbar-to-sentry.md
Due: none

♻️ refactor(doc): unify documentation tool excludes with .docsignore
  docs/tasks/042_unify-docs-tool-excludes.md
Due: none

✅ fix(doc): update status of Rollbar to Sentry migration
  docs/tasks/040_migrate-rollbar-to-sentry.md
Due: none

🐛 fix(be): ensure Home Assistant internal shares are auto-created on startup
  backend/src/service/share_service.go
  backend/src/service/share_service_test.go
  docs/tasks/041_fix-ha-internal-shares-not-autocreated.md
Due: backend

fix(be): auto-create HA internal shares on startup (#651)
  backend/src/service/share_service.go
  backend/src/service/share_service_test.go
  docs/tasks/040_migrate-rollbar-to-sentry.md
  docs/tasks/041_fix-ha-internal-shares-not-autocreated.md
  docs/tasks/042_unify-docs-tool-excludes.md
Due: backend

📝 docs: unify documentation tool excludes with .docsignore
  .docsignore
  .github/workflows/documentation.yml
  .lychee.toml
  .markdownlint-cli2.jsonc
  .mise.toml
  .vale.ini
  docs/DOCUMENTATION_GUIDELINES.md
  docs/DOCUMENTATION_VALIDATION_SETUP.md
  docs/TELEMETRY_CONFIGURATION.md
  docs/TELEMETRY_IMPLEMENTATION.md
  docs/tasks/042_unify-docs-tool-excludes.md
  docs/tasks/done/041_fix-ha-internal-shares-not-autocreated.md
  hk.pkl
  scripts/docs-ignore.sh
  scripts/validate-docs.sh
Due: none

✨ feat(doc): update changelog with new features and maintenance
  CHANGELOG.md
Due: none

chore: release 2026.5.0-rc8
  CHANGELOG.md
Due: none

chore: reset changelog for next development cycle
  CHANGELOG.md
Due: none

✨ feat(release): re-fetch draft release ID for publishing step
  scripts/release.sh
Due: none

🔧 chore(devcontainer): add binding for local opencode directory
  .devcontainer/devcontainer.json
Due: none

✨ feat(fe): implement update handling and reload logic in App
  .mise.toml
  .vscode/settings.json
  backend/src/vendor/gorm.io/gorm/.pdone
  backend/src/vendor/gorm.io/gorm/generics.go
  frontend/.mise.toml
  frontend/biome.json
  frontend/src/App.tsx
  frontend/src/__tests__/App.commandEvents.test.tsx
  frontend/src/components/NavBar.tsx
  frontend/src/components/__tests__/NavBar.test.tsx
  frontend/src/hooks/__tests__/updateHook.test.ts
  frontend/src/hooks/updateHook.ts
Due: frontend

✨ feat: add mise configuration for manager file patterns
  .github/renovate.json
Due: none

✨ feat(fe): move tour selection logic to separate files
  frontend/src/pages/users/Users.tsx
  frontend/src/pages/users/__tests__/UsersTourSelection.test.tsx
  frontend/src/pages/users/tourSelection.ts
  frontend/src/pages/volumes/Volumes.tsx
  frontend/src/pages/volumes/__tests__/VolumesTourSelection.test.tsx
  frontend/src/pages/volumes/tourSelection.ts
Due: frontend

✨ feat(fe): refactor settings panels to use SettingSwitchRow component
  frontend/src/pages/settings/AppConfigurationPanel.tsx
  frontend/src/pages/settings/Settings.tsx
  frontend/src/pages/settings/components/SettingSwitchRow.tsx
  frontend/src/pages/settings/components/__tests__/SettingSwitchRow.test.tsx
  frontend/src/pages/settings/panels/GeneralPanel.tsx
  frontend/src/pages/settings/panels/HomeAssistantPanel.tsx
  frontend/src/pages/settings/panels/NetworkAccessControlPanel.tsx
  frontend/src/pages/settings/panels/NetworkDevicesPanel.tsx
  frontend/src/pages/settings/panels/TelemetryPanel.tsx
  frontend/src/pages/settings/panels/__tests__/GeneralPanel.switches.test.tsx
Due: frontend

✨ feat(fe): enhance Settings tests with new layout and functionality
  frontend/src/pages/settings/__tests__/Settings.test.tsx
Due: none

✨ feat(fe): add experimental lab mode feature
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  backend/src/api/setting_test.go
  backend/src/config/version.go
  backend/src/config/version_test.go
  backend/src/converter/converter_test.go
  backend/src/dto/settings.go
  backend/src/dto/settings_test.go
  backend/src/service/setting_service.go
  backend/src/service/setting_service_test.go
  backend/src/service/telemetry_service.go
  frontend/.mise.toml
  frontend/bun.lock
  frontend/package.json
  frontend/src/components/NavBar.tsx
  frontend/src/components/__tests__/NavBar.test.tsx
  frontend/src/components/wizard/SetupWizard.tsx
  frontend/src/components/wizard/__tests__/SetupWizard.test.tsx
  frontend/src/components/wizard/steps/LabModeStepContent.tsx
  frontend/src/components/wizard/steps/SummaryStepContent.tsx
  frontend/src/components/wizard/types.ts
  frontend/src/mocks/handlers.ts
  frontend/src/pages/settings/HomeAssistantCustomComponentPanel.tsx
  frontend/src/pages/settings/__tests__/Settings.test.tsx
  frontend/src/pages/settings/panels/GeneralPanel.tsx
  frontend/src/pages/settings/panels/HomeAssistantPanel.tsx
  frontend/src/pages/settings/settingsConfig.ts
  frontend/src/store/sratApi.ts
Due: backend, frontend

✨ feat(be): require experimental_lab_mode in settings
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  backend/src/dto/settings.go
  backend/src/dto/settings_test.go
  backend/src/vendor/gorm.io/gorm/.pdone
  backend/src/vendor/gorm.io/gorm/generics.go
  frontend/package.json
  frontend/src/components/wizard/SetupWizard.tsx
  frontend/src/store/sratApi.ts
Due: backend, frontend

✨ feat(fe): update version and add experimental lab mode for SMB over QUIC
  frontend/package.json
  frontend/src/pages/settings/panels/NetworkDevicesPanel.tsx
Due: frontend

✨ feat(doc): add guidelines for handling bool DTO fields in API
  .ai/instructions/go.instructions.md
  .ai/rules.md
Due: none

✨ feat(be): migrate smart settings from disable_smart to smart_mode
  .ai/instructions/go.instructions.md
  CHANGELOG.md
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  backend/src/api/smart.go
  backend/src/api/smart_test.go
  backend/src/api/system.go
  backend/src/cmd/srat-server/main-server.go
  backend/src/config/addon_json_config.go
  backend/src/converter/config_to_dto.go
  backend/src/converter/config_to_dto_conv_gen.go
  backend/src/converter/converter_test.go
  backend/src/dbom/migrations/00016_migrate_smart_mode.go
  backend/src/dbom/migrations/migrations_guard_test.go
  backend/src/dto/context.go
  backend/src/dto/settings.go
  backend/src/dto/settings_test.go
  backend/src/dto/smart_mode.go
  backend/src/dto/smartmodes_enums.go
  backend/src/dto/system_capabilities.go
  backend/src/service/disk_stats_service.go
  backend/src/service/disk_stats_service_test.go
  backend/src/service/setting_service.go
  backend/src/service/setting_service_test.go
  backend/src/service/smart_service.go
  backend/src/vendor/github.com/dianlight/smartmontools-go/backends/lib/lib.go
  backend/src/vendor/github.com/dianlight/smartmontools-go/backends/lib/lib_stub.go
  backend/src/vendor/github.com/dianlight/smartmontools-go/backends/lib/shared.go
  backend/src/vendor/modules.txt
  frontend/package.json
  frontend/src/mocks/handlers.ts
  frontend/src/pages/settings/__tests__/Settings.test.tsx
  frontend/src/pages/settings/panels/GeneralPanel.tsx
  frontend/src/pages/settings/panels/NetworkDevicesPanel.tsx
  frontend/src/pages/settings/panels/__tests__/GeneralPanel.switches.test.tsx
  frontend/src/pages/settings/settingsConfig.ts
  frontend/src/pages/volumes/components/VolumeDetailsPanel.tsx
  frontend/src/store/sratApi.ts
Due: backend, frontend

✨ feat(be): update UpdateChannel enum values and parsing logic
  backend/src/dto/enums_test.go
  backend/src/dto/update_channel.go
  backend/src/dto/updatechannels_enums.go
Due: backend

🔧 chore: remove commented-out tool configurations
  .mise.toml
  backend/.mise.toml
Due: none

✨ feat(be): enhance SMART service with static binary support
  .mise.toml
  .vale/styles/config/vocabularies/SRAT/accept.txt
  CHANGELOG.md
  backend/.mise.toml
  backend/src/service/smart_service.go
  backend/src/service/smart_service_lib.go
  backend/src/service/smart_service_nolib.go
  docs/SMART_SERVICE.md
  frontend/package.json
  frontend/src/pages/settings/Settings.tsx
  frontend/src/pages/settings/panels/GeneralPanel.tsx
Due: backend, frontend

chore: release 2026.5.0-rc9
  CHANGELOG.md
Due: none

👷 ci: update GitHub Actions workflows for release process
  .github/workflows/build.yaml
  .github/workflows/release-announcement.yaml
  .github/workflows/relevance-summary.md
  backend/.mise.toml
  frontend/bun.build.ts
  frontend/package.json
  scripts/release.sh
Due: none

🔧 chore: clean up changelog by removing unreleased section
  CHANGELOG.md
Due: none

👷 ci: update Sentry release workflow environment variable usage
  .github/workflows/sentry-release.yaml
Due: none

👷 ci: enhance documentation workflow with auto-fix and PR creation
  .github/workflows/documentation.yml
Due: none

Path conditions:
  backend: any of: backend/src/, but not: backend/src/vendor/**, backend/src/**/*_test.go, backend/src/**/test/**, frontend/src/**/*.test.ts, frontend/src/**/*.test.tsx, frontend/test/**, frontend/out/**, frontend/coverage/**, **/node_modules/**, **/__tests__/**
  frontend: any of: frontend/src/, but not: backend/src/vendor/**, backend/src/**/*_test.go, backend/src/**/test/**, frontend/src/**/*.test.ts, frontend/src/**/*.test.tsx, frontend/test/**, frontend/out/**, frontend/coverage/**, **/node_modules/**, **/__tests__/**
