Repository dianlight/srat: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

# Codecov configuration for SRAT project
# Documentation: https://docs.codecov.io/docs/codecov-yaml

codecov:
  require_ci_to_pass: no
  notify:
    after_n_builds: 2  # Wait for both backend and frontend coverage

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        # Don't fail the build if coverage decreases slightly
        informational: true
    patch:
      default:
        target: 60%
        informational: true

  precision: 2
  round: down
  range: "50...100"

# Component-based coverage tracking
flag_management:
  default_rules:
    carryforward: true

flags:
  backend:
    paths:
      - backend/src/
    carryforward: true
  frontend:
    paths:
      - frontend/src/
    carryforward: true

# Ignore patterns
ignore:
  - "backend/src/vendor/**"
  - "backend/src/**/*_test.go"
  - "backend/src/**/test/**"
  - "frontend/src/**/*.test.ts"
  - "frontend/src/**/*.test.tsx"
  - "frontend/test/**"
  - "frontend/out/**"
  - "frontend/coverage/**"
  - "**/node_modules/**"
  - "**/__tests__/**"

# Comment settings
comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

🔧 chore(test): set mock mode for share service tests
  backend/src/service/share_service_test.go
Due: none

🔧 chore(fe): cast `generalItems[0]` as `HTMLElement` before click
  frontend/src/pages/settings/__tests__/Settings.test.tsx
Due: none

🔧 chore(go.mod): update `go-github` dependency and clean up comments
  backend/src/go.mod
  backend/src/vendor/github.com/jpillora/overseer/proc_master.go
  backend/src/vendor/github.com/jpillora/overseer/proc_slave.go
  backend/src/vendor/github.com/zarldev/goenums/generator/gofile/gofile_writer.go
Due: backend

🔧 chore(be): remove debug flag from `ListShares` query
  backend/src/dto/disk_map.go
  backend/src/service/share_service.go
  backend/src/service/volume_service.go
Due: backend

✨ feat(fe): update partition actions and volume mount features
  frontend/bun.lock
  frontend/package.json
  frontend/src/pages/volumes/components/PartitionActions.tsx
  frontend/src/pages/volumes/components/VolumeDetailsPanel.tsx
  frontend/src/pages/volumes/components/VolumeMountDialog.tsx
  frontend/src/pages/volumes/components/VolumesTreeView.tsx
  frontend/src/pages/volumes/components/__tests__/PartitionActions.test.tsx
  frontend/src/pages/volumes/components/__tests__/VolumeMountDialog.test.tsx
Due: frontend

🎨 style(fe): enhance partition name display with tooltip
  frontend/src/pages/volumes/components/VolumesTreeView.tsx
Due: frontend

✅ test(fe): enforce mandatory rules for frontend test changes
  .github/copilot-instructions.md
Due: none

✨ feat(fe): render multiple mountpoints as separate tree items
  frontend/src/pages/volumes/components/VolumesTreeView.tsx
  frontend/src/pages/volumes/components/__tests__/VolumesTreeView.test.tsx
Due: frontend

✨ feat(fe): add share creation option for mountpoints without shares
  frontend/src/pages/volumes/components/PartitionActions.tsx
Due: frontend

✨ feat(be): add tests for creating and updating shares with exFAT volume
  backend/src/api/shares_test.go
Due: none

✨ feat(be): add patch for gorm generics update method
  backend/Makefile
  backend/patches/gorm-generics.patch
  backend/src/service/share_service_test.go
  backend/src/vendor/gorm.io/gorm/generics.go
Due: none

✨ feat(be): implement `AddMountPointShare` and `RemoveMountPointShare` methods
  backend/src/dto/disk_map.go
  backend/src/dto/disk_map_test.go
Due: backend

✨ feat(be): enhance share and volume services with preload and event handling
  .github/copilot-instructions.md
  backend/src/service/share_service.go
  backend/src/service/volume_service.go
Due: backend

✨ feat(fe): update mount point share handling in `PartitionActions`
  frontend/src/pages/volumes/components/PartitionActions.tsx
Due: frontend

✨ feat(be): broadcast volume data on Share event
  backend/src/service/broadcaster_service.go
Due: backend

```plaintext ✨ feat(fe): enhance actionable partitions with enable-share action
  frontend/src/pages/dashboard/DashboardActions.tsx
  frontend/src/pages/dashboard/components/ActionableItemsList.tsx
Due: frontend

✨ feat(fe): update share action logic in `DashboardActions`
  frontend/src/pages/dashboard/DashboardActions.tsx
  frontend/src/pages/dashboard/components/ActionableItemsList.tsx
Due: frontend

📝 docs: update changelog for improved documentation and acknowledgments
  CHANGELOG.md
Due: none

📚 docs: auto-fix documentation formatting and linting issues
  CHANGELOG.md
Due: none

🐛 fix(be): correct volume data verification in tests
  CHANGELOG.md
  README.md
  backend/src/service/broadcaster_service_test.go
Due: none

✨ feat(fe): add `BaseConfigModal` for initial configuration
  frontend/src/App.tsx
  frontend/src/components/BaseConfigModal.tsx
  frontend/src/components/__tests__/BaseConfigModal.test.tsx
  frontend/src/hooks/useBaseConfigModal.ts
Due: frontend

✨ feat(fe): enhance `BaseConfigModal` with password visibility toggle
  frontend/src/components/BaseConfigModal.tsx
Due: frontend

🏗️ build: ensure static dependencies are built before target exec
  backend/Makefile
Due: none

✨ feat(be): update Samba service handling for `wsddn`
  backend/src/service/samba_service.go
  backend/src/service/share_service.go
  backend/src/service/share_service_test.go
  backend/src/tempio/template.go
  backend/src/vendor/github.com/jpillora/overseer/proc_master.go
  backend/src/vendor/github.com/jpillora/overseer/proc_slave.go
  backend/src/vendor/github.com/zarldev/goenums/generator/gofile/gofile_writer.go
  backend/src/vendor/gorm.io/gorm/generics.go
  backend/test/data/smb.conf
Due: backend

✨ feat(be): enhance Samba process management and API
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  backend/src/api/samba.go
  backend/src/api/samba_test.go
  backend/src/converter/process_to_dto.go
  backend/src/dto/additional_dto_test.go
  backend/src/dto/data_dirty_tracker.go
  backend/src/dto/samba_process_status.go
  backend/src/service/dirty_data_service.go
  backend/src/service/homeassistant_service.go
  backend/src/service/homeassistant_service_test.go
  backend/src/service/samba_service.go
  backend/src/service/supervisor_service.go
  backend/src/templates/smb.gtpl
  frontend/src/components/Footer.tsx
  frontend/src/hooks/healthHook.ts
  frontend/src/store/sratApi.ts
Due: backend, frontend

✨ feat(be): enhance `ProcessStatus` to include child processes
  .devcontainer/updateContentCommand.sh
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  backend/src/api/health_run_internal_test.go
  backend/src/converter/process_to_dto.go
  backend/src/converter/process_to_dto_conv_gen.go
  backend/src/dto/samba_process_status.go
  backend/src/service/dirty_data_service.go
  backend/src/service/dirty_data_service_test.go
  backend/src/service/samba_service.go
  backend/src/service/supervisor_service_test.go
  frontend/src/pages/dashboard/DashboardMetrics.tsx
  frontend/src/pages/dashboard/metrics/ProcessMetrics.tsx
  frontend/src/pages/dashboard/metrics/types.ts
  frontend/src/store/sratApi.ts
Due: backend, frontend

```plaintext ✨ feat(fe): enhance settings page with mobile drawer and search
  frontend/src/pages/settings/Settings.tsx
Due: frontend

✨ feat(fe): enhance footer and process metrics rendering
  .vscode/settings.json
  frontend/bun.lock
  frontend/package.json
  frontend/src/components/Footer.tsx
  frontend/src/pages/dashboard/metrics/ProcessMetrics.tsx
Due: frontend

✨ feat(fe): add share disabling functionality in `Shares` component
  frontend/src/pages/shares/Shares.tsx
  frontend/src/pages/shares/components/ShareEditForm.tsx
Due: frontend

🔧 chore: clean up unused imports and variables
  backend/src/cmd/srat-cli/main-cli.go
  backend/src/service/upgrade_service_test.go
  backend/test/data/github_release.json
Due: backend

🔧 chore: remove unused `normalizeUpgradeChannel` function and tests
  backend/src/cmd/srat-cli/main-cli.go
  backend/src/cmd/srat-cli/main-cli_test.go
  backend/src/cmd/srat-server/main-server.go
Due: backend

✨ feat(be): change log level to info for update checks
  backend/src/service/upgrade_service.go
Due: backend

✨ feat(fe): implement user management components and tests
  frontend/src/pages/users/Users.tsx
  frontend/src/pages/users/__tests__/Users.test.tsx
  frontend/src/pages/users/components/UserDetailsPanel.tsx
  frontend/src/pages/users/components/UserEditForm.tsx
  frontend/src/pages/users/components/UsersTreeView.tsx
  frontend/src/pages/users/components/__tests__/UserDetailsPanel.test.tsx
  frontend/src/pages/users/components/__tests__/UserEditForm.test.tsx
  frontend/src/pages/users/components/__tests__/UsersTreeView.test.tsx
  frontend/src/pages/users/components/index.ts
Due: frontend

🔧 chore(fe): update `rollbar` to version `3.0.0-rc.1`
  frontend/bun.lock
  frontend/package.json
Due: none

♻️ refactor(fe): replace `getNodeEnv` with `getCurrentEnv`
  frontend/src/components/ErrorBoundaryWrapper.tsx
  frontend/src/components/NavBar.tsx
  frontend/src/hooks/useRollbarTelemetry.ts
  frontend/src/index.tsx
  frontend/src/macro/Environment.ts
  frontend/src/macro/__tests__/Environment.test.ts
  frontend/src/pages/settings/Settings.tsx
  frontend/src/pages/volumes/components/HDIdleDiskSettings.tsx
  frontend/src/pages/volumes/components/SmartStatusPanel.tsx
Due: frontend

♻️ refactor(fe): improve build config and component structure
  frontend/bun.build.ts
  frontend/src/components/ConsoleErrorToRollbar.tsx
  frontend/src/components/ErrorBoundaryWrapper.tsx
  frontend/src/hooks/healthHook.ts
  frontend/src/hooks/useBaseConfigModal.ts
  frontend/src/macro/__tests__/Environment.test.ts
  frontend/src/pages/users/components/index.ts
Due: frontend

🔧 chore(fe): update dependencies for improved stability
  frontend/bun.lock
  frontend/package.json
Due: none

✨ feat(fe): enhance `HDIdleDiskSettings` with accordion logic
  .github/copilot-instructions.md
  frontend/src/pages/volumes/components/HDIdleDiskSettings.tsx
  frontend/src/pages/volumes/components/__tests__/HDIdleDiskSettings.test.tsx
Due: frontend

✨ feat(service): implement `CheckDeviceSupport` for block devices
  backend/src/service/hdidle_service.go
  backend/src/service/hdidle_service_test.go
Due: backend

✨ feat(api): enhance HDIdleHandler with new endpoints and logic
  backend/src/api/hdidle_handler.go
  backend/src/api/hdidle_handler_test.go
  backend/src/service/hdidle_service.go
Due: backend
