Repository dianlight/srat: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

🔧 chore(fe): update dependencies for @mui/x-charts and react-router-dom
  frontend/bun.lock
  frontend/package.json
Due: none

✅ Complete
  .github/skills/close-task-work/SKILL.md
  .github/skills/sync-tasks/SKILL.md
  .github/skills/task-status/SKILL.md
  .github/skills/update-changelog-with-commits/SKILL.md
  .github/skills/update-changelog/SKILL.md
  .vscode/settings.json
  docs/tasks/005_volume-mount-intelligence-nfs-cifs-events.md
  docs/tasks/009_smb-ip-address-interface-resolution.md
  docs/tasks/011_timemachine-macos-tahoe-compatibility.md
  docs/tasks/012_remove-sse-code-preserve-websocket.md
  docs/tasks/013_bidirectional-homeassistant-websocket-channel.md
  docs/tasks/014_disable-smart-integration-setting.md
  docs/tasks/015_generic-live-command-execution-console-via-websocket.md
  docs/tasks/018_home-assistant-repairs-proxy-service.md
  docs/tasks/019_improve-overlay-helper-system-tour-events.md
  docs/tasks/024_migrate-to-mise-remove-makefile.md
  docs/tasks/README.md
  docs/tasks/TASK_STATUS.md
Due: none

🔧 chore(doc): update task list and implementation notes
  docs/tasks/015_generic-live-command-execution-console-via-websocket.md
Due: none

📚 docs: auto-fix documentation formatting and TOC
  docs/EVENT_DRIVEN_ARCHITECTURE.md
Due: none

🔧 chore(fe): update build tasks and configurations
  .mise.toml
  backend/.mise.toml
  frontend/.mise.toml
  frontend/package.json
Due: none

♻️ refactor(fe): improve root element creation logic
  frontend/src/index.tsx
Due: frontend

🔧 chore: update tool versions in configuration files
  .mise.toml
  mise.lock
Due: none

🐛 fix(be): handle not found errors in repair service
  backend/src/api/health.go
  backend/src/api/setting.go
  backend/src/events/event_bus.go
  backend/src/service/event_propagation_test.go
  backend/src/service/homeassistant_service.go
  backend/src/service/repair_service.go
  backend/src/service/server_process_service_test.go
  backend/src/service/setting_service.go
  backend/src/service/upgrade_service.go
  backend/src/unixsamba/mock_system.go
  backend/src/unixsamba/unixsamba.go
  hk.pkl
Due: backend

🐛 fix(be): handle not found errors in repair service
  backend/src/api/ws.go
  backend/src/service/repair_service.go
Due: backend

♻️ refactor(fe): simplify partition action handling
  frontend/src/pages/volumes/Volumes.tsx
  frontend/src/pages/volumes/components/PartitionActionItems.ts
  frontend/src/pages/volumes/components/PartitionActions.tsx
  frontend/src/pages/volumes/components/VolumeDetailsPanel.tsx
  frontend/src/pages/volumes/hooks/usePartitionActions.ts
Due: frontend

📝 docs: update task documentation formatting for clarity
  .github/skills/create-task/SKILL.md
  docs/tasks/001_fsck-disk-check-tools-integration.md
Due: none

✨ feat(be+fe): add filesystem support endpoint and dialogs
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  backend/src/api/filesystems.go
  backend/src/api/filesystems_test.go
  docs/tasks/001_fsck-disk-check-tools-integration.md
  frontend/src/pages/volumes/components/FilesystemCheckDialog.tsx
  frontend/src/pages/volumes/components/FilesystemFormatDialog.tsx
  frontend/src/pages/volumes/components/FilesystemLabelDialog.tsx
  frontend/src/pages/volumes/components/PartitionActionItems.ts
  frontend/src/pages/volumes/components/VolumeDetailsPanel.tsx
  frontend/src/pages/volumes/components/__tests__/FilesystemCheckDialog.test.tsx
  frontend/src/pages/volumes/hooks/usePartitionActions.ts
  frontend/src/store/sratApi.ts
Due: backend, frontend

✅ test: add unit tests for unsupported filesystem and capability
  backend/src/service/filesystem_service_test.go
  docs/tasks/001_fsck-disk-check-tools-integration.md
  frontend/src/pages/volumes/components/__tests__/FilesystemLabelFormatDialog.test.tsx
Due: none

📝 docs: update README and integration task documentation
  backend/src/service/filesystem/README.md
  docs/tasks/001_fsck-disk-check-tools-integration.md
Due: backend

✅ test(fe): enhance frontend tests for missing tools hints
  docs/tasks/001_fsck-disk-check-tools-integration.md
  frontend/src/pages/volumes/components/__tests__/FilesystemLabelFormatDialog.test.tsx
Due: none

✨ feat(fe): prefill Label field with current partition label on open
  frontend/src/pages/volumes/components/FilesystemLabelDialog.tsx
  frontend/src/pages/volumes/components/__tests__/FilesystemLabelFormatDialog.test.tsx
Due: frontend

✅ test(be): add multi-filesystem capability tests for f2fs and zfs
  backend/src/api/filesystems_test.go
  docs/tasks/001_fsck-disk-check-tools-integration.md
  frontend/src/pages/volumes/components/__tests__/FilesystemCheckDialog.test.tsx
  frontend/src/pages/volumes/components/__tests__/FilesystemLabelFormatDialog.test.tsx
Due: none

✅ chore(doc): update task list for disk check tools integration
  docs/tasks/001_fsck-disk-check-tools-integration.md
Due: none

✅ test(fe): add progress animation test for idle state in FilesystemCheckDialog
  frontend/src/pages/volumes/components/FilesystemCheckDialog.tsx
  frontend/src/pages/volumes/components/__tests__/FilesystemCheckDialog.test.tsx
Due: frontend

✅ chore(doc): update task list for end-to-end testing validation
  docs/tasks/001_fsck-disk-check-tools-integration.md
Due: none

✨ feat(fe): integrate filesystem type dropdown with format capability
  frontend/src/pages/volumes/components/FilesystemCheckDialog.tsx
  frontend/src/pages/volumes/components/FilesystemFormatDialog.tsx
  frontend/src/pages/volumes/components/__tests__/FilesystemCheckDialog.test.tsx
  frontend/src/pages/volumes/components/__tests__/FilesystemLabelFormatDialog.test.tsx
Due: frontend

✨ feat(be): enhance filesystem support with progress reporting
  backend/src/api/filesystems_test.go
  backend/src/dto/filesystem.go
  backend/src/service/filesystem/apfs_adapter.go
  backend/src/service/filesystem/base_adapter.go
  backend/src/service/filesystem/base_adapter_test.go
  backend/src/service/filesystem/btrfs_adapter.go
  backend/src/service/filesystem/exfat_adapter.go
  backend/src/service/filesystem/ext4_adapter.go
  backend/src/service/filesystem/ext4_adapter_test.go
  backend/src/service/filesystem/f2fs_adapter.go
  backend/src/service/filesystem/gfs2_adapter.go
  backend/src/service/filesystem/hfsplus_adapter.go
  backend/src/service/filesystem/ntfs_adapter.go
  backend/src/service/filesystem/reiserfs_adapter.go
  backend/src/service/filesystem/vfat_adapter.go
  backend/src/service/filesystem/xfs_adapter.go
  backend/src/service/filesystem/zfs_adapter.go
  backend/src/service/filesystem/zfs_adapter_test.go
Due: backend

📝 docs: update copilot and frontend testing instructions
  .github/copilot-instructions.md
  .github/instructions/fontend_test.instructions.md
Due: none

✨ feat(fe): add filesystem label validation and support overrides
  .mise.toml
  backend/.mise.toml
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  frontend/src/hooks/__tests__/githubNewsHook.test.ts
  frontend/src/mocks/customHandlers.ts
  frontend/src/pages/volumes/__tests__/utils.test.ts
  frontend/src/pages/volumes/components/FilesystemFormatDialog.tsx
  frontend/src/pages/volumes/components/FilesystemLabelDialog.tsx
  frontend/src/pages/volumes/components/PartitionActionItems.ts
  frontend/src/pages/volumes/components/__tests__/FilesystemLabelFormatDialog.test.tsx
  frontend/src/pages/volumes/utils.ts
  frontend/src/store/sratApi.ts
  frontend/test/bun-setup.ts
  mise.lock
Due: frontend

✨ feat(fe): add mock for GitHub discussions endpoint
  frontend/src/mocks/customHandlers.ts
Due: frontend

✨ feat(doc): add capture lessons learned skill documentation
  .github/skills/capture-lessons-learned/SKILL.md
Due: none

✨ feat(doc): enhance frontend testing guidelines with additional backend connection and mocking instructions
  .github/instructions/fontend_test.instructions.md
Due: none

✨ feat(test): enable coverage reporting in CI tests
  frontend/.mise.toml
  frontend/bunfig.toml
  frontend/package.json
  frontend/src/__tests__/App.test.tsx
  frontend/test/bun-setup.ts
Due: none

✨ feat(be): integrate health error logging and subscription failure handling
  backend/src/api/health.go
  backend/src/api/health_run_internal_test.go
  backend/src/service/addon_config_watcher_service.go
  backend/src/service/addon_config_watcher_service_test.go
  backend/src/service/server_process_service.go
Due: backend

✨ feat(doc): update capture lessons learned skill and add watch manual test skill
  .github/skills/capture-lessons-learned/SKILL.md
  .github/skills/watch-manual-test/SKILL.md
  AGENTS.md
Due: none

✨ feat(be): integrate filesystem alias handling and support checks
  .github/instructions/go.instructions.md
  backend/src/api/filesystems.go
  backend/src/api/filesystems_test.go
  backend/src/service/filesystem/adapter.go
  backend/src/service/filesystem/base_adapter.go
  backend/src/service/filesystem/base_adapter_test.go
  backend/src/service/filesystem/hfsplus_adapter.go
  backend/src/service/filesystem/ntfs_adapter.go
  backend/src/service/filesystem/registry.go
  backend/src/service/filesystem/registry_test.go
  backend/src/service/filesystem/vfat_adapter.go
Due: backend

✨ feat(be): support filesystem module aliases and improve dialog accessibility
  backend/src/service/filesystem_service.go
  backend/src/service/filesystem_service_test.go
  docs/tasks/001_fsck-disk-check-tools-integration.md
  frontend/src/pages/volumes/components/VolumeDetailsPanel.tsx
Due: backend, frontend

✨ feat(be): integrate disk label update and event emission
  backend/src/api/filesystems.go
  backend/src/api/filesystems_test.go
  docs/tasks/001_fsck-disk-check-tools-integration.md
  frontend/src/App.tsx
  frontend/src/__tests__/App.commandEvents.test.tsx
  frontend/src/components/CommandOutputDialog.tsx
  frontend/src/mocks/customHandlers.ts
  frontend/src/pages/volumes/Volumes.tsx
  frontend/src/pages/volumes/__tests__/Volumes.test.tsx
  frontend/src/pages/volumes/components/FilesystemLabelDialog.tsx
  frontend/src/pages/volumes/components/VolumeDetailsPanel.tsx
  frontend/src/pages/volumes/components/__tests__/FilesystemLabelFormatDialog.test.tsx
Due: backend, frontend

✨ feat(be): update disk metadata handling and event emission
  .github/instructions/go.instructions.md
Due: none

📝 docs: update lesson extraction guidance in capture-lessons-learned skill
  .github/skills/capture-lessons-learned/SKILL.md
Due: none

✨ feat(be): integrate standalone command runner for filesystem execution
  backend/src/internal/appsetup/appsetup.go
  backend/src/service/filesystem/base_adapter.go
  backend/src/service/filesystem/base_adapter_test.go
  backend/src/service/filesystem/standalone_command_runner.go
Due: backend

🔧 chore: fix markdownlint configuration file extension
  .markdownlint-cli2.jsonc
Due: none

♻️ refactor(be): remove mock dependencies from filesystem tests
  backend/src/api/system.go
  backend/src/dto/command_execution.go
  backend/src/events/event_bus.go
  backend/src/events/events.go
  backend/src/internal/appsetup/appsetup.go
  backend/src/internal/commandexec/runner.go
  backend/src/internal/commandexec/runner_test.go
  backend/src/internal/osutil/osutil.go
  backend/src/internal/osutil/osutil_test.go
  backend/src/service/broadcaster_service.go
  backend/src/service/filesystem/adapter.go
  backend/src/service/filesystem/apfs_adapter_test.go
  backend/src/service/filesystem/base_adapter.go
  backend/src/service/filesystem/base_adapter_mock.go
  backend/src/service/filesystem/base_adapter_test.go
  backend/src/service/filesystem/btrfs_adapter_test.go
  backend/src/service/filesystem/exfat_adapter_test.go
  backend/src/service/filesystem/ext4_adapter_test.go
  backend/src/service/filesystem/f2fs_adapter_test.go
  backend/src/service/filesystem/gfs2_adapter_test.go
  backend/src/service/filesystem/hfsplus_adapter_test.go
  backend/src/service/filesystem/ntfs_adapter_test.go
  backend/src/service/filesystem/reiserfs_adapter_test.go
  backend/src/service/filesystem/standalone_command_runner.go
  backend/src/service/filesystem/vfat_adapter_test.go
  backend/src/service/filesystem/xfs_adapter_test.go
  backend/src/service/server_process_service.go
  backend/src/service/server_process_service_test.go
  backend/src/unixsamba/unixsamba.go
  backend/src/unixsamba/unixsamba_security_test.go
  mise.lock
Due: backend

✨ feat(doc): update backend command execution instructions
  .github/instructions/backend-command-execution.instructions.md
Due: none

Path conditions:
  backend: any of: backend/src/, but not: backend/src/vendor/**, backend/src/**/*_test.go, backend/src/**/test/**, frontend/src/**/*.test.ts, frontend/src/**/*.test.tsx, frontend/test/**, frontend/out/**, frontend/coverage/**, **/node_modules/**, **/__tests__/**
  frontend: any of: frontend/src/, but not: backend/src/vendor/**, backend/src/**/*_test.go, backend/src/**/test/**, frontend/src/**/*.test.ts, frontend/src/**/*.test.tsx, frontend/test/**, frontend/out/**, frontend/coverage/**, **/node_modules/**, **/__tests__/**
