Repository dianlight/srat: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

✨ feat(doc): enhance watch-manual-test skill with live log monitoring
  .github/skills/watch-manual-test/SKILL.md
Due: none

✨ feat(be): integrate filesystem task event broadcasting
  backend/src/service/broadcaster_service.go
  backend/src/service/broadcaster_service_test.go
  backend/src/service/filesystem_service.go
  backend/test/data/image.dmg
  frontend/src/pages/volumes/components/FilesystemCheckDialog.tsx
  frontend/src/pages/volumes/components/__tests__/FilesystemCheckDialog.test.tsx
Due: backend, frontend

✨ feat(be): add verbose option for filesystem formatting
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  backend/src/api/filesystems.go
  backend/src/dto/filesystem.go
  backend/src/service/filesystem_service.go
  backend/src/service/volume_service.go
  backend/src/service/volume_service_test.go
  frontend/src/pages/volumes/components/FilesystemFormatDialog.tsx
  frontend/src/pages/volumes/components/__tests__/FilesystemLabelFormatDialog.test.tsx
  frontend/src/store/sratApi.ts
Due: backend, frontend

✨ feat(be): enhance error handling in filesystem operations
  backend/src/service/filesystem/base_adapter.go
  backend/src/service/filesystem/base_adapter_test.go
  backend/src/service/filesystem_service.go
  frontend/src/pages/volumes/components/FilesystemCheckDialog.tsx
  frontend/src/pages/volumes/components/FilesystemFormatDialog.tsx
  frontend/src/pages/volumes/components/__tests__/FilesystemCheckDialog.test.tsx
  frontend/src/pages/volumes/components/__tests__/FilesystemLabelFormatDialog.test.tsx
Due: backend, frontend

✨ feat(be): integrate WebSocket event data sanitization
  backend/src/api/ws.go
  backend/src/api/ws_sender_test.go
  backend/src/dto/webevent_snapshot.go
  backend/src/service/broadcaster_service.go
Due: backend

✨ feat(be): add exit code to command output notifications
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  backend/src/dto/command_execution.go
  backend/src/internal/commandexec/runner.go
  backend/src/internal/commandexec/runner_test.go
  frontend/src/App.tsx
  frontend/src/__tests__/App.commandEvents.test.tsx
  frontend/src/components/CommandOutputDialog.tsx
  frontend/src/store/sratApi.ts
Due: backend, frontend

🔧 chore: enable background notifications for terminal chat tools
  .vscode/settings.json
Due: none

🔧 chore: update disk check tools integration documentation
  docs/tasks/001_fsck-disk-check-tools-integration.md
Due: none

✅ chore: update status to complete for disk check tools integration
  docs/tasks/001_fsck-disk-check-tools-integration.md
Due: none

✨ feat(fe): enhance user validation in Users components
  frontend/src/pages/users/Users.tsx
  frontend/src/pages/users/components/UsersTreeView.tsx
  frontend/src/pages/users/components/__tests__/UsersTreeView.test.tsx
Due: frontend

🔧 chore: update test configuration for coverage reporting
  frontend/.mise.toml
  frontend/bunfig.toml
  frontend/tsconfig.json
Due: none

📚 docs: auto-fix documentation formatting and TOC
  docs/EVENT_DRIVEN_ARCHITECTURE.md
Due: none

✨ feat(fe): enhance NotificationCenter with detailed error handling
  frontend/src/__tests__/App.commandEvents.test.tsx
  frontend/src/components/NotificationCenter.tsx
  frontend/src/components/__tests__/NotificationCenter.test.tsx
Due: frontend

⬆️ chore: update act and shfmt to latest versions
  mise.lock
Due: none

🔧 chore(hac): update rsync command and add SSH restart hook
  custom_components/.mise.toml
  frontend/src/__tests__/App.commandEvents.test.tsx
  frontend/src/components/CommandOutputDialog.tsx
  frontend/src/pages/volumes/Volumes.tsx
  frontend/src/pages/volumes/__tests__/Volumes.test.tsx
Due: frontend

✅ test(fe): add test for stale closeToast callback handling
  frontend/src/__tests__/App.commandEvents.test.tsx
  frontend/src/components/CommandOutputDialog.tsx
Due: frontend

🎨 style(fe): update partition action buttons layout to grid
  frontend/src/pages/volumes/components/VolumeDetailsPanel.tsx
  frontend/src/pages/volumes/components/__tests__/VolumeDetailsPanel.test.tsx
Due: frontend

✨ feat(fe): enhance command output handling in dialog
  frontend/src/App.tsx
  frontend/src/__tests__/App.commandEvents.test.tsx
  frontend/src/components/CommandOutputDialog.tsx
  frontend/src/components/ReadonlyCommandTerminal.tsx
Due: frontend

⬆️ chore: update hk to v1.41.0 and doctoc to v2.4.0
  .mise.toml
  backend/src/api/system.go
  backend/src/api/system_test.go
  backend/src/vendor/github.com/zarldev/goenums/.pdone
  backend/src/vendor/github.com/zarldev/goenums/generator/gofile/gofile_writer.go
  backend/src/vendor/gorm.io/gorm/.pdone
  backend/src/vendor/gorm.io/gorm/generics.go
  frontend/src/App.tsx
  frontend/src/__tests__/App.commandEvents.test.tsx
  mise.lock
Due: backend, frontend

✨ feat(fe): enhance ReadonlyCommandTerminal with channel support
  frontend/src/components/ReadonlyCommandTerminal.tsx
  frontend/src/components/__tests__/ReadonlyCommandTerminal.test.tsx
  frontend/src/pages/volumes/components/FilesystemCheckDialog.tsx
  frontend/src/pages/volumes/components/FilesystemFormatDialog.tsx
  frontend/src/pages/volumes/components/__tests__/FilesystemCheckDialog.test.tsx
  frontend/src/pages/volumes/components/__tests__/FilesystemLabelFormatDialog.test.tsx
  mise.lock
Due: frontend

✨ feat(doc): add guidance for reusing ReadonlyCommandTerminal - Preserve semantic channels for command/log views - Avoid rendering joined strings for filesystem task notes
  .github/instructions/reactjs.instructions.md
Due: none

✨ feat(be): add quiet execution modes for command execution
  backend/src/internal/commandexec/runner.go
  backend/src/internal/commandexec/runner_test.go
  backend/src/service/filesystem/base_adapter.go
  backend/src/service/filesystem/base_adapter_mock.go
  backend/src/service/filesystem/base_adapter_test.go
  backend/src/service/filesystem/btrfs_adapter.go
  backend/src/service/filesystem/exfat_adapter.go
  backend/src/service/filesystem/ext4_adapter.go
  backend/src/service/filesystem/f2fs_adapter.go
  backend/src/service/filesystem/gfs2_adapter.go
  backend/src/service/filesystem/hfsplus_adapter.go
  backend/src/service/filesystem/ntfs_adapter.go
  backend/src/service/filesystem/reiserfs_adapter.go
  backend/src/service/filesystem/vfat_adapter.go
  backend/src/service/filesystem/xfs_adapter.go
  backend/src/unixsamba/unixsamba_security_test.go
Due: backend

✨ feat(hac): add brand icons and logos for the application
  custom_components/srat/brand/icon.png
  custom_components/srat/brand/icon@2x.png
  custom_components/srat/brand/logo.png
  custom_components/srat/brand/logo@2x.png
Due: none

⬆️ chore: update Go version to 1.26.2 in configuration files
  .vscode/settings.json
  mise.lock
Due: none

✨ feat(be): implement Home Assistant custom component lifecycle management
  backend/src/api/setting.go
  backend/src/api/setting_test.go
  backend/src/cmd/srat-server/main-server.go
  backend/src/dto/context.go
  backend/src/dto/homeassistant_custom_component.go
  backend/src/internal/appsetup/appsetup.go
  backend/src/repository/issue_repository.go
  backend/src/repository/issue_repository_test.go
  backend/src/service/homeassistant_component_service.go
  backend/src/service/homeassistant_component_service_test.go
  backend/src/service/issue_service.go
  backend/src/service/issue_service_test.go
  backend/src/service/volume_service_test.go
  docs/tasks/017_automatic-home-assistant-custom-component-lifecycle-management.md
Due: backend

🔧 chore(doc): update copilot instructions for persistence guidelines
  .github/copilot-instructions.md
Due: none

📝 docs: update testing rules for back-end functionality
  .github/copilot-instructions.md
Due: none

🔧 chore(doc): update copilot instructions for type management
  .github/copilot-instructions.md
Due: none

👷 ci: update GitHub Actions workflow for HACS packaging
  .github/workflows/build.yaml
  custom_components/.mise.toml
Due: none

✨ feat(be): add Home Assistant restart functionality and issue resolution
  .devcontainer/devcontainer.json
  .gitignore
  .vscode/settings.json
  backend/.mise.toml
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  backend/src/api/setting.go
  backend/src/api/setting_test.go
  backend/src/api/system.go
  backend/src/api/ws.go
  backend/src/api/ws_sender_test.go
  backend/src/api/ws_test.go
  backend/src/dto/homeassistant_custom_component.go
  backend/src/internal/assets/README.md
  backend/src/internal/embed.go
  backend/src/internal/no_embed.go
  backend/src/internal/no_embed_test.go
  backend/src/server/huma_api.go
  backend/src/service/addon_config_watcher_service_test.go
  backend/src/service/homeassistant_component_service.go
  backend/src/service/homeassistant_component_service_test.go
  backend/src/service/homeassistant_service.go
  backend/src/service/issue_service.go
  backend/src/service/issue_service_test.go
  custom_components/.mise.toml
  docs/tasks/001_fsck-disk-check-tools-integration.md
  docs/tasks/017_automatic-home-assistant-custom-component-lifecycle-management.md
  frontend/src/mocks/handlers.ts
  frontend/src/pages/dashboard/DashboardActions.tsx
  frontend/src/pages/settings/Settings.tsx
  frontend/src/pages/settings/__tests__/Settings.test.tsx
  frontend/src/store/sratApi.ts
Due: backend, frontend

🔧 chore: update generated code comments and fix model references
  backend/src/vendor/github.com/zarldev/goenums/.pdone
  backend/src/vendor/github.com/zarldev/goenums/generator/gofile/gofile_writer.go
  backend/src/vendor/gorm.io/gorm/.pdone
  backend/src/vendor/gorm.io/gorm/generics.go
Due: none

🔧 chore: update Home Assistant custom component paths and logging
  backend/src/dto/homeassistant_custom_component.go
  backend/src/service/broadcaster_service.go
  backend/src/service/homeassistant_component_service.go
  backend/src/unixsamba/unixsamba.go
  custom_components/.mise.toml
Due: backend

🔧 chore: update Home Assistant component methods to include context
  backend/src/api/setting.go
  backend/src/api/setting_test.go
  backend/src/api/ws_sender_test.go
  backend/src/service/addon_config_watcher_service.go
  backend/src/service/addon_config_watcher_service_test.go
  backend/src/service/homeassistant_component_service.go
  backend/src/service/homeassistant_component_service_test.go
  backend/src/service/repair_service.go
  backend/src/service/repair_service_test.go
  backend/src/unixsamba/unixsamba.go
  backend/src/unixsamba/unixsamba_security_test.go
Due: backend

📝 docs: add enum code generation guidelines to Go instructions
  .github/instructions/go.instructions.md
Due: none

✨ feat(be): introduce repair lifecycle events and enums
  backend/src/api/ws_test.go
  backend/src/dto/repair_command_action.go
  backend/src/dto/repair_issue_severity.go
  backend/src/dto/repair_lifecycle_status.go
  backend/src/dto/repair_proxy.go
  backend/src/dto/repaircommandactions_enums.go
  backend/src/dto/repairissueseverities_enums.go
  backend/src/dto/repairlifecyclestatuses_enums.go
  backend/src/events/events.go
  backend/src/service/broadcaster_service.go
  backend/src/service/repair_service.go
Due: backend

♻️ refactor(docs): add MUI v9 upgrade and frontend dependencies guide
  docs/tasks/026_upgrade-mui-v9-and-frontend-deps.md
Due: none

🔧 chore: update tool versions and add test task
  .mise.toml
  custom_components/.mise.toml
  frontend/.mise.toml
  mise.lock
Due: none

🔧 chore: update postCreateCommand.sh and mise.lock for improved variable handling
  .devcontainer/postCreateCommand.sh
  mise.lock
Due: none

🔧 chore(fe): update dependencies in package.json
  .vscode/settings.json
  frontend/bun.lock
  frontend/package.json
Due: none

Path conditions:
  backend: any of: backend/src/, but not: backend/src/vendor/**, backend/src/**/*_test.go, backend/src/**/test/**, frontend/src/**/*.test.ts, frontend/src/**/*.test.tsx, frontend/test/**, frontend/out/**, frontend/coverage/**, **/node_modules/**, **/__tests__/**
  frontend: any of: frontend/src/, but not: backend/src/vendor/**, backend/src/**/*_test.go, backend/src/**/test/**, frontend/src/**/*.test.ts, frontend/src/**/*.test.tsx, frontend/test/**, frontend/out/**, frontend/coverage/**, **/node_modules/**, **/__tests__/**
