Repository dianlight/srat: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

✨ feat(service): start timer when dirty data tracker is accessed
  backend/src/service/dirty_data_service.go
  frontend/package.json
Due: backend

🎨 style(test): comment out title assignment in severity tests
  backend/src/dbom/issue_test.go
Due: none

🎨 style(property): format struct fields for consistency
  backend/src/dbom/property.go
  backend/src/homeassistant/websocket/client.go
Due: backend

🔧 chore(go.mod): update golang.org/x/exp dependency version
  backend/src/go.mod
  backend/src/go.sum
  backend/src/vendor/modules.txt
Due: backend

✨ feat(urlutil): add URL validation function and tests
  backend/src/internal/urlutil/urlutil.go
  backend/src/internal/urlutil/urlutil_test.go
  backend/src/service/issue_template_service.go
  backend/src/service/issue_template_service_test.go
  backend/src/service/telemetry_service.go
  backend/src/service/upgrade_service.go
  backend/src/service/upgrade_service_coverage_test.go
  backend/src/service/upgrade_service_extended_test.go
  backend/src/service/upgrade_service_test.go
Due: backend

📝 docs: add markdown content rules and validation requirements
  .github/instructions/markdown.instructions.md
Due: none

✨ feat(disk): add filesystem support and state to disk stats
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  backend/src/converter/ha_hardware_to_dto.go
  backend/src/dto/additional_dto_test.go
  backend/src/dto/disk.go
  backend/src/dto/disk_stats.go
  backend/src/service/disk_stats_service.go
  backend/src/service/disk_stats_service_test.go
  backend/src/service/filesystem/README.md
  backend/src/service/homeassistant_service.go
  backend/src/service/homeassistant_service_test.go
  backend/src/service/volume_service.go
  backend/test/data/image.dmg
Due: backend

✨ feat(store): add filesystem state and support to disk info types
  CHANGELOG.md
  frontend/src/store/sratApi.ts
Due: frontend

📚 docs: auto-fix documentation formatting and linting issues
  .github/instructions/markdown.instructions.md
Due: none

✨ feat(docs): update markdown content rules and accepted terms - Refine markdown guidelines for headings and lists - Add new accepted terms for filesystems in vocabulary
  .cspell.json
  .github/instructions/markdown.instructions.md
  .vale/styles/config/vocabularies/SRAT/accept.txt
Due: none

🔧 chore(test): update mock sratApi structure for VolumeMountDialog tests
  frontend/src/pages/volumes/components/__tests__/VolumeMountDialog.test.tsx
Due: none

🔧 chore(upgrade_service): update file size extraction and clean up code
  backend/src/service/upgrade_service.go
Due: backend

🏗️ build: add path for downloaded builds in release job
  .github/workflows/build.yaml
Due: none

ci(renovate): Add renovate config for custom_components
  .github/renovate.json
Due: none

Add ignore option for HACS validation
  .github/workflows/build.yaml
Due: none

Update TypeScript configuration in tsconfig.json
  frontend/tsconfig.json
Due: none

format(custom_component): Fix proprties order
  custom_components/srat/manifest.json
Due: none

Revise commit message instructions and scopes
  .github/.copilot-commit-message-instructions.md
Due: none

doc(ia): Added raw instruction for typescript and reactjs
  .github/instructions/reactjs.instructions.md
  .github/instructions/typescript-5-es2021.instructions.md
Due: none

📚 docs: auto-fix documentation formatting and linting issues
  .github/instructions/reactjs.instructions.md
  .github/instructions/typescript-5-es2021.instructions.md
Due: none

fix(ci): Correct version of upload artifact to GitHub Actions
  .github/workflows/build.yaml
Due: none

🔧 chore(hac): update development dependencies in Makefile and requirements
  .devcontainer/updateContentCommand.sh
  custom_components/Makefile
  custom_components/requirements_dev.txt
Due: none

✨ feat(hac): add custom_components session and remote mount commands
  .vscode/sessions.json
  custom_components/Makefile
Due: none

🐛 fix(hac): fix HA Config Flow discovery import errors
  CHANGELOG.md
  custom_components/srat/config_flow.py
  custom_components/tests/test_config_flow.py
Due: none

✨ feat(be): add discovery service and related tests
  backend/src/cmd/srat-server/main-server.go
  backend/src/dto/context.go
  backend/src/homeassistant/addons.yaml
  backend/src/homeassistant/addons/client.gen.go
  backend/src/homeassistant/discovery.yaml
  backend/src/homeassistant/discovery/client.gen.go
  backend/src/homeassistant/discovery/client_test.go
  backend/src/homeassistant/generate.go
  backend/src/internal/appsetup/appsetup.go
  backend/src/service/addons_service.go
  backend/src/service/discovery_service.go
  backend/src/service/discovery_service_test.go
  backend/src/service/ha_discovery_service.go
  backend/src/service/ha_discovery_service_test.go
Due: backend

🔧 chore(docs): update API endpoint references to /api/health
  custom_components/srat/__init__.py
  custom_components/srat/config_flow.py
  custom_components/tests/conftest.py
  docs/HOME_ASSISTANT_INTEGRATION.md
  docs/IMPLEMENTATION_SAMBA_VERSION_CHECKS.md
  docs/SAMBA_VERSION_CHECKS.md
  docs/TESTING_SAMBA_VERSION_CHECKS.md
Due: none

🔧 chore(hac): add missing import and clean up whitespace
  custom_components/srat/config_flow.py
  custom_components/srat/const.py
  custom_components/tests/test_config_flow.py
Due: none

📝 docs: update Python instructions and Home Assistant integration docs
  .github/.copilot-commit-message-instructions.md
  .github/instructions/python.instructions.md
  backend/test/data/image.dmg
  docs/HOME_ASSISTANT_INTEGRATION.md
  docs/MISSING_HA_INTEGRATION_DATA.md
Due: none

📝 docs: update Home Assistant integration documentation and instructions
  .cspell.json
  .github/copilot-instructions.md
  .github/instructions/python.instructions.md
  .github/instructions/typescript-5-es2021.instructions.md
  .vale/styles/config/vocabularies/SRAT/accept.txt
  CONTRIBUTING.md
  docs/HOME_ASSISTANT_INTEGRATION.md
  docs/MISSING_HA_INTEGRATION_DATA.md
Due: none

🔧 chore(hac): update import statement for HassioServiceInfo
  custom_components/srat/config_flow.py
Due: none

📝 docs: add markdown documentation standards for SRAT project
  .github/instructions/markdown.instructions.md
Due: none

🔧 chore(vocab): add new accepted terms to vocabulary list
  .github/copilot-instructions.md
  .vale/styles/config/vocabularies/SRAT/accept.txt
Due: none

🔧 chore(be): update binary image file in test data
  backend/test/data/image.dmg
Due: none

🔧 chore(fe): update test configurations and improve test coverage
  frontend/bunfig.toml
  frontend/src/pages/volumes/components/VolumeDetailsPanel.tsx
  frontend/src/pages/volumes/components/__tests__/VolumeDetailsPanel.test.tsx
  frontend/src/pages/volumes/components/__tests__/VolumesTreeView.test.tsx
Due: frontend

🔧 chore(be): update smartmontools-go to v0.2.5
  backend/src/api/health_run_internal_test.go
  backend/src/go.mod
  backend/src/go.sum
  backend/src/service/disk_stats_service.go
  backend/src/service/disk_stats_service_test.go
  backend/src/vendor/github.com/dianlight/smartmontools-go/README.md
  backend/src/vendor/github.com/dianlight/smartmontools-go/client.go
  backend/src/vendor/github.com/dianlight/smartmontools-go/doc.go
  backend/src/vendor/modules.txt
Due: backend

🔧 chore(fe): disable SMART controls for NVMe disks
  frontend/src/pages/volumes/components/SmartStatusPanel.tsx
  frontend/src/pages/volumes/components/__tests__/SmartStatusPanel.test.tsx
Due: frontend

🔧 chore(be): update smartmontools-go to v0.2.6
  backend/src/go.mod
  backend/src/go.sum
  backend/src/vendor/github.com/dianlight/smartmontools-go/Makefile
  backend/src/vendor/github.com/dianlight/smartmontools-go/cache.go
  backend/src/vendor/github.com/dianlight/smartmontools-go/client.go
  backend/src/vendor/github.com/dianlight/smartmontools-go/commander.go
  backend/src/vendor/github.com/dianlight/smartmontools-go/doc.go
  backend/src/vendor/github.com/dianlight/smartmontools-go/drivedb.go
  backend/src/vendor/github.com/dianlight/smartmontools-go/helpers.go
  backend/src/vendor/github.com/dianlight/smartmontools-go/types.go
  backend/src/vendor/modules.txt
Due: backend

✨ feat(fe): add connection bus to SmartStatusPanel props
  backend/src/service/smart_service.go
  frontend/src/pages/volumes/components/VolumeDetailsPanel.tsx
Due: backend, frontend

✨ feat(be): add enabled field to SmartStatus and update API parameters
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  backend/src/converter/smartmontools_to_dto_conv_gen.go
  frontend/src/pages/volumes/components/SmartStatusPanel.tsx
Due: backend, frontend

Path conditions:
  backend: any of: backend/src/, but not: backend/src/vendor/**, backend/src/**/*_test.go, backend/src/**/test/**, frontend/src/**/*.test.ts, frontend/src/**/*.test.tsx, frontend/test/**, frontend/out/**, frontend/coverage/**, **/node_modules/**, **/__tests__/**
  frontend: any of: frontend/src/, but not: backend/src/vendor/**, backend/src/**/*_test.go, backend/src/**/test/**, frontend/src/**/*.test.ts, frontend/src/**/*.test.tsx, frontend/test/**, frontend/out/**, frontend/coverage/**, **/node_modules/**, **/__tests__/**
