Repository dianlight/srat: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

# Codecov configuration for SRAT project
# Documentation: https://docs.codecov.io/docs/codecov-yaml

codecov:
  require_ci_to_pass: no
  notify:
    after_n_builds: 2  # Wait for both backend and frontend coverage

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        # Don't fail the build if coverage decreases slightly
        informational: true
    patch:
      default:
        target: 60%
        informational: true

  precision: 2
  round: down
  range: "50...100"

# Component-based coverage tracking
flag_management:
  default_rules:
    carryforward: true

flags:
  backend:
    paths:
      - backend/src/
    carryforward: true
  frontend:
    paths:
      - frontend/src/
    carryforward: true

# Ignore patterns
ignore:
  - "backend/src/vendor/**"
  - "backend/src/**/*_test.go"
  - "backend/src/**/test/**"
  - "frontend/src/**/*.test.ts"
  - "frontend/src/**/*.test.tsx"
  - "frontend/test/**"
  - "frontend/out/**"
  - "frontend/coverage/**"
  - "**/node_modules/**"
  - "**/__tests__/**"

# Comment settings
comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

🐛 fix(fe): surface wizard commit failure context
  frontend/src/components/wizard/SetupWizard.tsx
  frontend/src/hooks/useSentryTelemetry.ts
  frontend/src/utils/__tests__/sentrySerialize.test.ts
  frontend/src/utils/sentrySerialize.ts
Due: frontend

🐛 fix(be): skip automount for native/system mounts
  backend/src/service/volume/mount_orchestrator.go
  backend/src/service/volume/mount_orchestrator_test.go
  backend/src/service/volume/udev_handler.go
  backend/src/service/volume/udev_handler_test.go
Due: backend

🐛 fix(be): stop Sentry ingesting routine 401 logs
  backend/src/server/ha_middleware.go
  backend/src/server/ha_middleware_test.go
  backend/src/service/telemetry_service.go
  backend/src/service/telemetry_service_test.go
  backend/src/service/telemetry_unauthorized_test.go
Due: backend

🐛 fix(be): stop Sentry ingesting routine 401 logs (#1347)
  backend/src/server/ha_middleware.go
  backend/src/server/ha_middleware_test.go
  backend/src/service/telemetry_service.go
  backend/src/service/telemetry_service_test.go
  backend/src/service/telemetry_unauthorized_test.go
Due: backend

🐛 fix(fe+ci+doc): unify volume error detail and split Sentry projects
  .devcontainer/devcontainer.json
  .github/workflows/build.yaml
  .github/workflows/sentry-release.yaml
  docs/TELEMETRY_CONFIGURATION.md
  frontend/.mise.toml
  frontend/bun.build.ts
  frontend/scripts/upload-sourcemaps.mjs
  frontend/src/components/ConsoleErrorToSentry.tsx
  frontend/src/hooks/useSentryTelemetry.ts
  frontend/src/pages/volumes/__tests__/utils.test.ts
  frontend/src/pages/volumes/hooks/useMountVolume.ts
  frontend/src/pages/volumes/utils.ts
Due: frontend

✅ test(fe): cover mount decline, invalid selection, serializer edges
  frontend/src/pages/volumes/__tests__/useMountVolume.test.tsx
  frontend/src/pages/volumes/__tests__/utils.test.ts
Due: none

🐛 fix(fe+ci): address CodeRabbit review findings
  .github/workflows/build.yaml
  .github/workflows/sentry-release.yaml
  docs/TELEMETRY_CONFIGURATION.md
  frontend/scripts/upload-sourcemaps.mjs
  frontend/src/components/ConsoleErrorToSentry.tsx
  frontend/src/pages/volumes/__tests__/useMountVolume.test.tsx
  frontend/src/pages/volumes/__tests__/utils.test.ts
  frontend/src/pages/volumes/hooks/useMountVolume.ts
  frontend/src/pages/volumes/utils.ts
Due: frontend

🐛 fix(fe): preserve Error and fetch-error messages in parser
  frontend/src/pages/volumes/__tests__/utils.test.ts
  frontend/src/pages/volumes/utils.ts
Due: frontend

🐛 fix(fe+ci+doc): unify volume error detail and split Sentry projects (#1345)
  .devcontainer/devcontainer.json
  .github/workflows/build.yaml
  .github/workflows/sentry-release.yaml
  docs/TELEMETRY_CONFIGURATION.md
  frontend/.mise.toml
  frontend/bun.build.ts
  frontend/scripts/upload-sourcemaps.mjs
  frontend/src/components/ConsoleErrorToSentry.tsx
  frontend/src/hooks/useSentryTelemetry.ts
  frontend/src/pages/volumes/__tests__/useMountVolume.test.tsx
  frontend/src/pages/volumes/__tests__/utils.test.ts
  frontend/src/pages/volumes/hooks/useMountVolume.ts
  frontend/src/pages/volumes/utils.ts
Due: frontend

🐛 fix(be): skip protected-mode automount quietly
  backend/src/service/telemetry_service.go
  backend/src/service/telemetry_unauthorized_test.go
  backend/src/service/volume/mount_orchestrator.go
  backend/src/service/volume/udev_handler.go
  backend/src/service/volume/udev_handler_test.go
Due: backend

🐛 fix(be): keep mixed-error Sentry events with guard
  backend/src/service/telemetry_service.go
  backend/src/service/telemetry_unauthorized_test.go
  backend/src/service/volume/udev_handler_test.go
Due: backend

🐛 fix(be): skip protected-mode automount quietly (#1350)
  backend/src/service/telemetry_service.go
  backend/src/service/telemetry_unauthorized_test.go
  backend/src/service/volume/mount_orchestrator.go
  backend/src/service/volume/udev_handler.go
  backend/src/service/volume/udev_handler_test.go
Due: backend

🐛 fix(be): give smbd hard restart its own 120s timeout
  backend/src/internal/commandexec/runner.go
  backend/src/internal/commandexec/runner_test.go
  backend/src/service/server_process_restart_timeout_test.go
  backend/src/service/server_process_service.go
Due: backend

🐛 fix(be): give smbd hard restart its own 120s timeout (#1351)
  backend/src/internal/commandexec/runner.go
  backend/src/internal/commandexec/runner_test.go
  backend/src/service/server_process_restart_timeout_test.go
  backend/src/service/server_process_service.go
Due: backend

Sentry support for AI
  .opencode/opencode.json
  .opencode/skills/sentry-triage/SKILL.md
Due: none

🐛 fix(be): degrade missing fs helpers instead of Sentry errors
  backend/src/service/filesystem/base_adapter.go
  backend/src/service/filesystem/xfs_adapter.go
  backend/src/service/filesystem/xfs_missing_tool_test.go
  backend/src/service/filesystem_service.go
  backend/src/service/filesystem_service_missing_tool_test.go
  backend/src/service/telemetry_missing_binary_test.go
  backend/src/service/telemetry_service.go
Due: backend

🐛 fix(be): degrade missing fs helpers instead of Sentry errors (#1355)
  backend/src/service/filesystem/base_adapter.go
  backend/src/service/filesystem/xfs_adapter.go
  backend/src/service/filesystem/xfs_missing_tool_test.go
  backend/src/service/filesystem_service.go
  backend/src/service/filesystem_service_missing_tool_test.go
  backend/src/service/telemetry_missing_binary_test.go
  backend/src/service/telemetry_service.go
Due: backend

✅ test(be): cover missing-tool race and Sentry filter paths
  backend/src/service/filesystem/xfs_missing_tool_test.go
  backend/src/service/telemetry_service_test.go
Due: none

✅ test(be): cover missing-tool race and Sentry filter paths (#1356)
  backend/src/service/filesystem/xfs_missing_tool_test.go
  backend/src/service/telemetry_service_test.go
Due: none

🐛 fix(fe): enrich mount/unmount/wizard Sentry errors with detail
  .opencode/instructions/frontend_test.instructions.md
  frontend/src/components/ConsoleErrorToSentry.tsx
  frontend/src/components/wizard/SetupWizard.tsx
  frontend/src/hooks/useSentryTelemetry.ts
  frontend/src/pages/volumes/__tests__/useMountVolume.test.tsx
  frontend/src/pages/volumes/__tests__/utils.test.ts
  frontend/src/pages/volumes/hooks/useMountVolume.ts
  frontend/src/pages/volumes/utils.ts
  frontend/src/utils/__tests__/sentrySerialize.test.ts
Due: frontend

🐛 fix(fe): enrich mount/unmount/wizard Sentry errors with detail (#1357)
  .opencode/instructions/frontend_test.instructions.md
  frontend/src/components/ConsoleErrorToSentry.tsx
  frontend/src/components/wizard/SetupWizard.tsx
  frontend/src/hooks/useSentryTelemetry.ts
  frontend/src/pages/volumes/__tests__/useMountVolume.test.tsx
  frontend/src/pages/volumes/__tests__/utils.test.ts
  frontend/src/pages/volumes/hooks/useMountVolume.ts
  frontend/src/pages/volumes/utils.ts
  frontend/src/utils/__tests__/sentrySerialize.test.ts
Due: frontend

📝 docs(skill): add GitHub dedup and Sentry sync step to sentry-triage
  .opencode/skills/sentry-triage/SKILL.md
Due: none

🐛 fix(be): downgrade supervisor mount target-not-empty to warning
  backend/src/service/supervisor_service.go
  backend/src/service/supervisor_service_test.go
Due: backend

🐛 fix(be): downgrade supervisor mount target-not-empty to warning (#1365)
  backend/src/service/supervisor_service.go
  backend/src/service/supervisor_service_test.go
Due: backend

🐛 fix(be): skip mounted devices quietly, fix ntfs3 defaults
  backend/src/api/volumes.go
  backend/src/api/volumes_extra_test.go
  backend/src/internal/osutil/osutil.go
  backend/src/internal/osutil/osutil_test.go
  backend/src/service/filesystem/base_adapter.go
  backend/src/service/filesystem/base_adapter_test.go
  backend/src/service/filesystem/ntfs_adapter.go
  backend/src/service/filesystem/ntfs_adapter_test.go
  backend/src/service/filesystem/samba_defaults_test.go
  backend/src/service/telemetry_service.go
  backend/src/service/telemetry_unauthorized_test.go
  backend/src/service/volume/mount_orchestrator.go
  backend/src/service/volume/mount_orchestrator_test.go
  backend/src/service/volume_mount_manager.go
  backend/src/service/volume_mount_manager_test.go
Due: backend

♻️ refactor(be): remove gorm generics patch in favor of classic API
  backend/.mise.toml
  backend/patches/gorm-generics.patch
  backend/src/repository/mount_point_path_repository.go
  backend/src/service/setting_service.go
  backend/src/service/share_service.go
  backend/src/service/share_service_test.go
  backend/src/vendor/github.com/adelolmo/hd-idle/sgio/.pdone
  backend/src/vendor/github.com/adelolmo/hd-idle/sgio/ata.go
  backend/src/vendor/github.com/prometheus/procfs/sysfs/fs_darwin.go
  backend/src/vendor/github.com/u-root/u-root/pkg/mount/loop/loop_darwin.go
  backend/src/vendor/github.com/u-root/u-root/pkg/mount/mount_darwin.go
Due: backend

🐛 fix(fe): enrich problem dismiss errors with backend detail
  frontend/src/pages/dashboard/DashboardActions.tsx
  frontend/src/pages/dashboard/__tests__/DashboardActionsFailure.test.tsx
  frontend/src/pages/dashboard/__tests__/problemActionError.test.ts
  frontend/src/pages/dashboard/problemActionError.ts
Due: frontend

✅ test(fe): cover re-enable and string-status failures
  frontend/src/pages/dashboard/DashboardActions.tsx
  frontend/src/pages/dashboard/__tests__/DashboardActionsFailure.test.tsx
  frontend/src/pages/dashboard/__tests__/problemActionError.test.ts
  frontend/src/pages/dashboard/problemActionError.ts
Due: frontend

🐛 fix(fe): enrich problem dismiss errors with backend detail (#1363)
  frontend/src/pages/dashboard/DashboardActions.tsx
  frontend/src/pages/dashboard/__tests__/DashboardActionsFailure.test.tsx
  frontend/src/pages/dashboard/__tests__/problemActionError.test.ts
  frontend/src/pages/dashboard/problemActionError.ts
Due: frontend

🐛 fix(be): coalesce concurrent udev mounts, quiet EBUSY races
  backend/src/internal/osutil/osutil.go
  backend/src/internal/osutil/osutil_test.go
  backend/src/service/filesystem/base_adapter.go
  backend/src/service/filesystem/base_adapter_test.go
  backend/src/service/volume/mount_orchestrator.go
  backend/src/service/volume/mount_orchestrator_test.go
  backend/src/service/volume/udev_handler.go
  backend/src/service/volume/udev_handler_test.go
  backend/src/service/volume_mount_manager_test.go
Due: backend

✅ test(be): cover nil-Flags init in singleflight mount path
  backend/src/service/volume/mount_orchestrator_test.go
Due: none

♻️ refactor(be): use in-tree ATA probe without double close
  backend/.mise.toml
  backend/patches/create_darwin_stubs.sh
  backend/patches/goenums.patch
  backend/patches/hd-idle-check-power-mode.patch
  backend/patches/overseer.patch
  backend/src/internal/ataprobe/ataprobe.go
  backend/src/internal/ataprobe/ataprobe_test.go
  backend/src/service/hdidle_ata_probe_test.go
  backend/src/service/hdidle_service.go
Due: backend

♻️ refactor(be): use in-tree ATA probe without double close (#1372)
  backend/.mise.toml
  backend/patches/create_darwin_stubs.sh
  backend/patches/goenums.patch
  backend/patches/hd-idle-check-power-mode.patch
  backend/patches/overseer.patch
  backend/src/internal/ataprobe/ataprobe.go
  backend/src/internal/ataprobe/ataprobe_test.go
  backend/src/service/hdidle_ata_probe_test.go
  backend/src/service/hdidle_service.go
Due: backend
