Repository dianlight/srat: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fix(be): bound automount retry attempts with exponential backoff
  backend/src/service/volume_service.go
  backend/src/service/volume_service_udev_test.go
Due: backend

docs(doc): close Task 7 (H1 automount retry backoff)
  docs/tasks/048_volume-stack-hardening-review.md
Due: none

⚡️ perf(be): batch partition events per disk in volume refresh
  backend/src/events/events.go
  backend/src/service/volume_service.go
  backend/src/service/volume_service_h2_test.go
  backend/src/service/volume_service_udev_test.go
Due: backend

📝 docs(doc): close Task 8 (H2 batched volume refresh)
  docs/tasks/048_volume-stack-hardening-review.md
Due: none

♻️ refactor(be): drop dead device-path check in MountVolume
  backend/src/service/volume_service.go
  backend/src/service/volume_service_mountvolume_test.go
Due: backend

📝 docs(doc): close Task 9 (H3 dead device-path check)
  docs/tasks/048_volume-stack-hardening-review.md
Due: none

🐛 fix(be): reload mount config after PATCH to keep response flags
  backend/src/service/volume_service.go
  backend/src/service/volume_service_test.go
Due: backend

📝 docs(doc): close Task 10 (H4 reload-after-patch fix, quirk #1 non-reproducible)
  docs/tasks/048_volume-stack-hardening-review.md
Due: none

🐛 fix(be): surface volume load errors instead of empty disk list
  backend/src/api/smart_test.go
  backend/src/api/volumes.go
  backend/src/api/volumes_test.go
  backend/src/service/volume_service.go
  backend/src/service/volume_service_test.go
Due: backend

📝 docs(doc): close Task 11 (H5 volume load errors surface as 500)
  docs/tasks/048_volume-stack-hardening-review.md
Due: none

🐛 fix(be): invert unmount force/lazy flag semantics
  backend/src/service/volume_mount_manager.go
  backend/src/service/volume_mount_manager_test.go
Due: backend

📝 docs(doc): close Task 12 (H6 unmount flag semantics)
  docs/tasks/048_volume-stack-hardening-review.md
Due: none

🐛 fix(be): drain udev monitor channels on shutdown
  backend/src/service/udev_channel_drain.go
  backend/src/service/udev_channel_drain_test.go
  backend/src/service/volume_service_udev_linux.go
Due: backend

📝 docs(doc): close Task 13 (H7 udev goroutine lifecycle)
  docs/tasks/048_volume-stack-hardening-review.md
Due: none

🐛 fix(fe): color automount partition icon via any mount point
  frontend/src/pages/volumes/components/VolumesTreeView.tsx
  frontend/src/pages/volumes/components/__tests__/VolumesTreeView.test.tsx
Due: frontend

📝 docs(doc): close Task 14 (F1 automount icon map-as-array)
  docs/tasks/048_volume-stack-hardening-review.md
Due: none

🐛 fix(fe): migrate VolumeMountDialog to FormContainer pattern
  frontend/src/pages/volumes/Volumes.tsx
  frontend/src/pages/volumes/components/VolumeMountDialog.tsx
  frontend/src/pages/volumes/components/__tests__/VolumeMountDialog.test.tsx
Due: frontend

📝 docs(doc): close Task 15 (F2 mount dialog FormContainer)
  docs/tasks/048_volume-stack-hardening-review.md
Due: none

🐛 fix(fe): route volume label rename through RTK cache (F3)
  frontend/src/pages/volumes/Volumes.tsx
  frontend/src/pages/volumes/__tests__/Volumes.test.tsx
Due: frontend

📝 docs(doc): close Task 16 (F3 volume label via RTK cache)
  docs/tasks/048_volume-stack-hardening-review.md
Due: none

🐛 fix(fe): aggregate automount toggles with Promise.allSettled (F4)
  frontend/src/pages/volumes/Volumes.tsx
  frontend/src/pages/volumes/__tests__/Volumes.test.tsx
Due: frontend

📝 docs(doc): close Task 17 (F4 automount allSettled)
  docs/tasks/048_volume-stack-hardening-review.md
Due: none

🐛 fix(fe): warn on index-fallback volume identifiers (F5)
  frontend/src/pages/volumes/__tests__/utils.test.ts
  frontend/src/pages/volumes/utils.ts
Due: frontend

📝 docs(doc): close Task 18 (F5 identifier fallback warning)
  docs/tasks/048_volume-stack-hardening-review.md
Due: none

🐛 fix(be): copy partition map before enrichment in getVolumesData (H8)
  backend/src/service/volume_service.go
  backend/src/service/volume_service_test.go
Due: backend

📝 docs(doc): close Task 19 (H8 hardware-cache aliasing)
  docs/tasks/048_volume-stack-hardening-review.md
Due: none

🐛 fix(be): propagate event-bus handler errors to emitters (H9)
  backend/src/api/filesystems.go
  backend/src/events/event_bus.go
  backend/src/events/event_bus_test.go
  backend/src/service/volume_service.go
  backend/src/service/volume_service_test.go
Due: backend

📝 docs(doc): close Task 20 (H9 event-bus error propagation)
  docs/tasks/048_volume-stack-hardening-review.md
Due: none

🐛 fix(be): warm volume cache at boot without failing app start (H10)
  backend/src/service/volume_service.go
  backend/src/service/volume_service_test.go
Due: backend

📝 docs(doc): close Task 21 (H10 boot volume-cache warmup)
  docs/tasks/048_volume-stack-hardening-review.md
Due: none

🐛 fix(fe): pass readOnly to SmartStatusPanel (F6)
  frontend/src/pages/volumes/components/VolumeDetailsPanel.tsx
  frontend/src/pages/volumes/components/__tests__/VolumeDetailsPanel.test.tsx
Due: frontend

📝 docs(doc): close Task 22 (F6 SMART panel read-only)
  docs/tasks/048_volume-stack-hardening-review.md
Due: none

✅ test(be): close Task 23 coverage gate (5 violations to >=70%)
  backend/src/converter/converter_test.go
  backend/src/internal/appsetup/appsetup_test.go
  backend/src/service/broadcaster_service_internal_test.go
  backend/src/service/disk_stats_service_test.go
  backend/src/service/volume_service_internal_test.go
Due: none

📝 docs(doc): close Task 23 (final coverage gate)
  docs/tasks/048_volume-stack-hardening-review.md
Due: none

📝 docs(doc): close Task 24 (CHANGELOG volume-stack fixes)
  CHANGELOG.md
  docs/tasks/048_volume-stack-hardening-review.md
Due: none

📝 docs(doc): mark task 048 complete and refresh task status report
  docs/tasks/048_volume-stack-hardening-review.md
  docs/tasks/TASK_STATUS.md
Due: none

✅ test(be): align udev-remove test with lazy-detach unmount semantics
  backend/src/service/volume_service_udev_test.go
Due: none

🐛 fix(be): nil pointer dereference in GetHardwareInfo when HA Supervisor returns nil device fields
  CHANGELOG.md
  backend/src/service/hardware_service.go
  backend/src/service/hardware_service_test.go
Due: backend

🐛 fix(be+doc): harden volume service against races and nil derefs
  backend/src/api/filesystems_test.go
  backend/src/dto/disk.go
  backend/src/dto/disk_map.go
  backend/src/dto/disk_map_test.go
  backend/src/service/disk_stats_service.go
  backend/src/service/udev_channel_drain_test.go
  backend/src/service/volume_service.go
  backend/src/service/volume_service_internal_test.go
  backend/src/service/volume_service_reconcile_test.go
  backend/src/service/volume_service_test.go
  docs/refactors/048-volume-hardening.md
  docs/tasks/048_volume-stack-hardening-review.md
  docs/tasks/TASK_STATUS.md
Due: backend

Second fix
  backend/src/converter/ha_hardware_to_dto.go
  backend/src/service/volume_service_reconcile_test.go
Due: backend

Path conditions:
  backend: any of: backend/src/, but not: backend/src/vendor/**, backend/src/**/*_test.go, backend/src/**/test/**, frontend/src/**/*.test.ts, frontend/src/**/*.test.tsx, frontend/test/**, frontend/out/**, frontend/coverage/**, **/node_modules/**, **/__tests__/**
  frontend: any of: frontend/src/, but not: backend/src/vendor/**, backend/src/**/*_test.go, backend/src/**/test/**, frontend/src/**/*.test.ts, frontend/src/**/*.test.tsx, frontend/test/**, frontend/out/**, frontend/coverage/**, **/node_modules/**, **/__tests__/**
