Repository dianlight/srat: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

# Codecov configuration for SRAT project
# Documentation: https://docs.codecov.io/docs/codecov-yaml

codecov:
  require_ci_to_pass: no
  notify:
    after_n_builds: 2  # Wait for both backend and frontend coverage

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        # Don't fail the build if coverage decreases slightly
        informational: true
    patch:
      default:
        target: 60%
        informational: true

  precision: 2
  round: down
  range: "50...100"

# Component-based coverage tracking
flag_management:
  default_rules:
    carryforward: true

flags:
  backend:
    paths:
      - backend/src/
    carryforward: true
  frontend:
    paths:
      - frontend/src/
    carryforward: true

# Ignore patterns
ignore:
  - "backend/src/vendor/**"
  - "backend/src/**/*_test.go"
  - "backend/src/**/test/**"
  - "frontend/src/**/*.test.ts"
  - "frontend/src/**/*.test.tsx"
  - "frontend/test/**"
  - "frontend/out/**"
  - "frontend/coverage/**"
  - "**/node_modules/**"
  - "**/__tests__/**"

# Comment settings
comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

♻️ refactor(hac): harden websocket SSE parser and slim client (#1251)
  custom_components/srat/__init__.py
  custom_components/srat/coordinator.py
  custom_components/srat/mdns_service.py
  custom_components/srat/repairs.py
  custom_components/srat/sensor.py
  custom_components/srat/sse_parser.py
  custom_components/srat/websocket_client.py
  custom_components/tests/test_mdns.py
  custom_components/tests/test_sse_parser.py
Due: none

🐛 fix(be): bound health run loop calls to prevent wedge
  .gitignore
  .opencode/.modelselect-cache/model-config-cache.json
  backend/src/api/health.go
  backend/src/api/health_run_internal_test.go
Due: backend

🐛 fix(fe+doc): refresh Dashboard volume list on unmount WS event
  docs/test/frontend/006.002_ws-volumes-live-refresh.md
  frontend/src/hooks/__tests__/volumeHook.test.ts
  frontend/src/pages/dashboard/__tests__/DashboardUnmountRefresh.test.tsx
  frontend/src/store/__tests__/wsApi.test.tsx
  frontend/src/store/wsApi.ts
Due: frontend

🐛 fix(fe+doc): refresh Dashboard volume list on unmount WS event (#1258)
  docs/test/frontend/006.002_ws-volumes-live-refresh.md
  frontend/src/hooks/__tests__/volumeHook.test.ts
  frontend/src/pages/dashboard/__tests__/DashboardUnmountRefresh.test.tsx
  frontend/src/store/__tests__/wsApi.test.tsx
  frontend/src/store/wsApi.ts
Due: frontend

♻️ refactor(be): centralize repair-problem mirroring facade
  backend/src/service/filesystem_service.go
  backend/src/service/problem/repair_adapter.go
  backend/src/service/problem/repair_adapter_test.go
  backend/src/service/repair_service.go
  backend/src/service/smart_service.go
  backend/src/service/volume_mount_manager.go
Due: backend

✅ test(doc): add remote test cases for #1236 facade
  docs/test/backend/006.006_problem-facade-lifecycle.md
  docs/test/backend/006.007_heartbeat-partial-merge.md
  docs/test/evidence/003.007-volumes-protect-on.png
  docs/test/frontend/003.010_volume-sensor-repository.md
Due: none

🐛 fix(hac): harden mdns lifecycle and payload parsing
  custom_components/srat/mdns_service.py
  custom_components/srat/sensor.py
  custom_components/srat/sse_parser.py
  custom_components/tests/test_mdns.py
  custom_components/tests/test_sensor.py
  custom_components/tests/test_sse_parser.py
Due: none

✅ test(doc): add 006.002 WS volumes capture as evidence
  docs/test/evidence/006.002-ws-volumes.log
Due: none

🐛 fix(hac): preserve trailing whitespace in SSE data fields
  custom_components/srat/sse_parser.py
  custom_components/tests/test_sse_parser.py
Due: none

✅ test(hac+be): close CodeCov patch gaps on PR #1250
  backend/src/service/problem/repair_adapter_test.go
  custom_components/tests/test_mdns.py
  custom_components/tests/test_repairs.py
  custom_components/tests/test_sensor.py
  custom_components/tests/test_sse_parser.py
  custom_components/tests/test_websocket_client.py
Due: none

[ImgBot] Optimize images
  .opencode/logo.svg
  backend/src/vendor/github.com/oligot/go-mod-upgrade/screenshot.png
  backend/src/vendor/modernc.org/memory/logo.png
  custom_components/srat/brand/icon.png
  docs/test/evidence/003.007-volumes-protect-on.png
Due: none

🐛 fix(fe): exclude hidden standard shares from count chip
  frontend/src/pages/users/Users.tsx
  frontend/src/pages/users/components/UsersTreeView.tsx
  frontend/src/pages/users/components/__tests__/UsersTreeView.test.tsx
Due: frontend

🐛 fix(fe): exclude hidden standard shares from count chip (#1269)
  frontend/src/pages/users/Users.tsx
  frontend/src/pages/users/components/UsersTreeView.tsx
  frontend/src/pages/users/components/__tests__/UsersTreeView.test.tsx
Due: frontend

🐛 fix(be+hac): send volumes snapshot on WS connect and defer sensor creation
  backend/src/service/broadcaster_service.go
  backend/src/service/broadcaster_service_test.go
  custom_components/srat/coordinator.py
  custom_components/srat/sensor.py
  custom_components/tests/test_coordinator.py
  custom_components/tests/test_sensor.py
Due: backend

🐛 fix(be+hac): send volumes snapshot on WS connect and defer sensor creation (#1273)
  backend/src/service/broadcaster_service.go
  backend/src/service/broadcaster_service_test.go
  custom_components/srat/coordinator.py
  custom_components/srat/sensor.py
  custom_components/tests/test_coordinator.py
  custom_components/tests/test_sensor.py
Due: backend

📝 docs(doc): track hassio-addons#727 in task 044
  docs/tasks/done/044_support-disks-without-partitions.md
Due: none

📝 docs(doc): track hassio-addons#727 in task 044 (#1274)
  docs/tasks/done/044_support-disks-without-partitions.md
Due: none

fix: HACS zip layout root-level files + loopback-first WS connection
  backend/src/service/homeassistant_component_archive_test.go
  backend/src/service/homeassistant_component_service.go
  backend/src/service/homeassistant_component_service_test.go
  custom_components/.mise.toml
  custom_components/srat/connection.py
  custom_components/srat/const.py
  custom_components/tests/test_connection.py
  custom_components/tests/test_init.py
  custom_components/tests/test_websocket_client.py
  docs/test/backend/007.011_custom-component-zip-layout.md
  docs/test/backend/010.006_hacs-nested-zip-rejected.md
  docs/test/frontend/006.003_ws-loopback-fallback.md
Due: backend

🐛 fix(be): emit dirty data events outside timer mutex
  backend/src/service/dirty_data_service.go
  backend/src/service/dirty_data_service_test.go
Due: backend

📝 docs(ci): remote-test troubleshooting for event-wedge, API fields, evidence
  .opencode/skills/test-remote-environment/SKILL.md
Due: none

🐛 fix(be): per-filesystem mount defaults and Samba force-user mapping
  backend/src/config/addon_json_config.go
  backend/src/converter/config_to_dbom_conv_gen.go
  backend/src/converter/config_to_dto.go
  backend/src/converter/dto_to_dbom.go
  backend/src/dbom/exported_share.go
  backend/src/service/filesystem/adapter.go
  backend/src/service/filesystem/apfs_adapter.go
  backend/src/service/filesystem/base_adapter.go
  backend/src/service/filesystem/exfat_adapter.go
  backend/src/service/filesystem/hfsplus_adapter.go
  backend/src/service/filesystem/ntfs_adapter.go
  backend/src/service/filesystem/ntfs_adapter_test.go
  backend/src/service/filesystem/samba_defaults_test.go
  backend/src/service/filesystem/vfat_adapter.go
  backend/src/service/filesystem_service.go
  backend/src/service/mount_intelligence.go
  backend/src/service/mount_intelligence_test.go
  backend/src/service/server_process_service.go
  backend/src/service/smb_template_forceuser_test.go
  backend/src/service/volume/mount_orchestrator.go
  backend/src/service/volume/mount_orchestrator_test.go
  backend/src/templates/smb.gtpl
  docs/test/backend/003.011_ntfs-mount-defaults-and-force-user.md
  docs/test/backend/003.012_fat-mount-defaults.md
Due: backend

🐛 fix(be): per-filesystem mount defaults and Samba force-user mapping (#1264) (#1281)
  .opencode/skills/test-remote-environment/SKILL.md
  backend/src/config/addon_json_config.go
  backend/src/converter/config_to_dbom_conv_gen.go
  backend/src/converter/config_to_dto.go
  backend/src/converter/dto_to_dbom.go
  backend/src/dbom/exported_share.go
  backend/src/service/filesystem/adapter.go
  backend/src/service/filesystem/apfs_adapter.go
  backend/src/service/filesystem/base_adapter.go
  backend/src/service/filesystem/exfat_adapter.go
  backend/src/service/filesystem/hfsplus_adapter.go
  backend/src/service/filesystem/ntfs_adapter.go
  backend/src/service/filesystem/ntfs_adapter_test.go
  backend/src/service/filesystem/samba_defaults_test.go
  backend/src/service/filesystem/vfat_adapter.go
  backend/src/service/filesystem_service.go
  backend/src/service/mount_intelligence.go
  backend/src/service/mount_intelligence_test.go
  backend/src/service/server_process_service.go
  backend/src/service/smb_template_forceuser_test.go
  backend/src/service/volume/mount_orchestrator.go
  backend/src/service/volume/mount_orchestrator_test.go
  backend/src/templates/smb.gtpl
  docs/test/backend/003.011_ntfs-mount-defaults-and-force-user.md
  docs/test/backend/003.012_fat-mount-defaults.md
Due: backend

✅ test(be): cover device-not-found retry error paths
  backend/src/service/volume/udev_handler_test.go
Due: none

🐛 fix(be+doc): retry automount on transient device-not-found
  backend/src/service/volume/udev_handler.go
  backend/src/service/volume/udev_handler_test.go
  docs/tasks/053_addon-restart-device-race.md
Due: backend

🐛 fix(be+doc): retry automount on transient device-not-found (#1282)
  backend/src/service/volume/udev_handler.go
  backend/src/service/volume/udev_handler_test.go
  docs/tasks/053_addon-restart-device-race.md
Due: backend

✅ test(be): cover adapter default mount-flag merge and force-user wiring
  backend/src/service/mount_intelligence_test.go
  backend/src/service/volume/mount_orchestrator.go
  backend/src/service/volume/mount_orchestrator_test.go
Due: backend

🐛 fix(be): keep post-format label across stale hardware refreshes (#1063)
  backend/src/service/volume/internal_test.go
  backend/src/service/volume/udev_handler.go
  backend/src/service/volume/udev_handler_test.go
  backend/src/service/volume_service.go
  backend/src/service/volume_service_test.go
Due: backend

🐛 fix(be): keep post-format label across stale hardware refreshes (#1063) (#1284)
  backend/src/service/volume/internal_test.go
  backend/src/service/volume/udev_handler.go
  backend/src/service/volume/udev_handler_test.go
  backend/src/service/volume_service.go
  backend/src/service/volume_service_test.go
Due: backend

🐛 fix(be): treat discovery unregister 404 as success
  backend/src/service/ha_discovery_service.go
Due: backend

✅ test(be): cover benign discovery unregister 404
  backend/src/service/ha_discovery_service_test.go
Due: none

📝 docs: add remote addon fresh-install procedure
  .opencode/instructions/remote-addon-testing.instructions.md
  .opencode/skills/test-remote-environment/SKILL.md
Due: none

🔧 chore: add fresh-install flow to HA Testing Expert agent
  opencode.jsonc
Due: none
