Repository dianlight/srat: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

# Codecov configuration for SRAT project
# Documentation: https://docs.codecov.io/docs/codecov-yaml

codecov:
  require_ci_to_pass: no
  notify:
    after_n_builds: 2  # Wait for both backend and frontend coverage

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        # Don't fail the build if coverage decreases slightly
        informational: true
    patch:
      default:
        target: 60%
        informational: true

  precision: 2
  round: down
  range: "50...100"

# Component-based coverage tracking
flag_management:
  default_rules:
    carryforward: true

flags:
  backend:
    paths:
      - backend/src/
    carryforward: true
  frontend:
    paths:
      - frontend/src/
    carryforward: true

# Ignore patterns
ignore:
  - "backend/src/vendor/**"
  - "backend/src/**/*_test.go"
  - "backend/src/**/test/**"
  - "frontend/src/**/*.test.ts"
  - "frontend/src/**/*.test.tsx"
  - "frontend/test/**"
  - "frontend/out/**"
  - "frontend/coverage/**"
  - "**/node_modules/**"
  - "**/__tests__/**"

# Comment settings
comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

✨ feat: update huma dependency to v2.34.2
  backend/src/go.mod
  backend/src/go.sum
  backend/src/service/ha_ws_service.go
  backend/src/vendor/github.com/danielgtaylor/huma/v2/api.go
  backend/src/vendor/github.com/danielgtaylor/huma/v2/autoconfig.go
  backend/src/vendor/github.com/danielgtaylor/huma/v2/casing/casing.go
  backend/src/vendor/github.com/danielgtaylor/huma/v2/cookie.go
  backend/src/vendor/github.com/danielgtaylor/huma/v2/error.go
  backend/src/vendor/github.com/danielgtaylor/huma/v2/formdata.go
  backend/src/vendor/github.com/danielgtaylor/huma/v2/group.go
  backend/src/vendor/github.com/danielgtaylor/huma/v2/huma.go
  backend/src/vendor/github.com/danielgtaylor/huma/v2/openapi.go
  backend/src/vendor/github.com/danielgtaylor/huma/v2/registry.go
  backend/src/vendor/github.com/danielgtaylor/huma/v2/schema.go
  backend/src/vendor/github.com/danielgtaylor/huma/v2/transforms.go
  backend/src/vendor/modules.txt
Due: backend

🎨 style: fix vale_flags syntax in documentation workflow
  .github/workflows/documentation.yml
Due: none

🎨 style: update vale_flags syntax in documentation workflow
  .github/workflows/documentation.yml
Due: none

📝 docs: update documentation for consistency and clarity
  .github/.copilot-commit-message-instructions.md
  .github/ISSUE_TEMPLATE/documentation.md
  .github/copilot-instructions.md
  .github/instructions/fontend_test.instructions.md
  .github/instructions/go.instructions.md
  .github/instructions/gopls.instructions.md
  .github/pull_request_template.md
  .vale.ini
  .vale/styles/config/vocabularies/SRAT/accept.txt
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  backend/NOTES.md
  docs/DOCUMENTATION_GUIDELINES.md
  docs/EVENT_DRIVEN_ARCHITECTURE.md
  docs/EVENT_SYSTEM_IMPLEMENTATION_COMPLETE.md
  docs/EVENT_SYSTEM_QUICK_REFERENCE.md
  docs/HDIDLE_SERVICE.md
  docs/HOME_ASSISTANT_INTEGRATION.md
  docs/IMPLEMENTATION_SAMBA_VERSION_CHECKS.md
  docs/INDEX_VERSION_TESTS.md
  docs/README_EVENT_SYSTEM.md
  docs/SAMBA_VERSION_CHECKS.md
  docs/SETTINGS_DOCUMENTATION.md
  docs/SMART_FRONTEND_ARCHITECTURE.md
  docs/SMART_SERVICE.md
  docs/VERSION_TESTS_QUICK_REFERENCE.md
  scripts/validate-docs.sh
Due: none

🎨 style: update ignore patterns in configuration files
  .markdownlint-cli2.jsonc
  .vale.ini
  .zencoder/rules/repo.md
  frontend/README.md
  frontend/src/mocks/README.md
Due: frontend

🎨 style: update Vale configuration for Google styles
  .vale.ini
Due: none

✨ feat(test): enhance user service tests with database integration
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  backend/src/api/shares_test.go
  backend/src/api/users_test.go
  backend/src/converter/config_to_dto.go
  backend/src/converter/config_to_dto_conv_gen.go
  backend/src/converter/dto_to_dbom.go
  backend/src/converter/dto_to_dbom_conv_gen.go
  backend/src/converter/goverter.go
  backend/src/dbom/g/query/samba_user_query.go
  backend/src/dbom/g/samba_user.go
  backend/src/dbom/genconfig.go
  backend/src/dbom/query/samba_user_query.go
  backend/src/dbom/samba_user.go
  backend/src/dto/additional_dto_test.go
  backend/src/dto/secrets_dto.go
  backend/src/dto/user.go
  backend/src/dto/user_test.go
  backend/src/go.mod
  backend/src/go.sum
  backend/src/service/event_propagation_test.go
  backend/src/service/share_service.go
  backend/src/service/share_service_test.go
  backend/src/service/user_service.go
  backend/src/service/user_service_test.go
  backend/src/vendor/github.com/angusgmorrison/logfusc/.gitignore
  backend/src/vendor/github.com/angusgmorrison/logfusc/.golangci.yml
  backend/src/vendor/github.com/angusgmorrison/logfusc/LICENSE
  backend/src/vendor/github.com/angusgmorrison/logfusc/Makefile
  backend/src/vendor/github.com/angusgmorrison/logfusc/README.md
  backend/src/vendor/github.com/angusgmorrison/logfusc/logfusc.go
  backend/src/vendor/modules.txt
Due: backend

♻️ refactor: remove SambaUserRepository and related tests
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  backend/src/cmd/srat-cli/main-cli.go
  backend/src/converter/dto_to_dbom.go
  backend/src/converter/dto_to_dbom_conv_gen.go
  backend/src/internal/appsetup/appsetup.go
  backend/src/repository/samba_user_repository.go
  backend/src/repository/samba_user_repository_test.go
  backend/src/service/event_propagation_test.go
  backend/src/service/samba_service.go
  backend/src/service/samba_service_test.go
  backend/src/service/share_service_test.go
Due: backend

🔧 chore: update OpenAPI parameters and remove password fields
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  backend/src/config/addon_json_config.go
  backend/src/config/addon_json_config_test.go
  backend/src/config/addon_options.go
  backend/src/converter/config_to_dbom_conv.go
  backend/src/converter/config_to_dbom_conv_gen.go
  backend/src/converter/config_to_dto_conv_gen.go
Due: backend

✨ feat(ci): add Asciidoctor and docutils installation steps
  .github/workflows/documentation.yml
Due: none

✨ feat: add markdownlint and gotools extensions to devcontainer
  .devcontainer/devcontainer.json
Due: none

✨ feat(fe): add js-yaml and @types/js-yaml dependencies
  frontend/bun.lock
Due: none

✨ feat(fe): add donation icon to navbar and improve error handling
  frontend/src/components/DonationButton.tsx
  frontend/src/components/NavBar.tsx
  frontend/src/store/githubApi.ts
Due: frontend

✨ feat(fe): update DonationButton with improved click handling and testing
  frontend/src/components/DonationButton.tsx
  frontend/src/components/__tests__/DonationButton.test.tsx
Due: frontend

🔧 chore: comment out Node.js setup in cleanup workflow
  .github/workflows/clean-prerelease.yaml
Due: none

✨ feat: enhance release announcement workflow with discussion creation
  .github/workflows/release-announcement.yaml
Due: none

Update issue report prefixes and GitHub links
  backend/src/service/issue_report_service.go
Due: backend

✅ test(issue): update issue report service tests for accuracy
  backend/src/api/issue_test.go
  backend/src/service/issue_report_service_test.go
Due: none

🔧 chore: update @typescript/native-preview to version 7.0.0-dev.20260118.1
  frontend/bun.lock
  frontend/package.json
Due: none

✨ feat(dto): enhance issue report request and response structure
  backend/src/dto/issue_report.go
  backend/src/service/issue_report_service.go
  backend/src/service/issue_report_service_test.go
  backend/src/service/samba_service_test.go
  backend/src/service/user_service_test.go
Due: backend

✨ feat(bidi): add Unicode BiDi class and trie entry constants
  backend/src/go.mod
  backend/src/go.sum
  backend/src/vendor/github.com/danielgtaylor/huma/v2/huma.go
  backend/src/vendor/github.com/danielgtaylor/huma/v2/schema.go
  backend/src/vendor/github.com/danielgtaylor/huma/v2/validate.go
  backend/src/vendor/github.com/danielgtaylor/huma/v2/validation/messages.go
  backend/src/vendor/golang.org/x/net/LICENSE
  backend/src/vendor/golang.org/x/net/PATENTS
  backend/src/vendor/golang.org/x/net/idna/go118.go
  backend/src/vendor/golang.org/x/net/idna/idna10.0.0.go
  backend/src/vendor/golang.org/x/net/idna/idna9.0.0.go
  backend/src/vendor/golang.org/x/net/idna/pre_go118.go
  backend/src/vendor/golang.org/x/net/idna/punycode.go
  backend/src/vendor/golang.org/x/net/idna/tables10.0.0.go
  backend/src/vendor/golang.org/x/net/idna/tables11.0.0.go
  backend/src/vendor/golang.org/x/net/idna/tables12.0.0.go
  backend/src/vendor/golang.org/x/net/idna/tables13.0.0.go
  backend/src/vendor/golang.org/x/net/idna/tables15.0.0.go
  backend/src/vendor/golang.org/x/net/idna/tables9.0.0.go
  backend/src/vendor/golang.org/x/net/idna/trie.go
  backend/src/vendor/golang.org/x/net/idna/trie12.0.0.go
  backend/src/vendor/golang.org/x/net/idna/trie13.0.0.go
  backend/src/vendor/golang.org/x/net/idna/trieval.go
  backend/src/vendor/golang.org/x/term/terminal.go
  backend/src/vendor/golang.org/x/text/secure/bidirule/bidirule.go
  backend/src/vendor/golang.org/x/text/secure/bidirule/bidirule10.0.0.go
  backend/src/vendor/golang.org/x/text/secure/bidirule/bidirule9.0.0.go
  backend/src/vendor/golang.org/x/text/unicode/bidi/bidi.go
  backend/src/vendor/golang.org/x/text/unicode/bidi/bracket.go
  backend/src/vendor/golang.org/x/text/unicode/bidi/core.go
  backend/src/vendor/golang.org/x/text/unicode/bidi/prop.go
  backend/src/vendor/golang.org/x/text/unicode/bidi/tables10.0.0.go
  backend/src/vendor/golang.org/x/text/unicode/bidi/tables11.0.0.go
  backend/src/vendor/golang.org/x/text/unicode/bidi/tables12.0.0.go
  backend/src/vendor/golang.org/x/text/unicode/bidi/tables13.0.0.go
  backend/src/vendor/golang.org/x/text/unicode/bidi/tables15.0.0.go
  backend/src/vendor/golang.org/x/text/unicode/bidi/tables9.0.0.go
  backend/src/vendor/golang.org/x/text/unicode/bidi/trieval.go
  backend/src/vendor/modules.txt
Due: backend

✅ test: import setupTests for ReportIssueDialog tests
  frontend/src/components/__tests__/ReportIssueDialog.test.tsx
Due: none

✨ feat(fe): add issue reporting functionality with context data
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  frontend/src/components/ReportIssueDialog.tsx
  frontend/src/components/__tests__/ReportIssueDialog.test.tsx
  frontend/src/mocks/streamingHandlers.ts
  frontend/src/store/sratApi.ts
Due: frontend

✨ feat(issue): add bug report template and configuration
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/config.yaml
  .github/ISSUE_TEMPLATE/documentation.md
Due: none

✨ feat(issue): update bug report template for clarity and structure
  .github/ISSUE_TEMPLATE/bug_report.yaml
Due: none

🔧 chore(issue): comment out attachment download logic in ReportIssueDialog
  frontend/src/components/ReportIssueDialog.tsx
Due: frontend

✨ feat(mocks): refactor MSW server setup and add new handlers
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .vscode/settings.json
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  backend/src/api/health_run_internal_test.go
  backend/src/api/issue.go
  backend/src/api/issue_test.go
  backend/src/dto/issue_problem_type.go
  backend/src/dto/issue_report.go
  backend/src/dto/issue_template.go
  backend/src/dto/problemtypes_enums.go
  backend/src/go.mod
  backend/src/homeassistant/addons.yaml
  backend/src/homeassistant/addons/addons_extended_test.go
  backend/src/homeassistant/addons/client.gen.go
  backend/src/internal/appsetup/appsetup.go
  backend/src/service/addons_service.go
  backend/src/service/issue_report_service.go
  backend/src/service/issue_report_service_test.go
  backend/src/service/issue_template_service.go
  backend/test/data/image.dmg
  frontend/package.json
  frontend/src/components/NavBar.tsx
  frontend/src/components/ReportIssueDialog.tsx
  frontend/src/components/__tests__/ReportIssueDialog.test.tsx
  frontend/src/hooks/useIssueTemplate.ts
  frontend/src/mocks/README.md
  frontend/src/mocks/browser.ts
  frontend/src/mocks/browser_.ts
  frontend/src/mocks/customHandlers.ts
  frontend/src/mocks/handlers.ts
  frontend/src/mocks/native.ts
  frontend/src/mocks/node_.ts
  frontend/src/mocks/streamingHandlers.ts
  frontend/src/store/sratApi.ts
  frontend/test/bun-setup.ts
  frontend/test/setup.ts
Due: backend, frontend

Rename fields in bug report template
  .github/ISSUE_TEMPLATE/bug_report.yaml
Due: none

✨ feat(issue): add additional fields to issue report form
  frontend/src/components/ReportIssueDialog.tsx
Due: frontend

✨ feat(go): add new dependencies and update test assertions
  backend/src/go.mod
  backend/src/go.sum
  backend/src/service/samba_service_test.go
  backend/src/service/user_service_test.go
  frontend/src/mocks/streamingHandlers.ts
Due: backend, frontend

✨ feat(osutil): add CommandExists function for command validation
  backend/src/internal/osutil/osutil.go
  backend/src/internal/osutil/osutil_test.go
Due: backend

✨ feat(db): update logging to use tlog and add Property to IncludeStructs
  backend/src/dbom/db_config.go
  backend/src/dbom/genconfig.go
  backend/src/go.mod
  backend/src/go.sum
  backend/src/vendor/github.com/creasty/defaults/.gitignore
  backend/src/vendor/github.com/creasty/defaults/LICENSE
  backend/src/vendor/github.com/creasty/defaults/Makefile
  backend/src/vendor/github.com/creasty/defaults/README.md
  backend/src/vendor/github.com/creasty/defaults/defaults.go
  backend/src/vendor/github.com/creasty/defaults/setter.go
  backend/src/vendor/modules.txt
Due: backend

✨ feat(api): add error handling model and update event types
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  backend/src/dto/error_code.go
  backend/src/dto/webevent_map.go
  backend/src/dto/webevent_type.go
  backend/src/dto/webevent_type_test.go
  backend/src/dto/webeventtypes_enums.go
  backend/src/service/broadcaster_service.go
  frontend/src/store/sratApi.ts
Due: backend, frontend

✨ feat(api): reorder parameters in OpenAPI documentation
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  backend/src/dto/webevent_map.go
  backend/src/dto/webevent_type_test.go
  backend/src/events/events.go
  backend/src/service/broadcaster_service.go
  backend/src/service/server_process_service.go
  backend/src/service/supervisor_service.go
Due: backend

🐛 fix(service): correct event handling in ProcessWebSocketChannel
  backend/src/service/broadcaster_service.go
Due: backend
