Repository dianlight/srat: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

# Codecov configuration for SRAT project
# Documentation: https://docs.codecov.io/docs/codecov-yaml

codecov:
  require_ci_to_pass: no
  notify:
    after_n_builds: 2  # Wait for both backend and frontend coverage

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        # Don't fail the build if coverage decreases slightly
        informational: true
    patch:
      default:
        target: 60%
        informational: true

  precision: 2
  round: down
  range: "50...100"

# Component-based coverage tracking
flag_management:
  default_rules:
    carryforward: true

flags:
  backend:
    paths:
      - backend/src/
    carryforward: true
  frontend:
    paths:
      - frontend/src/
    carryforward: true

# Ignore patterns
ignore:
  - "backend/src/vendor/**"
  - "backend/src/**/*_test.go"
  - "backend/src/**/test/**"
  - "frontend/src/**/*.test.ts"
  - "frontend/src/**/*.test.tsx"
  - "frontend/test/**"
  - "frontend/out/**"
  - "frontend/coverage/**"
  - "**/node_modules/**"
  - "**/__tests__/**"

# Comment settings
comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

✨ feat: add hosted SRAT OAuth broker as serverless TS subproject
  .docsignore
  .github/workflows/build.yaml
  .github/workflows/oauth-broker.yaml
  .mise.toml
  .vale/styles/config/vocabularies/SRAT/accept.txt
  oauth_broker/.gitignore
  oauth_broker/.mise.toml
  oauth_broker/README.md
  oauth_broker/bun.lock
  oauth_broker/package.json
  oauth_broker/render.yaml
  oauth_broker/src/app.ts
  oauth_broker/src/config.ts
  oauth_broker/src/index.ts
  oauth_broker/src/session.ts
  oauth_broker/src/types.ts
  oauth_broker/tests/broker.test.ts
  oauth_broker/tests/contract.test.ts
  oauth_broker/tests/providers.test.ts
  oauth_broker/tests/session.test.ts
  oauth_broker/tests/utils.ts
  oauth_broker/tsconfig.json
  oauth_broker/vitest.config.ts
  oauth_broker/wrangler.toml
Due: none

[CodeFactor] Apply fixes
  oauth_broker/src/app.ts
  oauth_broker/src/config.ts
Due: none

Renovate config
  .github/renovate.json
Due: none

🔧 ci(fe+be): backport CodeQL workflow improvements from issue-954-rclone
  .github/workflows/codeql.yml
Due: none

📝 doc(be+doc): add cloud storage OAuth requirements documentation
  .vale/styles/config/vocabularies/SRAT/accept.txt
  docs/CLOUD_STORAGE_OAUTH.md
  oauth_broker/README.md
Due: none

🔧 fix(be+doc): update staging BROKER_PUBLIC_URL to lucio-tarantino.workers.dev
  docs/CLOUD_STORAGE_OAUTH.md
  oauth_broker/README.md
  oauth_broker/wrangler.toml
Due: none

🐛 fix(be): allow guest access by adding nobody to valid users
  backend/src/templates/smb.gtpl
Due: backend

🐛 fix(be): allow guest access by adding nobody to valid users (#1014)
  backend/src/templates/smb.gtpl
Due: backend

🔧 fix(be+doc): update production BROKER_PUBLIC_URL to lucio-tarantino.workers.dev
  docs/CLOUD_STORAGE_OAUTH.md
  oauth_broker/README.md
  oauth_broker/wrangler.toml
Due: none

🔧 fix(ci): ensure oauth broker deploy installs deps before wrangler deploy
  .github/workflows/oauth-broker.yaml
Due: none

🐛 fix(be): validate PUT /api/settings hostname, workgroup, allow_hosts
  backend/src/api/setting.go
  backend/src/api/setting_test.go
  backend/src/service/setting_service.go
Due: backend

🐛 fix(be): resolve subfolder in NFS exports
  backend/src/service/server_process_service.go
Due: backend

🐛 fix(be): remove omitempty from is_mounted
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  backend/src/dto/mount_point_data.go
  backend/src/vendor/github.com/adelolmo/hd-idle/sgio/.pdone
  backend/src/vendor/github.com/adelolmo/hd-idle/sgio/ata.go
  backend/src/vendor/github.com/prometheus/procfs/sysfs/fs_darwin.go
  backend/src/vendor/github.com/u-root/u-root/pkg/mount/loop/loop_darwin.go
  backend/src/vendor/github.com/u-root/u-root/pkg/mount/mount_darwin.go
  backend/src/vendor/gorm.io/gorm/.pdone
  backend/src/vendor/gorm.io/gorm/generics.go
  frontend/src/components/wizard/SetupWizard.tsx
  frontend/src/pages/dashboard/components/MountShareWizard.tsx
  frontend/src/pages/dashboard/components/__tests__/HDIdleSuggestionBadge.test.tsx
  frontend/src/pages/dashboard/metrics/__tests__/DiskHealthMetrics.test.tsx
  frontend/src/pages/shares/__tests__/ShareActions.test.tsx
  frontend/src/pages/shares/components/__tests__/SharesTreeView.test.tsx
  frontend/src/pages/volumes/components/HDIdleDiskSettings.tsx
  frontend/src/pages/volumes/components/VolumeMountDialog.tsx
  frontend/src/store/sratApi.ts
Due: backend, frontend

🐛 fix(oauth_broker): address CodeRabbit review findings (13/15)
  .github/renovate.json
  .github/workflows/build.yaml
  .github/workflows/oauth-broker.yaml
  oauth_broker/README.md
  oauth_broker/render.yaml
  oauth_broker/src/app.ts
  oauth_broker/src/config.ts
  oauth_broker/src/index.ts
  oauth_broker/src/session.ts
  oauth_broker/tests/broker.test.ts
  oauth_broker/tests/contract.test.ts
Due: none

📝 docs(fe): document data-testid registry convention
  .opencode/instructions/frontend_test.instructions.md
Due: none

✨ feat(fe): enforce data-testid registry via custom ESLint rule
  frontend/.mise.toml
  frontend/bun.lock
  frontend/eslint.config.js
  frontend/eslint/srat-plugin.js
  frontend/package.json
  frontend/src/components/DonationButton.tsx
  frontend/src/components/__tests__/DonationButton.test.tsx
  frontend/src/components/__tests__/NavBar.test.tsx
  frontend/src/components/wizard/__tests__/SetupWizard.test.tsx
  frontend/src/pages/dashboard/components/HDIdleSuggestionBadge.tsx
  frontend/src/pages/dashboard/components/__tests__/HDIdleSuggestionBadge.test.tsx
  frontend/src/pages/volumes/components/PartitionActions.tsx
  frontend/src/pages/volumes/components/__tests__/PartitionActions.test.tsx
  frontend/src/pages/volumes/components/__tests__/VolumesTreeView.test.tsx
  frontend/src/testIds.ts
  hk.pkl
Due: frontend

✨ feat(be+fe): lab feature registry with alpha/beta tiers
  CHANGELOG.md
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  backend/src/api/hdidle_handler.go
  backend/src/api/lab_features_handler.go
  backend/src/api/lab_features_handler_test.go
  backend/src/api/lab_features_wb_test.go
  backend/src/cmd/srat-openapi/main-openapi.go
  backend/src/cmd/srat-server/main-server.go
  backend/src/dto/hdidle.go
  backend/src/dto/lab_features.go
  backend/src/internal/assets/README.md
  backend/src/service/lab_features.go
  backend/src/service/lab_features_test.go
  docs/CORPORATE_PROXY_PKL_FIX.md
  docs/RELEASE_PROCESS.md
  docs/SETTINGS_DOCUMENTATION.md
  docs/TELEMETRY_CONFIGURATION.md
  docs/TELEMETRY_IMPLEMENTATION.md
  docs/quick-reference.md
  docs/tasks/done/051_lab-feature-registry-alpha-status.md
  frontend/src/components/NavBar.tsx
  frontend/src/hooks/__tests__/useLabFeatures.test.ts
  frontend/src/hooks/useLabFeatures.ts
  frontend/src/hooks/useLabMode.ts
  frontend/src/mocks/customHandlers.ts
  frontend/src/pages/settings/panels/HomeAssistantPanel.tsx
  frontend/src/pages/settings/panels/NetworkDevicesPanel.tsx
  frontend/src/pages/settings/panels/__tests__/HomeAssistantPanel.mdns.test.tsx
  frontend/src/store/sratApi.ts
Due: backend, frontend

📝 docs(fe): codify testId-annotated target optimization for frontend tests
  .opencode/instructions/frontend_test.instructions.md
Due: none

♻️ refactor(fe): migrate tests from container to screen queries
  frontend/src/components/__tests__/Footer.test.tsx
  frontend/src/components/__tests__/IssueCard.test.tsx
  frontend/src/components/__tests__/NavBar.test.tsx
  frontend/src/pages/SmbConf.tsx
  frontend/src/pages/Swagger.tsx
  frontend/src/pages/__tests__/SmbConf.test.tsx
  frontend/src/pages/__tests__/Swagger.test.tsx
  frontend/src/pages/dashboard/__tests__/Dashboard.test.tsx
  frontend/src/pages/dashboard/metrics/DiskHealthMetrics.tsx
  frontend/src/pages/dashboard/metrics/__tests__/DiskHealthMetrics.test.tsx
  frontend/src/pages/settings/__tests__/Settings.test.tsx
  frontend/src/pages/shares/components/__tests__/SharesTreeView.test.tsx
  frontend/src/pages/volumes/components/PartitionInformationCard.tsx
  frontend/src/pages/volumes/components/__tests__/VolumeDetailsPanel.test.tsx
  frontend/src/testIds.ts
Due: frontend

♻️ refactor(fe): migrate tests to screen queries and add testId metadata
  frontend/src/components/FontAwesomeSvgIcon.tsx
  frontend/src/components/__tests__/FontAwesomeSvgIcon.test.tsx
  frontend/src/components/__tests__/NavBar.test.tsx
  frontend/src/components/__tests__/NotificationCenter.test.tsx
  frontend/src/pages/__tests__/SmbConf.test.tsx
  frontend/src/pages/dashboard/__tests__/ActionableItems.test.tsx
  frontend/src/pages/dashboard/__tests__/CollapsibleSections.test.tsx
  frontend/src/pages/dashboard/__tests__/Dashboard.test.tsx
  frontend/src/pages/dashboard/__tests__/DashboardActions.test.tsx
  frontend/src/pages/dashboard/__tests__/DashboardMetrics.test.tsx
  frontend/src/pages/shares/__tests__/ShareDetailsPanel.test.tsx
  frontend/src/pages/shares/components/__tests__/ShareEditForm.test.tsx
  frontend/src/pages/shares/components/__tests__/SharesTreeView.test.tsx
  frontend/src/pages/users/__tests__/Users.test.tsx
  frontend/src/pages/users/components/__tests__/UserEditForm.test.tsx
  frontend/src/pages/users/components/__tests__/UsersTreeView.test.tsx
  frontend/src/pages/volumes/__tests__/Volumes.restore.test.tsx
  frontend/src/pages/volumes/__tests__/Volumes.test.tsx
  frontend/src/pages/volumes/components/PartitionActions.tsx
  frontend/src/pages/volumes/components/__tests__/PartitionActions.test.tsx
  frontend/src/pages/volumes/components/__tests__/SmartStatusPanel.test.tsx
  frontend/src/pages/volumes/components/__tests__/VolumeMountDialog.test.tsx
  frontend/src/testIds.ts
Due: frontend

🐛 fix(fe): remove unused container and within in frontend tests
  frontend/src/components/__tests__/NotificationCenter.test.tsx
  frontend/src/pages/dashboard/__tests__/ActionableItems.test.tsx
  frontend/src/pages/dashboard/__tests__/CollapsibleSections.test.tsx
  frontend/src/pages/dashboard/__tests__/Dashboard.test.tsx
  frontend/src/pages/dashboard/__tests__/DashboardActions.test.tsx
  frontend/src/pages/dashboard/__tests__/DashboardMetrics.test.tsx
  frontend/src/pages/shares/__tests__/ShareDetailsPanel.test.tsx
  frontend/src/pages/shares/components/__tests__/ShareEditForm.test.tsx
  frontend/src/pages/shares/components/__tests__/SharesTreeView.test.tsx
  frontend/src/pages/users/__tests__/Users.test.tsx
  frontend/src/pages/users/components/__tests__/UserEditForm.test.tsx
  frontend/src/pages/users/components/__tests__/UsersTreeView.test.tsx
  frontend/src/pages/volumes/__tests__/Volumes.restore.test.tsx
  frontend/src/pages/volumes/components/__tests__/PartitionActions.test.tsx
  frontend/src/pages/volumes/components/__tests__/SmartStatusPanel.test.tsx
  frontend/src/pages/volumes/components/__tests__/VolumeMountDialog.test.tsx
Due: none

New test skill
  .agents/skills/test-remote-environment/SKILL.md
Due: none

📝 docs: add test-plan skill and test case scaffolding
  .agents/skills/test-plan/SKILL.md
  docs/test/README.md
  docs/test/backend/001.001_create-a-share.md
  docs/test/backend/002.001_check-disk-health.md
  docs/test/frontend/001.001_create-a-share-ui.md
  docs/test/frontend/001.002_edit-a-share-ui.md
Due: none

📝 docs(doc): fix is_mounted proxy and record 003.004 findings
  docs/test/frontend/003.002_disable-automount-lab-off.md
  docs/test/frontend/003.003_unmount-lab-off.md
  docs/test/frontend/003.004_create-share-lab-off.md
Due: none

📝 docs(fe+doc): generalize 003 volume tests and document correct dev:remote flow
  .agents/skills/test-remote-environment/SKILL.md
  .opencode/agents/ha-testing.agent.md
  docs/test/frontend/003.001_volumes-tab-with-lab-off.md
  docs/test/frontend/003.002_disable-automount-lab-off.md
  docs/test/frontend/003.003_unmount-lab-off.md
  docs/test/frontend/003.004_create-share-lab-off.md
Due: none

[CodeFactor] Apply fixes
  frontend/src/pages/volumes/components/__tests__/SmartStatusPanel.test.tsx
Due: none

📝 docs(doc+fe): add Shares delete and legacy history test cases with badge id
  docs/test/backend/001.001_create-a-share.md
  docs/test/frontend/001.003_delete-a-share-ui.md
  docs/test/frontend/001.004_shares-legacy-and-history-ui.md
  frontend/src/pages/shares/components/SharesTreeView.tsx
  frontend/src/testIds.ts
Due: frontend

✅ test(fe+doc): add settings tab coverage and readonly gating
  frontend/src/pages/settings/__tests__/Settings.readonly.test.tsx
Due: none

🐛 fix(fe): remove unused _reason param in PartitionActions
  frontend/src/pages/volumes/components/PartitionActions.tsx
Due: frontend

🔧 chore(ci): add CodeFactor config to exclude test and generated files
  .codefactor.yml
Due: none

🐛 fix(oauth_broker): harden session store and deploy config
  docs/CLOUD_STORAGE_OAUTH.md
  oauth_broker/README.md
  oauth_broker/migrations/0001_create_sessions.sql
  oauth_broker/render.yaml
  oauth_broker/src/app.ts
  oauth_broker/src/config.ts
  oauth_broker/src/index.ts
  oauth_broker/src/session.ts
  oauth_broker/tests/session.test.ts
  oauth_broker/wrangler.toml
Due: none

🔧 chore(ci): broaden CodeFactor exclude patterns for test files
  .codefactor.yml
Due: none

🐛 fix(be): restore hd-idle CheckAtaDevice via vendor patch for CodeQL
  backend/src/vendor/github.com/adelolmo/hd-idle/sgio/.pdone
  backend/src/vendor/github.com/adelolmo/hd-idle/sgio/ata.go
  backend/src/vendor/github.com/prometheus/procfs/sysfs/fs_darwin.go
  backend/src/vendor/github.com/u-root/u-root/pkg/mount/loop/loop_darwin.go
  backend/src/vendor/github.com/u-root/u-root/pkg/mount/mount_darwin.go
  backend/src/vendor/gorm.io/gorm/.pdone
  backend/src/vendor/gorm.io/gorm/generics.go
Due: none

✅ test(be): cover lab_features openapi wiring for patch 100%
  backend/src/cmd/srat-openapi/main-openapi.go
  backend/src/cmd/srat-openapi/main-openapi_test.go
Due: backend

♻️ fix(be+fe+doc): address CodeRabbit review for lab feature registry
  CHANGELOG.md
  backend/src/api/lab_features_handler_test.go
  backend/src/dto/hdidle.go
  backend/src/dto/hdidle_test.go
  docs/SETTINGS_DOCUMENTATION.md
  docs/tasks/done/051_lab-feature-registry-alpha-status.md
  frontend/src/components/__tests__/NavBar.test.tsx
  frontend/src/hooks/__tests__/useLabFeatures.test.ts
  frontend/src/mocks/customHandlers.ts
  frontend/src/pages/settings/panels/__tests__/HomeAssistantPanel.mdns.test.tsx
Due: backend, frontend

🐛 fix(oauth_broker): harden broker per Z-Audit H1-H3 M1-M5 L1-L6
  oauth_broker/README.md
  oauth_broker/render.yaml
  oauth_broker/src/app.ts
  oauth_broker/src/config.ts
  oauth_broker/src/index.ts
  oauth_broker/src/session.ts
  oauth_broker/tests/broker.test.ts
  oauth_broker/tests/contract.test.ts
  oauth_broker/tests/security.test.ts
  oauth_broker/wrangler.toml
Due: none

[CodeFactor] Apply fixes to commit eea0c68
  oauth_broker/tests/security.test.ts
Due: none

👷 fix(ci): paginate draft release lookup in oauth-broker workflow
  .github/workflows/oauth-broker.yaml
Due: none
