Repository dianlight/srat: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

🔧 chore(be): refactor NewDiskStatsService parameters and clean up code
  backend/src/service/disk_stats_service.go
  backend/src/service/disk_stats_service_test.go
  backend/test/data/image.dmg
Due: backend

🔧 chore(fe): clean up VolumeDetailsPanel and improve readability
  frontend/src/pages/volumes/components/VolumeDetailsPanel.tsx
  frontend/src/pages/volumes/components/__tests__/SmartStatusPanel.test.tsx
Due: frontend

✨ feat(be): add Linux filesystem module support for adapters
  backend/src/dto/error_code.go
  backend/src/service/filesystem/adapter.go
  backend/src/service/filesystem/apfs_adapter.go
  backend/src/service/filesystem/base_adapter.go
  backend/src/service/filesystem/ntfs_adapter.go
  backend/src/service/filesystem_service.go
  backend/src/service/volume_service.go
Due: backend

✨ feat(be): add tests for Linux filesystem module integration
  backend/src/service/filesystem_service_test.go
  backend/src/service/volume_service_test.go
Due: none

✨ feat(be): add state command support for filesystem adapters
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  backend/src/service/filesystem/apfs_adapter.go
  backend/src/service/filesystem/base_adapter.go
  backend/src/service/filesystem/base_adapter_test.go
  backend/src/service/filesystem/btrfs_adapter.go
  backend/src/service/filesystem/exfat_adapter.go
  backend/src/service/filesystem/ext4_adapter.go
  backend/src/service/filesystem/f2fs_adapter.go
  backend/src/service/filesystem/gfs2_adapter.go
  backend/src/service/filesystem/hfsplus_adapter.go
  backend/src/service/filesystem/ntfs_adapter.go
  backend/src/service/filesystem/reiserfs_adapter.go
  backend/src/service/filesystem/state_command_test.go
  backend/src/service/filesystem/vfat_adapter.go
  backend/src/service/filesystem/xfs_adapter.go
  backend/test/data/image.dmg
  frontend/package.json
  frontend/src/pages/dashboard/metrics/__tests__/DiskHealthMetrics.test.tsx
  frontend/src/store/sratApi.ts
Due: backend, frontend

📝 docs: update copilot instructions with additional guidelines
  .github/copilot-instructions.md
Due: none

✨ feat(fe): integrate filesystem state alerts in VolumesTreeView
  frontend/src/pages/volumes/Volumes.tsx
  frontend/src/pages/volumes/components/VolumesTreeView.tsx
  frontend/src/pages/volumes/components/__tests__/VolumesTreeView.test.tsx
Due: frontend

📚 docs: auto-fix documentation formatting and linting issues
  .github/instructions/backend_test.instructions.md
Due: none

✨ feat(fe): add partition action items and integrate with VolumeDetailsPanel
  frontend/src/pages/volumes/Volumes.tsx
  frontend/src/pages/volumes/components/PartitionActions.tsx
  frontend/src/pages/volumes/components/VolumeDetailsPanel.tsx
  frontend/src/pages/volumes/components/__tests__/VolumeDetailsPanel.test.tsx
  frontend/src/pages/volumes/components/partition-action-items.ts
Due: frontend

🔧 chore(be): reorder X-Trace-Id and X-Span-Id parameters
  backend/docs/openapi.json
  backend/docs/openapi.yaml
Due: none

Update Huma Testing Documentation link
  .github/instructions/backend_test.instructions.md
Due: none

♻️ refactor(be): reorder parameters in OpenAPI and update converters
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  backend/src/converter/config_to_dto.go
  backend/src/converter/config_to_dto_conv_gen.go
  backend/src/converter/dto_to_dbom_conv_gen.go
  backend/src/converter/mount_to_dbom.go
  backend/src/converter/mount_to_dbom_conv_gen.go
  backend/src/converter/mount_to_dto.go
  backend/src/dbom/mount_point_path.go
  backend/src/server/http_server.go
  backend/src/service/volume_service.go
  backend/src/service/volume_service_test.go
Due: backend

🔧 chore: update generated comment format in goenums
  backend/src/vendor/github.com/zarldev/goenums/generator/gofile/gofile_writer.go
  backend/src/vendor/gorm.io/gorm/generics.go
Due: none

✨ feat(be): update filesystem info structure and API references
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  backend/src/api/filesystems.go
  backend/src/api/filesystems_test.go
  backend/src/converter/ha_hardware_to_dto.go
  backend/src/dto/disk.go
  backend/src/dto/filesystem.go
  backend/src/service/disk_stats_service_test.go
  backend/src/service/filesystem_service.go
  backend/src/service/volume_service.go
  frontend/src/pages/volumes/components/VolumeDetailsPanel.tsx
  frontend/src/pages/volumes/components/VolumeMountDialog.tsx
  frontend/src/pages/volumes/components/VolumesTreeView.tsx
  frontend/src/store/sratApi.ts
Due: backend, frontend

✨ feat(fe): add new partition actions and update UI elements
  frontend/src/pages/volumes/components/PartitionActions.tsx
  frontend/src/pages/volumes/components/VolumeDetailsPanel.tsx
  frontend/src/pages/volumes/components/partition-action-items.ts
Due: frontend

🔧 chore: fix biome.lsp.bin path and add todo-tree settings
  .vscode/settings.json
Due: none

🔧 chore: remove unused vscode extension for todo highlighting
  .devcontainer/devcontainer.json
Due: none

✨ feat(be): add abort functionality for filesystem check
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  backend/src/api/filesystems.go
  backend/src/api/filesystems_test.go
  backend/src/dto/webevent_map.go
  backend/src/dto/welcome.go
  backend/src/service/broadcaster_service.go
  backend/src/service/filesystem_service.go
  backend/src/service/filesystem_service_test.go
  frontend/src/pages/volumes/components/FilesystemCheckDialog.tsx
  frontend/src/pages/volumes/components/PartitionActions.tsx
  frontend/src/pages/volumes/components/VolumeDetailsPanel.tsx
  frontend/src/pages/volumes/components/__tests__/FilesystemCheckDialog.test.tsx
  frontend/src/pages/volumes/components/partition-action-items.ts
  frontend/src/store/sratApi.ts
  frontend/src/store/sseApi.ts
Due: backend, frontend

🔧 chore: remove example filesystem service implementation
  backend/src/service/filesystem/example/main.go
Due: backend

🔧 chore: update WebEventMap size in tests
  backend/src/dto/webevent_type_test.go
Due: none

✨ feat(be): add tests for filesystem adapters and improve error handling
  backend/src/service/filesystem/adapters_test.go
  backend/src/service/filesystem/base_adapter.go
  backend/src/service/filesystem/base_adapter_test.go
  backend/src/service/filesystem/btrfs_adapter.go
  backend/src/service/filesystem/detection_test.go
  backend/src/service/filesystem/exfat_adapter.go
  backend/src/service/filesystem/exfat_adapter_test.go
  backend/src/service/filesystem/ext4_adapter_test.go
  backend/test/data/image.dmg
Due: backend

🎨 style(be): update filesystem adapter descriptions to uppercase
  backend/src/service/filesystem/adapters_test.go
  backend/src/service/filesystem/btrfs_adapter.go
  backend/src/service/filesystem/ext4_adapter.go
  backend/src/service/filesystem/ext4_adapter_test.go
Due: backend

🔧 chore: update biome configuration and clean up todo highlights
  .vscode/settings.json
Due: none

🔧 chore(fe): remove unused SSE API references and clean up tests
  frontend/src/macro/Environment.ts
  frontend/src/pages/volumes/components/__tests__/VolumeDetailsPanel.test.tsx
  frontend/src/pages/volumes/components/__tests__/VolumesTreeView.test.tsx
  frontend/src/store/__tests__/sseApi.test.tsx
  frontend/src/store/__tests__/store.test.ts
  frontend/src/store/sseApi.ts
  frontend/src/store/store.ts
  frontend/test/setup.ts
Due: frontend

CodeFactor
  README.md
Due: none

fix(fe): Fix issue #456
  frontend/src/components/GlobalEventTracker.tsx
Due: frontend

ci(hac): Set python version 3.13 in pyproject.toml
  custom_components/pyproject.toml
Due: none

fix(fe): Typo
  frontend/src/components/GlobalEventTracker.tsx
Due: frontend

ci(build): Fix issue on building with test fiels
  frontend/package.json
  frontend/tsconfig.prod.json
Due: none

ci(renovate): Update polocy for go vendor patch
  .github/renovate.json
Due: none

ci(renovate): Update policy to allow renovate to update with scripts
  .github/renovate.json
Due: none

ci(renovate): Rollabck last changes
  .github/renovate.json
Due: none

🔧 chore: update biome installation command and settings
  .devcontainer/updateContentCommand.sh
  .vscode/settings.json
Due: none

✨ feat(fe): add filesystem state hook with status management
  frontend/src/pages/volumes/components/VolumeMountDialog.tsx
  frontend/src/pages/volumes/hooks/useFilesystemState.tsx
Due: frontend

♻️ refactor(be): replace syscallFlagMap with dto.MountFlagsMap
  backend/src/service/filesystem_service.go
Due: backend

🎨 style: update description check in BtrfsAdapterTestSuite
  backend/src/service/filesystem/btrfs_adapter_test.go
Due: none

🎨 style: add color scheme option for todo-tree highlights
  .vscode/settings.json
Due: none

✅ test: update assertion in TestResolveLinuxFsModule
  backend/src/service/filesystem_service_test.go
Due: none

Path conditions:
  backend: any of: backend/src/, but not: backend/src/vendor/**, backend/src/**/*_test.go, backend/src/**/test/**, frontend/src/**/*.test.ts, frontend/src/**/*.test.tsx, frontend/test/**, frontend/out/**, frontend/coverage/**, **/node_modules/**, **/__tests__/**
  frontend: any of: frontend/src/, but not: backend/src/vendor/**, backend/src/**/*_test.go, backend/src/**/test/**, frontend/src/**/*.test.ts, frontend/src/**/*.test.tsx, frontend/test/**, frontend/out/**, frontend/coverage/**, **/node_modules/**, **/__tests__/**
