Repository dianlight/srat: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

✨ feat(be): add ingress origin and allowlist plumbing to ContextState
  backend/src/cmd/srat-cli/main-cli.go
  backend/src/cmd/srat-server/main-server.go
  backend/src/dto/context.go
  backend/src/dto/context_test.go
  backend/src/dto/disk_map_test.go
  backend/src/service/upgrade_service_zipslip_test.go
  backend/src/service/volume_service_udev_channels_test.go
  docs/tasks/004_security-hardening-cors-ip-allowlist-ingress.md
Due: backend

📝 docs(doc): link 004 to srat#1213
  docs/tasks/004_security-hardening-cors-ip-allowlist-ingress.md
Due: none

🐛 fix(be): harden CORS, WS origin, IP allowlist, pprof
  .agents/skills/test-remote-environment/SKILL.md
  backend/src/api/ws.go
  backend/src/api/ws_origin_test.go
  backend/src/server/cors_test.go
  backend/src/server/ha_middleware.go
  backend/src/server/ha_middleware_test.go
  backend/src/server/http_server.go
  backend/src/server/http_server_test.go
  backend/src/server/origins.go
  backend/src/server/origins_test.go
  backend/src/server/pprof.go
  backend/src/server/pprof_disabled.go
  backend/src/server/pprof_disabled_test.go
  backend/src/server/pprof_enabled_test.go
  docs/FUTURE_IMPROVEMENTS.md
  docs/HOME_ASSISTANT_INTEGRATION.md
  docs/SECURITY_OPTIMIZATION_REVIEW.md
  docs/tasks/004_security-hardening-cors-ip-allowlist-ingress.md
Due: backend

📝 docs(doc): mark completed parts in tasks 032, 035, 037
  docs/tasks/032_websocket-reconnect-resilience.md
  docs/tasks/035_upgrade-hdidle-path-traversal-races.md
  docs/tasks/037_frontend-data-correctness-fixes.md
Due: none

🐛 fix(be): address CodeRabbit review on #1217
  .agents/skills/test-remote-environment/SKILL.md
  backend/src/api/ws.go
  backend/src/api/ws_origin_test.go
  backend/src/dto/origins.go
  backend/src/dto/origins_test.go
  backend/src/server/ha_middleware.go
  backend/src/server/ha_middleware_test.go
  backend/src/server/origins.go
  backend/src/server/origins_test.go
  backend/src/server/pprof_disabled_test.go
  docs/HOME_ASSISTANT_INTEGRATION.md
  docs/SECURITY_OPTIMIZATION_REVIEW.md
  docs/tasks/004_security-hardening-cors-ip-allowlist-ingress.md
Due: backend

🐛 fix(be): disable request body logging, sanitize app-config logs
  backend/src/server/http_server.go
  backend/src/server/http_server_test.go
  backend/src/service/dirty_data_service.go
  backend/src/service/dirty_data_service_test.go
  docs/tasks/031_production-logging-safety.md
Due: backend

📝 docs: add ACL/ingress/pprof test cases and skill notes
  .agents/skills/test-remote-environment/SKILL.md
  .vale/styles/config/vocabularies/SRAT/accept.txt
  docs/test/backend/010.001_securemode-door-closed-acl.md
  docs/test/backend/010.002_securemode-cors-ws-origin.md
  docs/test/backend/010.003_ingress-proxy-session-enforcement.md
  docs/test/backend/010.004_pprof-functionality.md
  docs/test/backend/010.005_door-open-direct-access.md
Due: none

🐛 fix(be): harden CORS, WS origin, IP allowlist, pprof (#1217)
  .agents/skills/test-remote-environment/SKILL.md
  .vale/styles/config/vocabularies/SRAT/accept.txt
  backend/src/api/ws.go
  backend/src/api/ws_origin_test.go
  backend/src/dto/origins.go
  backend/src/dto/origins_test.go
  backend/src/server/cors_test.go
  backend/src/server/ha_middleware.go
  backend/src/server/ha_middleware_test.go
  backend/src/server/http_server.go
  backend/src/server/http_server_test.go
  backend/src/server/origins.go
  backend/src/server/origins_test.go
  backend/src/server/pprof.go
  backend/src/server/pprof_disabled.go
  backend/src/server/pprof_disabled_test.go
  backend/src/server/pprof_enabled_test.go
  docs/FUTURE_IMPROVEMENTS.md
  docs/HOME_ASSISTANT_INTEGRATION.md
  docs/SECURITY_OPTIMIZATION_REVIEW.md
  docs/tasks/004_security-hardening-cors-ip-allowlist-ingress.md
  docs/test/backend/010.001_securemode-door-closed-acl.md
  docs/test/backend/010.002_securemode-cors-ws-origin.md
  docs/test/backend/010.003_ingress-proxy-session-enforcement.md
  docs/test/backend/010.004_pprof-functionality.md
  docs/test/backend/010.005_door-open-direct-access.md
Due: backend

🐛 fix(be): close DirtyDataService races, finish task 031 docs
  backend/src/service/dirty_data_service.go
  backend/src/service/volume_service_test.go
  docs/SECURITY_OPTIMIZATION_REVIEW.md
  docs/SETTINGS_DOCUMENTATION.md
  docs/tasks/031_production-logging-safety.md
Due: backend

📝 docs(doc): document enable_ha_discovery toggle
  docs/SETTINGS_DOCUMENTATION.md
Due: none

🐛 fix(be): add inline ZipSlip guard to upgrade extraction loop
  backend/src/service/upgrade_service.go
  backend/src/service/upgrade_service_zipslip_test.go
Due: backend

🐛 fix(be): add inline ZipSlip guard to upgrade extraction loop (#1227)
  backend/src/service/upgrade_service.go
  backend/src/service/upgrade_service_zipslip_test.go
Due: backend

🐛 fix(be): use HMAC with per-process key for credential cache
  backend/src/converter/dto_to_dbom.go
Due: backend

🐛 fix(be): use HMAC with per-process key for credential cache (#1229)
  backend/src/converter/dto_to_dbom.go
Due: backend

🐛 fix(be): bound loop minor conversion against MaxInt
  backend/src/internal/osutil/osutil_linux.go
  backend/src/internal/osutil/osutil_linux_test.go
Due: backend

🐛 fix(be): bound loop minor conversion against MaxInt (#1230)
  backend/src/internal/osutil/osutil_linux.go
  backend/src/internal/osutil/osutil_linux_test.go
Due: backend

👷 ci: add per-job permissions to sentry-release workflow
  .github/workflows/sentry-release.yaml
Due: none

👷 ci: add per-job permissions to sentry-release workflow (#1231)
  .github/workflows/sentry-release.yaml
Due: none

🐛 fix(be): auto-clear restart reminder on component reconnect
  backend/src/api/ws.go
  backend/src/api/ws_test.go
  backend/src/service/homeassistant_component_service.go
  backend/src/service/homeassistant_component_service_test.go
Due: backend

🐛 fix(be): auto-clear restart reminder on component reconnect (#1232)
  backend/src/api/ws.go
  backend/src/api/ws_test.go
  backend/src/service/homeassistant_component_service.go
  backend/src/service/homeassistant_component_service_test.go
Due: backend

Fix opencode v2 config
  .opencode/.modelselect-cache/model-config-cache.json
  .opencode/agents/ha-testing.agent.md
  .opencode/commands/code-review.md
  .opencode/commands/optimize-instructions.md
  .opencode/skills/README.md
  .opencode/skills/capture-lessons-learned/SKILL.md
  .opencode/skills/close-task-work/SKILL.md
  .opencode/skills/context7-mcp/SKILL.md
  .opencode/skills/create-pr/SKILL.md
  .opencode/skills/create-task/SKILL.md
  .opencode/skills/dev-inspector/SKILL.md
  .opencode/skills/homeassistant/.skillhub.json
  .opencode/skills/homeassistant/SKILL.md
  .opencode/skills/implement-task-phase/SKILL.md
  .opencode/skills/prepare-refactor/SKILL.md
  .opencode/skills/start-task-work/SKILL.md
  .opencode/skills/sync-tasks/SKILL.md
  .opencode/skills/task-status/SKILL.md
  .opencode/skills/test-plan/SKILL.md
  .opencode/skills/test-remote-environment/SKILL.md
  .opencode/skills/update-changelog-with-commits/SKILL.md
  .opencode/skills/update-changelog/SKILL.md
  .opencode/skills/watch-manual-test/SKILL.md
  config.json
  opencode-quota/quota-toast.json
  opencode.json
  opencode.json.openchamber.backup
  opencode.jsonc
  opencode.jsonc.openchamber.backup
Due: none

♻️ refactor(be): split volume_service God Object
  backend/src/repository/mount_point_path_repository.go
  backend/src/repository/mount_point_path_repository_test.go
  backend/src/service/mount_intelligence.go
  backend/src/service/volume/internal_test.go
  backend/src/service/volume/mount_orchestrator.go
  backend/src/service/volume/mount_orchestrator_test.go
  backend/src/service/volume/mount_repository.go
  backend/src/service/volume/mount_repository_test.go
  backend/src/service/volume/udev_handler.go
  backend/src/service/volume/udev_handler_test.go
  backend/src/service/volume_service.go
  backend/src/service/volume_service_h2_test.go
  backend/src/service/volume_service_reconcile_test.go
  backend/src/service/volume_service_udev.go
  backend/src/service/volume_service_udev_channels_test.go
  backend/src/service/volume_service_udev_linux.go
  backend/src/service/volume_service_udev_test.go
Due: backend

♻️ refactor(be): split volume_service God Object (#1238)
  backend/src/repository/mount_point_path_repository.go
  backend/src/repository/mount_point_path_repository_test.go
  backend/src/service/mount_intelligence.go
  backend/src/service/volume/internal_test.go
  backend/src/service/volume/mount_orchestrator.go
  backend/src/service/volume/mount_orchestrator_test.go
  backend/src/service/volume/mount_repository.go
  backend/src/service/volume/mount_repository_test.go
  backend/src/service/volume/udev_handler.go
  backend/src/service/volume/udev_handler_test.go
  backend/src/service/volume_service.go
  backend/src/service/volume_service_h2_test.go
  backend/src/service/volume_service_reconcile_test.go
  backend/src/service/volume_service_udev.go
  backend/src/service/volume_service_udev_channels_test.go
  backend/src/service/volume_service_udev_linux.go
  backend/src/service/volume_service_udev_test.go
Due: backend

orchestrator: start run volumes-slim (issue 1235)
  .opencode/orchestrator/runs/2026-09-24-volumes-slim.md
Due: none

issue 1235: extract useMountVolume hook plus tests
  frontend/src/pages/volumes/__tests__/useMountVolume.test.tsx
  frontend/src/pages/volumes/hooks/useMountVolume.ts
  frontend/src/testIds.ts
Due: frontend

issue 1235: extract useVolumeSelection hook plus tests
  frontend/src/pages/volumes/__tests__/useVolumeSelection.test.tsx
  frontend/src/pages/volumes/hooks/useVolumeSelection.ts
Due: frontend

issue 1235: slim Volumes page via hooks plus type and util dedupe
  frontend/src/mocks/customHandlers.ts
  frontend/src/pages/dashboard/components/ActionableItemsList.tsx
  frontend/src/pages/dashboard/metrics/utils.ts
  frontend/src/pages/volumes/Volumes.tsx
  frontend/src/pages/volumes/__tests__/Volumes.test.tsx
  frontend/src/pages/volumes/components/FilesystemCheckDialog.tsx
  frontend/src/pages/volumes/components/FilesystemFormatDialog.tsx
  frontend/src/pages/volumes/components/FilesystemLabelDialog.tsx
  frontend/src/pages/volumes/components/PartitionInformationCard.tsx
  frontend/src/pages/volumes/components/SmartStatusPanel.tsx
  frontend/src/pages/volumes/components/VolumeDetailsPanel.tsx
  frontend/src/pages/volumes/components/VolumeMountDialog.tsx
  frontend/src/pages/volumes/components/VolumesTreeView.tsx
  frontend/src/pages/volumes/components/__tests__/PartitionActions.test.tsx
  frontend/src/pages/volumes/utils.ts
  frontend/src/utils/decodeEscapeSequence.ts
  frontend/src/utils/diskIcon.tsx
Due: frontend

issue 1235: simplify volumes integration (redundant cast, icon indirection)
  frontend/src/pages/volumes/Volumes.tsx
  frontend/src/utils/decodeEscapeSequence.ts
  frontend/src/utils/diskIcon.tsx
Due: frontend

orchestrator: close run volumes-slim (issue 1235) done
  .opencode/orchestrator/learnings.md
  .opencode/orchestrator/runs/2026-09-24-volumes-slim.md
Due: none

issue 1235: add volumes-slim regression test case
  docs/test/frontend/003.009_volumes-slim-regression.md
Due: none

♻️ refactor(fe): slim Volumes God Page (issue 1235 step 2) (#1240)
  .opencode/orchestrator/learnings.md
  .opencode/orchestrator/runs/2026-09-24-volumes-slim.md
  docs/test/frontend/003.009_volumes-slim-regression.md
  frontend/src/mocks/customHandlers.ts
  frontend/src/pages/dashboard/components/ActionableItemsList.tsx
  frontend/src/pages/dashboard/metrics/utils.ts
  frontend/src/pages/volumes/Volumes.tsx
  frontend/src/pages/volumes/__tests__/Volumes.test.tsx
  frontend/src/pages/volumes/__tests__/useMountVolume.test.tsx
  frontend/src/pages/volumes/__tests__/useVolumeSelection.test.tsx
  frontend/src/pages/volumes/components/FilesystemCheckDialog.tsx
  frontend/src/pages/volumes/components/FilesystemFormatDialog.tsx
  frontend/src/pages/volumes/components/FilesystemLabelDialog.tsx
  frontend/src/pages/volumes/components/PartitionInformationCard.tsx
  frontend/src/pages/volumes/components/SmartStatusPanel.tsx
  frontend/src/pages/volumes/components/VolumeDetailsPanel.tsx
  frontend/src/pages/volumes/components/VolumeMountDialog.tsx
  frontend/src/pages/volumes/components/VolumesTreeView.tsx
  frontend/src/pages/volumes/components/__tests__/PartitionActions.test.tsx
  frontend/src/pages/volumes/hooks/useMountVolume.ts
  frontend/src/pages/volumes/hooks/useVolumeSelection.ts
  frontend/src/pages/volumes/utils.ts
  frontend/src/testIds.ts
  frontend/src/utils/decodeEscapeSequence.ts
  frontend/src/utils/diskIcon.tsx
Due: frontend

📝 docs(doc): add WS resilience cases from remote run
  docs/test/backend/006.003_ws-problem-events.md
  docs/test/backend/006.004_repair-problem-mirror-parity.md
  docs/test/backend/006.005_ws-reconnect-malformed-resilience.md
  docs/test/frontend/006.002_ws-volumes-live-refresh.md
  docs/test/ws_listen.py
Due: none

🐛 fix(fe): stop spurious reload on transient disconnect
  frontend/src/App.tsx
  frontend/src/__tests__/App.backdrop.test.tsx
Due: frontend

🐛 fix(fe): derive notification badge from live problem state
  docs/test/frontend/008.005_stale-unread-after-dismiss.md
  frontend/src/components/NotificationCenter.tsx
  frontend/src/components/__tests__/NotificationCenter.test.tsx
Due: frontend

🐛 fix(fe): derive notification badge from live problem state (#1244)
  docs/test/frontend/008.005_stale-unread-after-dismiss.md
  frontend/src/components/NotificationCenter.tsx
  frontend/src/components/__tests__/NotificationCenter.test.tsx
Due: frontend

👷 ci: mirror SambaNAS2 orphans to srat issues
  .github/workflows/sambanas2-orphan-watch.yml
Due: none

cache in gitignore
  .gitignore
Due: none

♻️ refactor(be): centralize repair-problem mirroring facade
  backend/src/service/filesystem_service.go
  backend/src/service/problem/repair_adapter.go
  backend/src/service/problem/repair_adapter_test.go
  backend/src/service/repair_service.go
  backend/src/service/smart_service.go
  backend/src/service/volume_mount_manager.go
Due: backend

♻️ refactor(hac): harden websocket SSE parser and slim client
  custom_components/srat/__init__.py
  custom_components/srat/coordinator.py
  custom_components/srat/mdns_service.py
  custom_components/srat/repairs.py
  custom_components/srat/sensor.py
  custom_components/srat/sse_parser.py
  custom_components/srat/websocket_client.py
  custom_components/tests/test_mdns.py
  custom_components/tests/test_sse_parser.py
Due: none

Path conditions:
  backend: any of: backend/src/, but not: backend/src/vendor/**, backend/src/**/*_test.go, backend/src/**/test/**, frontend/src/**/*.test.ts, frontend/src/**/*.test.tsx, frontend/test/**, frontend/out/**, frontend/coverage/**, **/node_modules/**, **/__tests__/**
  frontend: any of: frontend/src/, but not: backend/src/vendor/**, backend/src/**/*_test.go, backend/src/**/test/**, frontend/src/**/*.test.ts, frontend/src/**/*.test.tsx, frontend/test/**, frontend/out/**, frontend/coverage/**, **/node_modules/**, **/__tests__/**
