Repository dianlight/srat: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

🐛 fix(fe): remove unused testid and stop defaulting icon testid
  frontend/src/components/FontAwesomeSvgIcon.tsx
  frontend/src/components/__tests__/FontAwesomeSvgIcon.test.tsx
  frontend/src/pages/volumes/components/PartitionActions.tsx
  frontend/src/testIds.ts
Due: frontend

[CodeFactor] Apply fixes
  frontend/src/pages/volumes/components/__tests__/SmartStatusPanel.test.tsx
Due: none

🐛 fix(oauth_broker): harden render runtime and session consume docs
  oauth_broker/render.yaml
  oauth_broker/src/session.ts
Due: none

🐛 fix(fe): gate FontAwesome path testId to non-production and scope query
  frontend/src/components/FontAwesomeSvgIcon.tsx
  frontend/src/components/__tests__/FontAwesomeSvgIcon.test.tsx
Due: frontend

🐛 fix(oauth_broker): resolve CodeFactor complexity and no-explicit-any
  oauth_broker/src/app.ts
  oauth_broker/tests/security.test.ts
Due: none

🔧 chore(fe): drop unused InView onChange params in SmbConf
  frontend/src/pages/SmbConf.tsx
Due: frontend

📝 docs(test): align disk-health and share UI cases with real API hosts
  docs/test/backend/002.001_check-disk-health.md
  docs/test/frontend/001.001_create-a-share-ui.md
  docs/test/frontend/001.002_edit-a-share-ui.md
Due: none

✅ test(fe): stabilize Settings.readonly Devices navigation after screen-queries refactor
  frontend/src/pages/settings/__tests__/Settings.readonly.test.tsx
Due: none

✨ feat(oauth_broker+doc): implement PKCE S256 for OAuth broker
  docs/CLOUD_STORAGE_OAUTH.md
  oauth_broker/README.md
  oauth_broker/src/app.ts
  oauth_broker/src/types.ts
Due: none

📝 docs: fix Vale prose and units to pass docs-validate
  .vale/styles/config/vocabularies/SRAT/accept.txt
  docs/test/backend/001.001_create-a-share.md
  docs/test/backend/002.001_check-disk-health.md
  docs/test/frontend/001.001_create-a-share-ui.md
  docs/test/frontend/001.002_edit-a-share-ui.md
  docs/test/frontend/001.003_delete-a-share-ui.md
  docs/test/frontend/001.004_shares-legacy-and-history-ui.md
  docs/test/frontend/003.001_volumes-tab-with-lab-off.md
  docs/test/frontend/003.002_disable-automount-lab-off.md
  docs/test/frontend/003.003_unmount-lab-off.md
  docs/test/frontend/003.004_create-share-lab-off.md
Due: none

🐛 fix(be+fe): sync WS dirty tracking for users/shares and reset dedup hash
  backend/src/service/broadcaster_service.go
  backend/src/service/dirty_data_service.go
  docs/test/backend/004.001_users-crud-api.md
  docs/test/backend/007.001_settings-api.md
  docs/test/backend/007.002_settings-validation.md
  docs/test/frontend/004.001_users-tab-ui.md
  docs/test/frontend/004.002_create-user-ui.md
  docs/test/frontend/004.003_edit-user-ui.md
  docs/test/frontend/004.004_delete-user-ui.md
  docs/test/frontend/004.005_admin-rename-and-protect.md
  docs/test/frontend/006.001_ws-users-live-refresh.md
  docs/test/frontend/007.001_settings-tab-ui.md
  docs/test/frontend/007.002_settings-save-and-persist.md
  docs/test/frontend/007.003_settings-validation-and-readonly.md
  docs/test/frontend/007.004_settings-telemetry-and-homeassistant.md
  docs/test/frontend/007.005_settings-readonly.md
  frontend/package.json
  frontend/src/store/wsApi.ts
Due: backend, frontend

🐛 fix(be+fe): align lab feature availability and WS handling
  backend/src/api/lab_features_handler.go
  backend/src/api/lab_features_handler_test.go
  backend/src/service/broadcaster_service.go
  backend/src/service/broadcaster_service_internal_test.go
  frontend/src/pages/volumes/components/PartitionActions.tsx
  frontend/src/store/wsApi.ts
  frontend/src/testIds.ts
Due: backend, frontend

✅ test(be+fe): cover dirty-tracker user event and invalidation
  backend/src/service/broadcaster_service_internal_test.go
  frontend/src/store/__tests__/wsApi.test.tsx
Due: none

✅ test(be): cover dirty-tracker clean emit and dedup reset, nil settings
  backend/src/api/lab_features_handler_test.go
  backend/src/service/broadcaster_service_internal_test.go
  backend/src/service/dirty_data_service_test.go
  backend/src/vendor/github.com/adelolmo/hd-idle/sgio/ata.go
  backend/src/vendor/gorm.io/gorm/generics.go
Due: none

🔧 chore(be): apply vendor patches and lint fixes after merge
  backend/src/dto/disk_map_test.go
  backend/src/service/volume_service_udev_channels_test.go
  backend/src/vendor/github.com/adelolmo/hd-idle/sgio/ata.go
  backend/src/vendor/gorm.io/gorm/generics.go
Due: none

🐛 fix(be+fe+doc): address CodeRabbit findings on ws dirty tracking
  .vale.ini
  .vale/styles/config/vocabularies/SRAT/accept.txt
  backend/src/service/broadcaster_service.go
  backend/src/service/dirty_data_service.go
  docs/test/backend/004.001_users-crud-api.md
  docs/test/backend/007.001_settings-api.md
  docs/test/backend/007.002_settings-validation.md
  docs/test/frontend/004.005_admin-rename-and-protect.md
  docs/test/frontend/006.001_ws-users-live-refresh.md
  docs/test/frontend/007.004_settings-telemetry-and-homeassistant.md
  frontend/src/store/wsApi.ts
Due: backend, frontend

vendoring patch
  backend/src/vendor/github.com/adelolmo/hd-idle/sgio/.pdone
  backend/src/vendor/github.com/prometheus/procfs/sysfs/fs_darwin.go
  backend/src/vendor/github.com/u-root/u-root/pkg/mount/loop/loop_darwin.go
  backend/src/vendor/github.com/u-root/u-root/pkg/mount/mount_darwin.go
  backend/src/vendor/gorm.io/gorm/.pdone
Due: none

✨ feat(oauth_broker): harden OAuth callback with instance registration (TTL 1h)
  docs/tasks/049_oauth-instance-registration-hardening.md
  oauth_broker/README.md
  oauth_broker/migrations/0002_create_instances.sql
  oauth_broker/src/app.ts
  oauth_broker/src/config.ts
  oauth_broker/src/i18n.ts
  oauth_broker/src/index.ts
  oauth_broker/src/session.ts
  oauth_broker/src/types.ts
  oauth_broker/tests/broker.test.ts
  oauth_broker/tests/contract.test.ts
  oauth_broker/tests/security.test.ts
  oauth_broker/tests/utils.ts
Due: none

✨ feat(be): replace static BROKER_API_TOKEN with per-install Ed25519 SRAT-Signature
  backend/src/dbom/db_config.go
  backend/src/dbom/oauth_keypair.go
  backend/src/internal/appsetup/appsetup.go
  backend/src/internal/oauthkeys/interop_test.go
  backend/src/internal/oauthkeys/keys.go
  backend/src/internal/oauthkeys/keys_test.go
  backend/src/service/oauth_broker_client.go
  backend/src/service/oauth_broker_client_test.go
  frontend/src/mocks/customHandlers.ts
  oauth_broker/README.md
  oauth_broker/migrations/0003_create_clients_and_nonces.sql
  oauth_broker/render.yaml
  oauth_broker/src/app.ts
  oauth_broker/src/config.ts
  oauth_broker/src/crypto.ts
  oauth_broker/src/index.ts
  oauth_broker/src/session.ts
  oauth_broker/src/types.ts
  oauth_broker/tests/broker.test.ts
  oauth_broker/tests/client-delete.test.ts
  oauth_broker/tests/contract.test.ts
  oauth_broker/tests/interop.test.ts
  oauth_broker/tests/security.test.ts
  oauth_broker/tests/signature.test.ts
  oauth_broker/tests/stores-crypto.test.ts
  oauth_broker/tests/testdata/interop-vector.json
  oauth_broker/tests/utils.ts
  oauth_broker/wrangler.toml
Due: backend, frontend

[CodeFactor] Apply fixes to commit 3370b90
  oauth_broker/tests/stores-crypto.test.ts
Due: none

🐛 fix(be): enforce share name validation to reject slash and invalid characters
  backend/src/service/share_service.go
Due: backend

✅ test(be): cover shareNamePattern edge cases empty Unicode uppercase max-length
  backend/src/service/share_service_test.go
Due: none

chore(be): add darwin stubs for vendored dependencies
  backend/src/vendor/github.com/adelolmo/hd-idle/sgio/.pdone
  backend/src/vendor/github.com/prometheus/procfs/sysfs/fs_darwin.go
  backend/src/vendor/github.com/u-root/u-root/pkg/mount/loop/loop_darwin.go
  backend/src/vendor/github.com/u-root/u-root/pkg/mount/mount_darwin.go
  backend/src/vendor/gorm.io/gorm/.pdone
Due: none

🐛 fix(ci): resolve CodeFactor annotations for oauth broker
  .codefactor.yml
  oauth_broker/src/app.ts
  oauth_broker/src/session.ts
Due: none

✅ test(be): boost coverage for urlPath, DeleteClientByID and crypto fallback
  backend/src/service/oauth_broker_client_coverage_test.go
  backend/src/service/oauth_broker_client_internal_test.go
  oauth_broker/tests/crypto-coverage.test.ts
Due: none

✅ test(be): tune RegisterInstance to 94% – cover 500/400 and GetKeyPair fail paths
  backend/src/service/oauth_broker_client_coverage_test.go
Due: none

✅ test(be): cover doSigned invalid URL and DeleteClient error paths
  backend/src/service/oauth_broker_client_coverage_test.go
Due: none

✅ test(oauth_broker): cover app.ts 40 miss +53 partials – Buffer fallback, 10k cleanup, 400/409/501/429 branches
  oauth_broker/tests/app-coverage.test.ts
Due: none

✅ test(be): push oauth_broker_client to 95% – cover DB errors, rand fail, request/Do errors
  backend/src/service/oauth_broker_client_patch80_test.go
Due: none

📝 docs(doc): add volumes format/label tests and freshness gate
  .agents/skills/test-remote-environment/SKILL.md
  .vale/styles/config/vocabularies/SRAT/accept.txt
  docs/test/frontend/003.005_format-partition-label-and-mount.md
  docs/test/frontend/003.006_check-and-set-label.md
Due: none

🐛 fix(be): patch DiskMap name after format success
  backend/src/dto/filesystem.go
  backend/src/service/filesystem_service.go
  backend/src/service/volume_service.go
  backend/src/service/volume_service_test.go
  backend/src/vendor/github.com/adelolmo/hd-idle/sgio/ata.go
  backend/src/vendor/gorm.io/gorm/generics.go
Due: backend

:wrench: chore(be): add darwin stubs for vendored dependencies
  backend/src/vendor/github.com/adelolmo/hd-idle/sgio/.pdone
  backend/src/vendor/github.com/prometheus/procfs/sysfs/fs_darwin.go
  backend/src/vendor/github.com/u-root/u-root/pkg/mount/loop/loop_darwin.go
  backend/src/vendor/github.com/u-root/u-root/pkg/mount/mount_darwin.go
  backend/src/vendor/gorm.io/gorm/.pdone
Due: none

🐛 fix(be): patch DiskMap name after format success (#1070)
  backend/src/dto/filesystem.go
  backend/src/service/filesystem_service.go
  backend/src/service/volume_service.go
  backend/src/service/volume_service_test.go
  backend/src/vendor/github.com/adelolmo/hd-idle/sgio/.pdone
  backend/src/vendor/github.com/adelolmo/hd-idle/sgio/ata.go
  backend/src/vendor/github.com/prometheus/procfs/sysfs/fs_darwin.go
  backend/src/vendor/github.com/u-root/u-root/pkg/mount/loop/loop_darwin.go
  backend/src/vendor/github.com/u-root/u-root/pkg/mount/mount_darwin.go
  backend/src/vendor/gorm.io/gorm/.pdone
  backend/src/vendor/gorm.io/gorm/generics.go
Due: backend

🐛 fix(be+fe): suppress custom-component alerts when lab feature inactive
  .agents/skills/test-remote-environment/SKILL.md
  backend/src/api/setting.go
  backend/src/api/setting_test.go
  backend/src/service/homeassistant_component_service.go
  backend/src/service/homeassistant_component_service_test.go
  backend/src/service/lab_features.go
  backend/src/service/lab_features_test.go
  backend/src/service/problem_ha_bridge.go
  backend/src/service/problem_ha_bridge_test.go
  docs/test/backend/007.003_custom-component-lab-gating.md
  docs/test/frontend/007.006_custom-component-lab-gating-ui.md
  frontend/src/App.tsx
  frontend/src/__tests__/App.problemNotifications.test.tsx
  frontend/src/pages/dashboard/DashboardActions.tsx
  frontend/src/pages/settings/panels/HomeAssistantPanel.tsx
Due: backend, frontend

🐛 fix(fe): hide Read-Only chip for invalid legacy mounts
  frontend/src/pages/shares/components/ShareDetailsPanel.tsx
  frontend/src/pages/shares/components/SharesTreeView.tsx
Due: frontend

🐛 fix(hac): repair flow typing and venv test tasks
  custom_components/.mise.toml
  custom_components/srat/repairs.py
Due: none

🐛 fix(be+fe): prune stale duplicate mount points
  backend/src/service/volume_service.go
  backend/src/service/volume_service_h2_test.go
  frontend/src/pages/volumes/components/PartitionActionItems.ts
  frontend/src/pages/volumes/components/__tests__/PartitionActions.test.tsx
Due: backend, frontend

🐛 fix(be): recover USB fstype via FS probe fallback
  backend/src/service/hardware_service.go
  backend/src/service/hardware_service_test.go
Due: backend

🐛 fix(be+fe): prune stale duplicate mount points (#1092)
  backend/src/service/volume_service.go
  backend/src/service/volume_service_h2_test.go
  frontend/src/pages/volumes/components/PartitionActionItems.ts
  frontend/src/pages/volumes/components/__tests__/PartitionActions.test.tsx
Due: backend, frontend

Path conditions:
  backend: any of: backend/src/, but not: backend/src/vendor/**, backend/src/**/*_test.go, backend/src/**/test/**, frontend/src/**/*.test.ts, frontend/src/**/*.test.tsx, frontend/test/**, frontend/out/**, frontend/coverage/**, **/node_modules/**, **/__tests__/**
  frontend: any of: frontend/src/, but not: backend/src/vendor/**, backend/src/**/*_test.go, backend/src/**/test/**, frontend/src/**/*.test.ts, frontend/src/**/*.test.tsx, frontend/test/**, frontend/out/**, frontend/coverage/**, **/node_modules/**, **/__tests__/**
