Repository dianlight/srat: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

# Codecov configuration for SRAT project
# Documentation: https://docs.codecov.io/docs/codecov-yaml

codecov:
  require_ci_to_pass: no
  notify:
    after_n_builds: 2  # Wait for both backend and frontend coverage

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        # Don't fail the build if coverage decreases slightly
        informational: true
    patch:
      default:
        target: 60%
        informational: true

  precision: 2
  round: down
  range: "50...100"

# Component-based coverage tracking
flag_management:
  default_rules:
    carryforward: true

flags:
  backend:
    paths:
      - backend/src/
    carryforward: true
  frontend:
    paths:
      - frontend/src/
    carryforward: true

# Ignore patterns
ignore:
  - "backend/src/vendor/**"
  - "backend/src/**/*_test.go"
  - "backend/src/**/test/**"
  - "frontend/src/**/*.test.ts"
  - "frontend/src/**/*.test.tsx"
  - "frontend/test/**"
  - "frontend/out/**"
  - "frontend/coverage/**"
  - "**/node_modules/**"
  - "**/__tests__/**"

# Comment settings
comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

🔄 synced local '.github/workflows/opencode-pr-comment.yml' with remote '.github/workflows/opencode-pr-comment.yml'
  .github/workflows/opencode-pr-comment.yml
Due: none

🔄 synced local '.github/workflows/opencode-issue-handler.yml' with remote '.github/workflows/opencode-issue-handler.yml'
  .github/workflows/opencode-issue-handler.yml
Due: none

str
  .vale/styles/config/vocabularies/SRAT/accept.txt
  docs/replicate-partitionless-disk-macos.md
  docs/tasks/044_support-disks-without-partitions.md
Due: none

✨ feat(be): Add ATA device probe function and Darwin platform stubs
  backend/src/vendor/github.com/adelolmo/hd-idle/sgio/.pdone
  backend/src/vendor/github.com/adelolmo/hd-idle/sgio/ata.go
  backend/src/vendor/github.com/prometheus/procfs/sysfs/fs_darwin.go
  backend/src/vendor/github.com/u-root/u-root/pkg/mount/loop/loop_darwin.go
  backend/src/vendor/github.com/u-root/u-root/pkg/mount/mount_darwin.go
  backend/src/vendor/gorm.io/gorm/.pdone
  backend/src/vendor/gorm.io/gorm/generics.go
Due: none

🐛 fix(be+fe): Support disks without partitions
  CHANGELOG.md
  README.md
  backend/src/service/hardware_service.go
  backend/src/service/hardware_service_test.go
  backend/src/service/volume_service.go
  backend/test/data/rawfs_no_parttable.dmg
  docs/tasks/044_support-disks-without-partitions.md
  frontend/package.json
  frontend/src/pages/volumes/components/VolumeDetailsPanel.tsx
  frontend/src/pages/volumes/components/VolumesTreeView.tsx
  frontend/src/pages/volumes/components/__tests__/VolumeDetailsPanel.test.tsx
  frontend/src/pages/volumes/components/__tests__/VolumesTreeView.test.tsx
Due: backend, frontend

📝 docs: Link task 044 PR in task tracking doc
  docs/tasks/044_support-disks-without-partitions.md
Due: none

🐛 fix(be): Support disks without partitions
  backend/src/service/hardware_service.go
  backend/src/service/hardware_service_test.go
Due: backend

🐛 fix(fe): Don't count synthesized whole-disk as partition
  frontend/src/pages/volumes/components/VolumeDetailsPanel.tsx
  frontend/src/pages/volumes/components/VolumesTreeView.tsx
  frontend/src/pages/volumes/components/__tests__/VolumeDetailsPanel.test.tsx
  frontend/src/pages/volumes/utils.ts
Due: frontend

🐛 fix(fe+be): Raw-disk actions and filesystem info panel
  backend/src/service/hardware_service.go
  backend/src/service/hardware_service_test.go
  backend/src/service/volume_service.go
  frontend/src/pages/volumes/__tests__/utils.test.ts
  frontend/src/pages/volumes/components/PartitionInformationCard.tsx
  frontend/src/pages/volumes/components/VolumeDetailsPanel.tsx
  frontend/src/pages/volumes/components/VolumesTreeView.tsx
  frontend/src/pages/volumes/components/__tests__/VolumeDetailsPanel.test.tsx
  frontend/src/pages/volumes/components/__tests__/VolumesTreeView.test.tsx
  frontend/src/pages/volumes/utils.ts
Due: backend, frontend

♻️ refactor(be): Refactor whole disk regex to support more device types
  backend/src/service/hardware_service.go
  backend/src/service/hardware_service_internal_test.go
Due: backend

🐛 fix(be): add ById validation in hardware info retrieval
  backend/src/service/hardware_service.go
Due: backend

✅ test(fe): clean up VolumeDetailsPanel test formatting and rename test
  frontend/src/pages/volumes/components/__tests__/VolumeDetailsPanel.test.tsx
Due: none

Update 044_support-disks-without-partitions.md
  docs/tasks/044_support-disks-without-partitions.md
Due: none

Update PartitionInformationCard.tsx
  frontend/src/pages/volumes/components/PartitionInformationCard.tsx
Due: frontend

🔧 chore(be): Update gopsutil to v4.26.7 and purego to v0.10.2
  backend/src/go.mod
  backend/src/go.sum
  backend/src/vendor/github.com/ebitengine/purego/func.go
  backend/src/vendor/github.com/ebitengine/purego/internal/fakecgo/zsymbols_freebsd.go
  backend/src/vendor/github.com/ebitengine/purego/syscall_sysv.go
  backend/src/vendor/github.com/shirou/gopsutil/v4/cpu/cpu_darwin.go
  backend/src/vendor/github.com/shirou/gopsutil/v4/cpu/cpu_freebsd.go
  backend/src/vendor/github.com/shirou/gopsutil/v4/cpu/cpu_netbsd.go
  backend/src/vendor/github.com/shirou/gopsutil/v4/cpu/cpu_openbsd.go
  backend/src/vendor/github.com/shirou/gopsutil/v4/cpu/cpu_windows.go
  backend/src/vendor/github.com/shirou/gopsutil/v4/disk/disk_aix.go
  backend/src/vendor/github.com/shirou/gopsutil/v4/disk/disk_darwin.go
  backend/src/vendor/github.com/shirou/gopsutil/v4/disk/disk_freebsd.go
  backend/src/vendor/github.com/shirou/gopsutil/v4/disk/disk_linux.go
  backend/src/vendor/github.com/shirou/gopsutil/v4/internal/common/common_darwin.go
  backend/src/vendor/github.com/shirou/gopsutil/v4/mem/mem_darwin.go
  backend/src/vendor/github.com/shirou/gopsutil/v4/mem/mem_linux.go
  backend/src/vendor/github.com/shirou/gopsutil/v4/net/net_linux.go
  backend/src/vendor/github.com/shirou/gopsutil/v4/net/net_windows.go
  backend/src/vendor/github.com/shirou/gopsutil/v4/process/process.go
  backend/src/vendor/github.com/shirou/gopsutil/v4/process/process_darwin.go
  backend/src/vendor/github.com/shirou/gopsutil/v4/process/process_linux.go
  backend/src/vendor/github.com/shirou/gopsutil/v4/process/process_openbsd.go
  backend/src/vendor/modules.txt
Due: backend

🔧 chore(fe): update frontend dependencies
  frontend/bun.lock
  frontend/package.json
Due: none

🔧 chore(be): update golang.org/x/net to v0.57.0
  backend/src/go.sum
  backend/src/vendor/golang.org/x/net/bpf/doc.go
  backend/src/vendor/modules.txt
Due: backend

🐛 fix(fe): dedupe React copy for DevInspector MCP
  frontend/bun.lock
  frontend/package.json
  frontend/src/index.tsx
Due: frontend

🔧 refactor(be+fe): remove addon mDNS interface selection and require telemetry/smart modes
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  backend/src/api/system.go
  backend/src/converter/config_to_dto.go
  backend/src/dto/settings.go
  backend/src/dto/system_capabilities.go
  backend/src/service/mdns_service.go
  backend/src/service/mdns_service_test.go
  backend/src/service/setting_service_test.go
  frontend/package.json
  frontend/src/components/wizard/SetupWizard.tsx
  frontend/src/pages/settings/panels/HomeAssistantPanel.tsx
  frontend/src/pages/settings/panels/__tests__/HomeAssistantPanel.mdns.test.tsx
  frontend/src/store/sratApi.ts
Due: backend, frontend

📝 docs(fe): add early dev notice for custom component
  frontend/src/pages/settings/HomeAssistantCustomComponentPanel.tsx
Due: frontend

🔄 created local '.github/scripts/resolve-model.sh' from remote '.github/scripts/resolve-model.sh'
  .github/scripts/resolve-model.sh
Due: none

🔄 synced local '.github/scripts/auth.sh' with remote '.github/scripts/auth.sh'
  .github/scripts/auth.sh
Due: none

🔄 synced local '.github/workflows/opencode-pr-review.yml' with remote '.github/workflows/opencode-pr-review.yml'
  .github/workflows/opencode-pr-review.yml
Due: none

✨ feat(be): register addon mDNS on service start
  backend/src/service/mdns_service.go
  backend/src/service/mdns_service_test.go
Due: backend

✨ feat(be+fe): promote addon direct mDNS out of lab mode
  .vale/styles/Google/OxfordComma.yml
  .vale/styles/Microsoft/OxfordComma.yml
  AGENTS.md
  CHANGELOG.md
  backend/src/service/mdns_service.go
  backend/src/service/mdns_service_test.go
  backend/src/service/setting_service.go
  backend/src/service/setting_service_test.go
  docs/SETTINGS_DOCUMENTATION.md
  frontend/package.json
  frontend/src/pages/settings/panels/GeneralPanel.tsx
  frontend/src/pages/settings/panels/HomeAssistantPanel.tsx
  frontend/src/pages/settings/panels/__tests__/GeneralPanel.switches.test.tsx
  frontend/src/pages/settings/panels/__tests__/HomeAssistantPanel.mdns.test.tsx
  frontend/src/pages/settings/settingsConfig.ts
Due: backend, frontend

♻️ refactor(be+fe): Simplify mdns settings into master/proxy switches
  CHANGELOG.md
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  backend/src/config/addon_json_config.go
  backend/src/converter/config_to_dto.go
  backend/src/converter/config_to_dto_conv_gen.go
  backend/src/dbom/migrations/00018_migrate_mdns_properties.go
  backend/src/dbom/migrations/migrations_guard_test.go
  backend/src/dto/settings.go
  backend/src/service/mdns_service.go
  backend/src/service/mdns_service_test.go
  backend/src/service/setting_service.go
  backend/src/service/setting_service_test.go
  docs/SETTINGS_DOCUMENTATION.md
  frontend/src/pages/settings/panels/GeneralPanel.tsx
  frontend/src/pages/settings/panels/HomeAssistantPanel.tsx
  frontend/src/pages/settings/panels/__tests__/GeneralPanel.switches.test.tsx
  frontend/src/pages/settings/panels/__tests__/HomeAssistantPanel.mdns.test.tsx
  frontend/src/pages/settings/settingsConfig.ts
  frontend/src/store/sratApi.ts
Due: backend, frontend

🔧 chore(be): Regenerate enums with goenums v0.7.0
  backend/src/dto/clienteventtypes_enums.go
  backend/src/dto/hdidlecommands_enums.go
  backend/src/dto/hdidleenableds_enums.go
  backend/src/dto/issueseverities_enums.go
  backend/src/dto/problemlifecyclestatuses_enums.go
  backend/src/dto/problemseverities_enums.go
  backend/src/dto/problemtypes_enums.go
  backend/src/dto/repaircommandactions_enums.go
  backend/src/dto/repairissueseverities_enums.go
  backend/src/dto/repairlifecyclestatuses_enums.go
  backend/src/dto/smartattributecodes_enums.go
  backend/src/dto/smartmodes_enums.go
  backend/src/dto/smarttesttypes_enums.go
  backend/src/dto/telemetrymodes_enums.go
  backend/src/dto/timemachinesupports_enums.go
  backend/src/dto/updatechannels_enums.go
  backend/src/dto/updateprocessstates_enums.go
  backend/src/dto/webeventtypes_enums.go
  backend/src/events/eventtypes_enums.go
  backend/src/go.mod
Due: backend

✅ test(be): Fix MarshalText expectations for goenums v0.7.0
  backend/src/dto/enums_test.go
Due: none

📝 docs: add mDNS settings rename refactor documentation
  docs/refactors/mdns-settings-rename.md
Due: none

✨ feat(be+fe): migrate to new app based shared directory
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  backend/src/converter/config_to_dto.go
  backend/src/dto/settings.go
  backend/src/dto/standard_share_names.go
  backend/src/service/server_process_service.go
  backend/src/service/share_service.go
  backend/src/service/share_service_test.go
  backend/src/service/standard_share_names_policy_test.go
  backend/src/templates/smb.gtpl
  frontend/src/components/wizard/SetupWizard.tsx
  frontend/src/pages/dashboard/DashboardIntro.tsx
  frontend/src/pages/settings/panels/GeneralPanel.tsx
  frontend/src/pages/shares/components/SharesTreeView.tsx
  frontend/src/store/sratApi.ts
Due: backend, frontend

🐛 fix(be+fe): correct share validation and user disable
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  backend/src/api/shares.go
  backend/src/api/shares_test.go
  backend/src/converter/dto_to_dbom.go
  backend/src/converter/dto_to_dbom_conv_gen.go
  backend/src/dbom/g/samba_user.go
  backend/src/dbom/samba_user.go
  backend/src/dto/error_code.go
  backend/src/dto/secrets_dto.go
  backend/src/dto/shared_resource.go
  backend/src/dto/shared_resource_test.go
  backend/src/dto/user.go
  backend/src/dto/user_test.go
  backend/src/service/server_process_service.go
  backend/src/service/share_service.go
  backend/src/service/share_service_test.go
  backend/src/service/user_service_test.go
  frontend/src/store/sratApi.ts
Due: backend, frontend

🐛 fix(be): synthesize partitions missing from supervisor filesystems
  backend/src/service/hardware_service.go
  backend/src/service/hardware_service_test.go
Due: backend

:pencil2: chore(test): Add some test to cover new code coverage
  .opencode/instructions/backend_test.instructions.md
  .opencode/instructions/go.instructions.md
  AGENTS.md
  backend/src/api/system_test.go
  backend/src/dbom/migrations/migrations_guard_test.go
  backend/src/service/mdns_service_internal_test.go
  codecov.yml
Due: none

🐛 fix(be+doc): build smartlib musl variant dynamically
  backend/.mise.toml
  docs/SMART_SERVICE.md
  frontend/package.json
Due: none
