Repository dianlight/srat: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

# Codecov configuration for SRAT project
# Documentation: https://docs.codecov.io/docs/codecov-yaml

codecov:
  require_ci_to_pass: no
  notify:
    after_n_builds: 2  # Wait for both backend and frontend coverage

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        # Don't fail the build if coverage decreases slightly
        informational: true
    patch:
      default:
        target: 60%
        informational: true

  precision: 2
  round: down
  range: "50...100"

# Component-based coverage tracking
flag_management:
  default_rules:
    carryforward: true

flags:
  backend:
    paths:
      - backend/src/
    carryforward: true
  frontend:
    paths:
      - frontend/src/
    carryforward: true

# Ignore patterns
ignore:
  - "backend/src/vendor/**"
  - "backend/src/**/*_test.go"
  - "backend/src/**/test/**"
  - "frontend/src/**/*.test.ts"
  - "frontend/src/**/*.test.tsx"
  - "frontend/test/**"
  - "frontend/out/**"
  - "frontend/coverage/**"
  - "**/node_modules/**"
  - "**/__tests__/**"

# Comment settings
comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

✨ feat(be): register AddonConfigWatcherService in fx dependency graph
  backend/src/internal/appsetup/appsetup.go
  docs/tasks/002_addon-config-change-detection-ha-repair.md
Due: backend

✨ feat(fe): add Snackbar for addon config change notifications
  docs/tasks/002_addon-config-change-detection-ha-repair.md
  frontend/src/App.tsx
  frontend/src/store/wsApi.ts
Due: frontend

✨ feat(be): add repair and HA services to SettingsHandler
  backend/src/api/setting.go
  backend/src/api/setting_test.go
  docs/tasks/002_addon-config-change-detection-ha-repair.md
Due: backend

✨ feat(be): enhance AddonConfigWatcherService with fsnotify and debounce
  backend/src/service/addon_config_watcher_service.go
  backend/src/service/addon_config_watcher_service_test.go
  docs/tasks/002_addon-config-change-detection-ha-repair.md
Due: backend

✨ feat(test): add integration tests for AddonConfigWatcherService
  backend/src/service/addon_config_watcher_service_test.go
  docs/tasks/002_addon-config-change-detection-ha-repair.md
Due: none

✨ feat(fe): add tests for AddonConfigChangedBanner component
  docs/tasks/002_addon-config-change-detection-ha-repair.md
  frontend/src/__tests__/App.test.tsx
Due: none

✨ feat(hac): implement configuration change detection and repair
  custom_components/srat/__init__.py
  custom_components/tests/test_init.py
  docs/HOME_ASSISTANT_INTEGRATION.md
  docs/SETTINGS_DOCUMENTATION.md
  docs/tasks/002_addon-config-change-detection-ha-repair.md
Due: none

♻️ refactor(be): remove unused state field from AddonConfigWatcherService
  backend/src/service/addon_config_watcher_service.go
  docs/tasks/002_addon-config-change-detection-ha-repair.md
Due: backend

✨ feat(be): add AppConfigChangedNotification and update event handling
  backend/src/dto/app_config.go
  backend/src/dto/enums_test.go
  backend/src/dto/webevent_map.go
  backend/src/dto/webevent_type.go
  backend/src/dto/webevent_type_test.go
  backend/src/dto/webeventtypes_enums.go
  backend/src/dto/welcome.go
  backend/src/service/broadcaster_service.go
  backend/src/service/broadcaster_service_test.go
Due: backend

✨ feat(hac): implement addon config change detection with repair issue
  backend/src/internal/appsetup/appsetup.go
  backend/src/server/ha_middleware.go
  backend/src/server/ha_middleware_test.go
  backend/src/service/addon_config_watcher_service.go
  backend/src/service/addon_config_watcher_service_test.go
  custom_components/srat/__init__.py
  custom_components/srat/config_flow.py
  custom_components/srat/connection.py
  custom_components/srat/const.py
  custom_components/srat/repairs.py
  custom_components/srat/websocket_client.py
  custom_components/tests/test_config_flow.py
  custom_components/tests/test_init.py
  custom_components/tests/test_websocket_client.py
  docs/tasks/002_addon-config-change-detection-ha-repair.md
  frontend/package.json
  frontend/src/store/__tests__/wsApi.test.tsx
  frontend/src/store/wsApi.ts
Due: backend, frontend

✨ feat(doc): add documentation for missing SambaNAS2 addon detection
  docs/tasks/020_missing-sambanas2-addon-detection.md
  docs/tasks/021_samba-service-health-monitoring.md
  docs/tasks/022_disk-health-degradation-alerts.md
  docs/tasks/023_ha-srat-connectivity-loss-detection.md
Due: none

✨ feat(fe): enhance error logging for IP parsing and WebSocket URL construction
  backend/src/server/ha_middleware.go
  frontend/src/store/emptyApi.ts
  frontend/src/store/wsApi.ts
Due: backend, frontend

✨ feat(be): implement addon config change detection and repair
  backend/src/api/setting.go
  backend/src/api/setting_test.go
  backend/src/service/addons_service.go
  backend/src/service/addons_service_test.go
Due: backend

✨ feat(be): add API endpoint to restart addon
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  backend/src/api/health_run_internal_test.go
  backend/src/api/setting.go
  backend/src/api/setting_test.go
  backend/src/service/addons_service.go
  frontend/src/App.tsx
  frontend/src/__tests__/App.test.tsx
  frontend/src/store/sratApi.ts
Due: backend, frontend

✨ feat(fe): implement backdrop reload on config change detection
  frontend/src/App.tsx
Due: frontend

✨ feat(be): add new API endpoints for app config and filesystem tasks
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  backend/src/api/filesystems.go
  backend/src/api/issue.go
  backend/src/api/system.go
  frontend/src/mocks/streamingHandlers.ts
  frontend/src/pages/volumes/components/FilesystemCheckDialog.tsx
  frontend/src/store/sratApi.ts
  frontend/src/store/wsApi.ts
Due: backend, frontend

✨ feat(doc): update changelog with new features and enhancements
  CHANGELOG.md
Due: none

♻️ refactor(fe): streamline backdrop reload logic and state management
  frontend/src/App.tsx
Due: frontend

🎨 style(test): format assertions for better readability
  custom_components/tests/test_init.py
  custom_components/tests/test_websocket_client.py
Due: none

🔧 chore(test): import test setup for improved testing environment
  frontend/src/__tests__/App.test.tsx
Due: none

✨ feat(doc): update Python instructions for Home Assistant integration
  .github/instructions/python.instructions.md
Due: none

✨ feat(doc): update task list for generic command execution feature
  docs/tasks/015_generic-live-command-execution-console-via-websocket.md
Due: none

🔧 chore(test): enhance mock client methods and improve file handling
  .vscode/mcp.json
  backend/src/service/addon_config_watcher_service_test.go
Due: none

🔧 chore(test): set test environment flag for deterministic rendering
  frontend/test/setup.ts
Due: none

📝 docs: add skill for updating CHANGELOG.md with commits
  .github/skills/update-changelog-with-commits/SKILL.md
Due: none

📚 docs: auto-fix documentation formatting and TOC
  docs/HOME_ASSISTANT_INTEGRATION.md
  frontend/src/macro/VALIDATOR_IMPLEMENTATION.md
Due: frontend

✨ feat(be): add volume mount intelligence and Home Assistant repair service
  CHANGELOG.md
Due: none

🔧 chore: add golangci-lint installation to Dockerfile
  .devcontainer/Dockerfile
Due: none

✨ feat(be): implement IP address resolution for Samba interfaces
  .vale/styles/config/vocabularies/SRAT/accept.txt
  CHANGELOG.md
  backend/src/api/health_run_internal_test.go
  backend/src/cmd/srat-server/main-server.go
  backend/src/dto/context.go
  backend/src/service/server_process_service.go
  backend/src/service/server_process_service_test.go
  backend/src/templates/smb.gtpl
  backend/src/vendor/github.com/zarldev/goenums/generator/gofile/gofile_writer.go
  backend/src/vendor/gorm.io/gorm/generics.go
  backend/test/data/smb.conf
  docs/SETTINGS_DOCUMENTATION.md
  docs/tasks/009_smb-ip-address-interface-resolution.md
  frontend/src/macro/VALIDATOR_IMPLEMENTATION.md
Due: backend, frontend

✨ feat(doc): add create-pr skill for automating PR creation
  .github/skills/create-pr/SKILL.md
Due: none

🔧 chore(doc): remove unused category, scope, and version from create-pr skill
  .github/skills/create-pr/SKILL.md
Due: none

🔧 chore(docker): replace wget with curl for Go installation
  .devcontainer/Dockerfile
Due: none

📚 docs: auto-fix documentation formatting and TOC
  frontend/src/macro/VALIDATOR_IMPLEMENTATION.md
Due: frontend

🔧 chore(doc): update task list for mDNS registration and lifecycle management
  docs/tasks/016_server-mdns-registration-websocket.md
  docs/tasks/017_automatic-home-assistant-custom-component-lifecycle-management.md
Due: none

🔧 chore(doc): update status of Time Machine compatibility task
  docs/tasks/011_timemachine-macos-tahoe-compatibility.md
Due: none

📝 docs: add pre-implementation plan for Time Machine compatibility
  docs/tasks/011_timemachine-macos-tahoe-compatibility.md
Due: none

📝 docs: mark Task 1 as completed for Time Machine compatibility
  docs/tasks/011_timemachine-macos-tahoe-compatibility.md
Due: none

✨ feat(be): enhance macOS/Time Machine compatibility settings
  backend/src/templates/smb.gtpl
Due: backend

✨ feat(be): enhance Samba settings for macOS Tahoe compatibility
  backend/src/templates/smb.gtpl
  docs/tasks/011_timemachine-macos-tahoe-compatibility.md
Due: backend

📝 docs: update Macro Import Validator documentation
  docs/TIMEMACHINE_COMPATIBILITY.md
  frontend/src/macro/VALIDATOR_IMPLEMENTATION.md
Due: frontend
