Repository dianlight/srat: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

# Codecov configuration for SRAT project
# Documentation: https://docs.codecov.io/docs/codecov-yaml

codecov:
  require_ci_to_pass: no
  notify:
    after_n_builds: 2  # Wait for both backend and frontend coverage

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        # Don't fail the build if coverage decreases slightly
        informational: true
    patch:
      default:
        target: 60%
        informational: true

  precision: 2
  round: down
  range: "50...100"

# Component-based coverage tracking
flag_management:
  default_rules:
    carryforward: true

flags:
  backend:
    paths:
      - backend/src/
    carryforward: true
  frontend:
    paths:
      - frontend/src/
    carryforward: true

# Ignore patterns
ignore:
  - "backend/src/vendor/**"
  - "backend/src/**/*_test.go"
  - "backend/src/**/test/**"
  - "frontend/src/**/*.test.ts"
  - "frontend/src/**/*.test.tsx"
  - "frontend/test/**"
  - "frontend/out/**"
  - "frontend/coverage/**"
  - "**/node_modules/**"
  - "**/__tests__/**"

# Comment settings
comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

👷 ci: add CHANGELOG.md to workflow paths for tracking changes
  .github/workflows/build.yaml
Due: none

✨ feat(doc): update changelog for upcoming release
  CHANGELOG.md
Due: none

chore: release 2026.5.0-rc9
  CHANGELOG.md
Due: none

🔧 chore(ci): fetch and checkout auto-maintenance branch for docs
  .github/workflows/documentation.yml
Due: none

👷 ci: reduce sleep duration for CI workflow registration
  scripts/release.sh
Due: none

✨ feat(hac): implement mDNS registration via WebSocket
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  backend/src/api/system.go
  backend/src/api/ws.go
  backend/src/config/addon_json_config.go
  backend/src/converter/config_to_dto.go
  backend/src/converter/config_to_dto_conv_gen.go
  backend/src/converter/smartmontools_to_dto_conv_gen.go
  backend/src/dto/mdns_register.go
  backend/src/dto/settings.go
  backend/src/go.mod
  backend/src/go.sum
  backend/src/internal/appsetup/appsetup.go
  backend/src/service/mdns_service.go
  backend/src/service/mdns_service_test.go
  backend/src/vendor/github.com/dianlight/smartmontools-go/CHANGELOG.md
  backend/src/vendor/github.com/dianlight/smartmontools-go/README.md
  backend/src/vendor/github.com/dianlight/smartmontools-go/backend.go
  backend/src/vendor/github.com/dianlight/smartmontools-go/backends/compare/compare_backend.go
  backend/src/vendor/github.com/dianlight/smartmontools-go/backends/compare/shared.go
  backend/src/vendor/github.com/dianlight/smartmontools-go/backends/exec/shared.go
  backend/src/vendor/github.com/dianlight/smartmontools-go/backends/lib/lib.go
  backend/src/vendor/github.com/dianlight/smartmontools-go/backends/lib/shared.go
  backend/src/vendor/github.com/dianlight/smartmontools-go/client.go
  backend/src/vendor/github.com/dianlight/smartmontools-go/commander.go
  backend/src/vendor/github.com/dianlight/smartmontools-go/doc.go
  backend/src/vendor/github.com/dianlight/smartmontools-go/types.go
  backend/src/vendor/github.com/dianlight/smartmontools-go/types/constants.go
  backend/src/vendor/github.com/dianlight/smartmontools-go/types/helpers.go
  backend/src/vendor/github.com/dianlight/smartmontools-go/types/interfaces.go
  backend/src/vendor/github.com/dianlight/smartmontools-go/types/types.go
  backend/src/vendor/modules.txt
  custom_components/srat/__init__.py
  custom_components/srat/manifest.json
  custom_components/tests/test_mdns.py
  docs/tasks/016_server-mdns-registration-websocket.md
  frontend/src/pages/settings/panels/HomeAssistantPanel.tsx
  frontend/src/pages/settings/panels/__tests__/HomeAssistantPanel.mdns.test.tsx
  frontend/src/store/sratApi.ts
Due: backend, frontend

✨ feat(doc): update changelog with mDNS registration details
  .ai/instructions/python.instructions.md
  CHANGELOG.md
Due: none

✨ feat(env): enhance environment setup with SUPERVISOR_API_TOKEN
  .vscode/sessions.json
  .vscode/settings.json
  backend/.mise.toml
  frontend/package.json
  scripts/env.sh
Due: none

feat: enhance autoupdate system with multi-variant server support
  .ai/rules.md
  .github/workflows/build.yaml
  CHANGELOG.md
  backend/.mise.toml
  backend/src/service/upgrade_service.go
  docs/AUTO_UPDATE_SYSTEM.md
Due: backend

fix(docs): correct code block syntax in AUTO_UPDATE_SYSTEM.md
  docs/AUTO_UPDATE_SYSTEM.md
Due: none

fix(docs): add 'libc' to Vale vocabulary to fix CI spelling error
  .vale/styles/config/vocabularies/SRAT/accept.txt
Due: none

fix: update version to 2026.6.0-dev.0 in package.json refactor: atomically replace srat-server symlink in upgrade_service.go
  backend/src/service/upgrade_service.go
  frontend/package.json
Due: backend

docs(update-system): correct signature transport description
  .vale/styles/config/vocabularies/SRAT/accept.txt
  docs/AUTO_UPDATE_SYSTEM.md
Due: none

✨ feat(agents): add HA Testing Expert custom agent
  .github/agents/ha-testing-expert.agent.md
  scripts/validate-docs.sh
Due: none

✨ feat(hac): add mDNS register event and enhance supervisor integration
  backend/src/dto/webevent_map.go
  backend/src/dto/webevent_type.go
  backend/src/dto/webevent_type_test.go
  backend/src/dto/webeventtypes_enums.go
  backend/src/dto/welcome.go
  custom_components/.mise.toml
  custom_components/srat/__init__.py
  custom_components/srat/config_flow.py
  custom_components/srat/connection.py
  custom_components/srat/const.py
  custom_components/srat/websocket_client.py
  custom_components/tests/test_config_flow.py
  custom_components/tests/test_init.py
  custom_components/tests/test_mdns.py
  custom_components/tests/test_websocket_client.py
  frontend/package.json
Due: backend

🔧 chore(be): add mutex for thread-safe access to connection state
  backend/src/dto/enums_test.go
  backend/src/service/mdns_service.go
Due: backend

feat(hdidle): rework to per-disk-only model with Lab Mode gate
  CHANGELOG.md
  backend/docs/openapi.yaml
  backend/src/api/hdidle_handler.go
  backend/src/api/hdidle_handler_test.go
  backend/src/config/addon_json_config.go
  backend/src/converter/config_to_dto.go
  backend/src/converter/config_to_dto_conv_gen.go
  backend/src/converter/dto_to_dbom_conv_gen.go
  backend/src/dbom/g/hdidle_device_config.go
  backend/src/dbom/hdidle_device_config.go
  backend/src/dbom/migrations/00017_drop_global_hdidle_properties.sql
  backend/src/dto/disk.go
  backend/src/dto/error_code.go
  backend/src/dto/hdidle.go
  backend/src/dto/settings.go
  backend/src/events/events.go
  backend/src/service/hardware_service.go
  backend/src/service/hardware_service_internal_test.go
  backend/src/service/hdidle_service.go
  backend/src/service/hdidle_service_test.go
  frontend/src/hooks/useLabMode.ts
  frontend/src/mocks/customHandlers.ts
  frontend/src/mocks/handlers.ts
  frontend/src/pages/dashboard/components/HDIdleSuggestionBadge.tsx
  frontend/src/pages/dashboard/components/__tests__/HDIdleSuggestionBadge.test.tsx
  frontend/src/pages/dashboard/metrics/DiskHealthMetrics.tsx
  frontend/src/pages/settings/Settings.tsx
  frontend/src/pages/settings/settingsConfig.ts
  frontend/src/pages/volumes/components/HDIdleDiskSettings.tsx
  frontend/src/pages/volumes/components/VolumeDetailsPanel.tsx
  frontend/src/pages/volumes/components/__tests__/HDIdleDiskSettings.applyCancel.test.tsx
  frontend/src/pages/volumes/components/__tests__/HDIdleDiskSettings.test.tsx
  frontend/src/store/sratApi.ts
Due: backend, frontend

Setting and corporate PKL
  .claude/settings.local.json
  .mise.toml
  docs/CORPORATE_PROXY_PKL_FIX.md
Due: none

fix(hdidle): resolve CI failures in frontend types and backend test
  backend/src/api/hdidle_handler_test.go
  backend/src/config/version.go
  frontend/src/hooks/useLabMode.ts
  frontend/src/pages/dashboard/metrics/DiskHealthMetrics.tsx
  frontend/src/pages/dashboard/metrics/__tests__/DiskHealthMetrics.test.tsx
Due: backend, frontend

fix(hdidle): per-disk rework + review bug fixes
  backend/src/api/hdidle_handler_test.go
  frontend/src/hooks/useLabMode.ts
  frontend/src/pages/dashboard/components/HDIdleSuggestionBadge.tsx
  frontend/src/pages/dashboard/metrics/DiskHealthMetrics.tsx
  frontend/src/pages/dashboard/metrics/__tests__/DiskHealthMetrics.test.tsx
  frontend/src/pages/volumes/components/HDIdleDiskSettings.tsx
  frontend/src/pages/volumes/components/__tests__/HDIdleDiskSettings.test.tsx
  frontend/src/store/sratApi.ts
Due: frontend

some fixes on working
  .ai/agents/ha-testing.agent.md
  .devcontainer/devcontainer.json
  .github/agents
  .opencode/agents
  .vscode/settings.json
  backend/src/api/health_run_internal_test.go
  backend/src/service/broadcaster_service.go
  backend/src/service/dirty_data_service.go
  backend/src/service/mdns_service.go
  backend/src/service/mdns_service_test.go
  custom_components/srat/websocket_client.py
  custom_components/tests/test_websocket_client.py
Due: backend

fix(hdidle): address 6 CodeRabbit review findings (PR #689)
  backend/src/service/hardware_service_internal_test.go
  backend/src/service/hdidle_service.go
  frontend/src/pages/volumes/components/HDIdleDiskSettings.tsx
  frontend/src/pages/volumes/components/__tests__/HDIdleDiskSettings.applyCancel.test.tsx
  scripts/setup-pkl-proxy.sh
Due: backend, frontend

fix(tests): resolve 4 pre-existing backend test failures
  backend/src/api/hdidle_handler.go
  backend/src/api/hdidle_handler_test.go
  backend/src/cmd/srat-openapi/main-openapi.go
  backend/src/service/filesystem/ntfs_adapter_mock.go
  backend/src/service/filesystem/ntfs_adapter_test.go
  backend/src/service/filesystem_service_test.go
  backend/src/service/server_process_service.go
Due: backend

fix(service): resolve service package test failures (panic + root guards)
  backend/src/service/hdidle_service.go
  backend/src/service/hdidle_service_test.go
  backend/src/service/issue_report_service_test.go
  backend/src/service/server_process_service_test.go
Due: backend

Create opencode-review.yaml
  .github/workflows/opencode-review.yaml
Due: none

Create opencode-triage.yaml
  .github/workflows/opencode-triage.yaml
Due: none

Fix exec flags
  scripts/setup-pkl-proxy.sh
Due: none

fix(hdidle): address PR #689 review findings
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  backend/src/api/hdidle_handler.go
  backend/src/service/hdidle_service.go
  frontend/src/pages/dashboard/metrics/DiskHealthMetrics.tsx
  frontend/src/pages/dashboard/metrics/__tests__/DiskHealthMetrics.test.tsx
  frontend/src/store/sratApi.ts
Due: backend, frontend

Final test
  .ai/agents/ha-testing.agent.md
  .devcontainer/devcontainer-lock.json
  frontend/package.json
Due: none

🐛 fix: address CodeRabbit review comments on PR #679
  .ai/agents/ha-testing.agent.md
  custom_components/srat/__init__.py
  custom_components/srat/config_flow.py
  custom_components/tests/test_config_flow.py
Due: none

🐛 fix(be+fe): address PR #689 review findings
  backend/.mise.toml
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  backend/patches/hd-idle-check-power-mode.patch
  backend/src/api/hdidle_handler.go
  backend/src/dto/clienteventtypes_enums.go
  backend/src/dto/hdidle.go
  backend/src/dto/hdidle_test.go
  backend/src/dto/hdidlecommands_enums.go
  backend/src/dto/hdidleenableds_enums.go
  backend/src/dto/issueseverities_enums.go
  backend/src/dto/problemlifecyclestatuses_enums.go
  backend/src/dto/problemseverities_enums.go
  backend/src/dto/problemtypes_enums.go
  backend/src/dto/repaircommandactions_enums.go
  backend/src/dto/repairissueseverities_enums.go
  backend/src/dto/repairlifecyclestatuses_enums.go
  backend/src/dto/smartattributecodes_enums.go
  backend/src/dto/smartmodes_enums.go
  backend/src/dto/smarttesttypes_enums.go
  backend/src/dto/telemetrymodes_enums.go
  backend/src/dto/timemachinesupports_enums.go
  backend/src/dto/updatechannels_enums.go
  backend/src/dto/updateprocessstates_enums.go
  backend/src/dto/webeventtypes_enums.go
  backend/src/events/eventtypes_enums.go
  backend/src/service/hdidle_ata_probe_test.go
  backend/src/service/hdidle_service.go
  backend/src/vendor/github.com/adelolmo/hd-idle/sgio/ata.go
  frontend/bun.lock
  frontend/package.json
  frontend/src/pages/dashboard/components/__tests__/HDIdleSuggestionBadge.test.tsx
  frontend/src/pages/volumes/components/HDIdleDiskSettings.tsx
  frontend/src/store/sratApi.ts
Due: backend, frontend

it is
  .github/workflows/opencode-review.yaml
Due: none

fix(be+fe): address remaining PR #689 review findings
  .claude/settings.local.json
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  backend/src/converter/config_to_dto_conv_gen.go
  backend/src/converter/ha_hardware_to_dto.go
  backend/src/dto/clienteventtypes_enums.go
  backend/src/dto/hdidlecommands_enums.go
  backend/src/dto/hdidleenableds_enums.go
  backend/src/dto/issueseverities_enums.go
  backend/src/dto/problemlifecyclestatuses_enums.go
  backend/src/dto/problemseverities_enums.go
  backend/src/dto/problemtypes_enums.go
  backend/src/dto/repaircommandactions_enums.go
  backend/src/dto/repairissueseverities_enums.go
  backend/src/dto/repairlifecyclestatuses_enums.go
  backend/src/dto/smartattributecodes_enums.go
  backend/src/dto/smartmodes_enums.go
  backend/src/dto/smarttesttypes_enums.go
  backend/src/dto/telemetrymodes_enums.go
  backend/src/dto/timemachinesupports_enums.go
  backend/src/dto/updatechannels_enums.go
  backend/src/dto/updateprocessstates_enums.go
  backend/src/dto/webeventtypes_enums.go
  backend/src/events/eventtypes_enums.go
  frontend/bun.lock
  frontend/package.json
  frontend/src/pages/dashboard/__tests__/ActionableItems.test.tsx
  frontend/src/pages/dashboard/__tests__/CollapsibleSections.test.tsx
  frontend/src/pages/dashboard/__tests__/Dashboard.test.tsx
  frontend/src/pages/dashboard/__tests__/DashboardActions.test.tsx
  frontend/src/pages/dashboard/__tests__/SystemMetrics.test.tsx
  frontend/src/pages/dashboard/components/ActionableItemsList.tsx
  frontend/src/pages/dashboard/components/HDIdleSuggestionBadge.tsx
  frontend/src/pages/volumes/components/__tests__/VolumeDetailsPanel.test.tsx
  frontend/src/store/sratApi.ts
Due: backend, frontend

Update opencode-review.yaml
  .github/workflows/opencode-review.yaml
Due: none

ci(workflow,scripts): fix CI failures on PR #689 and address review points
  .claude/.gitignore
  .github/workflows/build.yaml
  .github/workflows/opencode-review.yaml
  scripts/setup-pkl-proxy.sh
Due: none

ci(build): pin mise to 2026.6.13 to fix npm reshim regression
  .github/workflows/build.yaml
Due: none

ci(opencode-review): self-assign as reviewer and use inline review comments
  .github/workflows/opencode-review.yaml
Due: none

ci(backend): move npm:@redocly/cli to on-demand install in gen:openapi task
  backend/.mise.toml
Due: none

fix(hdidle): correct SkewTime threshold and surface save errors in UI
  backend/src/service/hdidle_service.go
  frontend/src/pages/volumes/components/HDIdleDiskSettings.tsx
Due: backend, frontend

Update backend/src/api/hdidle_handler.go
  backend/src/api/hdidle_handler.go
Due: backend
