Repository dianlight/srat: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

🏗️ build: explicitly disable CGO for static builds in BuildAll step
  .github/workflows/build.yaml
Due: none

🔧 chore: remove commented code and improve logging for default share creation
  backend/src/service/share_service.go
Due: backend

🏗️ build: enhance build process and static file handling
  backend/Makefile
Due: none

♻️ refactor(service): change MountPointDataPath and MountPointDataRoot to pointers
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  backend/src/converter/config_to_dbom_conv_gen.go
  backend/src/converter/dto_to_dbom_conv_gen.go
  backend/src/dbom/exported_share.go
  backend/src/dbom/exported_share_test.go
  backend/src/server/http_server.go
  backend/src/service/share_service.go
  backend/src/service/share_service_test.go
  backend/src/service/upgrade_service.go
  backend/src/vendor/github.com/zarldev/goenums/generator/gofile/gofile_writer.go
  backend/src/vendor/gorm.io/gorm/generics.go
Due: backend

🔧 chore: clean up build directory before remote build
  backend/Makefile
Due: none

✨ feat(fe): update issue reporting and API parameters
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  backend/src/service/issue_report_service_test.go
  frontend/package.json
  frontend/src/components/ReportIssueDialog.tsx
  frontend/src/store/sratApi.ts
Due: frontend

✨ feat(fe): add Markdown editor for issue description
  frontend/bun.lock
  frontend/package.json
  frontend/src/components/ReportIssueDialog.tsx
  frontend/src/components/__tests__/ReportIssueDialog.test.tsx
  frontend/src/index.tsx
Due: frontend

✨ feat(fe): update color scheme handling in theme configuration
  frontend/src/components/ReportIssueDialog.tsx
  frontend/src/index.tsx
Due: frontend

Add console logs field to bug report template
  .github/ISSUE_TEMPLATE/bug_report.yaml
Due: none

✨ feat(issue-report): enhance issue reporting with console errors
  .devcontainer/devcontainer.json
  .devcontainer/postCreateCommand.sh
  .github/workflows/build.yaml
  CHANGELOG.md
  Makefile
  backend/Makefile
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  backend/src/config/version.go
  backend/src/dto/issue_report.go
  backend/src/homeassistant/addons.yaml
  backend/src/homeassistant/addons/addons_extended_test.go
  backend/src/homeassistant/addons/client.gen.go
  backend/src/homeassistant/addons/client_test.go
  backend/src/internal/appsetup/appsetup.go
  backend/src/service/addons_service.go
  backend/src/service/issue_report_service.go
  backend/src/service/issue_report_service_test.go
  backend/test/data/image.dmg
  frontend/src/components/ReportIssueDialog.tsx
  frontend/src/store/sratApi.ts
Due: backend, frontend

🔧 chore: remove OpenTelemetry v1.37.0 semantic conventions
  backend/src/vendor/github.com/k0kubun/pp/v3/.gitignore
  backend/src/vendor/github.com/k0kubun/pp/v3/CHANGELOG.md
  backend/src/vendor/github.com/k0kubun/pp/v3/README.md
  backend/src/vendor/github.com/k0kubun/pp/v3/pp.go
  backend/src/vendor/go.opentelemetry.io/otel/semconv/v1.37.0/attribute_group.go
  backend/src/vendor/go.opentelemetry.io/otel/semconv/v1.37.0/doc.go
  backend/src/vendor/go.opentelemetry.io/otel/semconv/v1.37.0/error_type.go
  backend/src/vendor/go.opentelemetry.io/otel/semconv/v1.37.0/exception.go
  backend/src/vendor/go.opentelemetry.io/otel/semconv/v1.37.0/schema.go
  backend/src/vendor/modernc.org/libc/COPYRIGHT-MUSL
Due: none

🔧 chore: update
  backend/src/vendor/github.com/samber/slog-multi/firstmatch.go
  backend/src/vendor/go.opentelemetry.io/otel/semconv/v1.39.0/MIGRATION.md
  backend/src/vendor/go.opentelemetry.io/otel/semconv/v1.39.0/README.md
  backend/src/vendor/go.opentelemetry.io/otel/semconv/v1.39.0/attribute_group.go
  backend/src/vendor/go.opentelemetry.io/otel/semconv/v1.39.0/doc.go
  backend/src/vendor/go.opentelemetry.io/otel/semconv/v1.39.0/error_type.go
  backend/src/vendor/go.opentelemetry.io/otel/semconv/v1.39.0/exception.go
  backend/src/vendor/go.opentelemetry.io/otel/semconv/v1.39.0/schema.go
  backend/src/vendor/modernc.org/libc/LICENSE-3RD-PARTY.md
Due: none

✨ feat(issue-report): improve issue report generation and attachment handling
  backend/src/service/issue_report_service.go
  backend/src/service/issue_report_service_test.go
Due: backend

✨ feat(report-issue): integrate global event tracking in issue reporting
  .devcontainer/devcontainer.json
  .vscode/settings.json
  frontend/src/App.tsx
  frontend/src/components/DonationButton.tsx
  frontend/src/components/GlobalEventTracker.tsx
  frontend/src/components/ReportIssueDialog.tsx
Due: frontend

🐛 fix(test): add missing dependency for issue report service test
  pull_requests/400/comments.md
Due: none

✨ feat(report-issue): enhance issue reporting dialog functionality
  frontend/bunfig.toml
  frontend/src/components/ReportIssueDialog.tsx
  frontend/src/components/__tests__/ReportIssueDialog.test.tsx
Due: frontend

✨ feat(sanitizer): add data masking functionality for sensitive info
  backend/src/go.mod
  backend/src/go.sum
  backend/src/vendor/github.com/dianlight/tlog/Makefile
  backend/src/vendor/github.com/dianlight/tlog/sanitizer/sanitizer.go
  backend/src/vendor/github.com/dianlight/tlog/test_patterns.txt
  backend/src/vendor/github.com/dianlight/tlog/tlog.go
  backend/src/vendor/modules.txt
Due: backend

🔧 chore: update dependencies and package versions
  frontend/bun.lock
  frontend/package.json
Due: none

✨ feat(setting): add functionality to preserve HASmbPassword when empty
  backend/src/dbom/migrations/00014_sanitize_empty_HASmbPassword.go
  backend/src/service/setting_service.go
  backend/src/service/setting_service_test.go
Due: backend

✨ feat(test): add tests for preserving HASmbPassword and secret leakage - implement TestUpdateSettingsHandler_PreservesHASmbPassword - implement TestGetSettingsHandler_DoesNotLeakSecrets
  backend/src/api/setting_test.go
Due: none

🔧 chore(service): update NFS service commands for consistency
  backend/src/service/server_process_service.go
Due: backend

✨ feat: add new JSON and URL patterns for sensitive data extraction
  backend/src/go.mod
  backend/src/go.sum
  backend/src/vendor/github.com/dianlight/tlog/sanitizer/sanitizer.go
  backend/src/vendor/github.com/dianlight/tlog/test_patterns.txt
  backend/src/vendor/golang.org/x/sys/cpu/cpu_arm64.go
  backend/src/vendor/golang.org/x/sys/cpu/cpu_other_arm64.go
  backend/src/vendor/golang.org/x/sys/cpu/cpu_windows_arm64.go
  backend/src/vendor/golang.org/x/sys/unix/ioctl_signed.go
  backend/src/vendor/golang.org/x/sys/unix/ioctl_unsigned.go
  backend/src/vendor/golang.org/x/sys/unix/syscall_solaris.go
  backend/src/vendor/golang.org/x/sys/unix/syscall_unix.go
  backend/src/vendor/golang.org/x/sys/windows/syscall_windows.go
  backend/src/vendor/golang.org/x/sys/windows/types_windows.go
  backend/src/vendor/golang.org/x/sys/windows/zsyscall_windows.go
  backend/src/vendor/modules.txt
Due: backend

✨ feat(tlog): update tlog to v0.2.2 and add log masking patterns
  backend/src/go.mod
  backend/src/go.sum
  backend/src/vendor/github.com/dianlight/tlog/sanitizer/sanitizer.go
  backend/src/vendor/github.com/dianlight/tlog/test_patterns.txt
  backend/src/vendor/modules.txt
Due: backend

✅ test: update TestGetSettingsHandler to use NotContains assertions
  backend/src/api/setting_test.go
Due: none

✨ feat(service): mask sensitive data in issue report generation
  backend/src/service/issue_report_service.go
  backend/src/service/issue_report_service_test.go
Due: backend

✨ feat(volume): infer mount point type and add default handling
  backend/src/service/volume_service.go
  backend/src/service/volume_service_test.go
Due: backend

✨ feat(converter): enhance mount type determination logic
  CHANGELOG.md
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  backend/src/converter/config_to_dto.go
  backend/src/converter/converter_test.go
  backend/src/converter/mount_to_dto.go
  backend/src/converter/mount_to_dto_conv_gen.go
Due: backend

✨ feat(workflow): add documentation change detection and validation steps
  .github/workflows/documentation.yml
Due: none

🔧 chore: update script permissions for cleanup and validation scripts
  scripts/cleanup-old-local-branches.sh
  scripts/cleanup-old-local-tags.sh
  scripts/pre-commit-macro-validate.sh
Due: none

🔧 chore: fix default value type for dry_run input in workflow
  .github/workflows/cleanup-branches.yaml
Due: none

✅ test: add unit tests for filesystem adapters
  backend/src/service/filesystem/apfs_adapter_test.go
  backend/src/service/filesystem/exfat_adapter_test.go
  backend/src/service/filesystem/f2fs_adapter_test.go
  backend/src/service/filesystem/gfs2_adapter_test.go
  backend/src/service/filesystem/hfsplus_adapter_test.go
  backend/src/service/filesystem/reiserfs_adapter_test.go
  backend/src/service/filesystem/signature_test_helpers_test.go
  backend/src/service/filesystem_service.go
  backend/src/service/filesystem_service_test.go
Due: backend

✨ feat(filesystem): add ordered filesystem types for mount flags
  CHANGELOG.md
  backend/src/service/filesystem_service.go
Due: backend

✨ feat(fe): enhance volume management with filesystem operations
  CHANGELOG.md
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  frontend/src/pages/volumes/Volumes.tsx
  frontend/src/pages/volumes/components/VolumeDetailsPanel.tsx
  frontend/src/pages/volumes/components/VolumeMountDialog.tsx
  frontend/src/pages/volumes/components/VolumesTreeView.tsx
  frontend/src/pages/volumes/components/__tests__/VolumeDetailsPanel.test.tsx
  frontend/src/pages/volumes/components/__tests__/VolumesTreeView.test.tsx
  frontend/src/pages/volumes/utils.ts
  frontend/src/store/sratApi.ts
Due: frontend

✨ feat(be): enhance filesystem error handling and state management
  CHANGELOG.md
  backend/src/api/filesystems.go
  backend/src/dto/error_code.go
  backend/src/service/disk_stats_service.go
  backend/src/service/disk_stats_service_test.go
  backend/src/service/filesystem_service.go
  frontend/package.json
  frontend/src/pages/volumes/components/VolumeDetailsPanel.tsx
  frontend/src/pages/volumes/components/__tests__/VolumeDetailsPanel.test.tsx
Due: backend, frontend

🔧 chore: remove unused VSCode extension from devcontainer.json
  .devcontainer/devcontainer.json
Due: none

📚 docs: auto-fix documentation formatting and linting issues
  .github/copilot-instructions.md
Due: none

✨ feat(sseApi): implement reconnect logic for SSE and WebSocket
  CHANGELOG.md
  backend/src/dbom/property.go
  backend/src/service/user_service.go
  frontend/src/store/__tests__/sseApi.test.tsx
  frontend/src/store/sseApi.ts
Due: backend, frontend

🎨 style(SmbConf): comment out console log and clean up spacing
  frontend/src/pages/SmbConf.tsx
Due: frontend

🔧 chore(gofile_writer): simplify generated comment format
  backend/src/vendor/github.com/zarldev/goenums/generator/gofile/gofile_writer.go
  backend/src/vendor/gorm.io/gorm/generics.go
Due: none

Path conditions:
  backend: any of: backend/src/, but not: backend/src/vendor/**, backend/src/**/*_test.go, backend/src/**/test/**, frontend/src/**/*.test.ts, frontend/src/**/*.test.tsx, frontend/test/**, frontend/out/**, frontend/coverage/**, **/node_modules/**, **/__tests__/**
  frontend: any of: frontend/src/, but not: backend/src/vendor/**, backend/src/**/*_test.go, backend/src/**/test/**, frontend/src/**/*.test.ts, frontend/src/**/*.test.tsx, frontend/test/**, frontend/out/**, frontend/coverage/**, **/node_modules/**, **/__tests__/**
