Repository dianlight/srat: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

🔧 chore(ci): Add Windows proxy setup script for mise environments
  .mise.toml
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  backend/src/vendor/github.com/adelolmo/hd-idle/sgio/.pdone
  backend/src/vendor/gorm.io/gorm/.pdone
  backend/src/vendor/gorm.io/gorm/generics.go
  scripts/setup-pkl-proxy.sh
  scripts/setup-windows-proxy.sh
Due: none

🔧 chore: update gitignore to exclude vendor .orig files and Trash-0
  .gitignore
Due: none

🔧 chore(be): update prometheus/procfs to v0.21.0
  .opencode/viz-skin.json
  backend/src/go.mod
  backend/src/go.sum
  backend/src/vendor/github.com/prometheus/procfs/Makefile.common
  backend/src/vendor/github.com/prometheus/procfs/README.md
  backend/src/vendor/github.com/prometheus/procfs/SECURITY.md
  backend/src/vendor/github.com/prometheus/procfs/blockdevice/dm_multipath.go
  backend/src/vendor/github.com/prometheus/procfs/blockdevice/stats.go
  backend/src/vendor/github.com/prometheus/procfs/crypto.go
  backend/src/vendor/github.com/prometheus/procfs/mountinfo.go
  backend/src/vendor/github.com/prometheus/procfs/sysfs/class_fibrechannel.go
  backend/src/vendor/github.com/prometheus/procfs/sysfs/class_mei.go
  backend/src/vendor/github.com/prometheus/procfs/sysfs/class_nvme.go
  backend/src/vendor/github.com/prometheus/procfs/sysfs/class_nvme_subsystem.go
  backend/src/vendor/github.com/prometheus/procfs/sysfs/class_thermal.go
  backend/src/vendor/github.com/prometheus/procfs/sysfs/mdraid.go
  backend/src/vendor/github.com/prometheus/procfs/sysfs/system_cpu.go
  backend/src/vendor/modules.txt
  frontend/bun.lock
  frontend/package.json
Due: backend

🏗️ build(fe): Update frontend dependencies
  frontend/bun.lock
Due: none

Update backend/src/api/hdidle_handler.go
  backend/src/api/hdidle_handler.go
Due: backend

fix frontend tests
  frontend/bun.lock
  frontend/package.json
  frontend/patches/@mui-x-internals.patch
  frontend/vitest.config.ts
Due: none

🐛 fix(be): Add macOS development compatibility support
  backend/.mise.toml
  backend/patches/create_darwin_stubs.sh
  backend/src/cmd/srat-openapi/main-openapi_test.go
  backend/src/config/c_medatata.go
  backend/src/config/metadata.go
  backend/src/dto/filesystem_mount_flags_darwin.go
  backend/src/dto/filesystem_mount_flags_linux.go
  backend/src/dto/filesystem_type.go
  backend/src/dto/filesystem_type_test.go
  backend/src/internal/osutil/loadmountinfo_linux.go
  backend/src/internal/osutil/osutil.go
  backend/src/internal/osutil/osutil_darwin.go
  backend/src/internal/osutil/osutil_linux.go
  backend/src/service/filesystem/ntfs_adapter_test.go
  backend/src/service/filesystem_service_test.go
  backend/src/service/issue_report_service_test.go
  backend/src/service/network_stats_service.go
  backend/src/service/server_process_service_test.go
  backend/src/service/volume_service.go
  backend/src/service/volume_service_udev_darwin.go
  backend/src/service/volume_service_udev_linux.go
  backend/src/vendor/github.com/prometheus/procfs/sysfs/fs_darwin.go
  backend/src/vendor/github.com/u-root/u-root/pkg/mount/loop/loop_darwin.go
  backend/src/vendor/github.com/u-root/u-root/pkg/mount/mount_darwin.go
Due: backend

🐛 fix(generics): use pointer for model and updates in chain methods - Change Model(r) to Model(&r) to pass pointer instead of value - Change Updates(t) to Updates(&t) to avoid value copy issues
  .kilocode/mcp.json
  .kilocode/rules/rules.md
  .opencode/viz-skin.json
  backend/src/vendor/gorm.io/gorm/.pdone
  backend/src/vendor/gorm.io/gorm/generics.go
Due: none

🔧 chore(devcontainer): transition to opencode setup
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  backend/.opencode/viz-skin.json
Due: none

chore: comment out experimental flags and update mise paths
  .mise.toml
  .vscode/settings.json
  backend/src/vendor/gorm.io/gorm/generics.go.orig
  custom_components/pyproject.toml
  frontend/.mise.toml
Due: none

feat(converter): switch to internal darwinstubs mount imports
  .vale/styles/Google/AMPM.yml
  .vale/styles/Google/Acronyms.yml
  .vale/styles/Google/Colons.yml
  .vale/styles/Google/Contractions.yml
  .vale/styles/Google/DateFormat.yml
  .vale/styles/Google/Ellipses.yml
  .vale/styles/Google/EmDash.yml
  .vale/styles/Google/Exclamation.yml
  backend/patches/create_darwin_stubs.sh
  backend/src/converter/config_to_dto.go
  backend/src/converter/converter_test.go
  backend/src/converter/goverter.go
  backend/src/converter/ha_hardware_to_dto.go
  backend/src/converter/mount_to_dbom.go
  backend/src/converter/mount_to_dbom_conv_gen.go
  backend/src/converter/mount_to_dto.go
  backend/src/converter/mount_to_dto_conv_gen.go
  backend/src/internal/darwinstubs/mount/loop/loop_darwin.go
  backend/src/internal/darwinstubs/mount/loop/loop_linux.go
  backend/src/internal/darwinstubs/mount/mount_darwin.go
  backend/src/internal/darwinstubs/mount/mount_linux.go
  backend/src/internal/darwinstubs/sysfs/sysfs_darwin.go
  backend/src/internal/darwinstubs/sysfs/sysfs_linux.go
  backend/src/service/event_propagation_test.go
  backend/src/service/filesystem/adapter.go
  backend/src/service/filesystem/apfs_adapter.go
  backend/src/service/filesystem/base_adapter.go
  backend/src/service/filesystem/base_adapter_mock.go
  backend/src/service/filesystem/base_adapter_test.go
  backend/src/service/filesystem/filesystem_exec_test.go
  backend/src/service/filesystem_service.go
  backend/src/service/network_stats_service.go
  backend/src/service/volume_service.go
  backend/src/service/volume_service_test.go
  backend/src/service/volume_service_udev_test.go
Due: backend

feat(config): add command configuration schema
  config.json
Due: none

Update backend/.mise.toml
  backend/.mise.toml
Due: none

Update opencode.json
  opencode.json
Due: none

chore: enable monorepo root configuration
  .mise.toml
Due: none

🐛 fix(be): Improve error handling and fix nil pointer issues
  backend/src/internal/darwinstubs/sysfs/sysfs_darwin.go
  backend/src/internal/osutil/osutil_linux.go
  backend/src/service/volume_service_udev_linux.go
Due: backend

🔧 chore(be): Update opencode.json with MCP configuration
  opencode.json
Due: none

🐛 fix(be): Configure ListUsers mock in SambaUsersMap tests
  backend/src/service/server_process_service_test.go
Due: none

🐛 fix: Rename fontend_test to frontend_test and move rules to AGENTS.md
  .gitignore
  .opencode/instructions/frontend_test.instructions.md
  .opencode/instructions/gopls.instructions.md
  .opencode/instructions/typescript-5-es2021.instructions.md
  .vale/styles/Google/AMPM.yml
  .vale/styles/Google/Acronyms.yml
  .vale/styles/Google/Colons.yml
  .vale/styles/Google/Contractions.yml
  .vale/styles/Google/DateFormat.yml
  .vale/styles/Google/Ellipses.yml
  .vale/styles/Google/EmDash.yml
  .vale/styles/Google/Exclamation.yml
  AGENTS.md
  backend/.opencode/viz-skin.json
  opencode.json
Due: none

🐛 fix(be): Fix duplicate SuggestionIgnored and save logic
  backend/src/api/hdidle_handler.go
Due: backend

🎨 style(ci): Format CI workflow YAML for consistency
  .github/workflows/build.yaml
  .gitignore
Due: none

🏗️ build(fe): Add vitest coverage configuration
  .gitignore
  frontend/vitest.config.ts
Due: none

👷 ci: Switch OpenCode model to deepseek-v4-flash-free
  .github/workflows/opencode.yml
Due: none

📝 docs(doc): Add API and Samba troubleshooting entries
  .opencode/skills/test-remote-environment/SKILL.md
Due: none

👷 ci: Add workflow to auto-manage CI failure issues
  .github/workflows/ci-failure-manager.yaml
Due: none

🔧 chore(ci): Migrate skills to .agents and update MCP config
  .agents/skills/capture-lessons-learned/SKILL.md
  .agents/skills/close-task-work/SKILL.md
  .agents/skills/context7-mcp/SKILL.md
  .agents/skills/create-pr/SKILL.md
  .agents/skills/create-task/SKILL.md
  .agents/skills/homeassistant/.skillhub.json
  .agents/skills/homeassistant/SKILL.md
  .agents/skills/implement-task-phase/SKILL.md
  .agents/skills/prepare-refactor/SKILL.md
  .agents/skills/start-task-work/SKILL.md
  .agents/skills/sync-tasks/SKILL.md
  .agents/skills/task-status/SKILL.md
  .agents/skills/test-remote-environment/SKILL.md
  .agents/skills/update-changelog-with-commits/SKILL.md
  .agents/skills/update-changelog/SKILL.md
  .agents/skills/watch-manual-test/SKILL.md
  .docsignore
  .opencode/skills/README.md
  .zed/settings.json
  .zencoder/rules/repo.md
  frontend/package.json
  opencode.json
Due: none

🏗️ build: set GOOS=linux for cross-compilation
  backend/.mise.toml
Due: none

📝 docs: Document MUI interaction and cache verification
  .agents/skills/test-remote-environment/SKILL.md
Due: none

🏗️ build(fe+doc): Migrate frontend to TypeScript 7.0 RC
  .mise.toml
  .opencode/instructions/typescript-6-es2022.instructions.md
  CHANGELOG.md
  docs/TYPESCRIPT_6_IMPLEMENTATION_SUMMARY.md
  frontend/TYPESCRIPT_MIGRATION.md
  frontend/bun.lock
  frontend/package.json
  frontend/tsconfig.json
Due: none

🔄 synced local '.github/workflows/opencode-triage.yaml' with remote '.github/workflows/opencode-triage.yaml'
  .github/workflows/opencode-triage.yaml
Due: none

🔄 synced local '.github/workflows/opencode.yml' with remote '.github/workflows/opencode.yml'
  .github/workflows/opencode.yml
Due: none

🔄 synced local '.github/workflows/opencode-review.yaml' with remote '.github/workflows/opencode-review.yaml'
  .github/workflows/opencode-review.yaml
Due: none

🔄 created local '.github/workflows/opencode-implement.yaml' from remote '.github/workflows/opencode-implement.yaml'
  .github/workflows/opencode-implement.yaml
Due: none

🔄 synced local '.github/workflows/opencode-implement.yaml' with remote '.github/workflows/opencode-implement.yaml'
  .github/workflows/opencode-implement.yaml
Due: none

fix tests
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  backend/src/vendor/gorm.io/gorm/generics.go
  frontend/bun.lock
  frontend/src/pages/volumes/components/HDIdleDiskSettings.tsx
  frontend/src/pages/volumes/components/__tests__/HDIdleDiskSettings.test.tsx
Due: frontend

Path conditions:
  backend: any of: backend/src/, but not: backend/src/vendor/**, backend/src/**/*_test.go, backend/src/**/test/**, frontend/src/**/*.test.ts, frontend/src/**/*.test.tsx, frontend/test/**, frontend/out/**, frontend/coverage/**, **/node_modules/**, **/__tests__/**
  frontend: any of: frontend/src/, but not: backend/src/vendor/**, backend/src/**/*_test.go, backend/src/**/test/**, frontend/src/**/*.test.ts, frontend/src/**/*.test.tsx, frontend/test/**, frontend/out/**, frontend/coverage/**, **/node_modules/**, **/__tests__/**
