Repository dianlight/srat: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

# Codecov configuration for SRAT project
# Documentation: https://docs.codecov.io/docs/codecov-yaml

codecov:
  require_ci_to_pass: no
  notify:
    after_n_builds: 2  # Wait for both backend and frontend coverage

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        # Don't fail the build if coverage decreases slightly
        informational: true
    patch:
      default:
        target: 60%
        informational: true

  precision: 2
  round: down
  range: "50...100"

# Component-based coverage tracking
flag_management:
  default_rules:
    carryforward: true

flags:
  backend:
    paths:
      - backend/src/
    carryforward: true
  frontend:
    paths:
      - frontend/src/
    carryforward: true

# Ignore patterns
ignore:
  - "backend/src/vendor/**"
  - "backend/src/**/*_test.go"
  - "backend/src/**/test/**"
  - "frontend/src/**/*.test.ts"
  - "frontend/src/**/*.test.tsx"
  - "frontend/test/**"
  - "frontend/out/**"
  - "frontend/coverage/**"
  - "**/node_modules/**"
  - "**/__tests__/**"

# Comment settings
comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

🔧 chore(fe): update Dockerfile for mise installation process
  .devcontainer/Dockerfile
Due: none

✨ feat(be): implement semver-based upgrade logic for custom component
  backend/src/api/setting.go
  backend/src/service/homeassistant_component_service.go
  backend/src/service/homeassistant_component_service_test.go
Due: backend

📝 docs: update README with Table of Contents
  backend/src/internal/assets/README.md
  frontend/src/components/__tests__/IssueCard.test.tsx
Due: backend

📝 docs: update task creation skill and template for clarity
  .github/skills/create-task/SKILL.md
  .vscode/settings.json
  docs/task-template.md
Due: none

✨ feat(doc): add generated converters guideline for DTO↔DBOM mapping
  .github/copilot-instructions.md
Due: none

✨ feat(doc): add guideline for using RTK Query for API calls
  .github/instructions/reactjs.instructions.md
Due: none

✨ feat(be): enhance filesystem service with cumulative progress reporting
  backend/src/service/filesystem_service.go
  backend/src/service/problem_service.go
  backend/src/service/problem_service_test.go
  frontend/scripts/add-test-setup.js
  frontend/src/App.tsx
  frontend/src/components/ReadonlyCommandTerminal.tsx
  frontend/src/pages/volumes/components/FilesystemCheckDialog.tsx
  frontend/src/pages/volumes/components/PartitionActionItems.ts
  frontend/src/pages/volumes/components/__tests__/FilesystemCheckDialog.test.tsx
Due: backend, frontend

✨ feat(fe): implement localStorage for settings persistence
  frontend/src/pages/settings/Settings.tsx
Due: frontend

✨ feat(doc): add refactoring guidelines and prepare-refactor skill
  .github/copilot-instructions.md
  .github/skills/prepare-refactor/SKILL.md
Due: none

✨ feat(doc): add guidelines for frontend and backend code quality
  docs/refactors/.gitkeep
  docs/tasks/027_frontend-code-quality-antipatterns.md
  docs/tasks/028_backend-code-quality-antipatterns.md
Due: none

✨ feat(fe): add settings panels and validation helpers
  backend/src/api/issue.go
  backend/src/service/addon_config_watcher_service.go
  frontend/src/pages/settings/HomeAssistantCustomComponentPanel.tsx
  frontend/src/pages/settings/Settings.tsx
  frontend/src/pages/settings/__tests__/HomeAssistantCustomComponentPanel.test.tsx
  frontend/src/pages/settings/__tests__/Settings.test.tsx
  frontend/src/pages/settings/__tests__/settingsConfig.test.ts
  frontend/src/pages/settings/panels/GeneralPanel.tsx
  frontend/src/pages/settings/panels/HomeAssistantPanel.tsx
  frontend/src/pages/settings/panels/NetworkAccessControlPanel.tsx
  frontend/src/pages/settings/panels/NetworkDevicesPanel.tsx
  frontend/src/pages/settings/panels/TelemetryPanel.tsx
  frontend/src/pages/settings/settingsConfig.ts
Due: backend, frontend

✅ feat(doc): update status to complete for lifecycle management feature
  docs/tasks/017_automatic-home-assistant-custom-component-lifecycle-management.md
Due: none

✨ feat(be): add disk management to server process service
  backend/src/service/server_process_service.go
  backend/src/service/supervisor_service.go
  backend/src/vendor/modules.txt
Due: backend

🔧 chore(be): replace slog with tlog for FilesystemTask logging
  backend/src/service/broadcaster_service.go
Due: backend

🔧 chore(hac): disable Docker Compose installation in devcontainer
  .devcontainer/devcontainer.json
  custom_components/.mise.toml
Due: none

✨ feat(hac): update descriptions for custom component issues
  custom_components/srat/strings.json
  custom_components/srat/translations/en.json
Due: none

📝 docs(hac): update validation steps and issue handling in instructions
  .github/instructions/homeassistant.instructions.md
Due: none

✅ test(service): update expected path for NFS mount in test
  backend/src/service/supervisor_service_test.go
Due: none

🔧 chore(ci): update dev dependencies installation command
  .github/workflows/build.yaml
Due: none

🔧 chore(be): update addon options and settings structure
  backend/src/config/addon_options.go
  backend/src/dto/settings.go
  backend/src/dto/settings_test.go
  backend/src/service/setting_service_test.go
  frontend/src/components/BaseConfigModal.tsx
  frontend/src/hooks/useBaseConfigModal.ts
  frontend/src/json/default_config.json
  frontend/src/pages/settings/panels/NetworkDevicesPanel.tsx
  mise.lock
Due: backend, frontend

📝 docs(instructions): add mandatory standards for react-hook-form usage
  .github/instructions/react-hook-form-mui.instructions.md
  .github/instructions/reactjs.instructions.md
Due: none

📚 docs: auto-fix documentation formatting and TOC
  backend/src/internal/assets/README.md
  docs/task-template.md
Due: backend

🎨 style(fe): remove unused import of 'use' in BaseConfigModal
  frontend/src/components/BaseConfigModal.tsx
Due: frontend

👷 ci: simplify command for running all tasks in build workflow
  .github/workflows/build.yaml
Due: none

🔧 chore(ci): update build workflow and versioning tasks
  .github/workflows/build.yaml
  .mise.toml
  frontend/package.json
Due: none

🔧 chore(frontend): update build script to use conditional syntax
  .mise.toml
  frontend/.mise.toml
Due: none

🔧 chore(ci): add support for additional file types in build workflow
  .github/workflows/build.yaml
Due: none

👷 ci: simplify test task by removing unnecessary commands
  frontend/.mise.toml
Due: none

🔧 chore: remove redundant code blocks
  .github/workflows/build.yaml
  frontend/.mise.toml
  frontend/bun.lock
Due: none

⬆️ chore: update @typescript/native-preview to v7.0.0-dev.20260416.2
  mise.lock
Due: none

🎨 style(fe): replace console.log with console.debug for consistency
  .mise.toml
  backend/.mise.toml
  backend/src/internal/assets/README.md
  custom_components/.mise.toml
  docs/task-template.md
  docs/tasks/027_frontend-code-quality-antipatterns.md
  frontend/.mise.toml
  frontend/.mise/deps-state.toml
  frontend/bun.lock
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/BaseConfigModal.tsx
  frontend/src/components/DonationButton.tsx
  frontend/src/components/NavBar.tsx
  frontend/src/components/ReportIssueDialog.tsx
  frontend/src/components/__tests__/DonationButton.test.tsx
  frontend/src/components/__tests__/NavBar.test.tsx
  frontend/src/hooks/__tests__/githubNewsHook.test.ts
  frontend/src/hooks/__tests__/smartTestStatusHook.test.ts
  frontend/src/hooks/__tests__/updateHook.test.ts
  frontend/src/hooks/githubNewsHook.ts
  frontend/src/hooks/smartTestStatusHook.ts
  frontend/src/hooks/useRollbarTelemetry.ts
  frontend/src/mocks/streamingHandlers.ts
  frontend/src/pages/Swagger.tsx
  frontend/src/pages/shares/Shares.tsx
  frontend/src/pages/users/Users.tsx
  frontend/src/pages/volumes/Volumes.tsx
  frontend/src/pages/volumes/components/VolumeMountDialog.tsx
  frontend/src/pages/volumes/components/__tests__/VolumeMountDialog.test.tsx
  frontend/src/store/githubRestApi.ts
  frontend/src/store/store.ts
  frontend/src/store/wsApi.ts
  frontend/test/setup.ts
  hk.pkl
  mise.lock
  scripts/validate-docs.sh
Due: backend, frontend

🔧 chore: update markdownlint config and fix test files
  .markdownlint-cli2.jsonc
  .vscode/settings.json
  frontend/src/__tests__/App.commandEvents.test.tsx
  frontend/src/components/DonationButton.tsx
  frontend/src/components/__tests__/TelemetryModal.test.tsx
  frontend/src/pages/volumes/components/__tests__/FilesystemLabelFormatDialog.test.tsx
  mise.lock
Due: frontend

🔧 chore: update frontend code quality and refactor anti-patterns
  docs/refactors/frontend-code-quality-anti-patterns.md
  docs/tasks/027_frontend-code-quality-antipatterns.md
  frontend/src/components/BaseConfigModal.tsx
  frontend/src/components/NavBar.tsx
  frontend/src/components/TelemetryModal.tsx
  frontend/src/pages/dashboard/metrics/DiskHealthMetrics.tsx
Due: frontend

📚 docs: auto-fix documentation formatting and TOC
  backend/src/internal/assets/README.md
  docs/refactors/frontend-code-quality-anti-patterns.md
Due: backend

📝 docs: update frontend testing guidelines and add guard-before-hooks rule
  .github/instructions/fontend_test.instructions.md
  .github/instructions/reactjs.instructions.md
Due: none

📝 docs: add CLAUDE.md for project guidance and instructions
  .claude/settings.local.json
  CLAUDE.md
Due: none

✨ feat(fe): add filesystem management dialogs and actions
  frontend/.mise/deps-state.toml
  frontend/bun.lock
  frontend/package.json
  frontend/src/pages/volumes/Volumes.tsx
  frontend/src/pages/volumes/components/VolumesTreeView.tsx
  frontend/src/pages/volumes/components/__tests__/PartitionActions.test.tsx
  frontend/src/pages/volumes/components/index.ts
  frontend/src/pages/volumes/hooks/usePartitionActions.ts
Due: frontend
