Repository dianlight/srat: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

✨ feat(doc): add documentation for share subfolders support
  docs/tasks/003_hdidle-service-completion.md
  docs/tasks/005_volume-mount-intelligence-nfs-cifs-events.md
  docs/tasks/006_db-orm-stubs-completion.md
  docs/tasks/008_share-subfolders-support.md
  docs/tasks/009_smb-ip-address-interface-resolution.md
  docs/tasks/010_ui-configuration-wizard-guided-tour.md
  docs/tasks/011_timemachine-macos-tahoe-compatibility.md
Due: none

✨ feat(doc): add skills for task synchronization, status reporting, and changelog updates
  .github/skills/sync-tasks/SKILL.md
  .github/skills/task-status/SKILL.md
  .github/skills/update-changelog/SKILL.md
  docs/tasks/README.md
Due: none

✨ feat(doc): enhance sync-tasks documentation with CODE-SCAN mode
  .github/skills/sync-tasks/SKILL.md
Due: none

✨ feat(doc): update documentation and configuration for task exclusions
  .lychee.toml
  .markdownlint-cli2.jsonc
  .prettierignore
  .vale.ini
  .vale/styles/config/vocabularies/SRAT/accept.txt
  Makefile
  backend/src/service/filesystem/README.md
  docs/task-template.md
  scripts/validate-docs.sh
Due: backend

♻️ refactor(doc): remove SSE code and preserve WebSocket transport
  docs/tasks/012_remove-sse-code-preserve-websocket.md
Due: none

🔧 chore(fe): update remote development API URL configuration
  frontend/package.json
Due: none

✨ feat(doc): add SKILL.md for testing remote environment setup
  .github/skills/test-remote-environment/SKILL.md
Due: none

✨ feat(doc): add skills for task management workflow
  .github/skills/close-task-work/SKILL.md
  .github/skills/implement-task-phase/SKILL.md
  .github/skills/start-task-work/SKILL.md
  docs/tasks/README.md
Due: none

✨ feat(doc): add bidirectional WebSocket channel for Home Assistant
  docs/tasks/013_bidirectional-homeassistant-websocket-channel.md
Due: none

✨ feat(doc): add setting to disable SMART integration
  docs/tasks/014_disable-smart-integration-setting.md
Due: none

✨ feat(be): add disable smart integration setting
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  backend/src/api/smart.go
  backend/src/api/smart_test.go
  backend/src/config/addon_json_config.go
  backend/src/converter/config_to_dbom_conv.go
  backend/src/converter/config_to_dbom_conv_test.go
  backend/src/converter/config_to_dto.go
  backend/src/converter/config_to_dto_conv_gen.go
  backend/src/converter/converter_test.go
  backend/src/dto/settings.go
  backend/src/dto/settings_test.go
  backend/src/service/disk_stats_service.go
  backend/src/service/disk_stats_service_test.go
  backend/src/service/setting_service_test.go
  backend/test/data/image.dmg
  docs/SMART_SERVICE.md
  docs/tasks/003_hdidle-service-completion.md
  docs/tasks/014_disable-smart-integration-setting.md
  frontend/src/hooks/smartTestStatusHook.ts
  frontend/src/mocks/handlers.ts
  frontend/src/pages/settings/Settings.tsx
  frontend/src/pages/settings/__tests__/Settings.test.tsx
  frontend/src/pages/volumes/components/SmartStatusPanel.tsx
  frontend/src/pages/volumes/components/__tests__/SmartStatusPanel.test.tsx
  frontend/src/store/sratApi.ts
Due: backend, frontend

✨ feat(be): implement media symlink recovery and udev event handling
  backend/src/service/broadcaster_service.go
  backend/src/service/broadcaster_service_internal_test.go
  backend/src/service/mount_intelligence.go
  backend/src/service/mount_intelligence_test.go
  backend/src/service/server_process_service.go
  backend/src/service/server_process_service_media_recovery_test.go
  backend/src/service/supervisor_service.go
  backend/src/service/volume_service.go
  backend/src/service/volume_service_udev_test.go
  docs/SHARE_VOLUME_VERIFICATION.md
  docs/tasks/005_volume-mount-intelligence-nfs-cifs-events.md
  docs/tasks/TASKS_STATUS.md
Due: backend

📝 docs: update TASKS_STATUS.md with new task progress
  docs/tasks/TASKS_STATUS.md
Due: none

✨ feat(doc): add generic live command execution console via WebSocket
  docs/tasks/015_generic-live-command-execution-console-via-websocket.md
Due: none

✨ feat(doc): update task status management in settings
  .vscode/settings.json
  docs/tasks/TASKS_STATUS.md
Due: none

✨ feat(doc): add default test timeout configuration
  .github/instructions/fontend_test.instructions.md
Due: none

✨ feat(doc): update frontend testing guidelines and timeout configuration
  .github/instructions/fontend_test.instructions.md
  .github/skills/task-status/SKILL.md
  frontend/package.json
  frontend/src/pages/volumes/components/__tests__/SmartStatusPanel.test.tsx
  frontend/test/bun-setup.ts
Due: none

✨ feat(doc): add 'zfs' and 'Deduplication' to accepted terms
  .vale/styles/config/vocabularies/SRAT/accept.txt
Due: none

✨ feat(be): mark mount point as mounted after successful mount
  backend/src/service/volume_mount_manager.go
  backend/src/service/volume_service_udev_test.go
Due: backend

📚 docs: auto-fix documentation formatting and TOC
  frontend/src/macro/VALIDATOR_IMPLEMENTATION.md
Due: frontend

🐛 fix(fe): update dependencies and improve error handling
  backend/docs/openapi.json
  backend/docs/openapi.yaml
  backend/src/api/setting_test.go
  backend/src/dto/app_config.go
  backend/src/dto/data_dirty_tracker.go
  backend/src/dto/health_ping.go
  backend/src/go.mod
  backend/src/go.sum
  backend/src/service/server_process_service_media_recovery_test.go
  backend/src/vendor/github.com/danielgtaylor/huma/v2/sse/sse.go
  backend/src/vendor/github.com/oapi-codegen/runtime/Makefile
  backend/src/vendor/github.com/oapi-codegen/runtime/bindparam.go
  backend/src/vendor/github.com/oapi-codegen/runtime/bindstring.go
  backend/src/vendor/github.com/oapi-codegen/runtime/deepobject.go
  backend/src/vendor/github.com/oapi-codegen/runtime/styleparam.go
  backend/src/vendor/gitlab.com/tozd/go/errors/CHANGELOG.md
  backend/src/vendor/gitlab.com/tozd/go/errors/placeholder.go
  backend/src/vendor/modules.txt
  frontend/bun.lock
  frontend/package.json
Due: backend

✨ feat(doc): update Time Machine compatibility tasks and add logging details
  .vscode/settings.json
  backend/src/service/volume_service_test.go
  docs/tasks/011_timemachine-macos-tahoe-compatibility.md
  docs/tasks/013_bidirectional-homeassistant-websocket-channel.md
Due: none

✨ feat(doc): enhance test-remote-environment documentation
  .github/skills/test-remote-environment/SKILL.md
Due: none

✨ feat(be): implement bidirectional WebSocket handshake with Home Assistant
  backend/src/api/ws.go
  backend/src/api/ws_sender_test.go
  backend/src/api/ws_test.go
  backend/src/dto/context.go
  backend/src/dto/helo.go
  backend/src/dto/helo_test.go
  backend/src/vendor/github.com/zarldev/goenums/generator/gofile/gofile_writer.go
  backend/src/vendor/gorm.io/gorm/generics.go
  custom_components/srat/websocket_client.py
  custom_components/tests/test_websocket_client.py
  docs/EVENT_DRIVEN_ARCHITECTURE.md
  docs/HOME_ASSISTANT_INTEGRATION.md
  docs/tasks/013_bidirectional-homeassistant-websocket-channel.md
  frontend/src/macro/VALIDATOR_IMPLEMENTATION.md
Due: backend, frontend

✨ feat(doc): add mDNS registration via WebSocket documentation
  docs/tasks/016_server-mdns-registration-websocket.md
Due: none

✨ feat(doc): add documentation for custom component lifecycle management
  docs/tasks/017_automatic-home-assistant-custom-component-lifecycle-management.md
Due: none

✨ feat(doc): add Home Assistant Repairs Proxy Service documentation
  docs/tasks/018_home-assistant-repairs-proxy-service.md
Due: none

✨ feat(doc): update task list for Setup Wizard implementation
  docs/tasks/010_ui-configuration-wizard-guided-tour.md
Due: none

✨ feat(fe): implement guided tour event handling and selection logic
  .github/instructions/reactjs.instructions.md
  docs/tasks/019_improve-overlay-helper-system-tour-events.md
  frontend/src/pages/dashboard/Dashboard.tsx
  frontend/src/pages/dashboard/DashboardActions.tsx
  frontend/src/pages/dashboard/DashboardTourStep.tsx
  frontend/src/pages/dashboard/metrics/MetricDetails.tsx
  frontend/src/pages/settings/Settings.tsx
  frontend/src/pages/settings/SettingsTourStep.tsx
  frontend/src/pages/shares/Shares.tsx
  frontend/src/pages/shares/__tests__/SharesTourStep.test.tsx
  frontend/src/pages/users/Users.tsx
  frontend/src/pages/users/UsersSteps.tsx
  frontend/src/pages/users/__tests__/Users.test.tsx
  frontend/src/pages/users/__tests__/UsersSteps.test.tsx
  frontend/src/pages/users/__tests__/UsersTourSelection.test.tsx
  frontend/src/pages/volumes/Volumes.tsx
  frontend/src/pages/volumes/__tests__/VolumesTourSelection.test.tsx
  frontend/src/utils/TourEvents.ts
  frontend/src/utils/__tests__/TourEvents.test.ts
Due: frontend

🎨 style(websocket_client): format exception handling for readability
  custom_components/srat/websocket_client.py
  custom_components/tests/test_websocket_client.py
Due: none

✨ feat(doc): add additional tasks for implementation checklist
  .github/skills/create-task/SKILL.md
Due: none

✨ feat(doc): add tasks for HA config change detection implementation
  docs/tasks/002_addon-config-change-detection-ha-repair.md
Due: none

✨ feat(be): extend AppConfigEvent with external-change metadata
  backend/src/events/event_bus_test.go
  backend/src/events/events.go
  docs/tasks/002_addon-config-change-detection-ha-repair.md
Due: backend

✨ feat(doc): add additional tasks for repair proxy service implementation
  docs/tasks/018_home-assistant-repairs-proxy-service.md
Due: none

✨ feat(be): add repair service and proxy for Home Assistant integration
  backend/src/api/ws.go
  backend/src/api/ws_sender_test.go
  backend/src/api/ws_test.go
  backend/src/dto/clientevent_type.go
  backend/src/dto/clienteventtypes_enums.go
  backend/src/dto/enums_test.go
  backend/src/dto/helo.go
  backend/src/dto/helo_test.go
  backend/src/dto/managed_repair.go
  backend/src/dto/repair_proxy.go
  backend/src/dto/repair_proxy_test.go
  backend/src/dto/webevent_map.go
  backend/src/dto/webevent_type.go
  backend/src/dto/webevent_type_test.go
  backend/src/dto/webeventtypes_enums.go
  backend/src/dto/welcome.go
  backend/src/internal/appsetup/appsetup.go
  backend/src/service/repair_service.go
  backend/src/service/repair_service_test.go
  custom_components/srat/__init__.py
  custom_components/srat/repairs.py
  custom_components/srat/websocket_client.py
  custom_components/tests/test_repairs.py
  custom_components/tests/test_websocket_client.py
  docs/tasks/018_home-assistant-repairs-proxy-service.md
Due: backend

✨ feat(doc): update status and completion summaries for repair proxy service
  docs/tasks/018_home-assistant-repairs-proxy-service.md
Due: none

✨ feat(doc): update prerequisites and tasks for addon config change detection
  docs/tasks/002_addon-config-change-detection-ha-repair.md
Due: none

✨ feat(be): implement AddonConfigWatcherService for config change detection
  backend/src/config/addon_options.go
  backend/src/service/addon_config_watcher_service.go
  backend/src/service/addon_config_watcher_service_test.go
  docs/tasks/002_addon-config-change-detection-ha-repair.md
Due: backend

✨ feat(be): enhance AddonConfigWatcherService with repair issue handling
  backend/src/service/addon_config_watcher_service.go
  backend/src/service/addon_config_watcher_service_test.go
  docs/tasks/002_addon-config-change-detection-ha-repair.md
Due: backend

Path conditions:
  backend: any of: backend/src/, but not: backend/src/vendor/**, backend/src/**/*_test.go, backend/src/**/test/**, frontend/src/**/*.test.ts, frontend/src/**/*.test.tsx, frontend/test/**, frontend/out/**, frontend/coverage/**, **/node_modules/**, **/__tests__/**
  frontend: any of: frontend/src/, but not: backend/src/vendor/**, backend/src/**/*_test.go, backend/src/**/test/**, frontend/src/**/*.test.ts, frontend/src/**/*.test.tsx, frontend/test/**, frontend/out/**, frontend/coverage/**, **/node_modules/**, **/__tests__/**
