Repository dianlight/srat: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

# Codecov configuration for SRAT project
# Documentation: https://docs.codecov.io/docs/codecov-yaml

codecov:
  require_ci_to_pass: no
  notify:
    after_n_builds: 2  # Wait for both backend and frontend coverage

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        # Don't fail the build if coverage decreases slightly
        informational: true
    patch:
      default:
        target: 60%
        informational: true

  precision: 2
  round: down
  range: "50...100"

# Component-based coverage tracking
flag_management:
  default_rules:
    carryforward: true

flags:
  backend:
    paths:
      - backend/src/
    carryforward: true
  frontend:
    paths:
      - frontend/src/
    carryforward: true

# Ignore patterns
ignore:
  - "backend/src/vendor/**"
  - "backend/src/**/*_test.go"
  - "backend/src/**/test/**"
  - "frontend/src/**/*.test.ts"
  - "frontend/src/**/*.test.tsx"
  - "frontend/test/**"
  - "frontend/out/**"
  - "frontend/coverage/**"
  - "**/node_modules/**"
  - "**/__tests__/**"

# Comment settings
comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: false

🐛 fix(be): treat discovery unregister 404 as success (#1285)
  .opencode/instructions/remote-addon-testing.instructions.md
  .opencode/skills/test-remote-environment/SKILL.md
  backend/src/service/ha_discovery_service.go
  backend/src/service/ha_discovery_service_test.go
  opencode.jsonc
Due: backend

⏪ revert(be): restore vendored images and ignore vendor in imgbot
  .imgbotconfig
  backend/src/vendor/github.com/oligot/go-mod-upgrade/screenshot.png
  backend/src/vendor/modernc.org/memory/logo.png
Due: none

🐛 fix(hac): drop aiohttp from manifest requirements
  custom_components/srat/manifest.json
Due: none

🐛 fix(fe): persist dashboard ignore via problems upsert
  frontend/src/mocks/customHandlers.ts
  frontend/src/pages/dashboard/DashboardActions.tsx
  frontend/src/pages/dashboard/__tests__/DashboardActionsIgnore.test.tsx
Due: frontend

🐛 fix(be): emit repair_command on problem transitions
  backend/src/service/broadcaster_service.go
  backend/src/service/broadcaster_service_internal_test.go
  backend/src/service/problem/repair_adapter.go
  backend/src/service/problem/repair_adapter_test.go
Due: backend

🐛 fix(be): sanitize supervisor mount name for hyphenated shares
  backend/src/service/supervisor_service.go
  backend/src/service/supervisor_service_test.go
Due: backend

🐛 fix(be): handle legacy hyphenated mounts on unmount
  backend/src/service/supervisor_service.go
Due: backend

✅ test(be): update supervisor mount mocks to sanitized names
  backend/src/service/supervisor_service_test.go
Due: none

🐛 fix(be): sanitize supervisor mount name for hyphenated shares (#1307)
  backend/src/service/supervisor_service.go
  backend/src/service/supervisor_service_test.go
Due: backend

📝 docs: record Apple streams and FAT share fix
  CHANGELOG.md
Due: none

🐛 fix(be): complete Apple VFS stacks and handle FAT shares
  backend/src/templates/smb.gtpl
Due: backend

✅ test(be): cover Apple streams and mixed FAT shares
  backend/src/tempio/smb_vfs_test.go
Due: none

✅ test(be): update expected Apple VFS module stacks
  backend/test/data/smb.conf
Due: none

📝 docs: explain FAT metadata limits and AAPL scope
  docs/TIMEMACHINE_COMPATIBILITY.md
Due: none

🐛 fix(be): retain AAPL and bound FAT behavior changes
  backend/src/templates/smb.gtpl
Due: backend

✅ test(be): guard FAT exclusions and unchanged AAPL
  backend/src/tempio/smb_vfs_test.go
Due: none

📝 docs: align changelog with bounded Apple stream fix
  CHANGELOG.md
Due: none

🐛 fix(fe): show non-internal shares in protected mode
  frontend/src/pages/shares/components/SharesTreeView.tsx
  frontend/src/pages/shares/components/__tests__/SharesTreeView.test.tsx
Due: frontend

🐛 fix(fe): show non-internal shares in protected mode (#1310)
  frontend/src/pages/shares/components/SharesTreeView.tsx
  frontend/src/pages/shares/components/__tests__/SharesTreeView.test.tsx
Due: frontend

📝 docs(doc): relax problem status assertions to flag-based (reconciler normalizes to updated)
  docs/test/backend/006.004_repair-problem-mirror-parity.md
  docs/test/backend/006.006_problem-facade-lifecycle.md
  frontend/package.json
Due: none

✅ test(doc): certify 2026.9.2 release — 78 cases, 4 bugs, skill fixes
  .opencode/skills/test-remote-environment/SKILL.md
  docs/test/frontend/001.010_protected-mode-noninternal-shares-visible.md
  docs/test/frontend/008.006_dashboard-ignore-persists-backend.md
  scripts/env.sh
Due: none

✅ test(be+fe): cover gated debug logs and dispatchEvent branches
  backend/src/service/broadcaster_service_internal_test.go
  frontend/src/__tests__/App.errorTimer.test.tsx
  frontend/src/components/wizard/__tests__/SetupWizard.test.tsx
  frontend/src/hooks/__tests__/smartTestStatusHook.sse.test.ts
  frontend/src/pages/__tests__/Swagger.test.tsx
  frontend/src/pages/settings/__tests__/Settings.test.tsx
  frontend/src/pages/shares/__tests__/Shares.test.tsx
  frontend/src/pages/users/__tests__/Users.test.tsx
  frontend/src/pages/volumes/components/__tests__/VolumeMountDialog.test.tsx
Due: none

✅ test(fe): fix CodeFactor warnings in smartTestStatusHook SSE test
  frontend/src/hooks/__tests__/smartTestStatusHook.sse.test.ts
Due: none

🐛 fix(be): separate recycle vfs module on Time Machine shares
  backend/src/tempio/smb_vfs_test.go
  backend/src/templates/smb.gtpl
Due: backend

🐛 fix(be): separate recycle vfs module on Time Machine shares (#1314)
  backend/src/tempio/smb_vfs_test.go
  backend/src/templates/smb.gtpl
Due: backend

🐛 fix(be): show FAT metadata warning only on FAT shares
  backend/src/templates/smb.gtpl
Due: backend

✅ test(be): retain upstream VFS tests and guard FAT warnings
  backend/src/tempio/smb_vfs_test.go
Due: none

📝 docs: update changelog for 2026.10.0-rc17
  CHANGELOG.md
Due: none

👷 ci(ci): rebase CHANGELOG reset onto latest main before push
  .github/workflows/build.yaml
Due: none

👷 ci(ci): rebase CHANGELOG reset onto latest main before push (#1317)
  .github/workflows/build.yaml
Due: none

🐛 fix(be): allow HA ingress WS and CORS origins
  backend/src/api/ws.go
  backend/src/api/ws_origin_test.go
  backend/src/dto/origins.go
  backend/src/dto/origins_test.go
  backend/src/server/cors_test.go
  backend/src/server/http_server.go
  backend/src/server/origins.go
  docs/HOME_ASSISTANT_INTEGRATION.md
Due: backend

🐛 fix(be): allow HA ingress WS and CORS origins (#1330)
  backend/src/api/ws.go
  backend/src/api/ws_origin_test.go
  backend/src/dto/origins.go
  backend/src/dto/origins_test.go
  backend/src/server/cors_test.go
  backend/src/server/http_server.go
  backend/src/server/origins.go
  docs/HOME_ASSISTANT_INTEGRATION.md
Due: backend

📝 docs: add unreleased changelog section for rc18
  CHANGELOG.md
Due: none

♻️ refactor(fe): migrate msw mocks to v3 API
  frontend/src/mocks/browser_.ts
  frontend/src/mocks/customHandlers.ts
  frontend/src/mocks/native.ts
  frontend/src/mocks/node_.ts
  frontend/test/msw-browser-setup.ts
  frontend/test/msw-happydom-setup.ts
Due: frontend

♻️ refactor(fe): migrate msw mocks to v3 API (#1333)
  frontend/bun.lock
  frontend/package.json
  frontend/src/mocks/browser_.ts
  frontend/src/mocks/customHandlers.ts
  frontend/src/mocks/native.ts
  frontend/src/mocks/node_.ts
  frontend/test/msw-browser-setup.ts
  frontend/test/msw-happydom-setup.ts
Due: frontend

👷 ci: auto-update SECURITY.md supported versions on release
  .github/scripts/update-security-policy.py
  .github/workflows/update-security-policy.yaml
Due: none
